{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_sap_clinic()">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <table class='session-side'>
            <tr>
              <td>
                <div id='sideBarMainHeader'>
                  Session Details:
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div style='color:#fee047'>
                  <h4>{{session.s_type}}</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                          <span class='sidebar-name'>{{sap.client.fname}} {{sap.client.lname}}</span>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div id='sidebar-space-lower2'>
                          <span class="sidebar-id">{{sap.client.clientID}}</span>
                      </div>
              </td>
            </tr>



            <!-- <div style='margin-bottom: 80px;'></div> -->
            <tr>
              <td>
                <div id='sidebar-space-lower'>
                          <h4>Progress:</h4>
                      </div>
              </td>
            </tr>

            <!-- PROGRESS -->
<!-- 
            <tr>
            	<td>
            		<div id='sideProgress'>
            			<span style='color:#5daf0d'>{{progress.completed}}&nbsp&nbsp</span>of&nbsp&nbsp<span style='color:#5daf0d'>{{progress.total}}</span>&nbsp&nbspComplete
            		</div>
            	</td>
            </tr> -->

            <tr>
              <td>
                <div class='{{class.clinic}}'>
                  <img src="{{image.demo_image}}" id='bullet-img'> &nbsp
                  <a href="#" name='clinicalBtn' id='clinicalBtn'>
                    Clinical Assessment
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.social}}'>
                  <img src="{{image.social_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapSocial');" name='socialBtn' id='socialBtn'>
                    Social Interaction
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.psycho1}}'>
                  <img src="{{image.psycho1_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapPsycho1');" name='psychoBtn' id='psychoBtn'>
                    Psychoactive Use
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.psycho2}}'>
                  <img src="{{image.psycho2_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapPsycho2');" name='psycho2Btn' id='psycho2Btn'>
                    Psychoactive Use II
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.special}}'>
                  <img src="{{image.special_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapSpecial');" name='specialBtn' id='specialBtn'>
                    Special Populations
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.other}}'>
                  <img src="{{image.other_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapOther');" name='otherBtn' id='otherBtn'>
                    Other
                  </a>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.source}}'>
                  <img src="{{image.source_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapSource');" name='sourceBtn' id='sourceBtn'>
                    Sources
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='exit_btn_text'>
                  <img src="{% static 'images/exitBtn.png' %}" alt="exit_icon" class='exit_icon'>
                  <a href="javascript: generic_exit('sap', 'clinic');" name='sourceBtn' class='exit_a_tag'>
                    Exit
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <h3 id='am-h2'>S.A.P: Clinicial Assessment Outline</h3>

                <div class="container">
            		<div class="row">                   
                  		<div class="col-md-12 col-sm-12">
                  			<div>
                  				<form action='/sap_social/' method='post' id='sap_form' name='sap_form'> {% csrf_token %}
                  					<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                  					<input type='hidden' name='sap_id' id='sap_id' value='{{sap.id}}'>
                  					<input type='hidden' name='back' id='back' value='{{back}}'>
				                    <input type='hidden' name='goToNext' id='goToNext' value='true'>
				                    <input type='hidden' name='next_location' id='next_location' value='{{next_location}}'>
				                    <input type='hidden' name='save_section' id='save_section' value='/sap_demographic/'>	
				                    <input type='hidden' name='new_form' id='new_form' value='false'>
                            		<input type='hidden' name='all_purpose' id='all_purpose' value=''>
                            		<input type='hidden' name='exit_type' id='exit_type' value=''>

				            <table>
				            	<tr><td><div style='margin-top:25px;'></div></td></tr>
				            	<tr>
				            		<td>
				            			<span class='sap_label'>
				            			    Presenting Problem:
				            		    </span>
				            		</td>
				            	</tr>
				            </table>

				            <table>
				            	<tr>
				            		<td>
				            			<div>
				            				<div class='FA_INFO2'>
				            					<i class="fa fa-info-circle" aria-hidden="true"></i>
				            				</div>
				            				<!-- <img src="{% static 'images/lightbulb.png' %}" alt="" class='light_bulb'> -->
				            			</div>
				            		</td>

				            		<td>
				            			<div id='Above_5'>
				            				<span id='sap_sub_label'>
				            				    Include reason for entry, source of referral, legal involvement, self-identified problems and recent stressors.
				            			    </span>
				            			</div>
				            		</td>
				            	</tr>
				            </table>
				            <table>
				            	<tr>
				            		<td>
				            			<div id='Above_5'>
				            				<textarea rows='10' cols='103' name='problem' id='problem'>{{fields.problem}}</textarea>
				            			</div>
				            		</td>
				            	</tr>
				            </table>


				            <table>
				            	<tr><td><div style='margin-top:45px;'></div></td></tr>
				            	<tr>
				            		<td>
				            			<span class='sap_label'>
				            			    Health/Medical History:
				            		    </span>
				            		</td>
				            	</tr>
				            </table>

				            <table>
				            	<tr>
				            		<td>
				            			<div>
				            				<div class='FA_INFO'>
				            					<i class="fa fa-info-circle" aria-hidden="true"></i>
				            				</div>
				            				<!-- <img src="{% static 'images/lightbulb.png' %}" alt="" class='light_bulb_large'> -->
				            			</div>
				            		</td>

				            		<td>
				            			<div id='justify_div'>
				            				<span id='sap_sub_label'>
				            				    Describe general health, nutrition, medical problems (include visual and motor function), prenatal exposue to alcohol or other drugs and possible effects, remarkable developmental milestone delays, medications for the past year, allergies, hospitalizations, disabilities, tuberculosis screening and HIV-risk behaviors. Identify need for assistive technology or resources. Provide physician's name and telephone number. Complete "Special Populations" section as appropiate.
				            			    </span>
				            			</div>
				            		</td>
				            	</tr>
				            </table>
				            <table>
				            	<tr>
				            		<td>
				            			<div id='Above_5'>
				            				<textarea rows='10' cols='103' name='health' id='health'>{{fields.health}}</textarea>
				            			</div>
				            		</td>
				            	</tr>
				            </table>
				            
				            </form>
				            </div>
				        </div>
				    </div>
				</div> <!-- END PAGE CONTAINER -->

				<div>
					<!-- ____________________________BUTTONS________________________________ -->
					<table class='toggle-div-page'>
						<tr><td><div style='margin-top:30px;'></div></td></tr>
                        <tr>
                        	<td>
                        		<div style='margin-left:12px;'>
				                    <a href="#menu-toggle" id="menu-toggle">
				                        <button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                    </a>
				                </div>
			                </td>

			                <td><div style='margin-right:5px;'></div></td>

			                <td>
			                	<div>
			                		<a href="javascript: sap_continue_demographic();">
			                			<button type='button'>Continue</button>
			                		</a>
			                	</div>
			                </td>
			            </tr>
			        </table>
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}






<!-- <h1>Clinical Assessment Outline</h1>

<h2>Client Info</h2>
<h3 style='color:green;'><em>{{client.fname}} {{client.lname}}</em></h3>

<table>
	<tr>
		<td><b>ID: </b></td>
		<td><span style='color:blue;'>{{client.clientID}}</span></td>
	</tr>
	<tr>
		<td><b>DOB: </b></td>
		<td><span style='color:blue;'>{{client.dob}}</span></td>
	</tr>
</table>
<table>
	<tr><td><div style='margin-bottom:10px;'></div></td></tr>
	<tr><td><b>Address:</b></td></tr>
	<tr><td>{{client.street_no}} {{client.street_name}} {{client.apartment_no}}</td></tr>
	<tr><td>{{client.city}}, {{client.state}} {{client.zip_code}}</td></tr>
	<tr><td><div style='margin-bottom:10px;'></div></td></tr>
</table>

<form action='/sap_psychoactive/' method='post' id=''> {% csrf_token %}
	<input type="hidden" name='client_id' id='client_id' value='{{client.id}}'>
	<table>
		<tr>
			<td><b>Assessment Date: </b></td>
			<td><input type='text' value='' name='datepicker' id='datepicker'></td>
		</tr>
		<tr>
			<td><b><span style='color:red;'>Start Time</span>: </b></td>
			<td>
				<select id='start-time' value=''>
					<option value=''>Select</option>
					{% for t in times %}
						<option value='{{t}}'>{{t}}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr><td><div style='margin-bottom:15px;'></div></td></tr>
	</table>

	<table>
		<tr>
			<td>
				<label for='problem'><b>Presenting Problem:</b></label>
			</td>
		</tr>
		<tr>
			<td>
				<span><em>
					Include reason for entry, source of refferal, legal involvement, self-identified problems and recent stressors.
				</em></span>
			</td>
		</tr>
		<tr>
			<td>
				<textarea rows='10' cols='55' name='problem' id='problem'></textarea>
			</td>
		</tr>
		
		<tr><td><div style='margin-bottom:15px;'></div></td></tr>

		<tr><td><label for='health'><b>Health/Medical History:</b></label></td></tr>
		<tr>
			<td>
				<span><em>
					Describe general health, nutrition, medical problems (include visual and motor function),
					prenatal exposure to alcohol or other drugs and possible effects, remarkable developmental milestone delays,
					medications for the past year, allergies, hospitalizations, disabilities, tuberculosis screening and
					HIV-risk behaviors. Identify need for assistive technology or resources. Provide physician's name
					and telephone number. Complete 'Special Populations' section as appropiate.
				</em></span>
			</td>
		</tr>
		<tr>
			<td>
				<textarea rows='10' cols='55' name='health' id='health'></textarea>
			</td>
		</tr>
		<tr><td><div style='margin-bottom:15px;'></div></td></tr>

		<tr><td><label for='family'><b>Family/Social Interaction:</b></label></td></tr>
		<tr>
			<td>
				<textarea rows='10' cols='55' name='family' id='family'></textarea>
			</td>
		</tr>
		<tr><td><div style='margin-bottom:15px;'></div></td></tr>
	</table>

	<input type='submit' value='submit'>
</form>

<form action='/clientOptions/' method='post' id='back-options'> {% csrf_token %}
	<input type="hidden" name='cli-id' id='cli-id' value='{{client.id}}'>
	<input type='submit' value='Back to Client Options'>
</form>

<a href='/adminHome'><button type='button'>Home Page</button></a> -->







