<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_sap({{current_section}}, {{json_data}});">
    <form action='' method='post' id='sap_form' name='sap_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='sap_id' id='sap_id' value='{{session.sap.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='sap'>
      <input type='hidden' name='form_name' id='form_name' value='am_demo'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>S.A.P Additional Details</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarOption('sapClinic');">
                              <!-- class='{{class.clinic}}' -->
                              <div  class='iml-button'>Clinical Assessment</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapSocial');">
                              <!-- class='{{class.social}}' -->
                              <div  class='iml-button'>Social Interaction</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapPsycho1');">
                              <!-- class='{{class.psycho1}}' -->
                              <div  class='iml-button'>Psychoactive Use</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapPsycho2');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='iml-button'>Psychoactive Use II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapSpecial');">
                              <!-- class='{{class.special}}' -->
                              <div  class='iml-button'>Special Populations</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapOther');">
                              <!-- class='{{class.other}}' -->
                              <div  class='iml-button'>Additional Details</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapSource');">
                             <!--  class='{{class.source}}' -->
                              <div  class='iml-button'>Data Sources</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper-sap'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:20px;'>
                    <div class='top-split'>
                      <table>
                        <tr>
                          <td>
                            <div class='iml-sap-header-sm'>Psychological:</div>
                            <em id='e1'>
                              Include mental status, cognative functioning, activities of daily living, communication skills/abilities, present emotional state, risk taking behaviors, violence, suicide attempts/thoughts, hallucinations and other psychiatric history (to include history of eating disorder behaviors). Special populations section completed as appropiate.
                            </em>
                          </td>
                        </tr>
                        <tr><td><div class='iml-sap-sm-ta'><textarea name='psychological' id='psychological' oninput="javascript: noErrorText('e1', 'psychological');">{{fields.psychological}}</textarea></div></td></tr>

                        <tr>
                          <td>
                            <div class='iml-sap-header-sm'>Gambling:</div>
                            <em id='e2'>
                              Include the age at which gambling began and describe the preoccupation with gambling, loss of control, tolerance, treatment history, gambling patterns (including patterns impacted by substance use/abuse) and problems related to gambling.
                            </em>
                          </td>
                        </tr>
                        <tr><td><div class='iml-sap-sm-ta'><textarea name='gambling' id='gambling' oninput="javascript: noErrorText('e2', 'gambling');">{{fields.gambling}}</textarea></div></td></tr>
                      </table>
                    </div>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:px;'>
                    <div class='top-split'>
                      <table>
                        <tr>
                          <td>
                            <div class='iml-sap-header-sm'>Abilities, Strengths, Needs and Preferences:</div>
                            <em id='e3'>
                              Describe client and clinician perceptions of abilities, strengths, needs and preferences. Include unique factors affecting the course of treatment and client expectation of treatment outcomes.
                            </em>
                          </td>
                        </tr>
                        <tr><td><div class='iml-sap-sm-ta2'><textarea name='abilities' id='abilities' oninput="javascript: noErrorText('e3', 'abilities');">{{fields.abilities}}</textarea></div></td></tr>

                        <tr>
                          <td>
                            <div class='iml-sap-header-sm'>Other:</div>
                            <em id='e4'>
                              Include financial status, leisure skills/activities and recovery environment.
                            </em>
                          </td>
                        </tr>
                        <tr><td><div class='iml-sap-sm-ta3'><textarea name='other' id='other' oninput="javascript: noErrorText('e4', 'other');">{{fields.other}}</textarea></div></td></tr>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('sap', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: uni_sap_proceed('{{current_section}}');">Save & Continue</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
