{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_sap_social();">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <table class='session-side'>
            <tr>
              <td>
                <div style='color:#fee047'>
                  <h4>{{session.s_type}}</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                          <span class='sidebar-name'>{{sap.client.fname}} {{sap.client.lname}}</span>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div id='sidebar-space-lower2'>
                          <span class="sidebar-id">{{sap.client.clientID}}</span>
                      </div>
              </td>
            </tr>



            <!-- <div style='margin-bottom: 80px;'></div> -->
            <tr>
              <td>
                <div id='sidebar-space-lower'>
                          <h4>Completed:</h4>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.clinic}}'>
                  <img src="{{image.demo_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapClinic');" name='clinicalBtn' id='clinicalBtn'>
                    Clinical Assessment
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.social}}'>
                  <img src="{{image.social_image}}" id='bullet-img'> &nbsp
                  <a href="#" name='socialBtn' id='socialBtn'>
                    Social Interaction
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.psycho1}}'>
                  <img src="{{image.psycho1_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapPsycho1');" name='psychoBtn' id='psychoBtn'>
                    Psychoactive Use
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.psycho2}}'>
                  <img src="{{image.psycho2_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapPsycho2');" name='psycho2Btn' id='psycho2Btn'>
                    Psychoactive Use II
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.special}}'>
                  <img src="{{image.special_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapSpecial');" name='specialBtn' id='specialBtn'>
                    Special Populations
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.other}}'>
                  <img src="{{image.other_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapOther');" name='otherBtn' id='otherBtn'>
                    Other
                  </a>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.source}}'>
                  <img src="{{image.source_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('sapSource');" name='sourceBtn' id='sourceBtn'>
                    Sources
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='side_option_head'>
                  <h4>Exit Options:</h4>
                </div>
              </td>
            </tr>

            <tr>  
              <td>
                <table class='icon_table'>      
                  <!-- BUTTON 1 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("Save");'>
                        <table>
                          <tr>
                            <td>
                              <div id='save_icon_btn' style='margin-left:30px;'>
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='save_icon_text' style='margin-left:30px;'>
                                Save
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>

                  <td><div style='margin-right:15px;'></div></td>

                  <!-- BUTTON 2 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("Delete");'>
                        <table>
                          <tr>
                            <td>
                              <div id='trash_icon_btn'>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='trash_icon_text'>
                                Delete
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <h3 id='am-h2'>S.A.P: Family/Social Interaction</h3>

                <div class="container">
            		<div class="row">                   
                  		<div class="col-md-12 col-sm-12">
                  			<div>
                  				<form action='/sap_psychoactive/' method='post' id='sap_form' name='sap_form'> {% csrf_token %}
                  					<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                  					<input type='hidden' name='sap_id' id='sap_id' value='{{sap.id}}'>
                  					<input type='hidden' name='back' id='back' value='{{back}}'>
				                    <input type='hidden' name='goToNext' id='goToNext' value='true'>
				                    <input type='hidden' name='next_location' id='next_location' value='{{next_location}}'>
				                    <input type='hidden' name='save_section' id='save_section' value='/sap_social/'>
				                    <input type='hidden' name='exit_type_sub' id='exit_type_sub' value=''>
                            <input type='hidden' name='new_form' id='new_form' value='false'>
				                

				            <table>
				            	<tr><td><div style='margin-top:30px;'></div></td></tr>
				            	<tr>
				            		<td>
				            			<span class='sap_label'>
				            			    Family/Social Interaction:
				            		    </span>
				            		</td>
				            	</tr>
				            </table>

				            <table>
				            	<tr>
				            		<td>
				            			<div>
				            				<div class='FA_INFO3'>
				            					<i class="fa fa-info-circle" aria-hidden="true"></i>
				            				</div>
				            				<!-- <img src="{% static 'images/lightbulb.png' %}" alt="" class='light_bulb_large'> -->
				            			</div>
				            		</td>

				            		<td>
				            			<div id='justify_div'>
				            				<span id='sap_sub_label'>
				            				    In chronological order, describe family of origin and present family, including relationships with all family members. Describe any history as a survivor and/or as a perpetrator of psychological, emotional, physical and/or sexual abuse. Include family history of substance use/abuse, current family use and family psychiatric history. Describe other intimate and social relationships. Identify needed and available social supports. Include peer group functioning. Include pertinent current and historical life situation information on sexual orientation, cultural background and spiritual beliefs.
				            			    </span>
				            			</div>
				            		</td>
				            	</tr>
				            </table>
				            <table>
				            	<tr>
				            		<td>
				            			<div id='Above_5'>
				            				<textarea rows='17' cols='103' name='family' id='family'>{{fields.family}}</textarea>
				            			</div>
				            		</td>
				            	</tr>
				            </table>
                    </form>
                    </div>
				        </div>
				    </div>
				</div> <!-- END PAGE CONTAINER -->

				<div>
					<!-- ____________________________BUTTONS________________________________ -->
					<table class='toggle-div-page'>
						<tr><td><div style='margin-top:30px;'></div></td></tr>
                        <tr>
                        	<td>
                        		<div style='margin-left:12px;'>
				                    <a href="#menu-toggle" id="menu-toggle">
				                        <button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                    </a>
				                </div>
			                </td>

			                <td><div style='margin-right:5px;'></div></td>

			                <td>
			                	<div>
			                		<a href="javascript: sap_continue_social();">
			                			<button type='button'>Continue</button>
			                		</a>
			                	</div>
			                </td>
			            </tr>
			        </table>
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}