<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_sap({{current_section}}, {{json_data}});">
    <form action='' method='post' id='sap_form' name='sap_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='sap_id' id='sap_id' value='{{session.sap.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='sap'>
      <input type='hidden' name='form_name' id='form_name' value='sap_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>
            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>S.A.P Sources of Information</div>
            </div>
            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarOption('sapClinic');">
                              <div  class='{{class.clinic}}'>Clinical Assessment</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapSocial');">
                              <div  class='{{class.social}}'>Social Interaction</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapPsycho1');">
                              <div  class='{{class.psycho1}}'>Psychoactive Use</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapPsycho2');">
                              <div  class='{{class.psycho2}}'>Psychoactive Use II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapSpecial');">
                              <div  class='{{class.special}}'>Special Populations</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapOther');">
                              <div  class='{{class.other}}'>Additional Details</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapSource');">
                              <div  class='{{class.source}}'>Data Sources</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='iml-data-entry-wrapper-sap'>
              <div class='container'>
                <div class='row'>
                  <div class='col-md-12' style='width:86%; height:100%; margin-left:19px;'>
                    <div class='iml-sap-header-loner'>Please provide sources of information other than the client:</div>
                    <div class='iml-sap-source-wrap'>
                      <div class='iml-sap-source-head'>Source 1:</div>
                      <table>
                        <tr>
                          <td><div class='iml-sap-source-label'>Name:</div></td>
                          <td><div><input type='text' id='source1' name='source1' value='{{fields.source1}}'></div></td>
                        </tr>
                        <tr>
                          <td><div class='iml-sap-source-label'>Relationship:</div></td>
                          <td><div><input type='text' id='relationship1' name='relationship1' value='{{fields.relationship1}}'></div></td>
                        </tr>
                      </table>
                      <div class='iml-sap-source-head'>Source 2:</div>
                      <table>
                        <tr>
                          <td><div class='iml-sap-source-label'>Name:</div></td>
                          <td><div><input type='text' id='source2' name='source2' value='{{fields.source2}}'></div></td>
                        </tr>
                        <tr>
                          <td><div class='iml-sap-source-label'>Relationship:</div></td>
                          <td><div><input type='text' id='relationship2' name='relationship2' value='{{fields.relationship2}}'></div></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form> <!-- END FORM -->       
            <div>
              <table class='iml-save-btn'> <!-- BUTTONS -->
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('sap', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: uni_sap_proceed('{{current_section}}'); return false;">Save & Continue</button></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>    
</body>

{% endblock %}
