<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_sap({{current_section}}, {{json_data}});">
    <form action='' method='post' id='sap_form' name='sap_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='sap_id' id='sap_id' value='{{session.sap.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='sap'>
      <input type='hidden' name='form_name' id='form_name' value='am_demo'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

      <input type='hidden' name='m_isChild' id='m_isChild' value=''>
      <input type='hidden' name='m_isSenior' id='m_isSenior' value=''>
      <input type='hidden' name='m_isDual' id='m_isDual' value=''>
      <input type='hidden' name='m_isOther' id='m_isOther' value=''>
      <input type='hidden' name='m_isNone' id='m_isNone' value=''>
      <input type='hidden' name='m_special' id='m_special' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>S.A.P Special Populations</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarOption('sapClinic');">
                              <!-- class='{{class.clinic}}' -->
                              <div  class='iml-button'>Clinical Assessment</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapSocial');">
                              <!-- class='{{class.social}}' -->
                              <div  class='iml-button'>Social Interaction</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapPsycho1');">
                              <!-- class='{{class.psycho1}}' -->
                              <div  class='iml-button'>Psychoactive Use</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapPsycho2');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='iml-button'>Psychoactive Use II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapSpecial');">
                              <!-- class='{{class.special}}' -->
                              <div  class='iml-button'>Special Populations</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapOther');">
                              <!-- class='{{class.other}}' -->
                              <div  class='iml-button'>Additional Details</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarOption('sapSource');">
                             <!--  class='{{class.source}}' -->
                              <div  class='iml-button'>Data Sources</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper-sap'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:20px;'>
                    <table>
                      <tr>
                        <td>
                          <div class='top-split'>
                            <div class='iml-sap-header'>Special Populations:</div>
                            <em>
                            Assessment for children/adolescents must include motor development and functioning; speech, hearing and language functioning; immunization status; evaluation of developmental age factors, learning ability and intellectual functioning. Assessment for seniors must include motor, speech, hearing, language and cognitive functioning. Assessment for persons with coexisting psychiatric disabilities and other coexisting disabilities/disorders must include (if appropiate or applicable) history of previous mental health services, previous medical history, pharmacotherapy, hospitalization, use of community programs, differential diagnosis, mental status, all prescription and non-prescription medications at time of admission and at least the previous six months, past and current medication efficacy, medication allergies and/or adverse medication reactions, and adjustment to disability/disorder.
                          </em>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-sap-all-sub-head'>Client is a memeber of the following special population group(s):</div>
                        </td>
                      </tr>
                    </table>

                    <div style='margin-left:10px;'>
                      <table>
                        <tr>
                          <td><input class='inl-sap-sline-check' type='checkbox' name='isChild' id='isChild'></td>
                          <td><div class='iml-sap-sline-label'>Child/Adolescent</div></td>

                          <td><input class='inl-sap-sline-check' type='checkbox' name='isSenior' id='isSenior'></td>
                          <td><div class='iml-sap-sline-label'>Seniors</div></td>
                        </tr>

                        <tr>
                          <td><input class='inl-sap-sline-check' type='checkbox' name='isDual' id='isDual'></td>
                          <td><div class='iml-sap-sline-label'>Dual Diagnosis</div></td>

                          <td><input class='inl-sap-sline-check' type='checkbox' name='isOther' id='isOther'></td>
                          <td><div class='iml-sap-sline-label'>Other Coexisting Disabilities/Disorders</div></td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td><input class='inl-sap-sline-check' type='checkbox' name='isNone' id='isNone' onClick='javascript: disable_sap_special();'></td>
                          <td><div class='iml-sap-sline-label'>None of the above <span style='color:#ab8d8f'>(Proceed to next section)</span></div></td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:px;'>
                    <div class='non-header-top-split'>
                      If applicable, please provide documentation/notes for special populations below:
                    </div>
                    <div class='double-side-textarea'>
                      <textarea name='special' id='special'>{{fields.special}}</textarea>
                    </div>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('sap', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: uni_sap_proceed('{{current_section}}');">Save & Continue</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
