{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" style='text-align:center'>

	<div class='header-images'>
      <div class="container">
            <div class="row">                   
                  <div class="col-md-12">
                        <div id='header-text'>
                              The Anger Management Form Has Sucessfully Been {{exit_sub_phrase}}
                        </div>
                  </div>
            </div>
        </div>
    </div>


	<form action='' method='post' id='exit_return_form'> {% csrf_token %}
        <input type='hidden' name='cli-id' id='cli-id' value='{{session.client.id}}'>
        <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
		<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
        <input type='hidden' name='exit_type' id='exit_type' value='{{exit_type}}'>
        <input type='hidden' name='new_session' id='new_session' value='false'>
        <input type='hidden' name='goToNext' id='goToNext' value='{{goToNext}}'>
	</form> 

	<div style='padding-top:5%'>
		<div class='toggle-div-page'>
		    <a href="javascript: " id="continue">
                <button type='button' onClick='javascript: exit_return_form();' id='exitSession'>End Session</button>
            </a>

            <a href="javascript: " id="continue">
                <button type='button' onClick='javascript: continue_AM_session();' id='continueAMSession'>Return to Session</button>
            </a>
        </div>
	</div>

</body>

{% endblock %}