<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am({{current_section}}, {{json_data}});">
    <form action='' method='post' id='am_demo' name='am_demo'> {% csrf_token %}
      <input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>

      <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
      <input type='hidden' name='save_section' id='save_section' value='/am_angerHistory2/'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>

      <!-- REAL DATA ENTRIES -->
      <input type='hidden' value='' name='m_depress30ExplainRecentV' id='m_depress30ExplainRecentV'>
      <input type='hidden' value='' name='m_anxietyExplainRecentV' id='m_anxietyExplainRecentV'>
      <input type='hidden' value='' name='m_hallucinationLastV' id='m_hallucinationLastV'>
      <input type='hidden' value='' name='m_understandingExplainRecentV' id='m_understandingExplainRecentV'>
      <input type='hidden' value='' name='m_lastTimeTroubleControl' id='m_lastTimeTroubleControl'>
      <input type='hidden' value='' name='m_controlTrigger' id='m_controlTrigger'>
      <input type='hidden' value='' name='m_suicide30ExplainRecentV' id='m_suicide30ExplainRecentV'>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Anger Management Recent Episodes II</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_demographic/');">
                              <div  class='{{class.AMdemo}}'>Demographics</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_drugHistory/');">
                              <div  class='{{class.AMdh}}'>Drug History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_childhood/');">
                              <div  class='{{class.AMchild}}'>Childhood History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory/');">
                              <div  class='{{class.AMah1}}'>Recent Episodes I</div>
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              <div  class='{{class.AMah2}}'>Recent Episodes II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory3/');">
                              <div  class='{{class.AMah3}}'>Recent Episodes III</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_connections/');">
                              <div  class='{{class.AMconnect}}'>Abuse Connections</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_worst/');">
                              <div  class='{{class.AMworst}}'>Worst Episode</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerTarget/');">
                              <div  class='{{class.AMtarget}}'>Anger Targets</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_familyOrigin/');">
                              <div  class='{{class.AMfamily}}'>Family of Origin</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_problems/');">
                              <div  class='{{class.AMcurrent}}'>Current Problems</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_control/');">
                              <div  class='{{class.AMcontrol}}'>Anger Control</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_final/');">
                              <div  class='{{class.AMfinal}}'>Additional Info</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:20px;'>
                    <h4>Psychological Factors</h4>
                    <table>
                      <tr>
                        <td><div class='iml-num-div'>1.</div></td>
                        <td><div class='iml-label'>Have you experienced serious depression, sadness, hopelessness, loss</div></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><div class='iml-label'>of interest, difficulty with daily functions in the past 30 days or in your</div></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>
                          <table>
                            <tr>
                              <td><div class='iml-label'>lifetime?</div></td>
                              <td><div class='iml-radio'><input type='radio' name='depress30RecentV' id='yesDepress' value='True' onClick='javascript: explainDep();'></div></td>
                              <td><div class='iml-sub-label'>Yes</div></td>
                              <td><div class='iml-radio'><input type='radio' name='depress30RecentV' id='noDepress' value='False' onClick='javascript: explainDep();'></div></td>
                              <td><div class='iml-sub-label'>No</div></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    
                    <table>
                      <tr><td><div id='e1'><div class='iml-sub-label-left' id='lab1'><li>Please explain:</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='3' cols='60' name='depress30ExplainRecentV' id='depress30ExplainRecentV'>{{fields.depress30ExplainRecentV}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>2.</div></td>
                        <td><div class='iml-label'>Have you experienced serious anxiety, tension, up-tightness, stress,</div></td>
                      </tr>
                      
                      <tr>
                        <td></td>
                        <td>
                          <table>
                            <tr>
                              <td><div class='iml-label'>unreasonable worried, or the inability to relax?</div></td>
                              <td><div class='iml-radio'><input type='radio' name='anxietyRecentV' id='yesAnx' value='True' onClick='javascript: tensionRadio();'></div></td>
                              <td><div class='iml-sub-label'>Yes</div></td>
                              <td><div class='iml-radio'><input type='radio' name='anxietyRecentV' id='noAnx' value='False' onClick='javascript: tensionRadio();'></div></td>
                              <td><div class='iml-sub-label'>No</div></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    
                    <table>
                      <tr><td><div id='e2'><div class='iml-sub-label-left' id='lab2'><li>When was the last time and how often does this occur:</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='3' cols='60' name='anxietyExplainRecentV' id='anxietyExplainRecentV'>{{fields.anxietyExplainRecentV}}</textarea></div></td></tr>
                    </table>


                    <table>
                      <tr>
                        <td><div class='iml-num-div'>3.</div></td>
                        <td><div class='iml-label'>Have you experienced hallucinations-saw things or heard voices</div></td>
                      </tr>
                      
                      <tr>
                        <td></td>
                        <td>
                          <table>
                            <tr>
                              <td><div class='iml-label'>That were not there?</div></td>
                              <td><div class='iml-radio'><input type='radio' name='hallucinationRecentV' id='yesHall' value='True' onClick='javascript: halluRadio();'></div></td>
                              <td><div class='iml-sub-label'>Yes</div></td>
                              <td><div class='iml-radio'><input type='radio' name='hallucinationRecentV' id='noHall' value='False' onClick='javascript: halluRadio();'></div></td>
                              <td><div class='iml-sub-label'>No</div></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    
                    <table>
                      <tr><td><div id='e3'><div class='iml-sub-label-left' id='lab3'><li>When was the last time you experienced hallucinations?</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='1' cols='30' name='hallucinationLastV' id='hallucinationLastV'>{{fields.hallucinationLastV}}</textarea></div></td></tr>
                    </table>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:30px; margin-top:40px;'>
                    <table>
                      <tr>
                        <td><div class='iml-num-div'>4.</div></td>
                        <td><div class='iml-label'>Have you experienced trouble understanding, concentrating, or</div></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td>
                          <table>
                            <tr>
                              <td><div class='iml-label'>remembering?</div></td>
                              <td><div class='iml-radio'><input type='radio' name='understandingRecentV' id='yesTrouble' value='True' onClick='javascript: troubleRadioAH2();'></div></td>
                              <td><div class='iml-sub-label'>Yes</div></td>
                              <td><div class='iml-radio'><input type='radio' name='understandingRecentV' id='noTrouble' value='False' onClick='javascript: troubleRadioAH2();'></div></td>
                              <td><div class='iml-sub-label'>No</div></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div id='e4'><div class='iml-sub-label-left' id='lab4'><li>Please explain:</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='3' cols='60' name='understandingExplainRecentV' id='understandingExplainRecentV'>{{fields.understandingExplainRecentV}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>5.</div></td>
                        <td><div class='iml-label'>Have you experienced touble controlling violent behavior, including</div></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td>
                          <table>
                            <tr>
                              <td><div class='iml-label'>episodes of rage or violence?</div></td>
                              <td><div class='iml-radio'><input type='radio' name='troubleControlRecentV' id='yesControl' value='True' onClick='javascript: troubleControlAH2();'></div></td>
                              <td><div class='iml-sub-label'>Yes</div></td>
                              <td><div class='iml-radio'><input type='radio' name='troubleControlRecentV' id='noControl' value='False' onClick='javascript: troubleControlAH2();'></div></td>
                              <td><div class='iml-sub-label'>No</div></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div id='e5'><div class='iml-sub-label-left' id='lab5'><li>When was the last time this occured?</li></div></div></td>
                        <td><div><input type='text' name='lastTimeTroubleControl' id='lastTimeTroubleControl' style='width:140px;' value='{{fields.lastTimeTroubleControl}}'></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div id='e6'><div class='iml-sub-label-left' id='lab6'><li>What usually triggers this behavior?</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='2' cols='60' name='controlTrigger' id='controlTrigger'>{{fields.controlTrigger}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>6.</div></td>
                        <td><div class='iml-label'>Have you experienced thoughts of suicide in the past 30 days or</div></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td>
                          <table>
                            <tr>
                              <td><div class='iml-label'>in your lifetime?</div></td>
                              <td><div class='iml-radio'><input type='radio' name='suicide30RecentV' id='yesSuicide' value='True' onClick='javascript: suicide30recent();'></div></td>
                              <td><div class='iml-sub-label'>Yes</div></td>
                              <td><div class='iml-radio'><input type='radio' name='suicide30RecentV' id='noSuicide' value='False' onClick='javascript: suicide30recent();'></div></td>
                              <td><div class='iml-sub-label'>No</div></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div id='e7'><div class='iml-sub-label-left' id='lab7'><li>Please explain:</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='2' cols='60' name='suicide30ExplainRecentV' id='suicide30ExplainRecentV'>{{fields.suicide30ExplainRecentV}}</textarea></div></td></tr>
                    </table>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('am', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: continue_am_form('{{current_section}}'); return false;">Save & Continue</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
