<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am({{current_section}}, {{json_data}});">
    <form action='' method='post' id='am_demo' name='am_demo'> {% csrf_token %}
      <input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>

      <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
      <input type='hidden' name='save_section' id='save_section' value='/am_angerHistory3/'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='form_name' id='form_name' value='am_demo'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

      <!-- REAL DATA ENTRIES -->
      <input type='hidden' value='' name='m_homicidalExplain' id='m_homicidalExplain'>
      <input type='hidden' value='' name='m_medRecentVExplain' id='m_medRecentVExplain'>
      <input type='hidden' value='' name='m_medSuccessRecentV' id='m_medSuccessRecentV'>
      <input type='hidden' value='' name='m_medSuccessExplainRecentV' id='m_medSuccessExplainRecentV'>
      

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Anger Management Recent Episodes III</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_demographic/');">
                              <div  class='{{class.AMdemo}}'>Demographics</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_drugHistory/');">
                              <div  class='{{class.AMdh}}'>Drug History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_childhood/');">
                              <div  class='{{class.AMchild}}'>Childhood History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory/');">
                              <div  class='{{class.AMah1}}'>Recent Episodes I</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory2/');">
                              <div  class='{{class.AMah2}}'>Recent Episodes II</div>
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              <div  class='{{class.AMah3}}'>Recent Episodes III</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_connections/');">
                              <div  class='{{class.AMconnect}}'>Abuse Connections</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_worst/');">
                              <div  class='{{class.AMworst}}'>Worst Episode</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerTarget/');">
                              <div  class='{{class.AMtarget}}'>Anger Targets</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_familyOrigin/');">
                              <div  class='{{class.AMfamily}}'>Family of Origin</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_problems/');">
                              <div  class='{{class.AMcurrent}}'>Current Problems</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_control/');">
                              <div  class='{{class.AMcontrol}}'>Anger Control</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_final/');">
                              <div  class='{{class.AMfinal}}'>Additional Info</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:43%; height:100%; margin-left:20px; margin-top:10px;'>
                    <h4>Psychological Factors (Continued)</h4>
                    <table>
                      <tr>
                        <td><div class='iml-num-div'>1.</div></td>
                        <td><div class='iml-label'>Have you felt like hurting others or committing homicide?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='homicidal' id='yesHomicide' value='True' onClick='javascript: homicidalRadio();'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='homicidal' id='noHomicode' value='False' onClick='javascript: homicidalRadio();'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div id='e1'><div class='iml-sub-label-left' id='lab1'><li>Whom did you want to hurt and what were the reasons?</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='3' cols='60' name='homicidalExplain' id='homicidalExplain' oninput="javascript: noErrorText('e1', 'homicidalExplain');">{{fields.homicidalExplain}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>2.</div></td>
                        <td><div class='iml-label'>Have you ever been prescribed medication(s) for any psychological or</div></td>
                      </tr>

                      <tr>
                        <td></td>
                        
                        <td>
                          <table>
                            <tr>
                              <td><div class='iml-label'>emotional problems?</div></td>
                              <td><div class='iml-radio'><input type='radio' name='medRecentV' id='yesMed' value='True' onClick='javascript: ah3number1();'></div></td>
                              <td><div class='iml-sub-label'>Yes</div></td>
                              <td><div class='iml-radio'><input type='radio' name='medRecentV' id='noMed' value='False' onClick='javascript: ah3number1();'></div></td>
                              <td><div class='iml-sub-label'>No</div></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div id='e2'><div class='iml-sub-label-left' id='lab2'><li>For what was the medication prescribed?</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='3' cols='60' name='medRecentVExplain' id='medRecentVExplain' oninput="javascript: noErrorText('e2', 'medRecentVExplain');">{{fields.medRecentVExplain}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-sub-label-left' id='lab5'><li>Was the treatment successful?</li></div></td>
                        <td><div class='iml-radio'><input type='radio' name='medSuccessRecentV' id='yesSuccess' value='True' onClick='javascript: ah3number2();'></div></td>
                        <td><div class='iml-sub-label' id='lab3'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='medSuccessRecentV' id='noSuccess' value='False' onClick='javascript: ah3number2();'></div></td>
                        <td><div class='iml-sub-label' id='lab4'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div id='e3'><div class='iml-sub-label-left' id='lab6'><li>Please explain:</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='3' cols='60' name='medSuccessExplainRecentV' id='medSuccessExplainRecentV' oninput="javascript: noErrorText('e3', 'medSuccessExplainRecentV');">{{fields.medSuccessExplainRecentV}}</textarea></div></td></tr>
                    </table>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:30px; margin-top:10px;'>
                    <h4>Duration</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>3.</div></td>
                        <td><div id='e4'><div class='iml-label'>When you become angry, how long do you remain angry?</div></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td>
                          <div class='iml-text-area'>
                            <textarea rows='2' cols='60' name='durationRecentV' id='durationRecentV' value='{{fields.durationRecentV}}' oninput="javascript: noErrorText('e4', 'durationRecentV');">{{fields.durationRecentV}}</textarea>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <h4>Intensity</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>4.</div></td>
                        <td><div class='iml-label'>On a scale of 1 to 10, with one representing no anger and 10</div></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td><div class='iml-label'>representing explosive anger, rate the intensity of your anger</div></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td><div class='iml-label'>during the anger episode:</div></td>
                      </tr>
                    </table>
                    <table>
                      <tr>
                        <td><div class='iml-radio' style='margin-left:23px;'><input type='radio' name='intensityRecentV' id='rad1' value='1'></div></td>
                        <td><div class='iml-sub-label'>1</div></td>

                        <td><div class='iml-radio'><input type='radio' name='intensityRecentV' id='rad2' value='2'></div></td>
                        <td><div class='iml-sub-label'>2</div></td>

                        <td><div class='iml-radio'><input type='radio' name='intensityRecentV' id='rad3' value='3'></div></td>
                        <td><div class='iml-sub-label'>3</div></td>

                        <td><div class='iml-radio'><input type='radio' name='intensityRecentV' id='rad4' value='4'></div></td>
                        <td><div class='iml-sub-label'>4</div></td>

                        <td><div class='iml-radio'><input type='radio' name='intensityRecentV' id='rad5' value='5'></div></td>
                        <td><div class='iml-sub-label'>5</div></td>

                        <td><div class='iml-radio'><input type='radio' name='intensityRecentV' id='rad6' value='6'></div></td>
                        <td><div class='iml-sub-label'>6</div></td>

                        <td><div class='iml-radio'><input type='radio' name='intensityRecentV' id='rad7' value='7'></div></td>
                        <td><div class='iml-sub-label'>7</div></td>

                        <td><div class='iml-radio'><input type='radio' name='intensityRecentV' id='rad8' value='8'></div></td>
                        <td><div class='iml-sub-label'>8</div></td>

                        <td><div class='iml-radio'><input type='radio' name='intensityRecentV' id='rad9' value='9'></div></td>
                        <td><div class='iml-sub-label'>9</div></td>

                        <td><div class='iml-radio'><input type='radio' name='intensityRecentV' id='rad10' value='10'></div></td>
                        <td><div class='iml-sub-label'>10</div></td>
                      </tr>
                    </table>

                    <h4>Frequency</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>5.</div></td>
                        <td><div class='iml-label'>How often have you had trouble with your anger?</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td>
                          <div class='iml-checkbox-l'><input type='radio' name='howOften' id='ho1' value='This time only'></div>
                        </td>
                        <td><div class='iml-sub-label2'>This time only</div></td>

                        <td>
                          <div class='iml-checkbox-l'><input type='radio' name='howOften' id='ho2' value='This month only'></div>
                        </td>
                        <td><div class='iml-sub-label2'>This month only</div></td>

                        <td>
                          <div class='iml-checkbox-l'><input type='radio' name='howOften' id='ho3' value='Last six months'></div>
                        </td>
                        <td><div class='iml-sub-label2'>Last six months</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox-l'><input type='radio' name='howOften' id='ho4' value='Since childhood'></div>
                        </td>
                        <td><div class='iml-sub-label2'>Since childhood</div></td>

                        <td>
                          <div class='iml-checkbox-l'><input type='radio' name='howOften' id='ho5' value='Adolecent'></div>
                        </td>
                        <td><div class='iml-sub-label2'>Adolecent</div></td>

                        <td>
                          <div class='iml-checkbox-l'><input type='radio' name='howOften' id='ho6' value='Only as an adult'></div>
                        </td>
                        <td><div class='iml-sub-label2'>Only as an adult</div></td>
                      </tr>
                    </table>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('am', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: continue_am_form('{{current_section}}'); return false;">Save & Continue</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
