{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am_angerHistory();">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <table class='session-side'>
                <tr>
                    <td>
                        <div style='font-size:20px;'>
                            <h4>Details:</h4>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style='color:#fee047'>
                            <h4>{{session.s_type}}</h4>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span class='sidebar-name'>{{AM.client.fname}} {{AM.client.lname}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id='sidebar-space-lower2'>
                            <span class="sidebar-id">{{AM.client.clientID}}</span>
                        </div>
                    </td>
                </tr>



                <!-- <div style='margin-bottom: 80px;'></div> -->
                <tr>
                    <td>
                        <div id='sidebar-space-lower'>
                            <h4>Completed:</h4>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class='{{class.demo}}'>
                            <img src="{{image.demo_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemo();" name='demographicBtn' id='demographicBtn'>
                                Demographic
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.dh}}'>
                            <img src="{{image.dh_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDH();" name='demographicBtn' id='demographicBtn'>
                                Drug History
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.child}}'>
                            <img src="{{image.child_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideChild();" name='demographicBtn' id='demographicBtn'>
                                Childhood History
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah1}}'>
                            <img src="{{image.ah1_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideAh1();" name='demographicBtn' id='demographicBtn'>
                                Anger History I
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah2}}'>
                            <img src="{{image.ah2_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideAh2();" name='demographicBtn' id='demographicBtn'>
                                Anger History II
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah3}}'>
                            <img src="{{image.ah3_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideAh3();" name='demographicBtn' id='demographicBtn'>
                                Anger History III
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.connect}}'>
                            <img src="{{image.connect_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideConnect();" name='demographicBtn' id='demographicBtn'>
                                Abuse Connections
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.worst}}'>
                            <img src="{{image.worst_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideWorst();" name='demographicBtn' id='demographicBtn'>
                                Worst Episode
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.target}}'>
                            <img src="{{image.target_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideTarget();" name='demographicBtn' id='demographicBtn'>
                                Anger Target
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.family}}'>
                            <img src="{{image.family_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideFamily();" name='demographicBtn' id='demographicBtn'>
                                Family of Origin
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.current}}'>
                            <img src="{{image.current_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideCurrent();" name='demographicBtn' id='demographicBtn'>
                                Current Problems
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.control}}'>
                            <img src="{{image.control_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideControl();" name='demographicBtn' id='demographicBtn'>
                                Anger Control
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.final}}'>
                            <img src="{{image.final_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideFinal();" name='demographicBtn' id='demographicBtn'>
                                Additional Info
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <div class="form_headings">
                    <h3 id='am-h2'>Anger Management: Most Recent Anger Episode III</h3>
                </div>

                <div class="container">
                    <div class="row">                   
                        <div class="col-md-5 col-sm-5">
                            <form action='/am_connections/' method='post' id='am_demo'> {% csrf_token %}
                                <input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
                                <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
                                <input type='hidden' name='back_btn' id='back_btn' value='false'>
                                <input type='hidden' name='exit_type' id='exit_type' value=''>

                                <!-- REAL DATA ENTRIES -->
                                <input type='hidden' value='' name='m_recentIncidentV'              id='m_recentIncidentV'>
                                <input type='hidden' value='' name='m_recentVDate'                  id='m_recentVDate'>
                                <input type='hidden' value='' name='m_recentVlocation'              id='m_recentVlocation'>
                                <input type='hidden' value='' name='m_withWhomRecentV'              id='m_withWhomRecentV'>
                                <input type='hidden' value='' name='m_happenedRecentV'              id='m_happenedRecentV'>
                                <input type='hidden' value='' name='m_physicalRecentV'              id='m_physicalRecentV'>
                                <input type='hidden' value='' name='m_verbalRecentV'                id='m_verbalRecentV'>
                                <input type='hidden' value='' name='m_threatsRecentV'               id='m_threatsRecentV'>
                                <input type='hidden' value='' name='m_propertyRecentV'              id='m_propertyRecentV'>
                                <input type='hidden' value='' name='m_otherRecentV'                 id='m_otherRecentV'>
                                <input type='hidden' value='' name='m_otherExplainRecentV'          id='m_otherExplainRecentV'>
                                <input type='hidden' value='' name='m_typeWordsRecentV'             id='m_typeWordsRecentV'>
                                <input type='hidden' value='' name='m_wasTense'                     id='m_wasTense'>
                                <input type='hidden' value='' name='m_hadRush'                      id='m_hadRush'>
                                <input type='hidden' value='' name='m_feltStrong'                   id='m_feltStrong'>
                                <input type='hidden' value='' name='m_psychoRecentV'                id='m_psychoRecentV'>
                                <input type='hidden' value='' name='m_psychoWhyRecentV'             id='m_psychoWhyRecentV'>
                                <input type='hidden' value='' name='m_longAgoTreatRecentVmos'       id='m_longAgoTreatRecentVmos'>
                                <input type='hidden' value='' name='m_longAgoTreatRecentVyrs'       id='m_longAgoTreatRecentVyrs'>
                                <input type='hidden' value='' name='m_didCompleteTreatRecentV'      id='m_didCompleteTreatRecentV'>
                                <input type='hidden' value='' name='m_reasonNotCompleteRecentV'     id='m_reasonNotCompleteRecentV'>

                                <!-- ____________________________LEFT SIDE_______________________________ -->
                                
                  
                        </div>

                        <div class="col-md-5 col-sm-5">
                                <!-- ____________________________RIGHT SIDE_______________________________ -->
                                

                            </form>
                        </div>
                    </div>

                    <div class="row">
                <!-- _____________________________________________BUTTONS_______________________________________________ -->

                        <table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                            <tr>
                                <td>
                                    <div style='margin-left:12px;'>
                                        <a href="#menu-toggle" id="menu-toggle">
                                            <button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
                                        </a>
                                    </div>
                                </td>

                          <td>
                            <div id="submit-space">
                                <form action='/exit_am/' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
                                  <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
                                  <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                  <input type='hidden' name='exit_type' id='exit_type' value=''>
                                  <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                                </form>
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: exit_am("exit_only");' id='continue'>Delete and Exit</button>
                                </a>
                            </div>
                          </td>

                                <td>
                                    <div id="submit-space">
                                        <a href="javascript: " id="continue">
                                            <button type='button' onClick='javascript: exit_am("exit_save");' id='continue'>Save and Exit</button>
                                        </a>
                                    </div>
                                </td>

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: proceed_to_connections();' id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>

{% endblock %}



                  								








