<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am({{current_section}}, {{json_data}});">
    <form action='' method='post' id='am_demo' name='am_demo'> {% csrf_token %}
      <input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>

      <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>

      <!-- REAL DATA ENTRIES -->
      <input type='hidden' value='' name='m_angryPartner' id='m_angryPartner'>
      <input type='hidden' value='' name='m_angryParents' id='m_angryParents'>
      <input type='hidden' value='' name='m_angryChildren' id='m_angryChildren'>
      <input type='hidden' value='' name='m_angryRelatives' id='m_angryRelatives'>
      <input type='hidden' value='' name='m_angryEmployer' id='m_angryEmployer'>
      <input type='hidden' value='' name='m_angryFriends' id='m_angryFriends'>
      <input type='hidden' value='' name='m_angryOther' id='m_angryOther'>
      <input type='hidden' value='' name='m_otherWhom' id='m_otherWhom'>
      <input type='hidden' value='' name='m_seldomUpset' id='m_seldomUpset'>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Anger Management Anger Targets</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_demographic/');">
                              <div  class='iml-button'>Demographics</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_drugHistory/');">
                              <div  class='iml-button'>Drug History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_childhood/');">
                              <div  class='iml-button'>Childhood History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory/');">
                              <div  class='iml-button'>Recent Episodes I</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory2/');">
                              <div  class='iml-button'>Recent Episodes II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory3/');">
                              <div  class='iml-button'>Recent Episodes III</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_connections/');">
                              <div  class='iml-button'>Abuse Connections</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_worst/');">
                              <div  class='iml-button'>Worst Episode</div>
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              <div  class='iml-button'>Anger Targets</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_familyOrigin/');">
                              <div  class='iml-button'>Family of Origin</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_problems/');">
                              <div  class='iml-button'>Current Problems</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_control/');">
                              <div  class='iml-button'>Anger Control</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_final/');">
                              <div  class='iml-button'>Additional Info</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <div id='iml-single-header'>With Whom Do You Get Angry?</div>
                  <div id='iml-single-sub-head'>Check all that apply</div>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:32%; height:100%; margin-left:70px;'>
                    

                    <table>
                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='angryPartner' id='angryPartner' value='Partner'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Partner</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='angryParents' id='angryParents' value='Parents'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Parents/Step-Parents</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='angryChildren' id='angryChildren' value='Children'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Your Children (Step-Children)</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='angryRelatives' id='angryRelatives' value='Relatives'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Relatives</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='angryEmployer' id='angryEmployer' value='Employer/Co-Workers'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Employer/Co-Workers</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='angryFriends' id='angryFriends' value='Friends'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Friends</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='seldomUpset' id='seldomUpset' value='Client seldom gets upset'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Client seldom gets upset</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='angryOther' id='angryOther' value='Other anger targets'>
                          </div>
                        </td>

                        <td>
                          <table>
                            <tr>
                              <td><div class='iml-sub-label2'>Other (Whom)</div></td>
                              <td><input type='text' name='otherWhom' id='otherWhom' value='{{fields.otherWhom}}'></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div> 

                  <div class='col-md-6' style='width:44%; height:100%; margin-left:70px;'>
                    <div class='iml-sub-label2'>What do you get angry about?</div>
                    <div>
                      <textarea rows='8' cols='70' name='angryAbout' id='angryAbout'>{{fields.angryAbout}}</textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('am', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: continue_am_form('{{current_section}}');">Save & Continue</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
