{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am_angerHistory();">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <table class='session-side'>
                <tr>
                    <td>
                        <div id='sidebar-space-lower2'>
                            <h3>Client Profile</h3>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span class='sidebar-name'>{{client.fname}} {{client.lname}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id='sidebar-space-lower2'>
                            <span class="sidebar-id">{{client.clientID}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span class='sidebar-label1'>DOB: </span> <span class='sidebar-ans'>{{client.dob}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id='sidebar-space-lower'>
                            <span class='sidebar-label1'>SS: </span> <span class='sidebar-ans'>{{client.ss_num}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span id='sidebar-fill'>{{client.street_no}} {{client.street_name}} {{client.apartment_no}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id='sidebar-space-lower'>
                            <span id='sidebar-fill'>{{client.city}}, {{client.state}} {{client.zip_code}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span id='sidebar-fill'>{{phone}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id='sidebar-space-lower2'>
                            <span id='sidebar-fill'>{{client.email}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id='sidebar-space-lower2'>
                            <h3>Session Info</h3>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span class='sidebar-session-info'>{{session.s_type}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span class='sidebar-session-info2'>{{session.start}}</h6>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span class='sidebar-label1'>Duration: </span><span class='sidebar-duration'>{{session.s_type.duration}} minutes</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span class='sidebar-duration'>${{session.s_type.fee}}.00</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <h3 id='am-h2'>Anger Management: Most Recent Anger Episode</h3>

                <div class="container">
                    <div class="row">                   
                        <div class="col-md-5 col-sm-5">
                            <form action='/am_connections/' method='post' id='am_demo'> {% csrf_token %}
                                <input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
                                <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
                                <input type='hidden' name='back' id='back' value='false'>
                                <input type='hidden' name='exit_type' id='exit_type' value=''>

                                <!-- REAL DATA ENTRIES -->
                                <input type='hidden' value='' name='m_raisedBy' id='m_raisedBy'>
                                <input type='hidden' value='' name='m_momAlive' id='m_momAlive'>
                                <input type='hidden' value='' name='m_dadAlive' id='m_dadAlive'>
                                <input type='hidden' value='' name='m_childTrama' id='m_childTrama'>
                                <input type='hidden' value='' name='m_howLeftHome' id='m_howLeftHome'>
                                <input type='hidden' value='' name='m_num_siblings' id='m_num_siblings'>
                                <input type='hidden' value='' name='m_siblingsRelationship' id='m_siblingsRelationship'>
                                <input type='hidden' value='' name='m_dadClose' id='m_dadClose'>
                                <input type='hidden' value='' name='m_dadCloseExplain' id='m_dadCloseExplain'>
                                <input type='hidden' value='' name='m_momClose' id='m_momClose'>
                                <input type='hidden' value='' name='m_momCloseExplain' id='m_momCloseExplain'>
                                <input type='hidden' value='' name='m_wasAbused' id='m_wasAbused'>
                                <input type='hidden' value='' name='m_abusedBy' id='m_abusedBy'>
                                <input type='hidden' value='' name='m_abuseImpact' id='m_abuseImpact'>
                                <input type='hidden' value='' name='m_childAnger' id='m_childAnger'>
                                <input type='hidden' value='' name='m_childAngerExplain' id='m_childAngerExplain'>
                                <input type='hidden' value='' name='m_otherChild' id='m_otherChild'>
                                <input type='hidden' value='' name='m_otherChildExplain' id='m_otherChildExplain'>
                                <input type='hidden' value='' name='m_parentViolence' id='m_parentViolence'>
                                <input type='hidden' value='' name='m_parentViolenceExplain' id='m_parentViolenceExplain'>
                                <input type='hidden' value='' name='m_parentViolenceImpact' id='m_parentViolenceImpact'>

                                <!-- ____________________________LEFT SIDE_______________________________ -->
                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                1. Please describe in detail your most recent anger incident:
                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <textarea rows='3' cols='63' name='recentIncidentV' id='recentIncidentV'></textarea>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                2. When did the anger episode occur?
                                            </label>
                                        </td>

                                        <td>
                                            <div id='adjust-right-textField'>
                                                <input type='text' name='recentVDate' id='recentVDate' style='width:140px;'>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                3. Where did the anger episode occur?
                                            </label>
                                        </td>

                                        <td>
                                            <div id='adjust-right-textField'>
                                                <input type='text' name='recentVlocation' id='recentVlocation' style='width:136px;'>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                4. With whom?
                                            </label>
                                        </td>

                                        <td>
                                            <div id='adjust-right-textField'>
                                                <input type='text' name='withWhomRecentV' id='withWhomRecentV' style='width:295px;'>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                5. What happened?
                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <textarea rows='2' cols='63' name='happenedRecentV' id='happenedRecentV'></textarea>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                6. What actions did you demostrate during the episode?
                                            </label><br>
                                            <span><em>Check all that apply</em></span>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <input type='checkbox' name='physicalRecentV' id='physicalRecentV'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch'>
                                                <label>Physical</label>
                                            </div>
                                        </td>

                                        <td>
                                            <input type='checkbox' name='verbalRecentV' id='verbalRecentV'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch'>
                                                <label>Verbal</label>
                                            </div>
                                        </td>

                                        <td>
                                            <input type='checkbox' name='threatsRecentV' id='threatsRecentV'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch'>
                                                <label>Threats</label>
                                            </div>
                                        </td>

                                        <td>
                                            <input type='checkbox' name='propertyRecentV' id='propertyRecentV'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch'>
                                                <label>Property Destruction</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <input type='checkbox' name='otherRecentV' id='otherRecentV' onClick='javascript: turnOnAH1();'>
                                        </td>

                                        <td>
                                            <div id='AH_labelCheckMatch'>
                                                <label>Other</label>
                                            </div>
                                        </td>

                                        <td>
                                            <div style='margin-top:6px;'>
                                                <label id='explain_Label'>(Explain):</label>
                                            </div>
                                        </td>

                                        <td>
                                            <div style='margin-left:3px; margin-top:1px;'>
                                                <input type='text' name='otherExplainRecentV' id='otherExplainRecentV' style='width:200px'>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                  
                        </div>

                        <div class="col-md-5 col-sm-5">
                                <!-- ____________________________RIGHT SIDE_______________________________ -->
                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                7. Main types of angry words and thoughts during the episode:
                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <textarea rows='3' cols='66' name='typeWordsRecentV' id='typeWordsRecentV'></textarea>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>8. Explain how you felt physically while angry:</label>
                                        </td>
                                    </tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <div style='margin-left:15px;'>
                                                <input type='checkbox' name='wasTense' id='wasTense'>
                                            </div>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch2'>
                                                <label>Tense</label>
                                            </div>
                                        </td>

                                        <td>
                                            <input type='checkbox' name='hadRush' id='hadRush'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch2'>
                                                <label>Rush</label>
                                            </div>
                                        </td>

                                        <td>
                                            <input type='checkbox' name='feltStrong' id='feltStrong'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch2'>
                                                <label>Strong</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                9. Have you ever been treated for psychological or
                                            </label>
                                        </td>
                                    </tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>emotional problems?</label>
                                        </td>

                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='psychoRecentV' id='wasTreated' onClick='javascript: psychoClick()'>
                                            </div>
                                        </td>
                                        <td>
                                            <label>Yes</label>
                                        </td>

                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='psychoRecentV' id='notTreated' checked onClick='javascript: psychoClick()'>
                                            </div>
                                        </td>
                                        <td>
                                            <label>No</label>
                                        </td>
                                    </tr>
                                </table>

                                <ul>
                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='psychoWhyRecentV' id='psychoWhyRecentV_label'>
                                                        For what were you being treated?
                                                    </label>
                                                </li>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <textarea name='psychoWhyRecentV' id='psychoWhyRecentV' rows='2' cols='59'></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                    </table>

                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label id='longAgoTreatment_label'>
                                                        How long ago did you receive counseling or treatment?
                                                    </label>
                                                </li>
                                            </td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td>
                                                <input type='number' name='longAgoTreatRecentVmos' id='longAgoTreatRecentVmos' style='width:40px;'>
                                            </td>
                                            <td>
                                                <div id='numberLabel'>
                                                    <label for='longAgoTreatRecentVmos' id='longAgoTreatRecentVmos_label'>
                                                        months
                                                    </label>
                                                </div>
                                            </td>

                                            <td>
                                                <input type='number' name='longAgoTreatRecentVyrs' id='longAgoTreatRecentVyrs' style='width:40px;'>
                                            </td>
                                            <td>
                                                <div id='numberLabel'>
                                                    <label for='longAgoTreatRecentVyrs' id='longAgoTreatRecentVyrs_label'>
                                                        years
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                    </table>

                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='didCompleteTreatRecentV' id='didCompleteTreatRecentV_label'>
                                                        Did you complete the program?
                                                    </label>
                                                </li>
                                            </td>

                                            <td>
                                                <div id='psychoRadio'>
                                                    <input type='radio' name='didCompleteTreatRecentV' id='didComplete' checked onClick='javascript: AHcompletedRadioActivate()'>
                                                </div>
                                            </td>
                                            <td>
                                                <label for='didComplete' id='Completed_label'>Yes</label>
                                            </td>

                                            <td>
                                                <div id='psychoRadio'>
                                                    <input type='radio' name='didCompleteTreatRecentV' id='notCompleted' onClick='javascript: AHcompletedRadioActivate()'>
                                                </div>
                                            </td>
                                            <td>
                                                <label for='notCompleted' id='notCompleted_label2'>No</label>
                                            </td>
                                        </tr>
                                    </table>

                                    <table>
                                        <tr>
                                            <td>
                                                <label for='reasonNotCompleteRecentV' id='reasonNotCompleteRecentV_label'>Why not?</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <textarea rows='2' cols='59' name='reasonNotCompleteRecentV' id='reasonNotCompleteRecentV'></textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </ul>

                            </form>
                        </div>
                    </div>

                    <div class="row">
                <!-- _____________________________________________BUTTONS_______________________________________________ -->

                        <table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                            <tr>
                                <td>
                                    <div style='margin-left:12px;'>
                                        <a href="#menu-toggle" id="menu-toggle">
                                            <button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
                                        </a>
                                    </div>
                                </td>

                          <td>
                            <div id="submit-space">
                                <form action='/exit_am/' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
                                  <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
                                  <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                  <input type='hidden' name='exit_type' id='exit_type' value=''>
                                  <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                                </form>
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: exit_am("exit_only");' id='continue'>Delete and Exit</button>
                                </a>
                            </div>
                          </td>

                                <td>
                                    <div id="submit-space">
                                        <a href="javascript: " id="continue">
                                            <button type='button' onClick='javascript: exit_am("exit_save");' id='continue'>Save and Exit</button>
                                        </a>
                                    </div>
                                </td>

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: continue_to_am_connections();' id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>

{% endblock %}



                  								








