{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am_angerHistory({{json_data}});">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <div id="sidebar-wrapper">
            <table class='session-side'>
                <tr>
                    <td>
                        <div style='font-size:20px;'>
                            <h4>Details:</h4>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style='color:#fee047'>
                            <h4>{{session.s_type}}</h4>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span class='sidebar-name'>{{AM.client.fname}} {{AM.client.lname}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id='sidebar-space-lower2'>
                            <span class="sidebar-id">{{AM.client.clientID}}</span>
                        </div>
                    </td>
                </tr>



                <!-- <div style='margin-bottom: 80px;'></div> -->
                <tr>
                    <td>
                        <div id='sidebar-space-lower'>
                            <h4>Completed:</h4>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class='{{class.demo}}'>
                            <img src="{{image.demo_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemo();" name='demographicBtn' id='demographicBtn'>
                                Demographic
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.dh}}'>
                            <img src="{{image.dh_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDH();" name='demographicBtn' id='demographicBtn'>
                                Drug History
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.child}}'>
                            <img src="{{image.child_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideChild();" name='demographicBtn' id='demographicBtn'>
                                Childhood History
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah1}}'>
                            <img src="{{image.ah1_img}}" id='bullet-img'> &nbsp
                            <a href="#" name='demographicBtn' id='demographicBtn'>
                                Anger History I
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah2}}'>
                            <img src="{{image.ah2_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideAh2();" name='demographicBtn' id='demographicBtn'>
                                Anger History II
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah3}}'>
                            <img src="{{image.ah3_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideAh3();" name='demographicBtn' id='demographicBtn'>
                                Anger History III
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.connect}}'>
                            <img src="{{image.connect_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideConnect();" name='demographicBtn' id='demographicBtn'>
                                Abuse Connections
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.worst}}'>
                            <img src="{{image.worst_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideWorst();" name='demographicBtn' id='demographicBtn'>
                                Worst Episode
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.target}}'>
                            <img src="{{image.target_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideTarget();" name='demographicBtn' id='demographicBtn'>
                                Anger Target
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.family}}'>
                            <img src="{{image.family_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideFamily();" name='demographicBtn' id='demographicBtn'>
                                Family of Origin
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.current}}'>
                            <img src="{{image.current_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideCurrent();" name='demographicBtn' id='demographicBtn'>
                                Current Problems
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.control}}'>
                            <img src="{{image.control_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideControl();" name='demographicBtn' id='demographicBtn'>
                                Anger Control
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.final}}'>
                            <img src="{{image.final_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideFinal();" name='demographicBtn' id='demographicBtn'>
                                Additional Info
                            </a>
                        </div>
                    </td>
                </tr>

                <tr>
              <td>
                <div class='side_option_head'>
                  <h4>Exit Options:</h4>
                </div>
              </td>
            </tr>

            <tr>  
              <td>
                <table class='icon_table'>      
                  <!-- BUTTON 1 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("exit_save");'>
                        <table>
                          <tr>
                            <td>
                              <div id='save_icon_btn' style='margin-left:30px;'>
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='save_icon_text' style='margin-left:30px;'>
                                Save
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>

                  <td><div style='margin-right:15px;'></div></td>

                  <!-- BUTTON 2 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("exit_only");'>
                        <table>
                          <tr>
                            <td>
                              <div id='trash_icon_btn'>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='trash_icon_text'>
                                Delete
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>
                </table>
              </td>
            </tr>
            </table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <div class="form_headings">
                    <h3 id='am-h2'>Anger Management: Most Recent Anger Episode</h3>
                </div>

                <div class="container">
                    <div class="row">                   
                        <div class="col-md-5 col-sm-5">
                            <form action='/am_angerHistory2/' method='post' id='am_demo'> {% csrf_token %}
                                <input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
                                <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
                                <input type='hidden' name='back_btn' id='back_btn' value=''>
                                <input type='hidden' name='exit_type' id='exit_type' value=''>

                                <!-- REAL DATA ENTRIES -->
                                <input type='hidden' value='' name='m_physicalRecentV'              id='m_physicalRecentV'>
                                <input type='hidden' value='' name='m_verbalRecentV'                id='m_verbalRecentV'>
                                <input type='hidden' value='' name='m_threatsRecentV'               id='m_threatsRecentV'>
                                <input type='hidden' value='' name='m_propertyRecentV'              id='m_propertyRecentV'>
                                <input type='hidden' value='' name='m_otherRecentV'                 id='m_otherRecentV'>
                                <input type='hidden' value='' name='m_otherExplainRecentV'          id='m_otherExplainRecentV'>
                                <input type='hidden' value='' name='m_wasTense'                     id='m_wasTense'>
                                <input type='hidden' value='' name='m_hadRush'                      id='m_hadRush'>
                                <input type='hidden' value='' name='m_feltStrong'                   id='m_feltStrong'>
                                <input type='hidden' value='' name='m_psychoRecentV'                id='m_psychoRecentV'>
                                <input type='hidden' value='' name='m_psychoWhyRecentV'             id='m_psychoWhyRecentV'>
                                <input type='hidden' value='' name='m_longAgoTreatRecentVmos'       id='m_longAgoTreatRecentVmos'>
                                <input type='hidden' value='' name='m_longAgoTreatRecentVyrs'       id='m_longAgoTreatRecentVyrs'>
                                <input type='hidden' value='' name='m_didCompleteTreatRecentV'      id='m_didCompleteTreatRecentV'>
                                <input type='hidden' value='' name='m_reasonNotCompleteRecentV'     id='m_reasonNotCompleteRecentV'>

                                <!-- ____________________________LEFT SIDE_______________________________ -->
                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                1. Please describe in detail your most recent anger incident:
                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <textarea rows='3' cols='63' name='recentIncidentV' id='recentIncidentV'>{{fields.recentIncidentV}}</textarea>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                2. When did the anger episode occur?
                                            </label>
                                        </td>

                                        <td>
                                            <div id='adjust-right-textField'>
                                                <input type='text' name='recentVDate' id='recentVDate' style='width:140px;' value='{{fields.recentVDate}}'>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                3. Where did the anger episode occur?
                                            </label>
                                        </td>

                                        <td>
                                            <div id='adjust-right-textField'>
                                                <input type='text' name='recentVlocation' id='recentVlocation' style='width:136px;' value='{{fields.recentVlocation}}'>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                4. With whom?
                                            </label>
                                        </td>

                                        <td>
                                            <div id='adjust-right-textField'>
                                                <input type='text' name='withWhomRecentV' id='withWhomRecentV' style='width:295px;' value='{{fields.withWhomRecentV}}'>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                5. What happened?
                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <textarea rows='2' cols='63' name='happenedRecentV' id='happenedRecentV'>{{fields.happenedRecentV}}</textarea>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                6. What actions did you demostrate during the episode?
                                            </label><br>
                                            <span><em>Check all that apply</em></span>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <input type='checkbox' name='physicalRecentV' id='physicalRecentV'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch'>
                                                <label>Physical</label>
                                            </div>
                                        </td>

                                        <td>
                                            <input type='checkbox' name='verbalRecentV' id='verbalRecentV'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch'>
                                                <label>Verbal</label>
                                            </div>
                                        </td>

                                        <td>
                                            <input type='checkbox' name='threatsRecentV' id='threatsRecentV'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch'>
                                                <label>Threats</label>
                                            </div>
                                        </td>

                                        <td>
                                            <input type='checkbox' name='propertyRecentV' id='propertyRecentV'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch'>
                                                <label>Property Destruction</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <input type='checkbox' name='otherRecentV' id='otherRecentV' onClick='javascript: turnOnAH1();'>
                                        </td>

                                        <td>
                                            <div id='AH_labelCheckMatch'>
                                                <label>Other</label>
                                            </div>
                                        </td>

                                        <td>
                                            <div style='margin-top:6px;'>
                                                <label id='explain_Label'>(Explain):</label>
                                            </div>
                                        </td>

                                        <td>
                                            <div style='margin-left:3px; margin-top:1px;'>
                                                <input type='text' name='otherExplainRecentV' id='otherExplainRecentV' style='width:200px' value='{{fields.otherExplainRecentV}}'>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                  
                        </div>

                        <div class="col-md-5 col-sm-5">
                                <!-- ____________________________RIGHT SIDE_______________________________ -->
                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                7. Main types of angry words and thoughts during the episode:
                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <textarea rows='3' cols='66' name='typeWordsRecentV' id='typeWordsRecentV'>{{fields.typeWordsRecentV}}</textarea>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>8. Explain how you felt physically while angry:</label>
                                        </td>
                                    </tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <div style='margin-left:15px;'>
                                                <input type='checkbox' name='wasTense' id='wasTense'>
                                            </div>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch2'>
                                                <label>Tense</label>
                                            </div>
                                        </td>

                                        <td>
                                            <input type='checkbox' name='hadRush' id='hadRush'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch2'>
                                                <label>Rush</label>
                                            </div>
                                        </td>

                                        <td>
                                            <input type='checkbox' name='feltStrong' id='feltStrong'>
                                        </td>
                                        <td>
                                            <div id='AH_labelCheckMatch2'>
                                                <label>Strong</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                9. Have you ever been treated for psychological or
                                            </label>
                                        </td>
                                    </tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label>emotional problems?</label>
                                        </td>

                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='psychoRecentV' id='wasTreated' value='True' onClick='javascript: psychoClick()'>
                                            </div>
                                        </td>
                                        <td>
                                            <label>Yes</label>
                                        </td>

                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='psychoRecentV' id='notTreated' value='False' checked onClick='javascript: psychoClick()'>
                                            </div>
                                        </td>
                                        <td>
                                            <label>No</label>
                                        </td>
                                    </tr>
                                </table>

                                <ul>
                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='psychoWhyRecentV' id='psychoWhyRecentV_label'>
                                                        For what were you being treated?
                                                    </label>
                                                </li>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <textarea name='psychoWhyRecentV' id='psychoWhyRecentV' rows='2' cols='59'>{{fields.psychoWhyRecentV}}</textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                    </table>

                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label id='longAgoTreatment_label'>
                                                        How long ago did you receive counseling or treatment?
                                                    </label>
                                                </li>
                                            </td>
                                        </tr>
                                    </table>
                                    <table>
                                        <tr>
                                            <td>
                                                <input type='number' name='longAgoTreatRecentVmos' id='longAgoTreatRecentVmos' style='width:40px;' value='{{fields.longAgoTreatRecentVmos}}'>
                                            </td>
                                            <td>
                                                <div id='numberLabel'>
                                                    <label for='longAgoTreatRecentVmos' id='longAgoTreatRecentVmos_label'>
                                                        months
                                                    </label>
                                                </div>
                                            </td>

                                            <td>
                                                <input type='number' name='longAgoTreatRecentVyrs' id='longAgoTreatRecentVyrs' style='width:40px;' value='{{fields.longAgoTreatRecentVyrs}}'>
                                            </td>
                                            <td>
                                                <div id='numberLabel'>
                                                    <label for='longAgoTreatRecentVyrs' id='longAgoTreatRecentVyrs_label'>
                                                        years
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                    </table>

                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='didCompleteTreatRecentV' id='didCompleteTreatRecentV_label'>
                                                        Did you complete the program?
                                                    </label>
                                                </li>
                                            </td>

                                            <td>
                                                <div id='psychoRadio'>
                                                    <input type='radio' name='didCompleteTreatRecentV' id='didComplete' value='True' checked onClick='javascript: AHcompletedRadioActivate()'>
                                                </div>
                                            </td>
                                            <td>
                                                <label for='didComplete' id='Completed_label'>Yes</label>
                                            </td>

                                            <td>
                                                <div id='psychoRadio'>
                                                    <input type='radio' name='didCompleteTreatRecentV' id='notCompleted' value='False' onClick='javascript: AHcompletedRadioActivate()'>
                                                </div>
                                            </td>
                                            <td>
                                                <label for='notCompleted' id='notCompleted_label2'>No</label>
                                            </td>
                                        </tr>
                                    </table>

                                    <table>
                                        <tr>
                                            <td>
                                                <label for='reasonNotCompleteRecentV' id='reasonNotCompleteRecentV_label'>Why not?</label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <textarea rows='2' cols='59' name='reasonNotCompleteRecentV' id='reasonNotCompleteRecentV'>{{fields.reasonNotCompleteRecentV}}</textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </ul>

                            </form>
                        </div>
                    </div>

                    <div class="row">
                <!-- _____________________________________________BUTTONS_______________________________________________ -->

                        <table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                            <tr>
                                <td>
                                    <div style='margin-left:12px;'>
                                        <a href="#menu-toggle" id="menu-toggle">
                                            <button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
                                        </a>
                                    </div>
                                </td>

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: continue_to_am_AH2();' id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>

{% endblock %}



                  								








