{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am({{current_section}}, {{json_data}});">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <table class='session-side'>
            <tr>
              <td>
                <div id='sideBarMainHeader'>
                  Session Details:
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div style='color:#fee047'>
                  <h4>Anger Management</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                          <span class='sidebar-name'>{{AM.client.fname}} {{AM.client.lname}}</span>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div id='sidebar-space-lower2'>
                          <span class="sidebar-id">{{AM.client.clientID}}</span>
                      </div>
              </td>
            </tr>



            <!-- <div style='margin-bottom: 80px;'></div> -->
            <tr>
              <td>
                <div id='sidebar-space-lower'>
                          <h4>Progress:</h4>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.AMdemo}}'>
                  <img src="{{image.demo_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_demographic/');" name='' id=''>
                    Demographics
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMdh}}'>
                  <img src="{{image.dh_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_drugHistory/');" name='asiGeneralBtn' id='asiGeneralBtn'>
                     Drug History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMchild}}'>
                  <img src="{{image.child_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_childhood/');" name='asiMedicalBtn' id='asiMedicalBtn'>
                    Childhood
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMah1}}'>
                  <img src="{{image.ah1_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_angerHistory/');" name='asiEmploymentBtn' id='asiEmploymentBtn'>
                    Anger History I
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMah2}}'>
                  <img src="{{image.ah2_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_angerHistory2/');" name='asiDrug1Btn' id='asiDrug1Btn'>
                    Anger History II
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMah3}}'>
                  <img src="{{image.ah3_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_angerHistory3/');" name='asiDrug2Btn' id=''>
                    Anger History III
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMconnect}}'>
                  <img src="{{image.connect_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_connections/');" name='' id=''>
                    Abuse Connections
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMworst}}'>
                  <img src="{{image.worst_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_worst/');" name='' id=''>
                    Worst Episodes
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMtarget}}'>
                  <img src="{{image.target_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_angerTarget/');" name='' id=''>
                    Anger Target
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMfamily}}'>
                  <img src="{{image.family_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_familyOrigin/');" name='' id=''>
                    Family
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMcurrent}}'>
                  <img src="{{image.current_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_problems/');" name='' id=''>
                    Current Problems
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMcontrol}}'>
                  <img src="{{image.control_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_control/');" name='' id=''>
                    Anger Control
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMfinal}}'>
                  <img src="{{image.final_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_final/');" name='' id=''>
                    Additional Info
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='exit_btn_text'>
                  <img src="{% static 'images/exitBtn.png' %}" alt="exit_icon" class='exit_icon'>
                  <a href="javascript: universal_generic_exit('am', '/am_angerHistory2/');" name='sourceBtn' class='exit_a_tag'>
                    Exit
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <div class="form_headings">
                    <h3 id='am-h2'>Anger Management: Most Recent Anger Episode II</h3>
                </div>

                <div class="container">
                    <div class="row">                   
                        <div class="col-md-5 col-sm-5">
                            <form action='/am_angerHistory3/' method='post' id='am_demo'> {% csrf_token %}
                                <input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
                                <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>

                                <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
                                <input type='hidden' name='save_section' id='save_section' value='/am_angerHistory2/'>
                                <input type='hidden' name='exit_type' id='exit_type' value='mh'>
                                <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
                                <input type='hidden' name='save_this' id='save_this' value=''>

                                <!-- REAL DATA ENTRIES -->
                                <input type='hidden' value='' name='m_depress30RecentV' id='m_depress30RecentV'>
                                <input type='hidden' value='' name='m_depress30ExplainRecentV' id='m_depress30ExplainRecentV'>
                                <input type='hidden' value='' name='m_anxietyRecentV' id='m_anxietyRecentV'>
                                <input type='hidden' value='' name='m_anxietyExplainRecentV' id='m_anxietyExplainRecentV'>
                                <input type='hidden' value='' name='m_hallucinationRecentV' id='m_hallucinationRecentV'>
                                <input type='hidden' value='' name='m_hallucinationLastV' id='m_hallucinationLastV'>
                                <input type='hidden' value='' name='m_understandingRecentV' id='m_understandingRecentV'>
                                <input type='hidden' value='' name='m_understandingExplainRecentV' id='m_understandingExplainRecentV'>
                                <input type='hidden' value='' name='m_troubleControlRecentV' id='m_troubleControlRecentV'>
                                <input type='hidden' value='' name='m_lastTimeTroubleControl' id='m_lastTimeTroubleControl'>
                                <input type='hidden' value='' name='m_controlTrigger' id='m_controlTrigger'>
                                <input type='hidden' value='' name='m_suicide30RecentV' id='m_suicide30RecentV'>
                                <input type='hidden' value='' name='m_suicide30ExplainRecentV' id='m_suicide30ExplainRecentV'>
                                <input type='hidden' value='' name='m_suicideTodayRecentV' id='m_suicideTodayRecentV'>
                                <input type='hidden' value='' name='m_suicideTodayPlanRecentV' id='m_suicideTodayPlanRecentV'>
                                <input type='hidden' value='' name='m_suicideTodayExplainRecentV' id='m_suicideTodayExplainRecentV'>
                                <input type='hidden' value='' name='m_hasAttemptedSuicide' id='m_hasAttemptedSuicide'>
                                <input type='hidden' value='' name='m_hasAttemptedExplainRecentV' id='m_hasAttemptedExplainRecentV'>
                                

                                <!-- ____________________________LEFT SIDE_______________________________ -->
                                <table>
                                    <tr>
                                        <td>
                                            <label for='depress30RecentV'>
                                                1. Have you experienced serious depression, sadness,
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                hopelessness, loss of interest, or difficulty with daily
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td>
                                            <label for='depress30RecentV'>
                                                functions in your lifetime?
                                            </label>
                                        </td>
                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='depress30RecentV' id='hasExperience' onClick='javascript: explainDep();' value='True'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='hasExperience'>Yes</label>
                                        </td>

                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='depress30RecentV' id='noExperience' onClick='javascript: explainDep();' checked value='False'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='noExperience'>No</label>
                                        </td>
                                    </tr>
                                </table>

                                <ul>
                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='depress30ExplainRecentV' id='depress30ExplainRecentV_label'>Please explain:</label>
                                                </li>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <textarea rows='2' cols='60' name='depress30ExplainRecentV' id='depress30ExplainRecentV'>{{fields.depress30ExplainRecentV}}</textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </ul>


                                <table>
                                    <tr>
                                        <td>
                                            <label for='anxietyRecentV'>
                                                2. Have You experienced serious anxiety, tension,
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                up-tightness, stress, unreasonably worried, or inability
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td>
                                            <label for='anxietyRecentV'>
                                                to relax?
                                            </label>
                                        </td>
                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='anxietyRecentV' id='hasTension' onClick='javascript: tensionRadio();' value='True'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='hasTension'>Yes</label>
                                        </td>

                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='anxietyRecentV' id='noTension' onClick='javascript: tensionRadio();' checked value='False'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='noTension'>No</label>
                                        </td>
                                    </tr>
                                </table>

                                <ul>
                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='anxietyExplainRecentV' id='anxietyExplainRecentV_label'>When was the last time and how often does this occur?</label>
                                                </li>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <textarea rows='2' cols='60' name='anxietyExplainRecentV' id='anxietyExplainRecentV'>{{fields.anxietyExplainRecentV}}</textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </ul>



                                <table>
                                    <tr>
                                        <td>
                                            <label for='hallucinationRecentV'>
                                                3. Have you experienced hallucinations, saw things, or
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td>
                                            <label for='hallucinationRecentV'>
                                                heard voices that were not there?
                                            </label>
                                        </td>
                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='hallucinationRecentV' id='hasHallu' onClick='javascript: halluRadio();' value='True'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='hasHallu'>Yes</label>
                                        </td>

                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='hallucinationRecentV' id='noHallu' onClick='javascript: halluRadio();' checked value='False'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='noHallu'>No</label>
                                        </td>
                                    </tr>
                                </table>

                                <ul>
                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='hallucinationLastV' id='hallucinationLastV_label'>When was the last time you experienced hallucinations?</label>
                                                </li>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <textarea rows='2' cols='60' name='hallucinationLastV' id='hallucinationLastV'>{{fields.hallucinationLastV}}</textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </ul>



                                <table>
                                    <tr>
                                        <td>
                                            <label for='understandingRecentV'>
                                                4. Have you experienced trouble understanding, concentrating,
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td>
                                            <label for='understandingRecentV'>
                                                or remembering?
                                            </label>
                                        </td>
                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='understandingRecentV' id='hasTroubleAH2' onClick='javascript:
                                                troubleRadioAH2();' value='True'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='hasTroubleAH2'>Yes</label>
                                        </td>

                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='understandingRecentV' id='noTroubleAH2' onClick='javascript: troubleRadioAH2();' checked value='False'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='noTroubleAH2'>No</label>
                                        </td>
                                    </tr>
                                </table>

                                <ul>
                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='understandingExplainRecentV' id='understandingExplainRecentV_label'>Please explain:</label>
                                                </li>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <textarea rows='2' cols='60' name='understandingExplainRecentV' id='understandingExplainRecentV'>{{fields.understandingExplainRecentV}}</textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </ul>
                  
                        </div>

                        <div class="col-md-5 col-sm-5">
                                <!-- ____________________________RIGHT SIDE_______________________________ -->

                                <table>
                                    <tr>
                                        <td>
                                            <label for='troubleControlRecentV'>
                                                5. Have you experienced trouble controlling violent behavior,
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td>
                                            <label for='troubleControlRecentV'>
                                                including episodes of rage or violence?
                                            </label>
                                        </td>
                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='troubleControlRecentV' id='canControl' onClick='javascript:
                                                troubleControlAH2();' value='True'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='canControl'>Yes</label>
                                        </td>

                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='troubleControlRecentV' id='canNotControl' onClick='javascript: troubleControlAH2();' checked value='False'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='canNotControl'>No</label>
                                        </td>
                                    </tr>
                                </table>

                                <ul>
                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='lastTimeTroubleControl' id='lastTimeTroubleControl_label'>Please explain:</label>
                                                </li>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <textarea rows='2' cols='60' name='lastTimeTroubleControl' id='lastTimeTroubleControl'>{{fields.lastTimeTroubleControl}}</textarea>
                                            </td>
                                        </tr>
                                        <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                    </table>

                                    <table>
                                        <tr>
                                            <td>
                                                <label for='controlTrigger' id='controlTrigger_label'>
                                                    What usually triggers this behavior?
                                                </label>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <textarea rows='2' cols='60' name='controlTrigger' id='controlTrigger'>{{fields.controlTrigger}}</textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </ul>



                                <table>
                                    <tr>
                                        <td>
                                            <label for='suicide30RecentV'>
                                                6. Have you experienced thoughts of suicide in the past 30 days
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td>
                                            <label for='suicide30RecentV'>
                                                or in your lifetime?
                                            </label>
                                        </td>
                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='suicide30RecentV' id='suicideThoughts' onClick='javascript:
                                                suicide30recent();' value='True'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='suicideThoughts'>Yes</label>
                                        </td>

                                        <td>
                                            <div id='psychoRadio'>
                                                <input type='radio' name='suicide30RecentV' id='noSuicideThoughts' onClick='javascript: suicide30recent();' checked value='False'>
                                            </div>
                                        </td>
                                        <td>
                                            <label for='noSuicideThoughts'>No</label>
                                        </td>
                                    </tr>
                                </table>

                                <ul>
                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='suicide30ExplainRecentV' id='suicide30ExplainRecentV_label'>Please explain:</label>
                                                </li>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <textarea rows='2' cols='60' name='suicide30ExplainRecentV' id='suicide30ExplainRecentV'>{{fields.suicide30ExplainRecentV}}</textarea>
                                            </td>
                                        </tr>
                                        <tr><td><div id='AH_space'></div></td></tr> <!-- SPACE -->
                                    </table>

                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='suicideTodayRecentV' id='suicideTodayRecentV_label'>
                                                        Do you feel suicidal today?
                                                    </label>
                                                </li>
                                            </td>

                                            <td>
                                                <div id='psychoRadio'>
                                                    <input type='radio' name='suicideTodayRecentV' id='isSuicidalToday' onClick='javascript: midLevelSubAH2();' value='True'>
                                                </div>
                                            </td>
                                            <td>
                                                <label for='isSuicidalToday' id='isSuicidalToday_label'>Yes</label>
                                            </td>

                                            <td>
                                                <div id='psychoRadio'>
                                                    <input type='radio' name='suicideTodayRecentV' id='isNotSuicidalToday' onClick='javascript: midLevelSubAH2();' checked value='False'>
                                                </div>
                                            </td>
                                            <td>
                                                <label for='isNotSuicidalToday' id='isNotSuicidalToday_label'>No</label>
                                            </td>
                                        </tr>
                                    </table>

                                    <ul>
                                        <table>
                                            <tr>
                                                <td>
                                                    <li>
                                                        <label for='suicideTodayPlanRecentV' id='suicideTodayPlanRecentV_label'>
                                                            Do you have a plan?
                                                        </label>
                                                    </li>
                                                </td>

                                                <td>
                                                    <div id='psychoRadio'>
                                                        <input type='radio' name='suicideTodayPlanRecentV' id='doesHavePlan' onClick='javascript: planRadioAH2();' value='True'>
                                                    </div>
                                                </td>
                                                <td>
                                                    <label for='doesHavePlan' id='doesHavePlan_label'>Yes</label>
                                                </td>

                                                <td>
                                                    <div id='psychoRadio'>
                                                        <input type='radio' name='suicideTodayPlanRecentV' id='doesNotHavePlan' onClick='javascript: planRadioAH2();' checked value='False'>
                                                    </div>
                                                </td>
                                                <td>
                                                    <label for='doesNotHavePlan' id='doesNotHavePlan_label'>No</label>
                                                </td>
                                            </tr>
                                        </table>
                                    
                                        <table>
                                            <tr>
                                                <td>
                                                    <li>
                                                        <label for='suicideTodayExplainRecentV' id='suicideTodayExplainRecentV_label'>
                                                            Describe your plan:
                                                        </label>
                                                    </li>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <textarea rows='2' cols='53' name='suicideTodayExplainRecentV' id='suicideTodayExplainRecentV'>{{fields.suicideTodayExplainRecentV}}</textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </ul>
                                </ul>

                                <ul>
                                    <table>
                                        <tr>
                                            <td>
                                                <li>
                                                    <label for='hasAttemptedSuicide' id='hasAttemptedSuicide_label'>
                                                        Have you ever attempted suicide?
                                                    </label>
                                                </li>
                                            </td>

                                            <td>
                                                <div id='psychoRadio'>
                                                    <input type='radio' name='hasAttemptedSuicide' id='haveAttempted' onClick='javascript: activateAH2SubSuicide()' value='True'>
                                                </div>
                                            </td>

                                            <td>
                                                <label for='haveAttempted' id='haveAttempted_label'>Yes</label>
                                            </td>

                                            <td>
                                                <div id='psychoRadio'>
                                                    <input type='radio' name='hasAttemptedSuicide' id='haveNotAttempted' onClick='javascript: activateAH2SubSuicide()' checked value='False'>
                                                </div>
                                            </td>

                                            <td>
                                                <label for='haveNotAttempted' id='haveNotAttempted_label'>No</label>
                                            </td>
                                        </tr>
                                    </table>

                                    <ul>
                                        <table>
                                            <tr>
                                                <td>
                                                    <li>
                                                        <label for='hasAttemptedExplainRecentV' id='hasAttemptedExplainRecentV_label'>
                                                            Please explain:
                                                        </label>
                                                    </li>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <textarea rows='2' cols='53' name='hasAttemptedExplainRecentV' id='hasAttemptedExplainRecentV'>{{fields.hasAttemptedExplainRecentV}}</textarea>
                                                </td>
                                            </tr>
                                        </table>
                                    </ul>
                                </ul>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                <!-- _____________________________________________BUTTONS_______________________________________________ -->

                        <table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                            <tr>
                                <td>
                                    <div style='margin-left:12px;'>
                                        <a href="#menu-toggle" id="menu-toggle">
                                            <button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
                                        </a>
                                    </div>
                                </td>


                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick="javascript: continue_am_form('/am_angerHistory2/');" id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>

{% endblock %}



                  								








