{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<h1>Childhood History</h1>

Session ID: {{session.id}} <br>
Anger Management ID: {{AM.id}} <br>
Back: {{back}}

<form action='/am_angerHistory/' method='post' id='am_demo'> {% csrf_token %}
	<input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
	<input type='hidden' value='{{session.id}}' id='session_id' name='session_id'>
	<input type='hidden' value='{{back}}' id='back' name='back'>

	<table>
		<tr>
			<td>
				
			</td>
		</tr>
	</table>

	<input type='submit' value='submit'>
</form>


	<table class='toggle-div-page'>
        <tr>
            <td id="error-div-main">
                <p class='error-messages'></p>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <div style='margin-left:12px;'>
				    <a href="#menu-toggle" id="menu-toggle" class='but_a'>
				        <button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				    </a>
				</div>
			</td>

			<td>
			    <div id="submit-space">
				    <a href='javascript: back({{back_url}});' class='but_a'>
				        <button type='button' id='back_btn' name='back_btn'>Back</button>
				    </a>
				</div>
			</td>

			<td>
			    <div id="submit-space">
				    <a href="#" class='but_a'>
				        <button type='button' onClick='javascript: continue_am();' id='continue'>Continue</button>
				    </a>
				</div>
			</td>
		</tr>
	</table>

{% endblock %}