<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am({{current_section}}, {{json_data}});">
    <form action='' method='post' id='am_demo' name='am_demo'> {% csrf_token %}
      <input type='hidden' name='client_id' id='client_id' value='{{client.id}}'>
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
      <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
      <input type='hidden' name='save_section' id='save_section' value='/am_demographic/'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>

      <input type='hidden' name='m_own' id='m_own'>
      <input type='hidden' name='m_drop_out' id='m_drop_out'>
      <input type='hidden' name='m_health_problem' id='m_health_problem'>
      <input type='hidden' name='m_medication' id='m_medication'>
      <input type='hidden' name='m_resasonDO' id='m_resasonDO'>
      <input type='hidden' name='m_health_exp' id='m_health_exp'>
      <input type='hidden' name='m_whatMedicine' id='m_whatMedicine'>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Anger Management Childhood History</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_demographic/');">
                              <div  class='iml-button'>Demographics</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_drugHistory/');">
                              <div  class='iml-button'>Drug History</div>
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              <div  class='iml-button'>Childhood History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory/');">
                              <div  class='iml-button'>Recent Episodes I</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory2/');">
                              <div  class='iml-button'>Recent Episodes II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory3/');">
                              <div  class='iml-button'>Recent Episodes III</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_connections/');">
                              <div  class='iml-button'>Abuse Connections</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_worst/');">
                              <div  class='iml-button'>Worst Episode</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerTarget/');">
                              <div  class='iml-button'>Anger Targets</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_familyOrigin/');">
                              <div  class='iml-button'>Family of Origin</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_problems/');">
                              <div  class='iml-button'>Current Problems</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_control/');">
                              <div  class='iml-button'>Anger Control</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_final/');">
                              <div  class='iml-button'>Additional Info</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:20px;'>
                    <h4>Childhood History</h4>
                    <table>
                      <tr>
                        <td><div class='iml-num-div'>1.</div></td>
                        <td><div class='iml-label'>By whom were you raised?</div></td>
                        <td>
                          <div>
                            <select name='raisedBy' id='raisedBy'>
                              <option value='None Selected'>Select</option>
                              <option value='Parents'>Parents</option>
                              <option value='Grandparents'>Grandparents</option>
                              <option value='Relatives'>Relatives</option>
                              <option value='Foster Care'>Foster Care</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>2.</div></td>
                        <td><div class='iml-label'>Are you parents living or deceased?</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-sub-label-left2'><li>Mother:</li></div></td>
                        <td><div class='iml-radio'><input type='radio' name='momAlive' id='momAlive' value='True'></div></td>
                        <td><div class='iml-sub-label'>Living</div></td>
                        <td><div class='iml-radio'><input type='radio' name='momAlive' id='momNotAlive' value='True'></div></td>
                        <td><div class='iml-sub-label'>Deceased</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-sub-label-left2'><li>Father:</li></div></td>
                        <td><div class='iml-radio'><input type='radio' name='dadAlive' id='dadAlive' value='True'></div></td>
                        <td><div class='iml-sub-label'>Living</div></td>
                        <td><div class='iml-radio'><input type='radio' name='dadAlive' id='dadNotAlive' value='True'></div></td>
                        <td><div class='iml-sub-label'>Deceased</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>3.</div></td>
                        <td><div class='iml-label'>Did you experience childhood trauma?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='childTrama' id='yesTrauma' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='childTrama' id='noTrauma' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div class='iml-sub-label-left'><li>Please explain childhood trauma:</li></div></td></tr>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='2' cols='60' name='traumaExplain' id='traumaExplain' value=''></textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>4.</div></td>
                        <td><div class='iml-label'>Explain how you came to leave home:</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='2' cols='60' name='howLeftHome' id='howLeftHome' value=''></textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>5.</div></td>
                        <td><div class='iml-label'>Number of siblings:</div></td>
                        <td><div class='iml-num'><input type='number' name='num_siblings' id='num_siblings' value=''></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>6.</div></td>
                        <td><div class='iml-label'>Is your relationship with you siblings close/distant?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='siblingsClose' id='sibsClose' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='siblingsClose' id='sibsDistant' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div class='iml-sub-label-left'><li>Please explain what made sibling relationships close/distant:</li></div></td></tr>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='2' cols='60' name='siblingsRelationshipExplain' id='siblingsRelationshipExplain' value=''></textarea></div></td></tr>
                    </table>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:30px; margin-top:3%;'>
                    <table>
                      <tr>
                        <td><div class='iml-num-div'>7.</div></td>
                        <td><div class='iml-label'>Is your relationship with you father close/distant?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='dadClose' id='yesDad' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='dadClose' id='noDad' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div class='iml-sub-label-left'><li>Please explain what made it close/distant:</li></div></td></tr>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='2' cols='60' name='dadCloseExplain' id='dadCloseExplain' value=''></textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>8.</div></td>
                        <td><div class='iml-label'>Is your relationship with you mother close/distant?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='momClose' id='yesMom' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='momClose' id='noMom' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div class='iml-sub-label-left'><li>Please explain what made it close/distant:</li></div></td></tr>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='2' cols='60' name='momCloseExplain' id='momCloseExplain' value=''></textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>9.</div></td>
                        <td><div class='iml-label'>Were you or your siblings abused as children?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='wasAbused' id='yesAbuse' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='wasAbused' id='noAbuse' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-sub-label-left'><li>By whom?</li></div></td>
                        <td><div><input type='text' name='abusedBy' id='abusedBy' value=''></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div class='iml-sub-label-left'><li>What was the impact?</li></div></td></tr>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='3' cols='60' name='abuseImpact' id='abuseImpact'></textarea></div></td></tr>
                      </tr>
                    </table>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('am', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: continue_am_form('{{current_section}}');">Save & Continue</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
