{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" style='text-align:center'>

	<div class='header-images'>
      <div class="container">
            <div class="row">                   
                  <div class="col-md-12">
                        <div id='header-text'>
                              {{header_phrase}}
                        </div>
                  </div>
            </div>
        </div>
    </div>

    <div style='padding-top:5%;'>
    	<div id='form-deletion-main-phrase'>
    		{{sub1_phrase}}
    	</div>
    </div>

    <div style='padding-top:5%'>
    	<span>{{AM.client.fname}}, &nbsp{{AM.client.lname}}</span><br>
    	<span>{{AM.client.clientID}}</span><br>

    	<label>Type:</label>
    	<span>{{session.s_type.session_type}}</span> <br>

    	<label>Created on:</label>
    	<span>{{AM.start_time}}</span> <br>

    	<label>Status:</label>
    	<span>{{status}}</span> <br>
    </div>

	<form action='/am_deleted/' method='POST' id='exit_return_form'> {% csrf_token %}
		<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
		<input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
        <input type='hidden' name='exit_type_sub' id='exit_type_sub' value=''>
	</form> 

	<div style='padding-top:5%'>
		<div class='toggle-div-page'>
		    <a href="javascript: " id="continue">
                <button type='button' onClick='javascript: exit_am2("{{trigger_btn}}");' id='exit_session'>{{trigger_btn}}</button>
            </a>

            <a href="javascript: " id="continue">
                <button type='button' onClick='javascript: exit_am2("exit_save");' id='continue'>Cancel</button>
            </a>
        </div>
	</div>

</body>

{% endblock %}