<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am({{current_section}}, {{json_data}});">
    <form action='' method='post' id='am_demo' name='am_demo'> {% csrf_token %}
      <input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>

      <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
      <input type='hidden' name='save_section' id='save_section' value='/am_connections/'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>


      <!-- REAL DATA ENTRIES -->
      <input type='hidden' value='' name='m_angerWorse' id='m_angerWorse'>
      <input type='hidden' value='' name='m_troubleWhenUsing' id='m_troubleWhenUsing'>
      <input type='hidden' value='' name='m_lessAngry' id='m_lessAngry'>
      <input type='hidden' value='' name='m_othersTellMe' id='m_othersTellMe'>
      <input type='hidden' value='' name='m_noConnection' id='m_noConnection'>
      <input type='hidden' value='' name='m_otherConnectionsUsing' id='m_otherConnectionsUsing'>
      <input type='hidden' value='' name='m_connectionExplain' id='m_connectionExplain'>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Anger Management Abuse Connections</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_demographic/');">
                              <div  class='{{class.AMdemo}}'>Demographics</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_drugHistory/');">
                              <div  class='{{class.AMdh}}'>Drug History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_childhood/');">
                              <div  class='{{class.AMchild}}'>Childhood History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory/');">
                              <div  class='{{class.AMah1}}'>Recent Episodes I</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory2/');">
                              <div  class='{{class.AMah2}}'>Recent Episodes II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory3/');">
                              <div  class='{{class.AMah3}}'>Recent Episodes III</div>
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              <div  class='{{class.AMconnect}}'>Abuse Connections</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_worst/');">
                              <div  class='{{class.AMworst}}'>Worst Episode</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerTarget/');">
                              <div  class='{{class.AMtarget}}'>Anger Targets</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_familyOrigin/');">
                              <div  class='{{class.AMfamily}}'>Family of Origin</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_problems/');">
                              <div  class='{{class.AMcurrent}}'>Current Problems</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_control/');">
                              <div  class='{{class.AMcontrol}}'>Anger Control</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_final/');">
                              <div  class='{{class.AMfinal}}'>Additional Info</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <div id='iml-single-header'>Connections Between Your Use of Alcohol/Drugs and Anger/Aggression:</div>
                  <div id='iml-single-sub-head'>Check all that apply</div>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:80%; height:100%; margin-left:70px;'>
                    

                    <table>
                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='angerWorse' id='angerWorse' value='anger worse'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Anger/Aggression gets worse when using.</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='troubleWhenUsing' id='troubleWhenUsing' value='anger worse'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>I only get into trouble with my anger/aggression when using.</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='lessAngry' id='lessAngry' value='anger worse'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>I'm less angry/aggressive when I drink or use drugs.</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='othersTellMe' id='othersTellMe' value='anger worse'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Others tell me there is a connection but I have trouble believing it.</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='noConnection' id='noConnection' value='anger worse'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>There seems to be no connection at all.</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='otherConnectionsUsing' id='otherConnectionsUsing' value='anger worse' onClick='javascript: connectionCheck();'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Other alcohol/drug connections with anger/aggression</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div class='iml-sub-label-left3' id='lab1'><li>Please explain:</li></div></td></tr>
                      <tr><td><div class='iml-text-area-sub2'><textarea rows='4' cols='60' name='connectionExplain' id='connectionExplain'>{{fields.connectionExplain}}</textarea></div></td></tr>
                    </table>
                  </div> 
                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('am', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: continue_am_form('{{current_section}}');">Save & Continue</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
