{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initalize_am_connections();">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<table class='session-side'>
        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<h3>Client Profile</h3>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-name'>{{client.fname}} {{client.lname}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span class="sidebar-id">{{client.clientID}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-label1'>DOB: </span> <span class='sidebar-ans'>{{client.dob}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<span class='sidebar-label1'>SS: </span> <span class='sidebar-ans'>{{client.ss_num}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span id='sidebar-fill'>{{client.street_no}} {{client.street_name}} {{client.apartment_no}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<span id='sidebar-fill'>{{client.city}}, {{client.state}} {{client.zip_code}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span id='sidebar-fill'>{{phone}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span id='sidebar-fill'>{{client.email}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<h3>Session Info</h3>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-session-info'>{{session.s_type}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-session-info2'>{{session.start}}</h6>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-label1'>Duration: </span><span class='sidebar-duration'>{{session.s_type.duration}} minutes</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-duration'>${{session.s_type.fee}}.00</span>
                    	</div>
        			</td>
        		</tr>
        	</table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
            	<div class="form_headings">
                	<h3 id='am-h2'>Anger Management: Anger and Alcohol/Drugs Connections</h3>
                </div>

	            <div class="container">
	            	<div class="row">                   
	                  	<div class="col-md-5 col-sm-5">
	                  		<form action='/am_worst/' method='post' id='am_demo'> {% csrf_token %}
	                  			<input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
	                  			<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
	                  			<input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
	                  			<input type='hidden' name='back' id='back' value='false'>
	                            <input type='hidden' name='exit_type' id='exit_type' value=''>

	                            <!-- REAL DATA ENTRIES -->
	                            <input type='hidden' value='' name='m_angerWorse' id='m_angerWorse'>
	                            <input type='hidden' value='' name='m_troubleWhenUsing' id='m_troubleWhenUsing'>
	                            <input type='hidden' value='' name='m_lessAngry' id='m_lessAngry'>
	                            <input type='hidden' value='' name='m_othersTellMe' id='m_othersTellMe'>
	                            <input type='hidden' value='' name='m_noConnection' id='m_noConnection'>
	                            <input type='hidden' value='' name='m_otherConnectionsUsing' id='m_otherConnectionsUsing'>
	                            <input type='hidden' value='' name='m_connectionExplain' id='m_connectionExplain'>
	                          

	                            <h4>Check all that apply:</h4>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='angerWorse' id='angerWorse'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Anger/aggression gets worse when using.</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='troubleWhenUsing' id='troubleWhenUsing'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>I only get in trouble with my anger/aggression when using.</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='lessAngry' id='lessAngry'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>I'm less angry/aggressive when I drink or use drugs.</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='othersTellMe' id='othersTellMe'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Others tell me there is a connection but I have trouble believing it.</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='noConnection' id='noConnection'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>There seems to be no connection at all.</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='otherConnectionsUsing' id='otherConnectionsUsing' onClick="javascript: connectionCheck();">	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Other alcohol/drug connections with anger/aggression.</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<div id='right_17px'>
	                            			    <label for='connectionExplain' id='explain_label'>Explain:</label>
	                            			</div>
	                            		</td>
	                            	</tr>

	                            	<tr>
	                            		<td>
	                            			<div id='right_17px'>
	                            				<textarea cols='60' rows='5' name='connectionExplain' id='connectionExplain'></textarea>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>
	                        </form>	              
	                    </div>
	                </div>

	                <div class="row">
				<!-- _____________________________________________BUTTONS_______________________________________________ -->

						<table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                        	<tr>
                        		<td>
                        			<div style='margin-left:12px;'>
				                        <a href="#menu-toggle" id="menu-toggle">
				                        	<button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <form action='/exit_am/' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
                                  <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
                                  <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                  <input type='hidden' name='exit_type' id='exit_type' value=''>
                                  <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                                </form>
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: exit_am("exit_only");' id='continue'>Delete and Exit</button>
                                </a>
                            </div>
                          </td>

			                    <td>
			                    	<div id="submit-space">
				                        <a href="javascript: " id="continue">
				                        	<button type='button' onClick='javascript: exit_am("exit_save");' id='continue'>Save and Exit</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: continue_to_worst();' id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
			                </tr>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

{% endblock %}







