{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initalize_am_control({{json_data}});">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<table class='session-side'>
                <form action='/exit_am/' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
                    <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                    <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                    <input type='hidden' name='exit_type_sub' id='exit_type_sub' value=''>
                </form>
        		<!-- <tr>
        			<td>
        				<div style='font-size:20px;'>
        					<h4>Details:</h4>
        				</div>
        			</td>
        		</tr> -->

        		<tr>
        			<td>
        				<div style='color:#fee047'>
        					<h4>{{session.s_type}}</h4>
        				</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-name'>{{AM.client.fname}} {{AM.client.lname}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span class="sidebar-id">{{AM.client.clientID}}</span>
                    	</div>
        			</td>
        		</tr>



        		<!-- <div style='margin-bottom: 80px;'></div> -->
        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<h4>Completed:</h4>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div class='{{class.demo}}'>
        					<img src="{{image.demo_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideDemo();" name='demographicBtn' id='demographicBtn'>
        						Demographic
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.dh}}'>
        					<img src="{{image.dh_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideDH();" name='demographicBtn' id='demographicBtn'>
        						Drug History
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.child}}'>
        					<img src="{{image.child_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideChild();" name='demographicBtn' id='demographicBtn'>
        						Childhood History
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.ah1}}'>
        					<img src="{{image.ah1_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideAh1();" name='demographicBtn' id='demographicBtn'>
        						Anger History I
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.ah2}}'>
        					<img src="{{image.ah2_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideAh2();" name='demographicBtn' id='demographicBtn'>
        						Anger History II
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.ah3}}'>
        					<img src="{{image.ah3_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideAh3();" name='demographicBtn' id='demographicBtn'>
        						Anger History III
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.connect}}'>
        					<img src="{{image.connect_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideConnect();" name='demographicBtn' id='demographicBtn'>
        						Abuse Connections
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.worst}}'>
        					<img src="{{image.worst_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideWorst();" name='demographicBtn' id='demographicBtn'>
        						Worst Episode
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.target}}'>
        					<img src="{{image.target_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideTarget();" name='demographicBtn' id='demographicBtn'>
        						Anger Target
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.family}}'>
        					<img src="{{image.family_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideFamily();" name='demographicBtn' id='demographicBtn'>
        						Family of Origin
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.current}}'>
        					<img src="{{image.current_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideCurrent();" name='demographicBtn' id='demographicBtn'>
        						Current Problems
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.control}}'>
        					<img src="{{image.control_img}}" id='bullet-img'> &nbsp
        					<a href="#" name='demographicBtn' id='demographicBtn'>
        						Anger Control
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.final}}'>
        					<img src="{{image.final_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideFinal();" name='demographicBtn' id='demographicBtn'>
        						Additional Info
        					</a>
        				</div>
        			</td>
        		</tr>

                <tr>
              <td>
                <div class='side_option_head'>
                  <h4>Exit Options:</h4>
                </div>
              </td>
            </tr>

            <tr>  
              <td>
                <table class='icon_table'>      
                  <!-- BUTTON 1 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("exit_save");'>
                        <table>
                          <tr>
                            <td>
                              <div id='save_icon_btn' style='margin-left:30px;'>
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='save_icon_text' style='margin-left:30px;'>
                                Save
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>

                  <td><div style='margin-right:15px;'></div></td>

                  <!-- BUTTON 2 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("exit_only");'>
                        <table>
                          <tr>
                            <td>
                              <div id='trash_icon_btn'>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='trash_icon_text'>
                                Delete
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>
                </table>
              </td>
            </tr>
        	</table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
            	<div class="form_headings">
                	<h3 id='am-h2'>Anger Management: Anger Control</h3>

                </div>

	            <div class="container">
	            	<div class="row">                   
	                  	<div class="col-md-5 col-sm-5"> <!-- LEFT SIDE -->
	                  		<form action='/am_final/' method='post' id='am_demo'> {% csrf_token %}
	                  			<input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
	                  			<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
	                  			<input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
	                  			<input type='hidden' name='back_btn' id='back_btn' value=''>
	                            <input type='hidden' name='exit_type' id='exit_type' value=''>

	                            <!-- REAL DATA ENTRIES -->
	                            <input type='hidden' value='' name='m_neverAttemptedControl' id='m_neverAttemptedControl'>
	                            <input type='hidden' value='' name='m_talkToMyself' id='m_talkToMyself'>
	                            <input type='hidden' value='' name='m_whatSayYou' id='m_whatSayYou'>
	                            <input type='hidden' value='' name='m_leaveScene' id='m_leaveScene'>
	                            <input type='hidden' value='' name='m_howLongLeaveScene' id='m_howLongLeaveScene'>
	                            <input type='hidden' value='' name='m_whatDoLeave' id='m_whatDoLeave'>
	                            <input type='hidden' value='' name='m_relax' id='m_relax'>
	                            <input type='hidden' value='' name='m_howRelax' id='m_howRelax'>
	                            <input type='hidden' value='' name='m_selfHelpGroup' id='m_selfHelpGroup'>
	                            <input type='hidden' value='' name='m_otherControlAnger' id='m_otherControlAnger'>
	                            <input type='hidden' value='' name='m_doWhatOtherControl' id='m_doWhatOtherControl'>
	                          

	                            <h4>How have you attempted to control your anger?</h4>
	                            <span><em>Check all that apply</em></span>

	                            <div class='right-indent-form'>
	                            	<table>
	                            		<tr>
	                            			<td>
	                            				<input type='checkbox' name='neverAttemptedControl' id='neverAttemptedControl'>
	                            			</td>

	                            			<td>
	                            				<div id='checkbox_label_fix'>
	                            					<label>I never have.</label>
	                            				</div>
	                            			</td>
	                            		</tr>

	                            		<tr>
	                            			<td>
	                            				<input type='checkbox' name='talkToMyself' id='talkToMyself' onClick='javascript: talkMyself();'>
	                            			</td>

	                            			<td>
	                            				<div id='checkbox_label_fix'>
	                            					<label>Talk to myself.</label>
	                            				</div>
	                            			</td>
	                            		</tr>

	                            		<tr> <!-- DYNAMIC FIELD -->
	                            			<td></td>
	                            			<td>
	                            				<table>
	                            					<tr>
	                            						<td>
	                            							<div class='indentForm2'>
	                            								<label for='whatSayYou' id='whatSayYou_label'>What do you say to yourself to control your anger?</label>
	                            							</div>
	                            						</td>
	                            					</tr>

	                            					<tr>
	                            						<td>
	                            							<div class='indentForm2'>
	                            								<textarea cols='53' rows='2' name='whatSayYou' id='whatSayYou'>{{fields.whatSayYou}}</textarea>
	                            							</div>
	                            						</td>
	                            					</tr>
	                            				</table>
	                            			</td>
	                            		</tr>

	                            		<tr>
	                            			<td>
	                            				<input type='checkbox' name='leaveScene' id='leaveScene' onClick='javascript: leaveSceneCheckbox();'>
	                            			</td>

	                            			<td>
	                            				<div id='checkbox_label_fix'>
	                            					<label>Leave the scene.</label>
	                            				</div>
	                            			</td>
	                            		</tr>

	                            		<tr>
	                            			<td></td>
	                            			<td>
	                            				<table>
	                            					<tr>
	                            						<td>
	                            							<div class='indentForm2'>
	                            								<label for='howLongLeaveScene' name='howLongLeaveScene_label' id='howLongLeaveScene_label'>How long?</label>
	                            							</div>
	                            						</td>

	                            						<td>
	                            							<div id='inline-text-field'>
	                            								<input type='text' name='howLongLeaveScene' id='howLongLeaveScene' value='{{fields.howLongLeaveScene}}'>
	                            							</div>
	                            						</td>
	                            					</tr>
	                            				</table>
	                            			</td>
	                            		</tr>

	                            		<tr>
	                            			<td></td>
	                            			<td>
	                            				<div class='indentForm2'>
	                            					<label for='whatDoLeave' name='whatDoLeave_label' id='whatDoLeave_label'>What do you do?</label>
	                            				</div>
	                            			</td>
	                            		</tr>

	                            		<tr>
	                            			<td></td>
	                            			<td>
	                            				<div class='indentForm2'>
	                            					<textarea name='whatDoLeave' id='whatDoLeave' rows='2' cols='53'>{{fields.whatDoLeave}}</textarea>
	                            				</div>
	                            			</td>
	                            		</tr>
	                            	</table>
	                            </div>
	                    </div> <!-- END LEFT SIDE -->

	                    <div class="col-md-5 col-sm-5"> <!-- RIGHT SIDE -->
	                    		<div class='fix-right-col-margin'> <!-- THIS DIV IS TO MATCH THE HEIGHT OF EACH SIDE -->
	                    			<table>
	                    				<tr>
	                            			<td>
	                            				<input type='checkbox' name='selfHelpGroup' id='selfHelpGroup'>
	                            			</td>

	                            			<td>
	                            				<div id='checkbox_label_fix'>
	                            					<label>Go to a self help group such as A.A.</label>
	                            				</div>
	                            			</td>
	                            		</tr>

	                            		<tr>
	                            			<td>
	                            				<input type='checkbox' name='relax' id='relax' onClick='javascript: howRelaxCheckbox();'>
	                            			</td>

	                            			<td>
	                            				<div id='checkbox_label_fix'>
	                            					<label>Try to relax.</label>
	                            				</div>
	                            			</td>
	                            		</tr>

	                            		<tr> <!-- DYNAMIC FIELD -->
	                            			<td></td>
	                            			<td>
	                            				<table>
	                            					<tr>
	                            						<td>
	                            							<div class='indentForm2'>
	                            								<label for='howRelax' id='howRelax_label'>How?</label>
	                            							</div>
	                            						</td>
	                            					</tr>

	                            					<tr>
	                            						<td>
	                            							<div class='indentForm2'>
	                            								<textarea cols='53' rows='2' name='howRelax' id='howRelax'>{{fields.howRelax}}</textarea>
	                            							</div>
	                            						</td>
	                            					</tr>
	                            				</table>
	                            			</td>
	                            		</tr>

	                            		<tr>
	                            			<td>
	                            				<input type='checkbox' name='otherControlAnger' id='otherControlAnger' onClick='javascript: otherControlCheckbox();'>
	                            			</td>

	                            			<td>
	                            				<div id='checkbox_label_fix'>
	                            					<label>Other</label>
	                            				</div>
	                            			</td>
	                            		</tr>

	                            		<tr> <!-- DYNAMIC FIELD -->
	                            			<td></td>
	                            			<td>
	                            				<table>
	                            					<tr>
	                            						<td>
	                            							<div class='indentForm2'>
	                            								<label for='doWhatOtherControl' id='doWhatOtherControl_label'>What do you do?</label>
	                            							</div>
	                            						</td>
	                            					</tr>

	                            					<tr>
	                            						<td>
	                            							<div class='indentForm2'>
	                            								<textarea cols='53' rows='2' name='doWhatOtherControl' id='doWhatOtherControl'>{{fields.doWhatOtherControl}}</textarea>
	                            							</div>
	                            						</td>
	                            					</tr>
	                            				</table>
	                            			</td>
	                            		</tr>
	                    			</table>
	                    		</div>
	                        </form>	              
	                    </div>
	                </div>

	                <div class="row">
				<!-- _____________________________________________BUTTONS_______________________________________________ -->

						<table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                        	<tr>
                        		<td>
                        			<div style='margin-left:12px;'>
				                        <a href="#menu-toggle" id="menu-toggle">
				                        	<button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: continue_to_am_final();' id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
			                </tr>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

{% endblock %}







