{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initalize_am_problems();">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<table class='session-side'>
        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<h3>Client Profile</h3>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-name'>{{client.fname}} {{client.lname}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span class="sidebar-id">{{client.clientID}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-label1'>DOB: </span> <span class='sidebar-ans'>{{client.dob}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<span class='sidebar-label1'>SS: </span> <span class='sidebar-ans'>{{client.ss_num}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span id='sidebar-fill'>{{client.street_no}} {{client.street_name}} {{client.apartment_no}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<span id='sidebar-fill'>{{client.city}}, {{client.state}} {{client.zip_code}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span id='sidebar-fill'>{{phone}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span id='sidebar-fill'>{{client.email}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<h3>Session Info</h3>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-session-info'>{{session.s_type}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-session-info2'>{{session.start}}</h6>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-label1'>Duration: </span><span class='sidebar-duration'>{{session.s_type.duration}} minutes</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-duration'>${{session.s_type.fee}}.00</span>
                    	</div>
        			</td>
        		</tr>
        	</table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
            	<div class="form_headings">
                	<h3 id='am-h2'>Anger Management: Current Problems and History</h3>
                </div>

	            <div class="container">
	            	<div class="row">                   
	                  	<div class="col-md-5 col-sm-5">
	                  		<form action='/am_control/' method='post' id='am_demo'> {% csrf_token %}
	                  			<input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
	                  			<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
	                  			<input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
	                  			<input type='hidden' name='back' id='back' value='false'>
	                            <input type='hidden' name='exit_type' id='exit_type' value=''>

	                            <!-- REAL DATA ENTRIES -->
	                            <input type='hidden' value='' name='m_brainInjury' id='m_brainInjury'>
	                            <input type='hidden' value='' name='m_stroke' id='m_stroke'>
	                            <input type='hidden' value='' name='m_epilepsy' id='m_epilepsy'>
	                            <input type='hidden' value='' name='m_attentionDD' id='m_attentionDD'>
	                            <input type='hidden' value='' name='m_pms' id='m_pms'>
	                            <input type='hidden' value='' name='m_depression' id='m_depression'>
	                            <input type='hidden' value='' name='m_ptsd' id='m_ptsd'>
                                <input type='hidden' value='' name='m_otherSeriousIllness' id='m_otherSeriousIllness'>
                                <input type='hidden' value='' name='m_describeIssue' id='m_describeIssue'>
                                <input type='hidden' value='' name='m_currentlyOnMeds' id='m_currentlyOnMeds'>
                                <input type='hidden' value='' name='m_whichMeds' id='m_whichMeds'>	                          

	                            <h4>Check all that apply:</h4>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='brainInjury' id='brainInjury'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Brain Injury</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='stroke' id='stroke'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Stroke</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='epilepsy' id='epilepsy'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Epilepsy/Seizures</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='attentionDD' id='attentionDD'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Attention Deficit Disorder</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='pms' id='pms'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Premenstrual Syndrome</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

                                <table>
                                    <tr>
                                        <td>
                                            <input type='checkbox' name='depression' id='depression'>   
                                        </td>

                                        <td>
                                            <div id='checkbox_label_fix'>
                                                <label>Depression</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <input type='checkbox' name='ptsd' id='ptsd'>   
                                        </td>

                                        <td>
                                            <div id='checkbox_label_fix'>
                                                <label>PTSD</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='otherSeriousIllness' id='otherSeriousIllness' onClick="javascript: am_problems_check();">	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Other Serious Illness</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<div id='right_17px'>
	                            			    <label for='describeIssue' id='other_label'>Describe:</label>
	                            			</div>
	                            		</td>
	                            	</tr>

	                            	<tr>
	                            		<td>
	                            			<div id='right_17px'>
	                            				<textarea cols='50' rows='3' name='describeIssue' id='describeIssue'></textarea>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label for='currentlyOnMeds'>Is the client currently taking any medication?</label>
                                        </td>
                                   
                                        <td>
                                            <div id='move-radio-right'>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class='single-line-radio1'>
                                                                <input type='radio' name='currentlyOnMeds' id='onMeds' value='onMeds' onClick="javascript: am_problems_radio()">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <label for='onMeds'>Yes</label>
                                                        </td>
                                                                                                        
                                                        <td>
                                                            <div class='single-line-radio'>
                                                                <input type='radio' name='currentlyOnMeds' id='noMeds' value='noMeds' checked onClick="javascript: am_problems_radio()">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <label for='noMeds'>No</label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label id='taking_meds_label'>What is he/she taking?</label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <textarea cols='60' rows='4' name='whichMeds' id='whichMeds'></textarea>
                                        </td>
                                    </tr>
                                </table>
	                        </form>	              
	                    </div>
	                </div>

	                <div class="row">
				<!-- _____________________________________________BUTTONS_______________________________________________ -->

						<table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                        	<tr>
                        		<td>
                        			<div style='margin-left:12px;'>
				                        <a href="#menu-toggle" id="menu-toggle">
				                        	<button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <form action='/exit_am/' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
                                  <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
                                  <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                  <input type='hidden' name='exit_type' id='exit_type' value=''>
                                  <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                                </form>
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: exit_am("exit_only");' id='continue'>Delete and Exit</button>
                                </a>
                            </div>
                          </td>

			                    <td>
			                    	<div id="submit-space">
				                        <a href="javascript: " id="continue">
				                        	<button type='button' onClick='javascript: exit_am("exit_save");' id='continue'>Save and Exit</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: continue_to_am_control();' id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
			                </tr>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

{% endblock %}







