{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initalize_am_problems({{json_data}});">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <table class='session-side'>

                <form action='/exit_am/' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
                    <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                    <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                    <input type='hidden' name='exit_type_sub' id='exit_type_sub' value=''>
                </form>
                
                <!-- <tr>
                    <td>
                        <div style='font-size:20px;'>
                            <h4>Details:</h4>
                        </div>
                    </td>
                </tr> -->

                <tr>
                    <td>
                        <div style='color:#fee047'>
                            <h4>{{session.s_type}}</h4>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span class='sidebar-name'>{{AM.client.fname}} {{AM.client.lname}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id='sidebar-space-lower2'>
                            <span class="sidebar-id">{{AM.client.clientID}}</span>
                        </div>
                    </td>
                </tr>



                <!-- <div style='margin-bottom: 80px;'></div> -->
                <tr>
                    <td>
                        <div id='sidebar-space-lower'>
                            <h4>Completed:</h4>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class='{{class.demo}}'>
                            <img src="{{image.demo_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemo();" name='demographicBtn' id='demographicBtn'>
                                Demographic
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.dh}}'>
                            <img src="{{image.dh_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDH();" name='demographicBtn' id='demographicBtn'>
                                Drug History
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.child}}'>
                            <img src="{{image.child_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideChild();" name='demographicBtn' id='demographicBtn'>
                                Childhood History
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah1}}'>
                            <img src="{{image.ah1_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideAh1();" name='demographicBtn' id='demographicBtn'>
                                Anger History I
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah2}}'>
                            <img src="{{image.ah2_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideAh2();" name='demographicBtn' id='demographicBtn'>
                                Anger History II
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah3}}'>
                            <img src="{{image.ah3_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideAh3();" name='demographicBtn' id='demographicBtn'>
                                Anger History III
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.connect}}'>
                            <img src="{{image.connect_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideConnect();" name='demographicBtn' id='demographicBtn'>
                                Abuse Connections
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.worst}}'>
                            <img src="{{image.worst_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideWorst();" name='demographicBtn' id='demographicBtn'>
                                Worst Episode
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.target}}'>
                            <img src="{{image.target_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideTarget();" name='demographicBtn' id='demographicBtn'>
                                Anger Target
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.family}}'>
                            <img src="{{image.family_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideFamily();" name='demographicBtn' id='demographicBtn'>
                                Family of Origin
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.current}}'>
                            <img src="{{image.current_img}}" id='bullet-img'> &nbsp
                            <a href="#" name='demographicBtn' id='demographicBtn'>
                                Current Problems
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.control}}'>
                            <img src="{{image.control_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideControl();" name='demographicBtn' id='demographicBtn'>
                                Anger Control
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.final}}'>
                            <img src="{{image.final_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideFinal();" name='demographicBtn' id='demographicBtn'>
                                Additional Info
                            </a>
                        </div>
                    </td>
                </tr>

                <tr>
              <td>
                <div class='side_option_head'>
                  <h4>Exit Options:</h4>
                </div>
              </td>
            </tr>

            <tr>  
              <td>
                <table class='icon_table'>      
                  <!-- BUTTON 1 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("Save");'>
                        <table>
                          <tr>
                            <td>
                              <div id='save_icon_btn' style='margin-left:30px;'>
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='save_icon_text' style='margin-left:30px;'>
                                Save
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>

                  <td><div style='margin-right:15px;'></div></td>

                  <!-- BUTTON 2 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("Delete");'>
                        <table>
                          <tr>
                            <td>
                              <div id='trash_icon_btn'>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='trash_icon_text'>
                                Delete
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>
                </table>
              </td>
            </tr>
            </table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
            	<div class="form_headings">
                	<h3 id='am-h2'>Anger Management: Current Problems and History</h3>
                </div>

	            <div class="container">
	            	<div class="row">                   
	                  	<div class="col-md-5 col-sm-5">
	                  		<form action='/am_control/' method='post' id='am_demo'> {% csrf_token %}
	                  			<input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
	                  			<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
	                  			<input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
	                  			<input type='hidden' name='back_btn' id='back_btn' value=''>
                                <input type='hidden' name='goToNext' id='goToNext' value=''>
                                <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
                                <input type='hidden' name='save_section' id='save_section' value='/am_problems/'>

	                            <!-- REAL DATA ENTRIES -->
	                            <input type='hidden' value='' name='m_brainInjury' id='m_brainInjury'>
	                            <input type='hidden' value='' name='m_stroke' id='m_stroke'>
	                            <input type='hidden' value='' name='m_epilepsy' id='m_epilepsy'>
	                            <input type='hidden' value='' name='m_attentionDD' id='m_attentionDD'>
	                            <input type='hidden' value='' name='m_pms' id='m_pms'>
	                            <input type='hidden' value='' name='m_depression' id='m_depression'>
	                            <input type='hidden' value='' name='m_ptsd' id='m_ptsd'>
                                <input type='hidden' value='' name='m_otherSeriousIllness' id='m_otherSeriousIllness'>
                                <input type='hidden' value='' name='m_describeIssue' id='m_describeIssue'>
                                <input type='hidden' value='' name='m_currentlyOnMeds' id='m_currentlyOnMeds'>
                                <input type='hidden' value='' name='m_whichMeds' id='m_whichMeds'>	                          

	                            <h4>Check all that apply:</h4>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='brainInjury' id='brainInjury'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Brain Injury</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='stroke' id='stroke'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Stroke</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='epilepsy' id='epilepsy'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Epilepsy/Seizures</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='attentionDD' id='attentionDD'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Attention Deficit Disorder</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='pms' id='pms'>	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Premenstrual Syndrome</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

                                <table>
                                    <tr>
                                        <td>
                                            <input type='checkbox' name='depression' id='depression'>   
                                        </td>

                                        <td>
                                            <div id='checkbox_label_fix'>
                                                <label>Depression</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <input type='checkbox' name='ptsd' id='ptsd'>   
                                        </td>

                                        <td>
                                            <div id='checkbox_label_fix'>
                                                <label>PTSD</label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='otherSeriousIllness' id='otherSeriousIllness' onClick="javascript: am_problems_check();">	
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Other Serious Illness</label>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<div id='right_17px'>
	                            			    <label for='describeIssue' id='other_label'>Describe:</label>
	                            			</div>
	                            		</td>
	                            	</tr>

	                            	<tr>
	                            		<td>
	                            			<div id='right_17px'>
	                            				<textarea cols='50' rows='3' name='describeIssue' id='describeIssue'>{{fields.describeIssue}}</textarea>
	                            			</div>
	                            		</td>
	                            	</tr>
	                            </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label for='currentlyOnMeds'>Is the client currently taking any medication?</label>
                                        </td>
                                   
                                        <td>
                                            <div id='move-radio-right'>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class='single-line-radio1'>
                                                                <input type='radio' name='currentlyOnMeds' id='onMeds' value='onMeds' onClick="javascript: am_problems_radio()">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <label for='onMeds'>Yes</label>
                                                        </td>
                                                                                                        
                                                        <td>
                                                            <div class='single-line-radio'>
                                                                <input type='radio' name='currentlyOnMeds' id='noMeds' value='noMeds' checked onClick="javascript: am_problems_radio()">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <label for='noMeds'>No</label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label id='taking_meds_label'>What is he/she taking?</label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <textarea cols='60' rows='4' name='whichMeds' id='whichMeds'>{{fields.whichMeds}}</textarea>
                                        </td>
                                    </tr>
                                </table>
	                        </form>	              
	                    </div>
	                </div>

	                <div class="row">
				<!-- _____________________________________________BUTTONS_______________________________________________ -->

						<table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                        	<tr>
                        		<td>
                        			<div style='margin-left:12px;'>
				                        <a href="#menu-toggle" id="menu-toggle">
				                        	<button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: continue_to_am_control();' id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
			                </tr>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

{% endblock %}







