<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am({{current_section}}, {{json_data}});">
    <form action='' method='post' id='am_demo' name='am_demo'> {% csrf_token %}
      <input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>

      <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>

      <!-- REAL DATA ENTRIES -->
      <input type='hidden' value='' name='m_brainInjury' id='m_brainInjury'>
      <input type='hidden' value='' name='m_stroke' id='m_stroke'>
      <input type='hidden' value='' name='m_epilepsy' id='m_epilepsy'>
      <input type='hidden' value='' name='m_attentionDD' id='m_attentionDD'>
      <input type='hidden' value='' name='m_pms' id='m_pms'>
      <input type='hidden' value='' name='m_depression' id='m_depression'>
      <input type='hidden' value='' name='m_ptsd' id='m_ptsd'>
      <input type='hidden' value='' name='m_otherSeriousIllness' id='m_otherSeriousIllness'>

      <input type='hidden' value='' name='m_whichMeds' id='m_whichMeds'> 
      <input type='hidden' value='' name='m_otherWhom' id='m_otherWhom'> 

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Anger Management Current Problems</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_demographic/');">
                              <div  class='{{class.AMdemo}}'>Demographics</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_drugHistory/');">
                              <div  class='{{class.AMdh}}'>Drug History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_childhood/');">
                              <div  class='{{class.AMchild}}'>Childhood History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory/');">
                              <div  class='{{class.AMah1}}'>Recent Episodes I</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory2/');">
                              <div  class='{{class.AMah2}}'>Recent Episodes II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory3/');">
                              <div  class='{{class.AMah3}}'>Recent Episodes III</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_connections/');">
                              <div  class='{{class.AMconnect}}'>Abuse Connections</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_worst/');">
                              <div  class='{{class.AMworst}}'>Worst Episode</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerTarget/');">
                              <div  class='{{class.AMtarget}}'>Anger Targets</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_familyOrigin/');">
                              <div  class='{{class.AMfamily}}'>Family of Origin</div>
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              <div  class='{{class.AMcurrent}}'>Current Problems</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_control/');">
                              <div  class='{{class.AMcontrol}}'>Anger Control</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_final/');">
                              <div  class='{{class.AMfinal}}'>Additional Info</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <div id='iml-single-header'>Any Current Problems With Or Hstory Of:</div>
                  <div id='iml-single-sub-head'>Check all that apply</div>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:32%; height:100%; margin-left:70px;'>
                    

                    <table>
                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='brainInjury' id='brainInjury' value='Brain Injust'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Brain Injury</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='stroke' id='stroke' value='Stroke'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Stroke</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='epilepsy' id='epilepsy' value='Epilepsy/Seizures'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Epilepsy/Seizures</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='attentionDD' id='attentionDD' value='A.D.D'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Attention Deficit Disorder</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='pms' id='pms' value='P.M.S'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Premenstrual Syndrome</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='depression' id='depression' value='Depression'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>Depression</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='ptsd' id='ptsd' value='P.T.S.D'>
                          </div>
                        </td>
                        <td><div class='iml-sub-label2'>PTSD</div></td>
                      </tr>

                      <tr>
                        <td>
                          <div class='iml-checkbox'>
                            <input type='checkbox' name='otherSeriousIllness' id='otherSeriousIllness' value='Other Serious Illness' onClick="javascript: am_problems_check('otherWhom', 'otherSeriousIllness');">
                          </div>
                        </td>

                        <td>
                          <table>
                            <tr>
                              <td><div class='iml-sub-label2'>Other Serious Illness</div></td>
                              <td><input type='text' name='otherWhom' id='otherWhom' value='{{fields.otherWhom}}'></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div> 

                  <div class='col-md-6' style='width:44%; height:100%; margin-left:70px;'>
                    <div class='iml-sub-label2'>Please describe:</div>
                    <div>
                      <textarea rows='3' cols='70' name='describeIssue' id='describeIssue'>{{fields.describeIssue}}</textarea>
                    </div>

                    <table>
                      <tr>
                        <td><div class='iml-sub-label2'><li>Are you currenty taking any medications?</li></div></td>
                        <td><div class='iml-radio-low'><input type='radio' name='currentlyOnMeds' id='onMeds' value='True' onClick='javascript: am_problems_radio();'></div></td>
                        <td><div class='iml-sub-label2'>Yes</div></td>
                        <td><div class='iml-radio-low'><input type='radio' name='currentlyOnMeds' id='noMeds' value='False' onClick='javascript: am_problems_radio();'></div></td>
                        <td><div class='iml-sub-label2'>No</div></td>
                      </tr>
                    </table>
                    <table>
                      <tr><td><div class='iml-sub-label2' id='lab2'><li>What are you taking?</li></div></td></tr>
                      <tr>
                        <td>
                          <div class=''>
                            <textarea cols='70' rows='3' name='whichMeds' id='whichMeds'>{{fields.whichMeds}}</textarea>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('am', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: continue_am_form('{{current_section}}');">Save & Continue</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
