{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am_demo({{json_data}}, {{back}});">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <table class='session-side'>
            <tr>
              <td>
                <div style='font-size:20px;'>
                  <h4>Details:</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div style='color:#fee047'>
                  <h4>{{session.s_type}}</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                          <span class='sidebar-name'>{{AM.client.fname}} {{AM.client.lname}}</span>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div id='sidebar-space-lower2'>
                          <span class="sidebar-id">{{AM.client.clientID}}</span>
                      </div>
              </td>
            </tr>



            <!-- <div style='margin-bottom: 80px;'></div> -->
            <tr>
              <td>
                <div id='sidebar-space-lower'>
                          <h4>Completed:</h4>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.demo}}'>
                  <img src="{{image.demo_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Demographic
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.dh}}'>
                  <img src="{{image.dh_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Drug History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.child}}'>
                  <img src="{{image.child_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Childhood History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.ah1}}'>
                  <img src="{{image.ah1_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Anger History I
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.ah2}}'>
                  <img src="{{image.ah2_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Anger History II
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.ah3}}'>
                  <img src="{{image.ah3_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Anger History III
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.connect}}'>
                  <img src="{{image.connect_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Abuse Connections
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.worst}}'>
                  <img src="{{image.worst_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Worst Episode
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.target}}'>
                  <img src="{{image.target_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Anger Target
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.family}}'>
                  <img src="{{image.family_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Family of Origin
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.current}}'>
                  <img src="{{image.current_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Current Problems
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.control}}'>
                  <img src="{{image.control_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Anger Control
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.final}}'>
                  <img src="{{image.final_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                    Additional Info
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
        <div id="page-content-wrapper">
            <!-- <div class="container-fluid"> -->
                <!-- <div class="row">
                    <div class="col-lg-12" style='text-align:'> -->
                        <div>
                        	<h3 id='am-h2'>Anger Management: Demographics</h3>

                        	<div class="container">
            					<div class="row">                   
                  					<div class="col-md-5 col-sm-5">
                  						<div>
                  							<form action='/am_drugHistory/' method='post' id='am_demo' name='am_demo'> {% csrf_token %}
                  								<input type='hidden' name='client_id' id='client_id' value='{{client.id}}'>
                  								<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                  								<input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                  								<input type='hidden' name='back_btn' id='back_btn' value=''>

                  								<h3>Household</h3>
                  								<table>
                  									<tr>
                  										<td>
                  											<label for='marital'>Marital Status: </label>
                  										</td>

                  										<td>
                  											<div id='select-align'>
	                  											<select id='marital' name='marital' value=''>
	                  												<option>Select</option>
	                  												{% for m in marital %}
	                  													<option value='{{m.id}}' id='{{m.id}}'>{{m.status}}</option>
	                  												{% endfor %}
	                  											</select>
	                  										</div>
                  										</td>
                  									</tr>
                  								</table>

                  								<table>
                  									<tr>
                  										<td>
                  											<label for='living'>Living Situation: </label>
                  										</td>

                  										<td>
                  											<div id='select-align'>
	                  											<select id='living' name='living'>
	                  												<option>Select</option>
	                  												{% for l in living %}
	                  													<option value='{{l.id}}'>{{l.situation}}</option>
	                  												{% endfor %}
	                  											</select>
	                  										</div>
                  										</td>
                  									</tr>
                  								</table>

                  								<!-- <div class='px20-below'></div> -->
                                  <table>
                                    <tr>
                                      <td>
                                        <div style='margin-right: 10px;'>
                                          <label for='' >Do you rent or own?</label>
                                        </div>
                                      </td>
                                   
                  										<td>
                  											<div id='radio-align'>
                  												<input type='radio' name='rentRAD' id='rent_radio' value='rent' id='rent'>
                  											</div>    
                  										</td>
                  										<td>
                  											<label for='rent' id='rent_label'>Rent</label>
                  										</td>

                  										<td><div style='margin-right:20px;'></div></td>

                  										<td>
                  											<div id='radio-align'>
                  												<input type='radio' name='rentRAD' id='own_radio' value='own' id='own'>
                  											</div>    
                  										</td>
                  										<td>
                  											<label for='own' id='own_label'>Own</label>
                  										</td>
                  									</tr>
                  								</table>

                  								<table>
                  									<tr>
                  										<td>
                  											<label for=''>Time at Residence: </label>
                  										</td>
                  									</tr>
                  								</table>
                  								<table>
                  									<tr>
                  										<td>
                  											<div>
                  												<input type='number' style="width:40px;" name='res-mo' id='res-mos' value='{{fields.months_res}}'>
                  												months
                  											</div>
                  										</td>

                  										<td>
	                  										<div id='submit-space'>
	                  											<input type='number' style="width:40px;" name='res-yrs' id='res-yrs' value='{{fields.years_res}}'>
	                  											years
	                  										</div>
	                  									</td>
                  									</tr>
                  								</table>

                  								<table><tr><td><div class='form-line'></div></td></tr></table>
                  								<h3>Dependents</h3>
                  								<table>
                  									<tr>
                  										<td>
                  											<input type='number' style='width:40px' id='dep_children' name='dep_children' value='{{fields.num_children}}'>
                  										</td>
                  										<td>
                  											<div id='num-align-text'>
                  											    <label for='dep_children'>Children</label>
                  											</div>
                  										</td>
                  									</tr>

                  									<tr>
                  										<td>
                  											<input type='number' style='width:40px' id='dep_other' name='dep_other' value='{{fields.other_dependants}}'>
                  										</td>
                  										<td>
                  											<div id='num-align-text'>
                  											    <label for='dep_other'>Other Dependents</label>
                  											</div>
                  										</td>
                  									</tr>
                  								</table>

                  								<table><tr><td><div class='form-line'></div></td></tr></table>
                  								<h3>Education</h3>
                  								<table>
                  									<tr>
                  										<td>
                  											<label for=''>Highest Level:</label>
                  										</td>
                  										<td>
                  											<div id='select-align'>
	                  											<select name='edu' id='edu'>
	                  												<option value=''>Select</option>
	                  												{% for e in education %}
	                  												<option value='{{e.id}}'>{{e.level}}</option>
	                  												{% endfor %}
	                  											</select>
	                  										</div>
                  										</td>
                  									</tr>
                  								</table>

                  								<table>
                  									<tr>
                  										<td>
                  											<td><input type='radio' name='dip' id='hs_grad' value='graduate' onClick='javascript: dropOutRadio();'></td>
                  										</td>
                  										<td>
                  											<div id='num-align-text'>
                  											    <label for='hs_grad'>HS Graduate</label>
                  										    </div>
                  										</td>

                  										<td><div style='margin-right:20px;'></div></td>

                  										<td>
                  											<td><input type='radio' name='dip' id='hs_drop' value='dropout' onClick='javascript: dropOutRadio();'></td>
                  										</td>
                  										<td>
                  											<div id='num-align-text'>
                  											    <label for='hs_drop'>HS Dropout</label>
                  										    </div>
                  										</td>
                  									</tr>
                  								</table>

                                  <table>
                                    <tr>
                                      <td>
                                        <label for='resasonDO' id='resasonDO_label'>Reason for dropout:</label>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td>
                                        <textarea rows='3' cols='55' name='resasonDO' id='resasonDO'></textarea>
                                      </td>
                                    </tr>
                                  </table>
                  							
                  						</div>
                  					</div>

                            <!-- ____________________________________RIGHT SIDE___________________________________
 -->
                  					<div class="col-md-5 col-sm-5" >
                  						<div>
                                <table>
                                  <tr>
                                    <td>
                                      <h3>Employment</h3>
                                    </td>

                                    <td>
                                      <div class='info-icon'>
                                        <p id='employment-tip'>
                                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                                          <span id='employment-tip'>
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                            If unemployed enter <b>"N/A"</b> for each field.
                                          </span>
                                        </p>
                                      </div>
                                    </td>

                                    <!-- <td>
                                      <div class='info-icon'>
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                      </div> 
                                    </td> -->
                                  </tr>
                                </table>

                  							<!-- <h3>
                                  Employment
                                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </h3> -->
                  							<table>
                  								<tr>
                  									<td>
                  										<label for='occ'>Occupation:</label>
                  									</td>
                  									<td>
                  										<div id='textbox-align1'>
                  										    <input type='text' id='occ' name='occ'>
                  									    </div>
                  									</td>
                  								</tr>

                  						        <tr>
                  									<td>
                  										<label for='employer'>Employer:</label>
                  									</td>
                  									<td>
                  										<div id='textbox-align1'>
                  										    <input type='text' id='employer' name='employer'>
                  									    </div>
                  									</td>
                  								</tr>

                  								<tr>
                  									<td>
                  										<label for='emp_add'>Address:</label>
                  									</td>
                  									<td>
                  										<div id='textbox-align1'>
                  										    <input type='text' id='em_add' name='em_add'>
                  									    </div>
                  									</td>
                  								</tr>

                  								<tr>
                  									<td>
                  										<label for='em_phone'>Phone:</label>
                  									</td>
                  									<td>
                  										<div id='textbox-align1'>
                  										    <input type='tel' id='em_phone' name='em_phone'>
                  									    </div>
                  									</td>
                  								</tr>
                  								<tr><td><label for='yrsJob'>Time at Job:</label></td></tr>
                  							</table>
                  							<table>
                  									<tr>
                  										<td>
                  											<div>
                  												<input type='number' style="width:40px;" name='mosJob' id='mosJob'>
                  												months
                  											</div>
                  										</td>

                  										<td>
	                  										<div id='submit-space'>
	                  											<input type='number' style="width:40px;" name='yrsJob' id='yrsJob'>
	                  											years
	                  										</div>
	                  									</td>
                  									</tr>
                  								</table>

                  								<table><tr><td><div class='form-line'></div></td></tr></table>
                  								<h3>Health</h3>
                  								<label for=''>Do you currently have any health issues?</label>

                  								<table>
                  									<tr>
                  										<td>
                  											<div id='radio-align'>
                  												<input type='radio' name='healRad' id='healthy' value='healthy' onClick="javascript: healthRadioBtn();">
                  											</div>    
                  										</td>
                  										<td>
                  											<label for='healthy'>No</label>
                  										</td>

                  										<td><div style='margin-right:20px;'></div></td>

                  										<td>
                  											<div id='radio-align'>
                  												<input type='radio' name='healRad' id='not_healthy' value='not_healthy' onClick="javascript: healthRadioBtn();">
                  											</div>    
                  										</td>
                  										<td>
                  											<label for='not_healthy'>Yes</label>
                  										</td>
                  									</tr>
                  								</table>

                                  <table>
                                    <tr>
                                      <td>
                                        <label for='health_exp' id='health_exp_label'>Please explain:</label>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td>
                                        <textarea cols='55' rows='2' id='health_exp' name='health_exp'></textarea>
                                      </td>
                                    </tr>
                                    <tr><td><div style='margin-bottom:10px;'></div></td></tr>
                                  </table>

                  								<label for='' id='med_taking_label'>Are you currently taking medication for this issue?</label>
                  								<table>
                  									<tr>
                  										<td>
                  											<div id='radio-align'>
                  												<input type='radio' name='medRad' id='no_med' value='no_medication' onClick="javascript: medsRadioBtn();">
                  											</div>    
                  										</td>
                  										<td>
                  											<label for='no_med' id='no_med_label'>No</label>
                  										</td>

                  										<td><div style='margin-right:20px;'></div></td>

                  										<td>
                  											<div id='radio-align'>
                  												<input type='radio' name='medRad' id='on_meds' value='medication' onClick="javascript: medsRadioBtn();">
                  											</div>    
                  										</td>
                  										<td>
                  											<label for='on_meds' id='yes_med_label'>Yes</label>
                  										</td>
                  									</tr>
                  								</table>

                  								<label for='' id='explain_label_health'>What are you taking?</label>
                  								<textarea cols='55' rows='2' id='whatMedicine' name='whatMedicine'></textarea>
                  							</form>
                  						</div>
                  					</div>

                  					<div class="col-md-2 col-sm-2">
                  					</div>
                  				</div>
                  			</div>
                          
                            
<!-- _____________________________________________TOGGLE BUTTON_______________________________________________ -->

                        <table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                        	<tr>
                        		<td>
                        			<div style='margin-left:12px;'>
				                        <a href="#menu-toggle" id="menu-toggle">
				                        	<button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <form action='/exit_am/' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
                                  <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                  <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                                  <input type='hidden' name='exit_type_sub' id='exit_type_sub' value=''>
                                </form>
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: exit_am("exit_only");' id='continue'>Delete and Exit</button>
                                </a>
                            </div>
                          </td>

			                    <td>
			                    	<div id="submit-space">
				                        <a href="javascript: " id="continue">
				                        	<button type='button' onClick='javascript: exit_am("exit_save");' id='continue'>Save and Exit</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: continue_am();' id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
			                </tr>
	                    </table>

                        </div> <!-- end of section -->
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>        

</body>

{% endblock %}