{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<table class='session-side'>
        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<h3>Client Profile</h3>
                    	</div>
        			</td>
        		</tr>

        		<!-- <tr>
        			<td>
        				<div>
                        	<h5>{{session.start}}</h5>
                    	</div>
        			</td>
        		</tr> -->

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-name'>{{client.fname}} {{client.middleInit}} {{client.lname}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span class="sidebar-id">{{client.clientID}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-label1'>DOB: </span> <span class='sidebar-ans'>{{client.dob}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<span class='sidebar-label1'>SS: </span> <span class='sidebar-ans'>{{client.ss_num}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span id='sidebar-fill'>{{client.street_no}} {{client.street_name}} {{client.apartment_no}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<span id='sidebar-fill'>{{client.city}}, {{client.state}} {{client.zip_code}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span id='sidebar-fill'>{{client.phone}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span id='sidebar-fill'>{{client.email}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<h3>Session Info</h3>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-session-info'>{{session.s_type}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-session-info2'>{{session.start}}</h6>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-label1'>Duration: </span><span class='sidebar-duration'>{{session.s_type.duration}} minutes</span>
                    	</div>
        			</td>
        		</tr>
        	</table>
            <!-- <ul class="sidebar-nav">
                <li class="sidebar-Header">
                    <div style='margin-bottom:40px; padding-top:8%;'>
                        <h3>Session Info</h3>
                    </div>
                </li>
                <li>
                    <h4 style='color:white;'>{{client.fname}} {{client.middleInit}} {{client.lname}}</h4>
                </li>
                <li>
                    <form action='/asi_demographic/' method='post' name='asi' id='asi'> {% csrf_token %} 
                        <input type="hidden" id='client_ID' name='client_ID' value='{{client.id}}'>                 
                        <a href="javascript: new_asi();">Addiction Severity Index</a>
                    </form>
                </li>
                <li>
                    <form action='/mh_demographic/' method='post' name='mh' id='mh'> {% csrf_token %} 
                        <input type="hidden" id='client_ID' name='client_ID' value='{{client.id}}'> 
                        <a href="javascript: new_mh();">Mental Health Assessment</a>
                    </form>
                </li>
                <li>
                    <form action='/sap_demographic/' method='post' name='sap' id='sap'> {% csrf_token %}
                        <input type="hidden" id='client_ID' name='client_ID' value='{{client.id}}'>
                        <a href="javascript: new_sap();">S.A.P Form</a>
                    </form>
                </li>
                <li>
                    <form action='/ut_testResults/' method='post' name='ut' id='ut'> {% csrf_token %}
                        <input type="hidden" id='client_ID' name='client_ID' value='{{client.id}}'>
                        <a href="javascript: new_ut();">Urine Test Results</a>
                    </form>
                </li>
                <li>
                    <form action='/discharge_client/' method='post' name='discharge' id='discharge'> {% csrf_token %}
                        <input type="hidden" id='client_ID' name='client_ID' value='{{client.id}}'>
                        <a href="javascript: discharge();">Client Discharge</a>
                    </form>
                </li>
                <li>
                    <a href="#">Client Files</a>
                </li>
                <li>
                    <a href="#">Appointment Manager</a>
                </li>
                <li>
                    <a href="#">Delete Current Session</a>
                </li>
                <li>
                    <a href="#">Close Session</a>
                </li>
            </ul> -->
        </div>
        <!-- /#sidebar-wrapper -->

</body>

{% endblock %}