<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am({{current_section}}, {{json_data}});">

  <!-- <input type='text' id='testField1' style='width:800px; margin-left:40px;'>
  <button onClick='javascript: errorTesting1();'>Run Test</button> -->

    <form action='' method='post' id='am_demo' name='am_demo'> {% csrf_token %}
      <input type='hidden' name='client_id' id='client_id' value='{{client.id}}'>
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
      <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>

      <input type='hidden' name='m_resasonDO' id='m_resasonDO' value=''>
      <input type='hidden' name='m_health_exp' id='m_health_exp' value=''>
      <input type='hidden' name='m_whatMedicine' id='m_whatMedicine' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Anger Management Demographics</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_demographic/');">
                              <div  class='{{class.AMdemo}}'>Demographics</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_drugHistory/');">
                              <div  class='{{class.AMdh}}'>Drug History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_childhood/');">
                              <div  class='{{class.AMchild}}'>Childhood History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory/');">
                              <div  class='{{class.AMah1}}'>Recent Episodes I</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory2/');">
                              <div  class='{{class.AMah2}}'>Recent Episodes II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory3/');">
                              <div  class='{{class.AMah3}}'>Recent Episodes III</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_connections/');">
                              <div  class='{{class.AMconnect}}'>Abuse Connections</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_worst/');">
                              <div  class='{{class.AMworst}}'>Worst Episode</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerTarget/');">
                              <div  class='{{class.AMtarget}}'>Anger Targets</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_familyOrigin/');">
                              <div  class='{{class.AMfamily}}'>Family of Origin</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_problems/');">
                              <div  class='{{class.AMcurrent}}'>Current Problems</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_control/');">
                              <div  class='{{class.AMcontrol}}'>Anger Control</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_final/');">
                              <div  class='{{class.AMfinal}}'>Additional Info</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:20px;'>

                    <h4>Household</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>1.</div></td>
                        <td><div id='e1'><div class='iml-label'>Marital Status:</div></div></td>
                        <td>
                          <div>
                            <select name='maritalStatus' id='maritalStatus' onChange="javascript: noErrorText('e1', 'maritalStatus');">
                              <option value='None Selected'>Select</option>
                              <option value='Divorced'>Divorced</option>
                              <option value='Married'>Married</option>
                              <option value='Separated'>Separated</option>
                              <option value='Single'>Single</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>2.</div></td>
                        <td><div id='e2'><div class='iml-label'>Living Situation:</div></div></td>
                        <td>
                          <div>
                            <select name='livingSituation' id='livingSituation' onChange="javascript: noErrorText('e2', 'livingSituation');">
                              <option value='None Selected'>Select</option>
                              <option value='Live alone'>Live alone</option>
                              <option value='Live with family'>Live with family</option>
                              <option value='Live with friend'>Live with friend</option>
                              <option value='Live with partner'>Live with partner</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>3.</div></td>
                        <td><div class='iml-label'>Time at Current Residence:</div></td>
                        <td><div class='iml-num'><input type='number' name='years_res' id='years_res' value='{{fields.years_res}}' oninput="javascript: noErrorText('e4', 'years_res');"></div></td>
                        <td><div id='e4'><div class='iml-sub-label'>years</div></div></td>
                        <td><div class='iml-num'><input type='number' name='months_res' id='months_res' value='{{fields.months_res}}' oninput="javascript: noErrorText('e3', 'months_res');"></div></td>
                        <td><div id='e3'><div class='iml-sub-label'>months</div></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>4.</div></td>
                        <td><div class='iml-label'>Does client rent or own?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='own' id='doesRent' value='False'></div></td>
                        <td><div class='iml-sub-label'>Rent</div></td>
                        <td><div class='iml-radio'><input type='radio' name='own' id='doesOwn' value='True'></div></td>
                        <td><div class='iml-sub-label'>Own</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>5.</div></td>
                        <td><div id='e5'>
                          <div class='iml-label'>Who lives with client at residence?</div>
                        </div></td>
                      </tr>
                    </table>
                    <table>
                      <tr><td><div class='iml-sub-label-left'><li>Include names, ages, and relationship</li></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='3' cols='60' name='whoLivesWithClient' id='whoLivesWithClient' oninput="javascript: noErrorText('e5', 'whoLivesWithClient');">{{fields.whoLivesWithClient}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>6.</div></td>
                        <td><div class='iml-label'>Dependents:</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div id='e6'><div class='iml-sub-label-l' style='margin-left:25px;'>Children:</div></div></td>
                        <td><div class='iml-num'><input style='margin-right:15px;' type='number' name='num_children' id='num_children' value='{{fields.num_children}}' oninput="javascript: noErrorText('e6', 'num_children');"></div></td>

                        <td><div id='e7'><div class='iml-sub-label-l'>Spouse:</div></div></td>
                        <td><div class='iml-num'><input style='margin-right:15px;' type='number' name='spouse_dep' id='spouse_dep' value='{{fields.spouse_dep}}' oninput="javascript: noErrorText('e7', 'spouse_dep');"></div></td>

                        <td><div id='e8'><div class='iml-sub-label-l'>Other:</div></div></td>
                        <td><div class='iml-num'><input type='number' name='other_dependants' id='other_dependants' value='{{fields.other_dependants}}' oninput="javascript: noErrorText('e8', 'other_dependants');"></div></td>
                      </tr>
                    </table>

                    <h4></h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>7.</div></td>
                        <td><div class='iml-label'>Level of education completed:</div></td>

                        <td><div class='iml-radio'><input type='radio' name='education' id='DO' value='Drop out' onClick='javascript: dropOutRadio();'></div></td>
                        <td><div class='iml-sub-label'>Drop out</div></td>

                        <td><div class='iml-radio'><input type='radio' name='education' id='GED' value='GED' onClick='javascript: dropOutRadio();'></div></td>
                        <td><div class='iml-sub-label'>GED</div></td>

                        <td><div class='iml-radio'><input type='radio' name='education' id='HS' value='HS' onClick='javascript: dropOutRadio();'></div></td>
                        <td><div class='iml-sub-label'>HS</div></td>

                        <td><div class='iml-radio'><input type='radio' name='education' id='College' value='College' onClick='javascript: dropOutRadio();'></div></td>
                        <td><div class='iml-sub-label'>College</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div id='e9'><div class='iml-sub-label-left' id='doReason_lab'><li>Reason for dropout:</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='3' cols='60' name='resasonDO' id='resasonDO' value='' oninput="javascript: noErrorText('e9', 'resasonDO');">{{fields.resasonDO}}</textarea></div></td></tr>
                    </table>

                  </div>

                  <div class='col-md-6' style='width:44%; height:100%; margin-left:30px;'>
                    <h4>Employment</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>8.</div></td>
                        <td><div id='e10'><div class='iml-label'>Current Employer:</div></div></td>
                        <td><div><input type='text' name='employee' id='employee' value='{{fields.employee}}' oninput="javascript: noErrorText('e10', 'employee');"></div></td>
                      </tr>

                      <tr>
                        <td><div class='iml-num-div'>9.</div></td>
                        <td><div id='e15'><div class='iml-label'>Employer Phone:</div></div></td>
                        <td><div><input type='text' name='employer_phone' id='employer_phone' value='{{fields.employer_phone}}' oninput="javascript: noErrorText('e15', 'employer_phone');"></div></td>
                      </tr>

                      <tr>
                        <td><div class='iml-num-div'>10.</div></td>
                        <td><div id='e12'><div class='iml-label'>Employer Address:</div></div></td>
                        <td><div><input type='text' name='emp_address' id='emp_address' value='{{fields.emp_address}}' oninput="javascript: noErrorText('e12', 'emp_address');"></div></td>
                      </tr>

                      <tr>
                        <td><div class='iml-num-div'>11.</div></td>
                        <td><div id='e11'><div class='iml-label'>Job title:</div></div></td>
                        <td><div><input type='text' name='job_title' id='job_title' value='{{fields.job_title}}' oninput="javascript: noErrorText('e11', 'job_title');"></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>12.</div></td>
                        <td><div class='iml-label'>Length of Employment:</div></td>
                        <td><div class='iml-num'><input type='number' name='employed_years' id='employed_years' value='{{fields.employed_years}}' oninput="javascript: noErrorText('e14', 'employed_years');"></div></td>
                        <td><div id='e14'><div class='iml-sub-label'>years</div></div></td>
                        <td><div class='iml-num'><input type='number' name='employed_months' id='employed_months' value='{{fields.employed_months}}' oninput="javascript: noErrorText('e13', 'employed_months');"></div></td>
                        <td><div id='e13'><div class='iml-sub-label'>months</div></div></td>
                    </table>

                    <h4>Medical/Health</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>13.</div></td>
                        <td><div class='iml-label'>Do you have any ongoing health problems?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='health_problem' id='not_healthy' value='True' onClick='javascript: healthRadioBtn();'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='health_problem' id='healthy' value='False' onClick='javascript: healthRadioBtn();'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div id='e17'><div class='iml-sub-label-left' id='healthExp_label'><li>Please explain client health issues:</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='3' cols='60' name='health_exp' id='health_exp' oninput="javascript: noErrorText('e17', 'health_exp');">{{fields.health_exp}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div' id='num_14'>14.</div></td>
                        <td><div class='iml-label' id='num_14_lab'>Are you currently taking medication?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='medication' id='on_meds' value='True' onClick='javascript: medsRadioBtn();'></div></td>
                        <td><div class='iml-sub-label' id='onMedLab'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='medication' id='no_med' value='False' onClick='javascript: medsRadioBtn();'></div></td>
                        <td><div class='iml-sub-label' id='noMedLab'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div id='e16'><div class='iml-sub-label-left' id='meds_leb'><li>What are you taking?</li></div></div></td></tr>
                      <tr><td><div class='iml-text-area-sub'><textarea rows='2' cols='60' name='whatMedicine' id='whatMedicine' oninput="javascript: noErrorText('e16', 'whatMedicine');">{{fields.whatMedicine}}</textarea></div></td></tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('am', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: continue_am_form('{{current_section}}'); return false;">Save & Continue</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
