{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am_drug_history({{json_data}})">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <table class='session-side'>
            <tr>
              <td>
                <div style='font-size:20px;'>
                  <h4>Details:</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div style='color:#fee047'>
                  <h4>{{session.s_type}}</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                          <span class='sidebar-name'>{{AM.client.fname}} {{AM.client.lname}}</span>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div id='sidebar-space-lower2'>
                          <span class="sidebar-id">{{AM.client.clientID}}</span>
                      </div>
              </td>
            </tr>



            <!-- <div style='margin-bottom: 80px;'></div> -->
            <tr>
              <td>
                <div id='sidebar-space-lower'>
                          <h4>Completed:</h4>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.demo}}'>
                  <img src="{{image.demo_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideDemo();" name='demographicBtn' id='demographicBtn'>
                    Demographic
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.dh}}'>
                  <img src="{{image.dh_img}}" id='bullet-img'> &nbsp
                  <a href="#" name='demographicBtn' id='demographicBtn'>
                    Drug History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.child}}'>
                  <img src="{{image.child_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideChild();" name='demographicBtn' id='demographicBtn'>
                    Childhood History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.ah1}}'>
                  <img src="{{image.ah1_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideAh1();" name='demographicBtn' id='demographicBtn'>
                    Anger History I
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.ah2}}'>
                  <img src="{{image.ah2_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideAh2();" name='demographicBtn' id='demographicBtn'>
                    Anger History II
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.ah3}}'>
                  <img src="{{image.ah3_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideAh3();" name='demographicBtn' id='demographicBtn'>
                    Anger History III
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.connect}}'>
                  <img src="{{image.connect_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideConnect();" name='demographicBtn' id='demographicBtn'>
                    Abuse Connections
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.worst}}'>
                  <img src="{{image.worst_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideWorst();" name='demographicBtn' id='demographicBtn'>
                    Worst Episode
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.target}}'>
                  <img src="{{image.target_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideTarget();" name='demographicBtn' id='demographicBtn'>
                    Anger Target
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.family}}'>
                  <img src="{{image.family_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideFamily();" name='demographicBtn' id='demographicBtn'>
                    Family of Origin
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.current}}'>
                  <img src="{{image.current_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideCurrent();" name='demographicBtn' id='demographicBtn'>
                    Current Problems
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.control}}'>
                  <img src="{{image.control_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideControl();" name='demographicBtn' id='demographicBtn'>
                    Anger Control
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.final}}'>
                  <img src="{{image.final_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideFinal();" name='demographicBtn' id='demographicBtn'>
                    Additional Info
                  </a>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='side_option_head'>
                  <h4>Exit Options:</h4>
                </div>
              </td>
            </tr>

            <tr>  
              <td>
                <table class='icon_table'>      
                  <!-- BUTTON 1 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("exit_save");'>
                        <table>
                          <tr>
                            <td>
                              <div id='save_icon_btn' style='margin-left:30px;'>
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='save_icon_text' style='margin-left:30px;'>
                                Save
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>

                  <td><div style='margin-right:15px;'></div></td>

                  <!-- BUTTON 2 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("exit_only");'>
                        <table>
                          <tr>
                            <td>
                              <div id='trash_icon_btn'>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='trash_icon_text'>
                                Delete
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
        <div id="page-content-wrapper">
            <!-- <div class="container-fluid"> -->
                <!-- <div class="row">
                    <div class="col-lg-12" style='text-align:'> -->
                        <div>
                        	<div class="form_headings">
                            <h3 id='am-h2'>Anger Management: Drug History</h3>
                          </div>

                    <div class="container">
            					<div class="row">                   
                  					<div class="col-md-5 col-sm-5">
                  						<div>
                  							<form action='/am_childhood/' method='post' id='am_demo'> {% csrf_token %}
                  								<input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
                  								<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                  								<input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
                  								<input type='hidden' name='back_btn' id='back_btn' value=''>
                                  <input type='hidden' name='exit_type' id='exit_type' value=''>

                                  <!-- DYNAMIC DATA ENTRIES -->
                                  <input type='hidden' name='m_useType' id='m_useType' value=''>
                                  <input type='hidden' name='m_amtPerWeek' id='m_amtPerWeek' value=''>
                                  <input type='hidden' name='m_useAmt' id='m_useAmt' value=''>
                                  <input type='hidden' name='m_monthsQuit' id='m_monthsQuit' value=''>
                                  <input type='hidden' name='m_yearsQuit' id='m_yearsQuit' value=''>
                                  <input type='hidden' name='m_reasonQuit' id='m_reasonQuit' value=''>
                                  <input type='hidden' name='m_numDUI' id='m_numDUI' value=''>
                                  <input type='hidden' name='m_BALevel' id='m_BALevel' value=''>
                                  <input type='hidden' name='m_treatmentPlace' id='m_treatmentPlace' value=''>
                                  <input type='hidden' name='m_dateTreated' id='m_dateTreated' value=''>
                                  <input type='hidden' name='m_reasonNotFinishedTreatment' id='m_reasonNotFinishedTreatment' value=''>
                                  <input type='hidden' name='m_relapseTrigger' id='m_relapseTrigger' value=''>

                  								<table>
                  									<tr>
                  										<td>
                  											<label for='first_drink'>At what age did you have your first drink of alcohol and/or drugs? </label>
                  											<input class='small-number' type='number' name='first_drink' id='first_drink' value='{{fields.firstDrinkAge}}'>
                  										</td>
                  									</tr>
                  								</table>
                  								<table>
                  									<tr>
                  										<td>
                  											<label for='first_use_type'>What did you use? </label>
                  										</td>
                  										<td>
                  											<div class='left-space-5'>
                  												<input type='text' id='first_use_type' name='first_use_type' value='{{fields.firstDrinkType}}'>
                  											</div>
                  										</td>
                  									</tr>
                  								</table>

                  								<table>
                  									<tr>
                  										<td>
                  											<label for='use_drugs'>Do you currently drink alcohol or use drugs?</label>
                  										</td>
                  										<td>
                  											<div class='single-line-radio'>
                  											    <input type='radio' id='no_current_use' name='use_drugs' value='False' onClick='javascript: topLevelDH()'>
                  											<div>
                  										</td>
                  										<td>
                  											<label for='no_current_use'>No</label>
                  										</td>

                  										<td>
                  											<div class='single-line-radio'>
                  											    <input type='radio' id='current_use' name='use_drugs' value='True' onClick='javascript: topLevelDH()'>
                  										    </div>
                  										</td>
                  										<td>
                  											<label for='current_use'>Yes</label>
                  										</td>
                  									</tr>
                  								</table>

                  								<div class='sub-table-indent-40px'>
	                  								<table>
	                  									<tr>
	                  										<td>
	                  											<label for='what-you-use' id='what_use_label'>What do you use?</label>
	                  										</td>
	                  										<td>
	                  											<div class='left-space-5'>
	                  											    <input type='text' id='what-you-use' name='what-you-use' value='{{fields.useType}}'>
	                  											</div>
	                  										</td>
	                  									</tr>
	                  									<tr>
	                  										<td>
	                  											<label for='how-often-you-use' id='how_often_label'>How often?</label>
	                  										</td>
	                  										<td>
	                  											<div class='left-space-5'>
	                  											    <input type='text' id='how-often-you-use' name='how-often-you-use' value='{{fields.amtPerWeek}}'>
	                  											</div>
	                  										</td>
	                  									</tr>
	                  									<tr>
	                  										<td>
	                  											<label for='how-much-you-use' id='how_much_use_label'>How much?</label>
	                  										</td>
	                  										<td>
	                  											<div class='left-space-5'>
	                  											    <input type='text' id='how-much-you-use' name='how-much-you-use' value='{{fields.useAmt}}'>
	                  											</div>
	                  										</td>
	                  									</tr>
	                  								</table>
                  								</div>

                  								<table>
                  									<tr>
                  										<td>
                  											<label for='ever_used' id='have_you_ever_label'>Have you ever drank or used drugs?</label>
                  										</td>
                  										<td>
                  											<div class='single-line-radio'>
                  											    <input type='radio' id='never_used' name='ever_used' value='False' onClick='javascript: dhRadio2();'>
                  											<div>
                  										</td>
                  										<td>
                  											<label for='never_used' id='never_used_label'>No</label>
                  										</td>

                  										<td>
                  											<div class='single-line-radio'>
                  											    <input type='radio' id='has_used' name='ever_used' value='True' onClick="javascript: dhRadio2();">
                  										    </div>
                  										</td>
                  										<td>
                  											<label for='has_used' id='has_used_label'>Yes</label>
                  										</td>
                  									</tr>
                  								</table>

                  								<div class='sub-table-indent-40px'>
	                  								<table>
	                  									<tr>
	                  										<td>
	                  											<label for='quitYrs' id='quit-label'>How long ago did you quit?</label>
	                  										</td>
	                  									</tr>
	                  									<tr>
	                  										<td>
	                  											<table>
	                  												<tr>
	                  													<td>
				                  											<div>
				                  												<input type='number' name='quitMos' id='quitMos' class='small-number' value=''>
				                  												<label id='moLabel1'>months</label>
				                  											</div>
				                  										</td>
				                  										<td>
				                  											<div style='margin-left: 8px;'>
				                  												<input type='number' name='quitYrs' id='quitYrs' class='small-number' value=''>
				                  												<label id='yrLabel1'>years</label>
				                  											</div>
				                  										</td>
				                  									</tr>
	                  											</table>
	                  										</td>
	                  									</tr>
	                  									<table>
	                  										<tr>
	                  											<div style='margin-top:5px;'>
		                  											<td>
		                  												<label for='reason_quit' id='reason-quit-label'>Why did you quit?</label>
		                  											</td>
		                  											<td>
		                  												<div class='left-space-5'>
		                  												    <input type='text' id='reason_quit' name='reason_quit' value=''>
		                  											    </div>
		                  											</td>
	                  											</div>
	                  										</tr>
	                  									</table>
	                  								</table>
                  								</div>
                  								
                  								<table>
                  									<tr>
                  										<td>
                  											<label for='has_dui' id='got_dui_label'>Have you ever received a DUI?</label>
                  										</td>
                  										<td>
                  											<div class='single-line-radio'>
                  											    <input type='radio' id='no_dui' name='has_dui' value='False' onClick='javascript: dhRadio3();'>
                  											<div>
                  										</td>
                  										<td>
                  											<label for='no_dui' id='no_dui_label'>No</label>
                  										</td>

                  										<td>
                  											<div class='single-line-radio'>
                  											    <input type='radio' id='dui' name='has_dui' value='True' onClick='javascript: dhRadio3();'>
                  										    </div>
                  										</td>
                  										<td>
                  											<label for='dui' id='hasADui_label'>Yes</label>
                  										</td>
                  									</tr>
                  								</table>

                  								<div class='sub-table-indent-40px'>
	                  								<table>
	                  									<tr>
	                  										<td>
	                  											<table>
	                  												<tr>
	                  													<td>
	                  														<label for='dui_amount' id='dui_amount_label'>How many?</label>
	                  													</td>
	                  													<td>
	                  														<div class='left-space-5'>
	                  															<input type='number' id='dui_amount' name='dui_amount' class='small-number'>
	                  														</div>
	                  													</td>
	                  												</tr>
	                  											</table>
	                  										</td>
	                  									</tr>
	                  									<tr>
	                  										<td>
	                  											<label for='BAL' id='bal_label'>What was your blood alcohol level?</label>
	                  										</td>
	                  										<td>
	                  											<div class='left-space-5'>
	                  											    <input type='text' id='BAL' name='BAL' style='width:40px;'>
	                  											</div>
	                  										</td>
                                        <td>
                                          <label id='bal_label2'><b>&nbsp%</b></label>
                                        </td>
	                  									</tr>
	                  								</table>
                  								</div>
                  							</div>

                  							<table>
	                  								<tr>
                  										<td>
                  											<label for='need_help'>Do you need help for alcohol or drug dependency problems?</label>
                  										</td>
                  									</tr>
                  									<tr>
                  										<td>
                  											<table>
                  												<tr>
                  													<td>
                  														<div class='single-line-radio1'>
                  														    <input type='radio' name='need_help' id='give_me_help' value='True'>
                  														</div>
                  													</td>
                  													<td>
                  														<label for='give_me_help'>Yes</label>
                  													</td>
                  													
                  													<td>
                  														<div class='single-line-radio'>
                  														    <input type='radio' name='need_help' id='no_help' value='False'>
                  														</div>
                  													</td>
                  													<td>
                  														<label for='no_help'>No</label>
                  													</td>
                  												</tr>
                  											</table>
                  										</td>
                  									</tr>
	                  							</table> 
                  					</div>



                  					<!-- RIGHT SIDE -->
                  					<div class="col-md-5 col-sm-5">
                  						<div>
                  							<table>
                  								<tr>
                  									<td>
                  										<label for='treatment'>Have you ever received treatment for drug/alcohol abuse?</label>
                  									</td>
                  								</tr>
                  								<tr>
                  									<td>
                  										<table>
                  											<tr>
                  												<td>
                  													<div class='single-line-radio1'>
                  													    <input type='radio' name='treatment' id='had_treatment' value='True' onClick='javascript: dhLeftRadio1();'>
                  												    </div>
                  												</td>
                  												<td>
                  													<label for='had_treatment' id='had_treatment_label'>Yes</label>
                  												</td>
                  												
                  												<td>
                  													<div class='single-line-radio'>
                  													    <input type='radio' name='treatment' id='no_treatment' value='False' onClick='javascript: dhLeftRadio1();'>
                  													</div>
                  												</td>
                  												<td>
                  													<label for='no_treatment' id='no_treatment_label'>No</label>
                  												</td>
                  											</tr>
                  										</table>
                  									</td>
                  								</tr>
                  							</table>

                  							<div class='sub-table-indent-40px'>
	                  								<table>
	                  									<tr>
	                  										<td>
	                  											<table>
	                  												<tr>
	                  													<td>
	                  														<label for='when_treated' id='when_treated_label'>When?</label>
	                  													</td>
	                  													<td>
	                  														<div class='left-space-5'>
	                  															<!-- <textarea rows='1' cols='25' name='when_treated' id='when_treated'></textarea> -->
                                                  <input type='text' name='when_treated' id='when_treated'>
	                  														</div>
	                  													</td>
	                  												</tr>
	                  												<tr>
	                  													<td>
	                  														<label for='where_treated' id='where_treated_label'>Where?</label>
	                  													</td>
	                  													<td>
	                  														<div class='left-space-5'>
                                                  <input type='text' name='where_treated' id='where_treated'>
	                  															<!-- <textarea rows='1' cols='25' name='where_treated' id='where_treated'></textarea> -->
	                  														</div>
	                  													</td>
	                  												</tr>
	                  											</table>
	                  										</td>
	                  									</tr>
	                  								</table>
	                  								<table>
	                  									<tr>
                  										<td>
                  											<label for='completed_treatment' id='completed_treatment_label'>Did you complete treatment?</label>
                  										</td>
                  										<td>
                  											<div class='single-line-radio'>
                  											    <input type='radio' id='did_complete' name='completed_treatment' value='True' onClick='javascript: dhLeftRadio2();'>
                  										    </div>
                  										</td>
                  										<td>
                  											<label for='did_complete' id='did_complete_label'>Yes</label>
                  										</td>
                  										<td>
                  											<div class='single-line-radio'>
                  											    <input type='radio' id='not_completed' name='completed_treatment' value='False' onClick='javascript: dhLeftRadio2();'>
                  											<div>
                  										</td>
                  										<td>
                  											<label for='not_completed' id='not_completed_label'>No</label>
                  										</td>
                  									</tr>
	                  								</table>
                  								</div>

                  								<table>
                  									<tr>
                  										<td>
                  											<label for='no_treat_explain' id='no_complete_explain_label'>Explain why treatment was not completed below</label>
                  										</td>
                  									</tr>
                  									<tr>
                  										<td>
                  											<textarea id='no_treat_explain' name='no_treat_explain' rows='4' cols='50'></textarea>
                  										</td>
                  									</tr>
                  								</table>

                  								<table>
	                  									<tr>
                  										<td>
                  											<label for='still_abstinent' id='still_abstinent_label'>Are you still abstinent?</label>
                  										</td>
                  										<td>
                  											<div class='single-line-radio'>
                  											    <input type='radio' id='is_abstinent' name='still_abstinent' value='True' onClick='javascript: dhLeftRadio3();'>
                  										    </div>
                  										</td>
                  										<td>
                  											<label for='is_abstinent' id='is_abstinent_label'>Yes</label>
                  										</td>
                  										<td>
                  											<div class='single-line-radio'>
                  											    <input type='radio' id='not_abstinent' name='still_abstinent' value='False' onClick='javascript: dhLeftRadio3();'>
                  											<div>
                  										</td>
                  										<td>
                  											<label for='not_abstinent' id='not_abstinent_label'>No</label>
                  										</td>
                  									</tr>
	                  							</table>

												          <table>
                  									<tr>
                  										<td>
                  											<label for='relapse_explain' id='trigger_label'>What triggered your relapse?</label>
                  										</td>
                  									</tr>
                  									<tr>
                  										<td>
                  											<textarea id='relapse_explain' name='relapse_explain' rows='4' cols='50'></textarea>
                  										</td>
                  									</tr>
                  								</table>

                  								<table>
	                  								<tr>
                  										<td>
                  											<label for='drinking_last'>Were you drinking and/or using drugs during your most </label>
                  										</td>
                  									</tr>
                  									<tr>
                  										<td>
                  											<table>
                  												<tr>
                  													<td>
                  														<label for='drinking_last'>recent abusive episode?</label>
                  													</td>
                  													<td>
                  														<div class='single-line-radio'>
                  														    <input type='radio' name='drinking_last' id='was_drinking' value='True'>
                  														</div>
                  													</td>
                  													<td>
                  														<label for='was_drinking'>Yes</label>
                  													</td>
                  													
                  													<td>
                  														<div class='single-line-radio'>
                  														    <input type='radio' name='drinking_last' id='not_drinking' value='False'>
                  														</div>
                  													</td>
                  													<td>
                  														<label for='not_drinking'>No</label>
                  													</td>
                  												</tr>
                  											</table>
                  										</td>
                  									</tr>
	                  							</table>  

	                  							<table>
	                  								<tr>
                  										<td>
                  											<label for='relationship_alc'>Is the use of alcohol and or drugs a problem in your</label>
                  										</td>
                  									</tr>
                  									<tr>
                  										<td>
                  											<table>
                  												<tr>
                  													<td>
                  														<label for='relationship_alc'>relationship?</label>
                  													</td>
                  													<td>
                  														<div class='single-line-radio'>
                  														    <input type='radio' name='relationship_alc' id='is_problem' value='True'>
                  														</div>
                  													</td>
                  													<td>
                  														<label for='is_problem'>Yes</label>
                  													</td>
                  													
                  													<td>
                  														<div class='single-line-radio'>
                  														    <input type='radio' name='relationship_alc' id='no_problem' value='False'>
                  														</div>
                  													</td>
                  													<td>
                  														<label for='no_problem'>No</label>
                  													</td>
                  												</tr>
                  											</table>
                  										</td>
                  									</tr>
	                  							</table>                  							
                  						</div>
                  					</div>
                          </form>


                  					<div class="col-md-2 col-sm-2">
                  					</div>
                  				</div>
                  			</div>
                          
                            
<!-- _____________________________________________TOGGLE BUTTON_______________________________________________ -->




                        <table class='toggle-div-page'>
                        	<tr>
                        		<td>
                        			<div id="error-div-main">
                        				<p class='error-messages' id='error_msg_field'></p>
                        			</div>
                        		</td>
                        	</tr>
                        	<tr>
                        </table>
                        <table>
                        		<td>
                        			<div style='margin-left:12px;'>
				                        <a href="#menu-toggle" id="menu-toggle" class='but_a'>
				                        	<button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                        </a>
				                    </div>
			                    </td>

			                    <td>
			                    	<div id="submit-space">
				                        <a href="javascript: continue_am_dh()" id="continue" class='but_a'>
				                        	<button type='button' id='continue'>Continue</button>
				                        </a>
				                    </div>
			                    </td>
			                </tr>
	                    </table>

                        </div> <!-- end of section -->
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>        

</body>

{% endblock %}




