<!-- AM DRUG HISTORY -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am({{current_section}}, {{json_data}});">
    <form action='' method='post' id='am_demo' name='am_demo'> {% csrf_token %}
      <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
      <input type='hidden' name='next_section' id='next_section' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='form_name' id='form_name' value='am_demo'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

      <input type='hidden' name='m_amtPerWeek' id='m_amtPerWeek' value=''>
      <input type='hidden' name='m_useAmt' id='m_useAmt' value=''>
      <input type='hidden' name='m_everDrank' id='m_everDrank' value=''>
      <input type='hidden' name='m_yearsQuit' id='m_yearsQuit' value=''>
      <input type='hidden' name='m_monthsQuit' id='m_monthsQuit' value=''>
      <input type='hidden' name='m_reasonQuit' id='m_reasonQuit' value=''>
      <input type='hidden' name='m_DUI' id='m_DUI' value=''>
      <input type='hidden' name='m_numDUI' id='m_numDUI' value=''>
      <input type='hidden' name='m_BALevel' id='m_BALevel' value=''>
      <input type='hidden' name='m_treatmentPlace' id='m_treatmentPlace' value=''>
      <input type='hidden' name='m_dateTreated' id='m_dateTreated' value=''>
      <input type='hidden' name='m_finishedTreatment' id='m_finishedTreatment' value=''>
      <input type='hidden' name='m_reasonNotFinishedTreatment' id='m_reasonNotFinishedTreatment' value=''>
      <input type='hidden' name='m_isClean' id='m_isClean' value=''>
      <input type='hidden' name='m_relapseTrigger' id='m_relapseTrigger' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Anger Management Drug History</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_demographic/');">
                              <div  class='{{class.AMdemo}}'>Demographics</div>
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              <div  class='{{class.AMdh}}'>Drug History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_childhood/');">
                              <div  class='{{class.AMchild}}'>Childhood History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory/');">
                              <div  class='{{class.AMah1}}'>Recent Episodes I</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory2/');">
                              <div  class='{{class.AMah2}}'>Recent Episodes II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory3/');">
                              <div  class='{{class.AMah3}}'>Recent Episodes III</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_connections/');">
                              <div  class='{{class.AMconnect}}'>Abuse Connections</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_worst/');">
                              <div  class='{{class.AMworst}}'>Worst Episode</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerTarget/');">
                              <div  class='{{class.AMtarget}}'>Anger Targets</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_familyOrigin/');">
                              <div  class='{{class.AMfamily}}'>Family of Origin</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_problems/');">
                              <div  class='{{class.AMcurrent}}'>Current Problems</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_control/');">
                              <div  class='{{class.AMcontrol}}'>Anger Control</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_final/');">
                              <div  class='{{class.AMfinal}}'>Additional Info</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:41%; height:100%; margin-left:20px;'>
                    <h4>Drug/Alcohol History</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>1.</div></td>
                        <td><div id='e1'><div class='iml-label'>At what age did you have you first drink and/or drugs?</div></div></td>
                        <td><div class='iml-num'><input type='number' name='firstDrinkAge' id='firstDrinkAge' value='{{fields.firstDrinkAge}}' oninput="javascript: noErrorText('e1', 'firstDrinkAge');"></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>2.</div></td>
                        <td><div id='e2'><div class='iml-label'>What did you use?</div></div></td>
                        <td><div class=''><input type='text' name='firstDrinkType' id='firstDrinkType' value='{{fields.firstDrinkType}}' oninput="javascript: noErrorText('e2', 'firstDrinkType');"></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>3.</div></td>
                        <td><div class='iml-label'>Do you currently drink and/or use drugs?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='curUse' id='yesDrink' value='True' onClick='javascript: topLevelDH();'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='curUse' id='noDrink' value='False' onClick='javascript: topLevelDH();'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div id='e3'><div class='iml-sub-label-left' id='oftenLab'><li>How often do you use?</li></div></div></td>
                        <td><div><input type='text' name='amtPerWeek' id='amtPerWeek' value='{{fields.amtPerWeek}}' oninput="javascript: noErrorText('e3', 'amtPerWeek');"></div></td>
                      </tr>

                      <tr>
                        <td><div id='e4'><div class='iml-sub-label-left' id='muchLab'><li>How much do you use?</li></div></div></td>
                        <td><div><input type='text' name='useAmt' id='useAmt' value='{{fields.useAmt}}' oninput="javascript: noErrorText('e4', 'useAmt');"></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div' id='num_4'>4.</div></td>
                        <td><div class='iml-label' id='num_4Lab'>Have you ever drank or used drugs?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='everDrank' id='hasDrank' value='True' onClick='javascript: dhRadio2();'></div></td>
                        <td><div class='iml-sub-label' id='r1Lab'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='everDrank' id='noDrank' value='False' onClick='javascript: dhRadio2();'></div></td>
                        <td><div class='iml-sub-label' id='r2Lab'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-sub-label-left' id='lab3'><li>How long ago did you quit?</li></div></td>
                        <td><div class='iml-num'><input type='number' name='yearsQuit' id='yearsQuit' value='{{fields.yearsQuit}}' oninput="javascript: noErrorText('e5', 'yearsQuit');"></div></td>
                        <td><div id='e5'><div class='iml-sub-label' id='lab4'>years</div></div></td>
                        <td><div class='iml-num'><input type='number' name='monthsQuit' id='monthsQuit' value='{{fields.monthsQuit}}' oninput="javascript: noErrorText('e6', 'monthsQuit');"></div></td>
                        <td><div id='e6'><div class='iml-sub-label' id='lab5'>months</div></div></td>
                      </tr>
                    </table>
                    
                    <table>
                      <tr><td><div id='e7'><div class='iml-sub-label-left' id='lab6'><li>For what reasons did you quit?</li></div></div></td></tr>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='4' cols='60' name='reasonQuit' id='reasonQuit' value='' oninput="javascript: noErrorText('e7', 'reasonQuit');">{{fields.reasonQuit}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div' id='num_5'>5.</div></td>
                        <td><div class='iml-label' id='num_5Lab'>Have you ever received a DUI?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='DUI' id='hasDUI' value='True' onClick='javascript: dhRadio3();'></div></td>
                        <td><div class='iml-sub-label' id='lab7'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='DUI' id='noDui' value='False' onClick='javascript: dhRadio3();'></div></td>
                        <td><div class='iml-sub-label' id='lab8'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div id='e8'><div class='iml-sub-label-left' id='lab9'><li>How many?</li></div></div></td>
                        <td><div class='iml-num'><input type='number' name='numDUI' id='numDUI' value='{{fields.numDUI}}' oninput="javascript: noErrorText('e8', 'numDUI');"></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div id='e9'><div class='iml-sub-label-left' id='lab10'><li>What was your BAL?</li></div></div></td>
                        <td><div class=''><input type='text' name='BALevel' id='BALevel' value='{{fields.BALevel}}' oninput="javascript: noErrorText('e9', 'BALevel');"></div></td>
                      </tr>
                    </table>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:30px;'>
                    <h4>Treatment History</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>6.</div></td>
                        <td><div class='iml-label'>Have you ever received treatment for drug/alcohol abuse?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drugTreatment' id='hadTreatment' value='True' onClick='javascript: dhLeftRadio1();'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drugTreatment' id='noTreatment' value='False' onClick='javascript: dhLeftRadio1();'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div id='e10'><div class='iml-sub-label-left' id='lab11'><li>When did you receive treatment?</li></div></div></td>
                        <td><div class=''><input type='text' name='dateTreated' id='dateTreated' value='{{fields.dateTreated}}' oninput="javascript: noErrorText('e10', 'dateTreated');"></div></td>
                      </tr>

                      <tr>
                        <td><div id='e11'><div class='iml-sub-label-left' id='lab12'><li>Where did you receive treatment?</li></div></div></td>
                        <td><div class=''><input type='text' name='treatmentPlace' id='treatmentPlace' value='{{fields.treatmentPlace}}' oninput="javascript: noErrorText('e11', 'treatmentPlace');"></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div' id='num_7'>7.</div></td>
                        <td><div class='iml-label' id='lab13'>Did you successfully complete treatment?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='finishedTreatment' id='didFinish' value='True' onClick='javascript: dhLeftRadio2();'></div></td>
                        <td><div class='iml-sub-label' id='lab14'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='finishedTreatment' id='noFinish' value='False' onClick='javascript: dhLeftRadio2();'></div></td>
                        <td><div class='iml-sub-label' id='lab15'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div id='e12'><div class='iml-sub-label-left' id='lab16'><li>Why was treatment terminated?</li></div></div></td></tr>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='3' cols='60' name='reasonNotFinishedTreatment' id='reasonNotFinishedTreatment' value='' oninput="javascript: noErrorText('e12', 'reasonNotFinishedTreatment');">{{fields.reasonNotFinishedTreatment}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div' id='super_8_label'>8.</div></td>
                        <td><div class='iml-label' id='num_8Lab'>Are you still abstinent?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='isClean' id='isClean' value='True' onClick='javascript: dhLeftRadio3();'></div></td>
                        <td><div class='iml-sub-label' id='labe1'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='isClean' id='notClean' value='False' onClick='javascript: dhLeftRadio3();'></div></td>
                        <td><div class='iml-sub-label' id='labe2'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div id='e13'><div class='iml-sub-label-left' id='lab17'><li>What triggered your relapse?</li></div></div></td></tr>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='3' cols='60' name='relapseTrigger' id='relapseTrigger' value='' oninput="javascript: noErrorText('e13', 'relapseTrigger');">{{fields.relapseTrigger}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>9.</div></td>
                        <td><div class='iml-label'>Were you using during last episode?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drinkLastEpisode' id='yesLast' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drinkLastEpisode' id='noLast' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>10.</div></td>
                        <td><div class='iml-label'>Is use of alcohol/drug a problem in your relationship?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drinkRelationshipProblem' id='yesProb' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drinkRelationshipProblem' id='noProb' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>11.</div></td>
                        <td><div class='iml-label'>Do you need help for drug/alcohol abuse?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='needHelpDrugs' id='needHelp' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='needHelpDrugs' id='noHelp' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('am', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: continue_am_form('{{current_section}}'); return false;">Save & Continue</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
