<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_am({{current_section}}, {{json_data}});">
    <form action='' method='post' id='am_demo' name='am_demo'> {% csrf_token %}
      <input type='hidden' name='client_id' id='client_id' value='{{client.id}}'>
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
      <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
      <input type='hidden' name='save_section' id='save_section' value='/am_demographic/'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>

      <input type='hidden' name='m_own' id='m_own'>
      <input type='hidden' name='m_drop_out' id='m_drop_out'>
      <input type='hidden' name='m_health_problem' id='m_health_problem'>
      <input type='hidden' name='m_medication' id='m_medication'>
      <input type='hidden' name='m_resasonDO' id='m_resasonDO'>
      <input type='hidden' name='m_health_exp' id='m_health_exp'>
      <input type='hidden' name='m_whatMedicine' id='m_whatMedicine'>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Anger Management Drug History</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_demographic/');">
                              <div  class='iml-button'>Demographics</div>
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              <div  class='iml-button'>Drug History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_childhood/');">
                              <div  class='iml-button'>Childhood History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory/');">
                              <div  class='iml-button'>Recent Episodes I</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory2/');">
                              <div  class='iml-button'>Recent Episodes II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerHistory3/');">
                              <div  class='iml-button'>Recent Episodes III</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_connections/');">
                              <div  class='iml-button'>Abuse Connections</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_worst/');">
                              <div  class='iml-button'>Worst Episode</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_angerTarget/');">
                              <div  class='iml-button'>Anger Targets</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_familyOrigin/');">
                              <div  class='iml-button'>Family of Origin</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_problems/');">
                              <div  class='iml-button'>Current Problems</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_control/');">
                              <div  class='iml-button'>Anger Control</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: amSideBtnSubmit('/am_final/');">
                              <div  class='iml-button'>Additional Info</div>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:41%; height:100%; margin-left:20px;'>
                    <h4>Drug/Alcohol History</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>1.</div></td>
                        <td><div class='iml-label'>At what age did you have you first drink and/or drugs?</div></td>
                        <td><div class='iml-num'><input type='number' name='firstDrinkAge' id='firstDrinkAge' value='{{fields.firstDrinkAge}}'></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>2.</div></td>
                        <td><div class='iml-label'>What did you use?</div></td>
                        <td><div class=''><input type='text' name='firstDrinkType' id='firstDrinkType' value='{{fields.firstDrinkType}}'></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>3.</div></td>
                        <td><div class='iml-label'>Do you currently drink and/or use drugs?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='curUse' id='yesDrink' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='curUse' id='noDrink' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-sub-label-left'><li>How often do you use?</li></div></td>
                        <td><div><input type='text' name='amtPerWeek' id='amtPerWeek' value='{{fields.amtPerWeek}}'></div></td>
                      </tr>

                      <tr>
                        <td><div class='iml-sub-label-left'><li>How much do you use?</li></div></td>
                        <td><div><input type='text' name='useAmt' id='useAmt' value='{{fields.useAmt}}'></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>4.</div></td>
                        <td><div class='iml-label'>Have you ever drank or used drugs?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='everDrank' id='hasDrank' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='everDrank' id='noDrank' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-sub-label-left'><li>How long ago did you quit?</li></div></td>
                        <td><div class='iml-num'><input type='number' name='yearsQuit' id='yearsQuit' value='{{fields.yearsQuit}}'></div></td>
                        <td><div class='iml-sub-label'>years</div></td>
                        <td><div class='iml-num'><input type='number' name='monthsQuit' id='monthsQuit' value='{{fields.monthsQuit}}'></div></td>
                        <td><div class='iml-sub-label'>months</div></td>
                      </tr>
                    </table>
                    
                    <table>
                      <tr><td><div class='iml-sub-label-left'><li>For what reasons did you quit?</li></div></td></tr>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='4' cols='60' name='reasonQuit' id='reasonQuit' value=''>{{fields.reasonQuit}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>5.</div></td>
                        <td><div class='iml-label'>Have you ever received a DUI?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='DUI' id='hasDUI' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='DUI' id='noDui' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-sub-label-left'><li>How many?</li></div></td>
                        <td><div class='iml-num'><input type='number' name='numDUI' id='numDUI' value='{{fields.numDUI}}'></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-sub-label-left'><li>What was your BAL?</li></div></td>
                        <td><div class=''><input type='text' name='BALevel' id='BALevel' value='{{fields.BALevel}}'></div></td>
                      </tr>
                    </table>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:30px;'>
                    <h4>Treatment History</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>6.</div></td>
                        <td><div class='iml-label'>Have you ever received treatment for drug/alcohol abuse?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drugTreatment' id='hadTreatment' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drugTreatment' id='noTreatment' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-sub-label-left'><li>When did you receive treatment?</li></div></td>
                        <td><div class=''><input type='text' name='dateTreated' id='dateTreated' value='{{fields.dateTreated}}'></div></td>
                      </tr>

                      <tr>
                        <td><div class='iml-sub-label-left'><li>Where did you receive treatment?</li></div></td>
                        <td><div class=''><input type='text' name='treatmentPlace' id='treatmentPlace' value='{{fields.treatmentPlace}}'></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>7.</div></td>
                        <td><div class='iml-label'>Did you successfully complete treatment?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='finishedTreatment' id='didFinish' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='finishedTreatment' id='noFinish' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div class='iml-sub-label-left'><li>Why was treatment terminated?</li></div></td></tr>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='3' cols='60' name='reasonNotFinishedTreatment' id='reasonNotFinishedTreatment' value=''>{{fields.reasonNotFinishedTreatment}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>8.</div></td>
                        <td><div class='iml-label'>Are you still abstinent?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='isClean' id='isClean' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='isClean' id='notClean' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr><td><div class='iml-sub-label-left'><li>What triggered your relapse?</li></div></td></tr>
                      <tr><td><div><textarea class='iml-text-area-sub' rows='3' cols='60' name='relapseTrigger' id='relapseTrigger' value=''>{{fields.relapseTrigger}}</textarea></div></td></tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>9.</div></td>
                        <td><div class='iml-label'>Were you using during last episode?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drinkLastEpisode' id='yesLast' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drinkLastEpisode' id='noLast' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>10.</div></td>
                        <td><div class='iml-label'>Is use of alcohol/drug a problem in your relationship?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drinkRelationshipProblem' id='yesProb' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='drinkRelationshipProblem' id='noProb' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>11.</div></td>
                        <td><div class='iml-label'>Do you need help for drug/alcohol abuse?</div></td>
                        <td><div class='iml-radio'><input type='radio' name='needHelpDrugs' id='needHelp' value='True'></div></td>
                        <td><div class='iml-sub-label'>Yes</div></td>
                        <td><div class='iml-radio'><input type='radio' name='needHelpDrugs' id='noHelp' value='False'></div></td>
                        <td><div class='iml-sub-label'>No</div></td>
                      </tr>
                    </table>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('am', '{{current_section}}');">Exit Form</button></td>
                  <td><button onClick="javascript: continue_am_form('{{current_section}}');">Save & Continue</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
