{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initalize_am_worst();">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<table class='session-side'>
        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<h3>Client Profile</h3>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-name'>{{client.fname}} {{client.lname}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span class="sidebar-id">{{client.clientID}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-label1'>DOB: </span> <span class='sidebar-ans'>{{client.dob}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<span class='sidebar-label1'>SS: </span> <span class='sidebar-ans'>{{client.ss_num}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span id='sidebar-fill'>{{client.street_no}} {{client.street_name}} {{client.apartment_no}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<span id='sidebar-fill'>{{client.city}}, {{client.state}} {{client.zip_code}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span id='sidebar-fill'>{{phone}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span id='sidebar-fill'>{{client.email}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<h3>Session Info</h3>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-session-info'>{{session.s_type}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-session-info2'>{{session.start}}</h6>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-label1'>Duration: </span><span class='sidebar-duration'>{{session.s_type.duration}} minutes</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-duration'>${{session.s_type.fee}}.00</span>
                    	</div>
        			</td>
        		</tr>
        	</table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
            	<div class="form_headings_low">
                	<h3 id='am-h2'>Anger Management: Family of Origin</h3>

                	<div style='margin-top:30px;'>
                		<span id='header_question'>Please describe what the following individuals do/did with their anger, especially when you were growing up:</span>
                	</div>
                </div>

	            <div class="container">
	            	<div class="row">                   
	                  	<div class="col-md-5 col-sm-5">
	                  		<!-- _______________________LEFT SIDE_____________________ -->
	                  		<form action='/am_problems/' method='post' id='am_demo'> {% csrf_token %}
	                  			<input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
	                  			<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
	                  			<input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
	                  			<input type='hidden' name='back' id='back' value='false'>
	                            <input type='hidden' name='exit_type' id='exit_type' value=''>

	                            <!-- REAL DATA ENTRIES -->
	                            <input type='hidden' value='' name='m_kidMomAnger' id='m_kidMomAnger'>
	                            <input type='hidden' value='' name='m_kidDadAnger' id='m_kidDadAnger'>
	                            <input type='hidden' value='' name='m_kidSiblingAnger' id='m_kidSiblingAnger'>
	                            <input type='hidden' value='' name='m_kidOtherAnger' id='m_kidOtherAnger'>
	                            <input type='hidden' value='' name='m_learnFamilyAnger' id='m_learnFamilyAnger'>
	                            <input type='hidden' value='' name='m_suicideHistory' id='m_suicideHistory'>
	                            <input type='hidden' value='' name='m_hasLovingMother' id='m_hasLovingMother'>
	                            <input type='hidden' value='' name='m_hasLovingSiblings' id='m_hasLovingSiblings'>
	                           

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<label>1. Your father (step-father):</label>
	                            		</td>
	                            	</tr>

	                            	<tr>
	                            		<td>
	                            			<textarea cols='60' rows='4' name='kidDadAnger' id='kidDadAnger'></textarea>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<label>2. Your mother (step-mother):</label>
	                            		</td>
	                            	</tr>

	                            	<tr>
	                            		<td>
	                            			<textarea cols='60' rows='4' name='kidMomAnger' id='kidMomAnger'></textarea>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='hasLovingMother' id='hasLovingMother'>
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Client indicates that his/her mother is a very loving person.</label>
	                            			</div>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<label>3. Your siblings:</label>
	                            		</td>
	                            	</tr>

	                            	<tr>
	                            		<td>
	                            			<textarea cols='60' rows='4' name='kidSiblingAnger' id='kidSiblingAnger'></textarea>
	                            		</td>
	                            	</tr>
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<input type='checkbox' name='hasLovingSiblings' id='hasLovingSiblings'>
	                            		</td>

	                            		<td>
	                            			<div id='checkbox_label_fix'>
	                            				<label>Client indicates that he and his siblings have always had</label>
	                            			</div>
	                            		</td>
	                            	</tr>

	                            	<tr>
	                            		<td></td>
	                            		<td>
	                            			<div style='margin-left:5px;'><label>a good relationship.</label></div>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            </table>
	                            	
	                    </div>

	                    <div class="col-md-5 col-sm-5">
	                    	<!-- _________________________________RIGHT SIDE___________________________________ -->

	                    		<table>
	                            	<tr>
	                            		<td>
	                            			<label>4. Other significant persons (grandparents, etc.):</label>
	                            		</td>
	                            	</tr>

	                            	<tr>
	                            		<td>
	                            			<textarea cols='60' rows='4' name='kidOtherAnger' id='kidOtherAnger'></textarea>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            </table>
	                    		
	                            <table>
									<tr>
								        <td>
								            <label for='suicideHistory'>5. Is ther any family history of bad tempers, assults,</label>
								        </td>
								    </tr>
								   
								    <tr>
								        <td>
								        	<div>
									            <table>
									                <tr>
									                	<td>
									                		<div style='margin-right:10px;'>
									                			<label for='suicideHistory'>homicides, or suicides?</label>
									                		</div>
									                	</td>
									                    <td>
									                        <div class='single-line-radio1' style='margin-left:10px;'>
									                            <input type='radio' name='suicideHistory' id='hasSuicide' value='hasSuicide'>
									                        </div>
									                    </td>
									                    <td>
									                        <label for=''>Yes</label>
									                    </td>
									                                                                    
									                    <td>
									                        <div class='single-line-radio'>
									                            <input type='radio' name='suicideHistory' id='noSuicide' value='noSuicide' checked>
									                        </div>
									                    </td>
									                    <td>
									                        <label for=''>No</label>
									                    </td>
									                </tr>

									                <tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
									            </table>
									        </div>
								        </td>
								    </tr>
								</table> 

								<table>
	                            	<tr>
	                            		<td>
	                            			<label>6. In general, what did you learn about anger from <br>your family?</label>
	                            		</td>
	                            	</tr>

	                            	<tr>
	                            		<td>
	                            			<textarea cols='60' rows='4' name='learnFamilyAnger' id='learnFamilyAnger'></textarea>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            </table>

	                        </form>	              
	                    </div>
	                </div>

	                <div class="row">
				<!-- _____________________________________________BUTTONS_______________________________________________ -->

						<table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                        	<tr>
                        		<td>
                        			<div style='margin-left:12px;'>
				                        <a href="#menu-toggle" id="menu-toggle">
				                        	<button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <form action='/exit_am/' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
                                  <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
                                  <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                  <input type='hidden' name='exit_type' id='exit_type' value=''>
                                  <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                                </form>
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: exit_am("exit_only");' id='continue'>Delete and Exit</button>
                                </a>
                            </div>
                          </td>

			                    <td>
			                    	<div id="submit-space">
				                        <a href="javascript: " id="continue">
				                        	<button type='button' onClick='javascript: exit_am("exit_save");' id='continue'>Save and Exit</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: continue_to_am_problems();' id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
			                </tr>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

{% endblock %}







