{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initalize_am_connections({{json_data}});">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <table class='session-side'>
                <tr>
                    <td>
                        <div style='font-size:20px;'>
                            <h4>Details:</h4>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style='color:#fee047'>
                            <h4>{{session.s_type}}</h4>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span class='sidebar-name'>{{am.client.fname}} {{am.client.lname}}</span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id='sidebar-space-lower2'>
                            <span class="sidebar-id">{{am.client.clientID}}</span>
                        </div>
                    </td>
                </tr>



                <!-- <div style='margin-bottom: 80px;'></div> -->
                <tr>
                    <td>
                        <div id='sidebar-space-lower'>
                            <h4>Completed:</h4>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class='{{class.demo}}'>
                            <img src="{{image.demo_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Demographic
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.dh}}'>
                            <img src="{{image.dh_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Drug History
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.child}}'>
                            <img src="{{image.child_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Childhood History
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah1}}'>
                            <img src="{{image.ah1_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Anger History I
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah2}}'>
                            <img src="{{image.ah2_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Anger History II
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.ah3}}'>
                            <img src="{{image.ah3_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Anger History III
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.connect}}'>
                            <img src="{{image.connect_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Abuse Connections
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.worst}}'>
                            <img src="{{image.worst_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Worst Episode
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.target}}'>
                            <img src="{{image.target_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Anger Target
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.family}}'>
                            <img src="{{image.family_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Family of Origin
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.current}}'>
                            <img src="{{image.current_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Current Problems
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.control}}'>
                            <img src="{{image.control_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Anger Control
                            </a>
                        </div>
                    </td>
                </tr>

                <tr><td><div id='vertSpaceSideBar'></div></td></tr>

                <tr>
                    <td>
                        <div class='{{class.final}}'>
                            <img src="{{image.final_img}}" id='bullet-img'> &nbsp
                            <a href="javascript: sideDemographic();" name='demographicBtn' id='demographicBtn'>
                                Additional Info
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
            	<div class="form_headings">
                	<h3 id='am-h2'>Anger Management: Additional Information</h3>
                </div>

	            <div class="container">
	            	<div class="row">                   
	                  	<div class="col-md-12 col-sm-12">
	                  		<form action='/am_viewForm/' method='post' id='am_demo'> {% csrf_token %}
	                  			<input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
	                  			<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
	                  			<input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
	                  			<input type='hidden' name='back' id='back' value='false'>
	                            <input type='hidden' name='exit_type' id='exit_type' value=''>

	                            <!-- REAL DATA ENTRIES -->
	                            <input type='hidden' value='' name='m_anythingelse' id='m_anythingelse'>
	                            <input type='hidden' value='' name='m_changeLearn1' id='m_changeLearn1'>
	                            <input type='hidden' value='' name='m_changeLearn2' id='m_changeLearn2'>
	                            <input type='hidden' value='' name='m_changeLearn3' id='m_changeLearn3'>

	                            <ul>
	                            	<li>
	                            		<h5><em>Is there anything else that you can tell me that might help me understand <br>your anger and how it affects you and others?</em></h5>

	                            		<textarea name='anythingelse' id='anythingelse' rows='5' cols='70'></textarea>
	                            	</li>

	                            	<br><br>

	                            	<li>
	                            		<h5><em>Would you like to change or learn anything as a result of counseling?</em></h5>

	                            		<table>
	                            			<tr>
	                            				<td>
	                            					<label for='changeLearn1'><span class="sidebar-id2">Recommendation 1:</span></label>
	                            				</td>
	                            			</tr>

	                            			<tr>
	                            				<td>
	                            					<textarea name='changeLearn1' id='changeLearn1' rows='3' cols='70'></textarea>
	                            				</td>
	                            			</tr>
	                            		</table><br>

	                            		<table>
	                            			<tr>
	                            				<td>
	                            					<label for='changeLearn2'><span class="sidebar-id2">Recommendation 2:</span></label>
	                            				</td>
	                            			</tr>

	                            			<tr>
	                            				<td>
	                            					<textarea name='changeLearn2' id='changeLearn2' rows='3' cols='70'></textarea>
	                            				</td>
	                            			</tr>
	                            		</table><br>

	                            		<table>
	                            			<tr>
	                            				<td>
	                            					<label for='changeLearn3'><span class="sidebar-id2">Recommendation 3:</span></label>
	                            				</td>
	                            			</tr>

	                            			<tr>
	                            				<td>
	                            					<textarea name='changeLearn3' id='changeLearn3' rows='3' cols='70'></textarea>
	                            				</td>
	                            			</tr>
	                            		</table>
	                            	</li>
	                            </ul>   
	                        </form>	              
	                    </div>
	                </div>

	                <div class="row">
				<!-- _____________________________________________BUTTONS_______________________________________________ -->

						<table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                        	<tr>
                        		<td>
                        			<div style='margin-left:12px;'>
				                        <a href="#menu-toggle" id="menu-toggle">
				                        	<button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <form action='/exit_am/' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
                                  <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
                                  <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                  <input type='hidden' name='exit_type' id='exit_type' value=''>
                                  <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                                </form>
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: exit_am("exit_only");' id='continue'>Delete and Exit</button>
                                </a>
                            </div>
                          </td>

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: continue_to_amViewForm();' id='continue'>Finish</button>
                                </a>
                            </div>
                          </td>
			                </tr>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

{% endblock %}







