{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initalize_am_final();">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <table class='session-side'>
            <tr>
              <td>
                <div id='sideBarMainHeader'>
                  Session Details:
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div style='color:#fee047'>
                  <h4>Anger Management</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                          <span class='sidebar-name'>{{AM.client.fname}} {{AM.client.lname}}</span>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div id='sidebar-space-lower2'>
                          <span class="sidebar-id">{{AM.client.clientID}}</span>
                      </div>
              </td>
            </tr>



            <!-- <div style='margin-bottom: 80px;'></div> -->
            <tr>
              <td>
                <div id='sidebar-space-lower'>
                          <h4>Progress:</h4>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.AMdemo}}'>
                  <img src="{{image.demo_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_demographic/');" name='' id=''>
                    Demographics
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMdh}}'>
                  <img src="{{image.dh_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_drugHistory/');" name='asiGeneralBtn' id='asiGeneralBtn'>
                     Drug History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMchild}}'>
                  <img src="{{image.child_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_childhood/');" name='asiMedicalBtn' id='asiMedicalBtn'>
                    Childhood
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMah1}}'>
                  <img src="{{image.ah1_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_angerHistory/');" name='asiEmploymentBtn' id='asiEmploymentBtn'>
                    Anger History I
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMah2}}'>
                  <img src="{{image.ah2_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_angerHistory2/');" name='asiDrug1Btn' id='asiDrug1Btn'>
                    Anger History II
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMah3}}'>
                  <img src="{{image.ah3_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_angerHistory3/');" name='asiDrug2Btn' id=''>
                    Anger History III
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMconnect}}'>
                  <img src="{{image.connect_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_connections/');" name='' id=''>
                    Abuse Connections
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMworst}}'>
                  <img src="{{image.worst_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_worst/');" name='' id=''>
                    Worst Episodes
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMtarget}}'>
                  <img src="{{image.target_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_angerTarget/');" name='' id=''>
                    Anger Target
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMfamily}}'>
                  <img src="{{image.family_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_familyOrigin/');" name='' id=''>
                    Family
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMcurrent}}'>
                  <img src="{{image.current_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_problems/');" name='' id=''>
                    Current Problems
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMcontrol}}'>
                  <img src="{{image.control_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_control/');" name='' id=''>
                    Anger Control
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.AMfinal}}'>
                  <img src="{{image.final_img}}" id='bullet-img'> &nbsp
                  <a href="javascript: amSideBtnSubmit('/am_final/');" name='' id=''>
                    Additional Info
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='exit_btn_text'>
                  <img src="{% static 'images/exitBtn.png' %}" alt="exit_icon" class='exit_icon'>
                  <a href="javascript: generic_exit('am', '/am_final/');" name='sourceBtn' class='exit_a_tag'>
                    Exit
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
            	<div class="form_headings">
                	<h3 id='am-h2'>Anger Management: Additional Information</h3>
                </div>

	            <div class="container">
	            	<div class="row">                   
	                  	<div class="col-md-5 col-sm-5">
	                  		<form action='/am_viewForm/' method='post' id='am_demo'> {% csrf_token %}
	                  			<input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
	                  			<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
	                  			<input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>

                                <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
                                <input type='hidden' name='save_section' id='save_section' value='/am_final/'>
                                <input type='hidden' name='exit_type' id='exit_type' value='mh'>
                                <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
                                <input type='hidden' name='save_this' id='save_this' value=''>

                                <!-- ______________________________LEFT SIDE_________________________________ -->
                                <div id='h4_header_tag'>
                                    <h4>Additional Information</h4>
                                </div>

                                <table>
                                    <tr>
                                        <td>
                                            <label for='whoLivesWithClient'>
                                                1. Who lives with client at residence (include names, ages, and relationships to client)
                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <textarea rows='4' cols='66' name='whoLivesWithClient' id='whoLivesWithClient'>{{fields.whoLivesWithClient}}</textarea>
                                        </td>
                                    </tr>

                                    <tr><td><div style='margin-bottom:20px;'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <label for='anythingelse'>
                                                2. Is there anything else that you can tell me that might help me understand your anger and how it affects you and others?
                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <textarea rows='8' cols='66' name='anythingelse' id='anythingelse'>{{fields.anythingelse}}</textarea>
                                        </td>
                                    </tr>
                                </table>
                                
                            
                        </div>

                        <div class="col-md-5 col-sm-5">
                                <!-- ______________________________RIGHT SIDE_________________________________ -->
                                <div id='h4_header_tag'>
                                    <h4>Recommendations</h4>
                                </div>

                                <table>
                                    <tr>
                                        <td>
                                            <label>
                                                What would you like to change or learn as a result of counseling?
                                            </label>
                                        </td>
                                    </tr>

                                    <tr><td><div style='margin-bottom:20px;'></div></td></tr>
                                </table>

                                <table>
                                    <tr>
                                        <td>
                                            <span id='numbered_textarea'>
                                                1.
                                            </span>
                                        </td>

                                        <td>
                                            <textarea rows='4' cols='62' name='changeLearn1' id='changeLearn1'>{{fields.changeLearn1}}</textarea>
                                        </td>
                                    </tr>

                                    <tr><td><div style='margin-bottom:25px;'></div></td></tr>

                                    <tr>
                                        <td>
                                            <span id='numbered_textarea'>
                                                2.
                                            </span>
                                        </td>

                                        <td>
                                            <textarea rows='4' cols='62' name='changeLearn2' id='changeLearn2'>{{fields.changeLearn2}}</textarea>
                                        </td>
                                    </tr>

                                    <tr><td><div style='margin-bottom:25px;'></div></td></tr>

                                    <tr>
                                        <td>
                                            <span id='numbered_textarea'>
                                                3.
                                            </span>
                                        </td>

                                        <td>
                                            <textarea rows='4' cols='62' name='changeLearn3' id='changeLearn3'>{{fields.changeLearn3}}</textarea>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
	                </div>

	                <div class="row">
				<!-- _____________________________________________BUTTONS_______________________________________________ -->

						<table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                        	<tr>
                        		<td>
                        			<div style='margin-left:12px;'>
				                        <a href="#menu-toggle" id="menu-toggle">
				                        	<button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                        </a>
				                    </div>
			                    </td>

            

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick="javascript: continue_am_form('final');" id='continue'>Continue</button>
                                  <!-- <button type='button' onClick='javascript: continue_to_amViewForm();' id='continue'>Finish</button> -->
                                </a>
                            </div>
                          </td>
			                </tr>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

{% endblock %}







