{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body onLoad="set_radio_buttons()" class="gradient-white">

    <div class='header-images'>
      <div class="container">
            <div class="row">                   
                  <div class="col-md-12">
                        <div id='header-text'>
                              ANGER MANAGEMENT
                        </div>
                  </div>
            </div>
        </div>
    </div>

    <div>
      <div class="container">
            <div class="row">
            	<div class="col-md-12">
                    <div class='form_exist_page'>
						<span id='imcomplete_header'><b>This client has an incomplete Anger Management Profile</b></span><br>
						<h5>Date Created:: {{am.start_time}}</h5>
						<div style='margin-bottom:50px;'>
							<em style='color:blue;'>A new form cannot be created until the previous form has been resolved</em><br>
						</div>

						<h4>Please choose from the following options:</h4>
						<form action='/am_location/' method='post' id='chooseAMform'> {% csrf_token %}
							<input type='hidden' id='am_id' name='am_id' value="{{am.id}}">
							<input type='hidden' id='cli-id' name='cli-id' value='{{client.id}}'>
							<input type='hidden' id='client_id' name='client_id' value='{{client.id}}'>
							<input type='hidden' id='session_id' name='session_id' value='{{session.id}}'>
							<table>
								<tr>
									<td>
										<div id='incomplete_form_div'>
											<input type='radio' id='c1' name='am-choice' value='finish-old' checked='true'>
										</div>
									</td>
									<td>
										<label for='c1' id='incomplete_form_options'>Continue completing current anger management form on file</label>
									</td>
								</tr>

								<tr>
									<td>
										<div id='incomplete_form_div'>
											<input type='radio' id='c2' name='am-choice' value='start-new'>
										</div>
									</td>
									<td>
										<label for='c2' id='incomplete_form_options'>Start a new form <em style='color:green;'>*All previous incomplete Anger Management forms for this client will be deleted</em></label>
									</td>
								</tr>

								<tr>
									<td>
										<div id='incomplete_form_div'>
											<input type='radio' id='c3' name='am-choice' value='cancel'>
										</div>
									</td>
									<td>
										<label for='c3' id='incomplete_form_options'>Back to client options page</label>
									</td>
								</tr>
							</table>
							<div style='margin-bottom:20px;'></div>
							<!-- <input type='submit' value='submit'> -->
						</form> 

						<table>
							<tr>
								<td>
									<a href="javascript: goToCorrectAMForm()" class='but_a'>
										<button type='button'>Continue</button>
									</a>
								</td>
							</tr>
						</table>                            
                     </div>
                </div>
            </div>
        </div>
    </div>

      <div class="container">
        <div class="row">                   
            <div class="col-md-12">
                  
            </div>
        </div>
    </div>

</body>
{% endblock %}

