{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" style='text-align:center'>

	<div class='header-images'>
      <div class="container">
            <div class="row">                   
                  <div class="col-md-12">
                        <div id='header-text'>
                              ANGER MANAGEMENT INSTRUCTIONS
                        </div>

                        <table class='instruction_class'>
                            <tr>
                                <td>
                                    <h3>The Anger Management instructions will go into this table</h3>
                                </td>
                            </tr>
                        </table>
                  </div>
            </div>
        </div>
    </div>

	<form action='' method='post' id='am_instructions'> {% csrf_token %}
        <input type='hidden' name='client_id' id='client_id' value='{{client.id}}'>
        <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
        <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
        <input type='hidden' name='next_section' id='next_section' value='{{next_section}}'>
        <input type='hidden' name='save_section' id='save_section' value='/am_demographic/'>
        <input type='hidden' name='exit_type' id='exit_type' value='mh'>
        <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
        <input type='hidden' name='save_this' id='save_this' value=''>
	</form> 

        <div style='padding-top:5%'>
            <div class='toggle-div-page'>
            	<a href="javascript: " id="continue">
                    <button type='button' onClick='javascript: ' id='exitSession'>Cancel</button>
                </a>

                <a href="javascript: " id="continue">
                    <button type='button' onClick='javascript: start_am_form();' id='continueAMSession'>Continue</button>
                </a>
            </div>
        </div>


</body>

{% endblock %}