{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initalize_am_worst({{json_data}});">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<table class='session-side'>

                <form action='/exit_am/' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
                    <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                    <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                    <input type='hidden' name='exit_type_sub' id='exit_type_sub' value=''>
                </form>
                
        		<!-- <tr>
        			<td>
        				<div style='font-size:20px;'>
        					<h4>Details:</h4>
        				</div>
        			</td>
        		</tr> -->

        		<tr>
        			<td>
        				<div style='color:#fee047'>
        					<h4>{{session.s_type}}</h4>
        				</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-name'>{{AM.client.fname}} {{AM.client.lname}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span class="sidebar-id">{{AM.client.clientID}}</span>
                    	</div>
        			</td>
        		</tr>



        		<!-- <div style='margin-bottom: 80px;'></div> -->
        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<h4>Completed:</h4>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div class='{{class.demo}}'>
        					<img src="{{image.demo_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideDemo();" name='demographicBtn' id='demographicBtn'>
        						Demographic
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.dh}}'>
        					<img src="{{image.dh_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideDH();" name='demographicBtn' id='demographicBtn'>
        						Drug History
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.child}}'>
        					<img src="{{image.child_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideChild();" name='demographicBtn' id='demographicBtn'>
        						Childhood History
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.ah1}}'>
        					<img src="{{image.ah1_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideAh1();" name='demographicBtn' id='demographicBtn'>
        						Anger History I
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.ah2}}'>
        					<img src="{{image.ah2_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideAh2();" name='demographicBtn' id='demographicBtn'>
        						Anger History II
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.ah3}}'>
        					<img src="{{image.ah3_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideAh3();" name='demographicBtn' id='demographicBtn'>
        						Anger History III
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.connect}}'>
        					<img src="{{image.connect_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideConnect();" name='demographicBtn' id='demographicBtn'>
        						Abuse Connections
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.worst}}'>
        					<img src="{{image.worst_img}}" id='bullet-img'> &nbsp
        					<a href="#" name='demographicBtn' id='demographicBtn'>
        						Worst Episode
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.target}}'>
        					<img src="{{image.target_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideTarget();" name='demographicBtn' id='demographicBtn'>
        						Anger Target
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.family}}'>
        					<img src="{{image.family_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideFamily();" name='demographicBtn' id='demographicBtn'>
        						Family of Origin
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.current}}'>
        					<img src="{{image.current_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideCurrent();" name='demographicBtn' id='demographicBtn'>
        						Current Problems
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.control}}'>
        					<img src="{{image.control_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideControl();" name='demographicBtn' id='demographicBtn'>
        						Anger Control
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr><td><div id='vertSpaceSideBar'></div></td></tr>

        		<tr>
        			<td>
        				<div class='{{class.final}}'>
        					<img src="{{image.final_img}}" id='bullet-img'> &nbsp
        					<a href="javascript: sideFinal();" name='demographicBtn' id='demographicBtn'>
        						Additional Info
        					</a>
        				</div>
        			</td>
        		</tr>

        		<tr>
              <td>
                <div class='side_option_head'>
                  <h4>Exit Options:</h4>
                </div>
              </td>
            </tr>

            <tr>  
              <td>
                <table class='icon_table'>      
                  <!-- BUTTON 1 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("exit_save");'>
                        <table>
                          <tr>
                            <td>
                              <div id='save_icon_btn' style='margin-left:30px;'>
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='save_icon_text' style='margin-left:30px;'>
                                Save
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>

                  <td><div style='margin-right:15px;'></div></td>

                  <!-- BUTTON 2 -->
                  <td>
                    <div class='FA_side_bar_btn'>
                      <a href='javascript: exit_am("exit_only");'>
                        <table>
                          <tr>
                            <td>
                              <div id='trash_icon_btn'>
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div id='trash_icon_text'>
                                Delete
                              </div>
                            </td>
                          </tr>
                        </table>
                      </a>
                    </div>
                  </td>
                </table>
              </td>
            </tr>
        	</table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
            	<div class="form_headings_low">
                	<h3 id='am-h2'>Anger Management: Explain Your Worst Anger Episode</h3>
                </div>

	            <div class="container">
	            	<div class="row">                   
	                  	<div class="col-md-5 col-sm-5">
	                  		<!-- _______________________LEFT SIDE_____________________ -->
	                  		<form action='/am_angerTarget/' method='post' id='am_demo'> {% csrf_token %}
	                  			<input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
	                  			<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
	                  			<input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
	                  			<input type='hidden' name='back_btn' id='back_btn' value=''>
	                            <input type='hidden' name='exit_type' id='exit_type' value=''>

	                            <!-- REAL DATA ENTRIES -->
	                            <input type='hidden' value='' name='m_useWorst' id='m_useWorst'>
	                            <input type='hidden' value='' name='m_whoDidItFight' id='m_whoDidItFight'>
	                            <input type='hidden' value='' name='m_physicalWorst' id='m_physicalWorst'>
	                            <input type='hidden' value='' name='m_verbalWorst' id='m_verbalWorst'>
	                            <input type='hidden' value='' name='m_threatsWorst' id='m_threatsWorst'>
	                            <input type='hidden' value='' name='m_propertyWorst' id='m_propertyWorst'>
	                            <input type='hidden' value='' name='m_otherWorst' id='m_otherWorst'>
	                            <input type='hidden' value='' name='m_otherWorstDescription' id='m_otherWorstDescription'>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<label>1. When and with whom were involved?</label>
	                            		</td>
	                            	</tr>
	                            	<tr>
	                            		<td>
	                            			<textarea cols='55' rows='3' name='whoWorst' id='whoWorst'>{{fields.whoWorst}}</textarea>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<label>2. What Happened?</label>
	                            		</td>
	                            	</tr>
	                            	<tr>
	                            		<td>
	                            			<textarea cols='55' rows='3' name='happenedWorst' id='happenedWorst'>{{fields.happenedWorst}}</textarea>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<label>3. Main types of angry words and thoughts during <br>this episode:</label>
	                            		</td>
	                            	</tr>
	                            	<tr>
	                            		<td>
	                            			<textarea cols='55' rows='3' name='wordThoughtWorst' id='wordThoughtWorst'>{{fields.wordThoughtWorst}}</textarea>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<label>4. How did this angry episode start?</label>
	                            		</td>
	                            	</tr>
	                            	<tr>
	                            		<td>
	                            			<textarea cols='55' rows='3' name='howStartWorst' id='howStartWorst'>{{fields.howStartWorst}}</textarea>
	                            		</td>
	                            	</tr>
	                            </table>
	                    </div>

	                    <div class="col-md-5 col-sm-5">
	                    	<!-- _________________________________RIGHT SIDE___________________________________ -->

	                    		<table>
	                            	<tr>
	                            		<td>
	                            			<label>5. How did it this angry episode end?</label>
	                            		</td>
	                            	</tr>
	                            	<tr>
	                            		<td>
	                            			<textarea cols='55' rows='3' name='howEndWorst' id='howEndWorst'>{{fields.howEndWorst}}</textarea>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            	<tr><td><div class="worstVerticalSpace10"></div></td></tr>
	                            </table>

	                            <table>
									<tr>
								        <td>
								            <label for='need_help'>6. Any alcohol or drugs by anyone involved?</label>
								        </td>
								   
								        <td>
								        	<div id='move-radio-right'>
									            <table>
									                <tr>
									                    <td>
									                        <div class='single-line-radio1'>
									                            <input type='radio' name='useWorst' id='hadDrugs' value='hadDrugs' onClick="javascript: activateWorstRadio();">
									                        </div>
									                    </td>
									                    <td>
									                        <label for=''>Yes</label>
									                    </td>
									                                                                    
									                    <td>
									                        <div class='single-line-radio'>
									                            <input type='radio' name='useWorst' id='noDrugs' value='noDrugs' checked onClick="javascript: activateWorstRadio();">
									                        </div>
									                    </td>
									                    <td>
									                        <label for=''>No</label>
									                    </td>
									                </tr>
									            </table>
									        </div>
								        </td>
								    </tr>
								</table> 

								<table>
									<tr>
										<td>
											<div id='select_indent'>
												<label for='whoDidItFight' name='whoDidItFight_label' id='whoDidItFight_label'>Who was using?</label>
											</div>
										</td>

										<td>
											<select name='whoDidItFight' id='whoDidItFight'>
												<option value='not selected'>Select</option>
												<option value='Client Used'>Client Used</option>
												<option value='The Other Party Used'>The Other Party Used</option>
												<option value='Everyone Involved'>Everyone Involved</option>
											</select>
										</td>
									</tr>

									<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
									<tr><td><div class="worstVerticalSpace10"></div></td></tr>
								</table>

								<table>
									<tr>
										<td>
											<label>7. What actions did you demostrate during the angry episode?</label> <br>
											<span id='ital_label'>Check all that apply:</span>
										</td>
									</tr>

									<tr>
										<table>
											<tr>
												<td>
													<div id='select_indent_check'>
														<input type='checkbox' name='physicalWorst' id='physicalWorst'>
													</div>
												</td>

												<td>
													<div>
														<label>Physical</label>
													</div>
												</td>
											</tr>
										</table>
									</tr>

									<tr>
										<table>
											<tr>
												<td>
													<div id='select_indent_check'>
														<input type='checkbox' name='verbalWorst' id='verbalWorst'>
													</div>
												</td>

												<td>
													<div>
														<label>Verbal</label>
													</div>
												</td>
											</tr>
										</table>
									</tr>

									<tr>
										<table>
											<tr>
												<td>
													<div id='select_indent_check'>
														<input type='checkbox' name='threatsWorst' id='threatsWorst'>
													</div>
												</td>

												<td>
													<div>
														<label>Threats</label>
													</div>
												</td>
											</tr>
										</table>
									</tr>

									<tr>
										<table>
											<tr>
												<td>
													<div id='select_indent_check'>
														<input type='checkbox' name='propertyWorst' id='propertyWorst'>
													</div>
												</td>

												<td>
													<div>
														<label>Property Destruction</label>
													</div>
												</td>
											</tr>
										</table>
									</tr>

									<tr>
										<table>
											<tr>
												<td>
													<div id='select_indent_check'>
														<input type='checkbox' name='otherWorst' id='otherWorst' onClick="javascript: worstCheck();">
													</div>
												</td>

												<td>
													<div>
														<label>Other (Explain)</label>
													</div>
												</td>
											</tr>
										</table>
									</tr>

									<tr>
										<td>
											<div id='select_indent'>
												<textarea cols='55' rows='4' name='otherWorstDescription' id='otherWorstDescription'>{{fields.otherWorstDescription}}</textarea>
											</div>
										</td>
									</tr>
								</table>

	                        </form>	              
	                    </div>
	                </div>

	                <div class="row">
				<!-- _____________________________________________BUTTONS_______________________________________________ -->

						<table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                        	<tr>
                        		<td>
                        			<div style='margin-left:12px;'>
				                        <a href="#menu-toggle" id="menu-toggle">
				                        	<button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                        </a>
				                    </div>
			                    </td>

                         

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: continue_to_target();' id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
			                </tr>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

{% endblock %}







