{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initalize_am_worst({{json_data}});">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<table class='session-side'>
        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<h3>Client Profile</h3>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-name'>{{client.fname}} {{client.lname}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span class="sidebar-id">{{client.clientID}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-label1'>DOB: </span> <span class='sidebar-ans'>{{client.dob}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<span class='sidebar-label1'>SS: </span> <span class='sidebar-ans'>{{client.ss_num}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span id='sidebar-fill'>{{client.street_no}} {{client.street_name}} {{client.apartment_no}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower'>
                        	<span id='sidebar-fill'>{{client.city}}, {{client.state}} {{client.zip_code}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span id='sidebar-fill'>{{phone}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<span id='sidebar-fill'>{{client.email}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div id='sidebar-space-lower2'>
                        	<h3>Session Info</h3>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-session-info'>{{session.s_type}}</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-session-info2'>{{session.start}}</h6>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-label1'>Duration: </span><span class='sidebar-duration'>{{session.s_type.duration}} minutes</span>
                    	</div>
        			</td>
        		</tr>

        		<tr>
        			<td>
        				<div>
                        	<span class='sidebar-duration'>${{session.s_type.fee}}.00</span>
                    	</div>
        			</td>
        		</tr>
        	</table>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
            	<div class="form_headings_low">
                	<h3 id='am-h2'>Anger Management: Explain Your Worst Anger Episode</h3>
                </div>

	            <div class="container">
	            	<div class="row">                   
	                  	<div class="col-md-5 col-sm-5">
	                  		<!-- _______________________LEFT SIDE_____________________ -->
	                  		<form action='/am_angerTarget/' method='post' id='am_demo'> {% csrf_token %}
	                  			<input type='hidden' value='{{AM.id}}' id='am_id' name='am_id'>
	                  			<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
	                  			<input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
	                  			<input type='hidden' name='back' id='back' value='false'>
	                            <input type='hidden' name='exit_type' id='exit_type' value=''>

	                            <!-- REAL DATA ENTRIES -->
	                            <input type='hidden' value='' name='m_whoWorst' id='m_whoWorst'>
	                            <input type='hidden' value='' name='m_happenedWorst' id='m_happenedWorst'>
	                            <input type='hidden' value='' name='m_wordThoughtWorst' id='m_wordThoughtWorst'>
	                            <input type='hidden' value='' name='m_howStartWorst' id='m_howStartWorst'>
	                            <input type='hidden' value='' name='m_howEndWorst' id='m_howEndWorst'>
	                            <input type='hidden' value='' name='m_useWorst' id='m_useWorst'>
	                            <input type='hidden' value='' name='m_whoDidItFight' id='m_whoDidItFight'>
	                            <input type='hidden' value='' name='m_physicalWorst' id='m_physicalWorst'>
	                            <input type='hidden' value='' name='m_verbalWorst' id='m_verbalWorst'>
	                            <input type='hidden' value='' name='m_threatsWorst' id='m_threatsWorst'>
	                            <input type='hidden' value='' name='m_propertyWorst' id='m_propertyWorst'>
	                            <input type='hidden' value='' name='m_otherWorst' id='m_otherWorst'>
	                            <input type='hidden' value='' name='m_otherWorstDescription' id='m_otherWorstDescription'>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<label>1. When and with whom were involved?</label>
	                            		</td>
	                            	</tr>
	                            	<tr>
	                            		<td>
	                            			<textarea cols='60' rows='4' name='whoWorst' id='whoWorst'></textarea>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<label>2. What Happened?</label>
	                            		</td>
	                            	</tr>
	                            	<tr>
	                            		<td>
	                            			<textarea cols='60' rows='4' name='happenedWorst' id='happenedWorst'></textarea>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<label>3. Main types of angry words and thoughts during this episode:</label>
	                            		</td>
	                            	</tr>
	                            	<tr>
	                            		<td>
	                            			<textarea cols='60' rows='4' name='wordThoughtWorst' id='wordThoughtWorst'></textarea>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            </table>

	                            <table>
	                            	<tr>
	                            		<td>
	                            			<label>4. How did this angry episode start?</label>
	                            		</td>
	                            	</tr>
	                            	<tr>
	                            		<td>
	                            			<textarea cols='60' rows='4' name='howStartWorst' id='howStartWorst'></textarea>
	                            		</td>
	                            	</tr>
	                            </table>
	                    </div>

	                    <div class="col-md-5 col-sm-5">
	                    	<!-- _________________________________RIGHT SIDE___________________________________ -->

	                    		<table>
	                            	<tr>
	                            		<td>
	                            			<label>5. How did it this angry episode end?</label>
	                            		</td>
	                            	</tr>
	                            	<tr>
	                            		<td>
	                            			<textarea cols='60' rows='4' name='howEndWorst' id='howEndWorst'></textarea>
	                            		</td>
	                            	</tr>

	                            	<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
	                            	<tr><td><div class="worstVerticalSpace10"></div></td></tr>
	                            </table>

	                            <table>
									<tr>
								        <td>
								            <label for='need_help'>6. Any alcohol or drugs by anyone involved?</label>
								        </td>
								   
								        <td>
								        	<div id='move-radio-right'>
									            <table>
									                <tr>
									                    <td>
									                        <div class='single-line-radio1'>
									                            <input type='radio' name='useWorst' id='hadDrugs' value='hadDrugs' onClick="javascript: activateWorstRadio();">
									                        </div>
									                    </td>
									                    <td>
									                        <label for=''>Yes</label>
									                    </td>
									                                                                    
									                    <td>
									                        <div class='single-line-radio'>
									                            <input type='radio' name='useWorst' id='noDrugs' value='noDrugs' checked onClick="javascript: activateWorstRadio();">
									                        </div>
									                    </td>
									                    <td>
									                        <label for=''>No</label>
									                    </td>
									                </tr>
									            </table>
									        </div>
								        </td>
								    </tr>
								</table> 

								<table>
									<tr>
										<td>
											<div id='select_indent'>
												<label for='whoDidItFight' name='whoDidItFight_label' id='whoDidItFight_label'>Who was using?</label>
											</div>
										</td>

										<td>
											<select name='whoDidItFight' id='whoDidItFight'>
												<option value='not selected'>Select</option>
												<option value='client used only'>Client Used</option>
												<option value='other party used only'>The Other Party Used</option>
												<option value='all parties involved used'>Everyone Involved</option>
											</select>
										</td>
									</tr>

									<tr><td><div class="worstVerticalSpace"></div></td></tr> <!-- VERTICAL SPACE -->
									<tr><td><div class="worstVerticalSpace10"></div></td></tr>
								</table>

								<table>
									<tr>
										<td>
											<label>7. What actions did you demostrate during the angry episode?</label> <br>
											<span id='ital_label'>Check all that apply:</span>
										</td>
									</tr>

									<tr>
										<table>
											<tr>
												<td>
													<div id='select_indent_check'>
														<input type='checkbox' name='physicalWorst' id='physicalWorst'>
													</div>
												</td>

												<td>
													<div>
														<label>Physical</label>
													</div>
												</td>
											</tr>
										</table>
									</tr>

									<tr>
										<table>
											<tr>
												<td>
													<div id='select_indent_check'>
														<input type='checkbox' name='verbalWorst' id='verbalWorst'>
													</div>
												</td>

												<td>
													<div>
														<label>Verbal</label>
													</div>
												</td>
											</tr>
										</table>
									</tr>

									<tr>
										<table>
											<tr>
												<td>
													<div id='select_indent_check'>
														<input type='checkbox' name='threatsWorst' id='threatsWorst'>
													</div>
												</td>

												<td>
													<div>
														<label>Threats</label>
													</div>
												</td>
											</tr>
										</table>
									</tr>

									<tr>
										<table>
											<tr>
												<td>
													<div id='select_indent_check'>
														<input type='checkbox' name='propertyWorst' id='propertyWorst'>
													</div>
												</td>

												<td>
													<div>
														<label>Property Destruction</label>
													</div>
												</td>
											</tr>
										</table>
									</tr>

									<tr>
										<table>
											<tr>
												<td>
													<div id='select_indent_check'>
														<input type='checkbox' name='otherWorst' id='otherWorst' onClick="javascript: worstCheck();">
													</div>
												</td>

												<td>
													<div>
														<label>Other (Explain)</label>
													</div>
												</td>
											</tr>
										</table>
									</tr>

									<tr>
										<td>
											<div id='select_indent'>
												<textarea cols='55' rows='4' name='otherWorstDescription' id='otherWorstDescription'></textarea>
											</div>
										</td>
									</tr>
								</table>

	                        </form>	              
	                    </div>
	                </div>

	                <div class="row">
				<!-- _____________________________________________BUTTONS_______________________________________________ -->

						<table>
                          <tr>
                            <td>
                              <div id="error-div-main">
                                <p class='error-messages' id='error_message_main'></p>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table class='toggle-div-page'>
                        	<tr>
                        		<td>
                        			<div style='margin-left:12px;'>
				                        <a href="#menu-toggle" id="menu-toggle">
				                        	<button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <form action='/exit_am/' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
                                  <input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
                                  <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                                  <input type='hidden' name='exit_type' id='exit_type' value=''>
                                  <input type='hidden' name='am_id' id='am_id' value='{{AM.id}}'>
                                </form>
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: exit_am("exit_only");' id='continue'>Delete and Exit</button>
                                </a>
                            </div>
                          </td>

			                    <td>
			                    	<div id="submit-space">
				                        <a href="javascript: " id="continue">
				                        	<button type='button' onClick='javascript: exit_am("exit_save");' id='continue'>Save and Exit</button>
				                        </a>
				                    </div>
			                    </td>

                          <td>
                            <div id="submit-space">
                                <a href="javascript: " id="continue">
                                  <button type='button' onClick='javascript: continue_to_target();' id='continue'>Continue</button>
                                </a>
                            </div>
                          </td>
			                </tr>
	                    </table>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

{% endblock %}







