{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body onLoad="javascript: searchRadio();" class="gradient-white">

    <div class='header-images-red'>
      	<div class="container">
            <div class="row">                   
                  <div class="col-md-12">
                        <div id='header-text'>
                              ADMINISTRATIVE TOOLS
                        </div>
                  </div>
            </div>

            <div style='margin-bottom:18%;'></div>

        <div class='the-home-wrapper-options-red'>
	        <div class="row"> <!-- TOP ROW OF BUTTONS -->
	        	<div class="col-sm-2 col-md-2"></div> <!-- LEFT MARGIN -->

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/underConstruction/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle-red'>
			           						<div class='roundIconClass'>
			           							<img src="{% static 'images/new_images/newClient.png' %}" alt="" class='apptImgSize'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Clients
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/underConstruction/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle-red'>
			           						<div class='roundIconClass'>
			           							<img src="{% static 'images/new_images/newCounselor.png' %}" alt="" class='apptImgSize'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Counselors
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/treatmentResourcesMain/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle-red'>
			           						<div class='roundIconClass'>
			           							<img src="{% static 'images/new_images/deleteClient.png' %}" alt="" class='apptImgSize'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Resources
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/underConstruction/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle-red'>
			           						<div class='roundIconClass2'>
			           							<img src="{% static 'images/calendar.png' %}" alt="" class='image_icon4'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Insurance
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2"></div> <!-- RIGHT MARGIN -->
	        </div> <!-- END TOP ROW OF BUTTONS -->

	        <div style='margin-bottom:3%;'></div>

	        <div class="row"> <!-- BOTTOM ROW OF BUTTONS -->
	        	<div class="col-sm-2 col-md-2"></div> <!-- LEFT MARGIN -->

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/treatmentResourcesMain/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle-red'>
			           						<div class='appImgMargin'>
			           							<img src="{% static 'images/new_images/alert.png' %}" alt="" class='apptImgSize'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Referrals
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/underConstruction/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle-red'>
			           						<div class='appImgMargin'>
			           							<img src="{% static 'images/new_images/myAccount.png' %}" alt="" class='apptImgSize'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Services Offered
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/underConstruction/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle-red'>
			           						<div class='appImgMargin'>
			           							<img src="{% static 'images/new_images/approved2.png' %}" alt="" class='apptImgSize'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			My Account
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/adminHome/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle-red'>
			           						<div class='appImgMargin'>
			           							<img src="{% static 'images/new_images/home.png' %}" alt="" class='apptImgSize'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Home
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2"></div> <!-- LEFT MARGIN -->
        </div>
    </div>

    <div class="container">
        <div class="row">                   
            <div class="col-md-12">
                  
            </div>
        </div>
    </div>

</body>
{% endblock %}

