{% load staticfiles %}

<head>
	<title>{{title}}</title>
	<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
</head>

<body class='body500' onLoad='javacript: initializeTreatmentEdit();'>
    <input type='text' id='test3' style='width:400px;'>

    <div class='treatmentResourceWrapper'>
        <form action='' method='post' id='t_form' name='t_form' enctype="multipart/form-data"> {% csrf_token %}
            <input type='hidden' name='m_isDAS' id='m_isDAS' value=''>
            <input type='hidden' name='m_isAccredited' id='m_isAccredited' value=''>
            <input type='hidden' name='m_isHandiCap' id='m_isHandiCap' value=''>
            <input type='hidden' name='m_tpye_treat' id='m_tpye_treat' value=''>
            <input type='hidden' name='r_id' id='r_id' value=''>
            <div class='treatmentInputs_wow'>
                <div style='height:10px;'></div>
                <input style='width:402px;' type='text' name='name' id='name' placeholder='Company Name' oninput="Javascript: clearNC('name');" value='{{tr.name}}'> <br>
                <div style='height:10px;'></div>
                <input style='width:402px;' type='text' name='address' id='address' placeholder='Address' oninput="Javascript: clearNC('address');" value='{{tr.address}}'> <br>
                <div style='height:10px;'></div>
                <input style='width:200px;' type='text' name='city' id='city' placeholder='City' oninput="Javascript: clearNC('city');" value='{{tr.city}}'>

                <select name='state' id='state' onChange="Javascript: clearNCS('state');">
                    <option value='None Selected'>State</option>

                    {% for s in states %}
                    <option value='{{s.state}}'>{{s.state}}</option>
                    {% endfor %}
                </select>

                <input type='text' style='width:65px;' name='zip_code' id='zip_code' placeholder='Zip Code' oninput="Javascript: zipBuilderWow_Uni('zip_code'); clearNC('zip_code');"> <br>
                <div style='height:10px;'></div>

                <input style='width:200px;' type='text' name='director_name' id='director_name' placeholder='Director/Supervisor Name'>
                <input style='width:200px;' type='text' name='director_title' id='director_title' placeholder='Director/Supervisor Title'> <br>
                <div style='height:10px;'></div>

                <input style='width:200px;' type='text' name='phone' id='phone' placeholder='Phone' oninput="Javascript: phoneBuilderWow_Uni('phone'); clearNC('phone');">
                <input style='width:200px;' type='text' name='fax' id='fax' placeholder='Fax'  oninput="Javascript: phoneBuilderWow_Uni('fax'); clearNC('fax');"> <br>
                <div style='height:10px;'></div>

                <input style='width:200px;' type='text' name='email' id='email' placeholder='Email'>
                <input style='width:200px;' type='text' name='website' id='website' placeholder='Website' onClick="Javascript: webBuilderWow_Uni('website');"> <br>

                <table>
                    <tr>
                        <td><div><input type='checkbox' name='isDAS' id='isDAS' value='' onClick="javascript: setCheckTru_wow(isDAS, m_isDAS);"></div></td>
                        <td><div class='makemeStable_sm'>Licensed by DAS</div></td>
                        <!-- <td><div style='width:'></div></td> -->
                        <td><div><input type='checkbox' name='isAccredited' id='isAccredited' value='' onClick="javascript: setCheckTru_wow(isAccredited, m_isAccredited);"></div></td>
                        <td><div  class='makemeStable_sm'>State Accredited</div></td>

                        <td><div><input type='checkbox' name='isHandiCap' id='isHandiCap' value='' onClick="javascript: setCheckTru_wow(isHandiCap, m_isHandiCap);"></div></td>
                        <td><div  class='makemeStable_md'>Handicap Accessible</div></td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td><div style='padding-left:3px;'>Type of Organization</div></td>

                        <td>
                            <div style='width:160px;'>
                                <select name='type_organ' id='type_organ' style='width:130px;' onChange="Javascript: clearNCS('type_organ');" >
                                    <option value='None Selected'>Select</option>
                                    <option value='Profit'>Profit</option>
                                    <option value='Non-Profit'>Non-Profit</option>
                                    <option value='Other/Unknown'>Other/Unknown</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class='servMeWrapper'>
                    <div class='servMeHere'><b>Services Offered</b>&nbsp&nbsp<span><em> Check all that apply</em></span></div>

                    <table>
                        <tr>
                            <td><div><input type='checkbox' name='so1' id='so1' value='Co-occurring' onClick="javascript: m_loadTreatmentType();"></div></td>
                            <td><div class='makemeStable'>Co-Occurring</div></td>
                            <!-- <td><div style='width:'></div></td> -->
                            <td><div><input type='checkbox' name='so2' id='so2' value='Short-Term Residential' onClick="javascript: m_loadTreatmentType();"></div></td>
                            <td><div class='makemeStable'>Short-Term Residential</div></td>
                        </tr>

                        <tr>
                            <td><div><input type='checkbox' name='so3' id='so3' value='Partial Care Treatment' onClick="javascript: m_loadTreatmentType();"></div></td>
                            <td><div class='makemeStable'>Partial Care Treatment</div></td>
                            <!-- <td><div style='width:'></div></td> -->
                            <td><div><input type='checkbox' name='so4' id='so4' value='Long-Term Residential' onClick="javascript: m_loadTreatmentType();"></div></td>
                            <td><div class='makemeStable'>Long-Term Residential</div></td>
                        </tr>

                        <tr>
                            <td><div><input type='checkbox' name='so5' id='so5' value='Outpatient' onClick="javascript: m_loadTreatmentType();"></div></td>
                            <td><div class='makemeStable'>Outpatient</div></td>
                            <!-- <td><div style='width:'></div></td> -->
                            <td><div><input type='checkbox' name='so6' id='so6' value='OPOID Maintenance - Outpatient' onClick="javascript: m_loadTreatmentType();"></div></td>
                            <td><div class='makemeStable'>OPOID Maintenance - Outpatient</div></td>
                        </tr>

                        <tr>
                            <td><div><input type='checkbox' name='so7' id='so7' value='Intensive Outpatient' onClick="javascript: m_loadTreatmentType();"></div></td>
                            <td><div style='makemeStable'>Intensive Outpatient</div></td>
                            <!-- <td><div style='width:'></div></td> -->
                            <td><div><input type='checkbox' name='so8' id='so8' value='OPOID Maintenance - Intensive Outpatient' onClick="javascript: m_loadTreatmentType();"></div></td>
                            <td><div style='makemeStable'>OPOID Maintenance -<br>Intensive Outpatient</div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>

    <!-- <div style='height:20px;'></div> -->

    <div class='half-length-single-btn'>
        <button onClick='Javascript: treatmentEditComplete();'>Submit</button>
        <button onClick='Javascript: window.close(); return false;'>Cancel</button>
    </div>

    <script src="{% static 'js/custom_js.js' %}" type="text/javascript"></script>
</body>