{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body onLoad="javascript: searchRadio();" class="gradient-white">

    <div class='header-images'>
      	<div class="container">
            <div class="row">                   
                  <div class="col-md-12">
                        <div id='header-text'>
                              FORM SEARCH
                        </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">                   
            <div class="col-md-12">
                  
            </div>
        </div>
    </div>

</body>
{% endblock %}

