<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white">
    <!-- <input type='text' id='superTest' style='width:600px;'> -->
    <form action='' method='post' id='t_form' name='t_form' enctype="multipart/form-data"> {% csrf_token %}
      <input type='hidden' id='client_id' name='client_id' value='{{c1.id}}' >
      <input type='hidden' id='selectedDiv' name='selectedDiv' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Treatment Resources</div>
            </div>

            <div class='wow-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                 <!-- WRAPPER FIXER -->
                  <div class='col-md-6' style='width:89.3%; height:66.7vh;'>  
                    <div class='full_page_input_wow'>
                      <div class='resource_leftSide_wrapper'>
                        {% for l in left %}
                        <a href="javascript: highlightSelectedResource('{{l.id}}', {{id_data}});">
                            <div class='unselected_treatmentResource' id='outer_{{l.id}}'>
                                <div class='resource_name_head'>{{l.name}}</div>

                                <div class='resource_addy_head'>{{l.address}}</div>
                                <div class='resource_addy_head'>{{l.city}}, {{l.state}} {{l.zip_code}}</div>

                                <div class='resource_dirc_head'><b>{{l.director_title}}:</b> <span>{{l.director_name}}</span></div>

                                <div class='resource_phon_head'><b>Phone:</b> <span>{{l.phone}}</span> <b>Fax:</b> <span>{{l.fax}}</span></div>

                                <div class='resource_webl_head'><b>Email:</b> <span>{{l.email}}</span></div>
                                <div class='resource_webl_head'><b>Website:</b> <span>{{l.website}}</span></div>
                            </div>
                          </a>
                        {% endfor %}
                      </div>

                      <div class='resource_rightSide_wrapper'>
                        {% for r in right %}
                        <a href="javascript: highlightSelectedResource('{{r.id}}', {{id_data}});">
                            <div class='unselected_treatmentResource' id='outer_{{r.id}}'>
                                <div class='resource_name_head'>{{r.name}}</div>

                                <div class='resource_addy_head'>{{r.address}}</div>
                                <div class='resource_addy_head'>{{r.city}}, {{r.state}} {{r.zip_code}}</div>

                                <div class='resource_dirc_head'><b>{{r.director_title}}:</b> <span>{{r.director_name}}</span></div>

                                <div class='resource_phon_head'><b>Phone:</b> <span>{{r.phone}}</span> <b>Fax:</b> <span>{{r.fax}}</span></div>

                                <div class='resource_webl_head'><b>Email:</b> <span>{{r.email}}</span></div>
                                <div class='resource_webl_head'><b>Website:</b> <span>{{r.website}}</span></div>
                            </div>
                          </a>
                        {% endfor %}
                      </div>
                    </div>                    
                  </div>

                </div>
              </div>
            </div>
    </form>  

            <div class='triple_button_main_div'>
                <button onClick="javascript: newTreatmentResource(); return false;" style='margin-left:5px;'>Add New Resource</button>
                <button onClick="javascript: editSelectedResource(); return false;">Edit Selected</button>
                <button onClick="javascript: deleteSelectedResource(); return false;">Delete Selected</button>
                <button onClick="javascript: AdministrativeMain(); return false;">Exit</button>
            </div>  

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}


