<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad='javascript: initialize_dischargeForm();'>
    <!-- <input type='text' id='superTest' style='width:600px;'> -->
    <form action='' method='post' id='c_form' name='c_form' enctype="multipart/form-data"> {% csrf_token %}
        <input type='hidden' id='client_id' name='client_id'value='{{client_id}}' >
        <input type='hidden' name='fetchB' id='fetchB' value='false'>

        <div class='container'>
          <div class='row'>
            <div class="col-md-12" style='width:100%; height:84vh;'>
              <div class='iml-body-wrapper2'>

                <div id='crafft-info-head'>
                  <div style='margin-left:3%;'>CRAFFT Screening Interview</div>
                </div>

                <div class='crafftBtnHolder'>
                    <table>
                        <tr>
                            <td>
                                <a href="javascript: crafft_submit_and_score(); return false;">
                                    <div class='crafftButton'>
                                        Submit
                                    </div>
                                </a>
                            </td>

                            <td>
                                <a href="javascript: crafft_view_instruction(); return false;">
                                    <div class='crafftButton'>
                                        View Scoring Instructions
                                    </div>
                                </a>
                            </td>

                            <td>
                                <a href="javascript: crafft_return_to_options(); return false;">
                                    <div class='crafftButton'>
                                        Cancel
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>

                    <div class='divider_gradient' style='margin-top:5px;'></div>
                </div>

                <div class='wow-data-entry-wrapperCrafft'>
                  <div class='container'>
                    <div class='row'>

                     <!-- WRAPPER FIXER -->
                      <div class='col-md-6' style='width:89.3%; height:64.6vh;'>
                          <div style='height:20px;'></div>
                          <div class='crafftOpener'>
                                <b>Begin:</b> "I'm going to ask you a few questions that I ask all my patients. Please be honest. I will keep your answers confidential."
                          </div>

                          <div class='divider_gradient' style='margin-bottom:15px;'></div>

                          <div class='singleCrafftForm'>
                              <div class='crafftTop'>
                                  <div class='craftMainFormFull'>
                                      <div class='craftTH1'>DURING THE <span>PAST 12 MONTHS</span>, DID YOU:</div>
                                  </div>

                                  <div class='craftMainFormRadioDkHd'><div class='crafftCenter'>No</div></div>                              
                                  <div class='craftMainFormRadio'><div class='crafftCenter'>Yes</div></div>
                              </div>

                              <div class='craftInnerDiv'>
                                  <div class='crafftMainFormNumber'><div class='crafftInNum'>1.</div></div>
                                  <div class='craftMainFormLeft'>
                                      <div class='crafftDoubleInputLine'>
                                          Drink any <span>ALCOHOL</span> (more than a few sips)?<br>
                                          <em>Do not count sips of alcohol taken during family or religious events.</em>
                                      </div>
                                  </div>

                                  <div class='craftMainFormRadioDk'>
                                    <div class='crafftCenterRadioInput'>
                                        <input type='radio' name='a1' id='a1False' value='False' checked onClick='javascript: crafft_goToBSection();'>
                                    </div>
                                  </div>

                                  <div class='craftMainFormRadio'>
                                    <div class='crafftCenterRadioInput'>
                                        <input type='radio' name='a1' id='a1True' value='True' onClick='javascript: crafft_goToBSection();'>
                                    </div>
                                  </div>
                              </div>

                              <div class='craftInnerDiv'>
                                  <div class='crafftMainFormNumber'><div class='crafftInNum'>2.</div></div>
                                  <div class='craftMainFormLeft'>
                                      <div class='crafftSingleInputLine'>
                                          Smoke and <span>MARIJUANA</span> or <span>HASHISH</span>?
                                      </div>
                                  </div>
                                  
                                  <div class='craftMainFormRadioDk'>
                                    <div class='crafftCenterRadioInput'>
                                        <input type='radio' name='a2' id='a2False' value='False' checked onClick='javascript: crafft_goToBSection();'>
                                    </div>
                                  </div>

                                  <div class='craftMainFormRadio'>
                                    <div class='crafftCenterRadioInput'>
                                        <input type='radio' name='a2' id='a2True' value='True' onClick='javascript: crafft_goToBSection();'>
                                    </div>
                                  </div>
                              </div>

                              <div class='craftInnerDiv'>
                                  <div class='crafftMainFormNumber'><div class='crafftInNum'>3.</div></div>
                                  <div class='craftMainFormLeft'>
                                      <div class='crafftDoubleInputLine'>
                                          Use anything else to get <span>HIGH</span>? <em>("anything else" includes illeagal drugs, over the counter and prescription drugs, and things that you sniff or "huff")</em>
                                      </div>
                                  </div>
                                  
                                  <div class='craftMainFormRadioDk'>
                                    <div class='crafftCenterRadioInput'>
                                        <input type='radio' name='a3' id='a3False' value='False' checked onClick='javascript: crafft_goToBSection();'>
                                    </div>
                                  </div>

                                  <div class='craftMainFormRadio'>
                                    <div class='crafftCenterRadioInput'>
                                        <input type='radio' name='a3' id='a3True' value='True' onClick='javascript: crafft_goToBSection();'>
                                    </div>
                                  </div>
                              </div>

                              <div class='crafftBottomDiv' id='b1Dynamic'>
                                  <div class='crafftMainFormNumber'><div class='crafftInNum'>4.</div></div>
                                  <div class='craftMainFormLeft'>
                                      <div class='crafftDoubleInputLine'>
                                          Have you ever ridden in a <span>CAR</span> driven by someone (including yourself)<br>
                                          who was "high" or had been using alcohol or drugs?
                                      </div>
                                  </div>
                                  
                                  <div class='craftMainFormRadioDk'>
                                    <div class='crafftCenterRadioInput'>
                                        <input type='radio' name='b1' id='b1False' value='False' checked onClick='javascript: crafft_goToBSection();'>
                                    </div>
                                  </div>

                                  <div class='craftMainFormRadio'>
                                    <div class='crafftCenterRadioInput'>
                                        <input type='radio' name='b1' id='b1True' value='True' onClick='javascript: crafft_goToBSection();'>
                                    </div>
                                  </div>
                              </div>
                          </div>

                          <div style='width:50%; margin:auto;'><div class='divider_gradient' style='margin-bottom:15px;'></div></div>

                          <div class='confHead'>Confidentiality Notice</div>
                              <div class='confNotice'>
                                The information recorded on this page may be protected by special confidentiality rules (42 CFR Part 2), which prohibit disclosure of this information unless authorized by specific written concent. A general authorization for release of medical information is <b>NOT</b> sufficient for this purpose.
                              </div>                    
                          </div>

                    </div>
                  </div>
                </div>
        </form>  

          </div>
        </div>
      </div>
    </div>
  </body>

{% endblock %}  





























  <!-- <div class='confHead'>Confidentiality Notice</div>
                        <div class='confNotice'>
                          The information recorded on this page may be protected by special confidentiality rules (42 CFR Part 2), which prohibit disclosure of this information unless authorized by specific written concent. A general authorization for release of medical information is NOT sufficient for this purpose.
                        </div>

                        <div style='height:15px;'></div>
                        <div class='crafftOpener'>
                            <b>Begin:</b> "I'm going to ask you a few questions that I ask all my patients. Please be honest. I will keep your answers confidential."
                        </div>  
                        <div class='divider_gradient'></div>

                        <div class='wowTrueLeft'>
                          <div class='fixitupWrapper'>

                            <div class='yeildPart1'>Part A</div>

                            <div class='crafftTable1'>
                              <table>
                                <tr>
                                  <th><div class='crafft-sm-th-lng'>During the <u>PAST 12 MONTHS</u>, did you:</div></th>
                                  <th><div class='crafft-sm-th'>No</div></th>
                                  <th><div class='crafft-sm-th'>Yes</div></th>
                                </tr>

                                <tr>
                                  <td>
                                    <div class='crafftSubTitle1'>
                                      <b>1. </b>Drink any <u>alcohol</u> (more than a few sips)? <br>
                                      <em>Do not count sips of alcohol taken during family or religious events.</em>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class='crafftSubTitle1' style='padding-top:8px;'>
                                      <b>2.</b> Smoke any <u>marijuana or hashish</u>?
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class='crafftSubTitle1' style='height:60px;'>
                                      <b>3.</b> Use <u>anything else</u> to <u>get high</u>?<br>
                                      <em>("anything else" includes illegal drugs, over the counter and<br>
                                      prescription drugs, and things that you sniff or "huff")</em>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>

                        <div class='wowTrueRight'>
                          <div class='fixitupWrapper'>

                            <div class='yeildPart2'>Part B</div>

                            <div class='crafftTable1'>
                              <table>
                                <tr>
                                  <td>
                                    <div class='crafftSubTitle1' style='font-size:11px;'>
                                      <b>1. </b>Have you ever ridden in a <b><u>CAR</u></b> driven by someone <em>(including <br>
                                      yourself) who was "high" or had been using alcohol or drugs?</em>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:25px'>
                                      <div class='miniBoolCrafft'>No</div>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:25px'>
                                      <div class='miniBoolCrafft'>Yes</div>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class='crafftSubTitle1' style='font-size:11px;'>
                                      <b>2. </b>Do you ever use alcohol or drugs to <b><u>RELAX</u></b>, feel better about<br>
                                      yourself, or fit in?
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:20px'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:20px'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class='crafftSubTitle1' style='height:22px; font-size:11px;'>
                                      <b>3. </b>Do you ever use alcohol or drugs while you are by yourself, or <b><u>ALONE</u></b>?
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:20px'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:20px'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class='crafftSubTitle1' style='height:22px; font-size:11px'>
                                      <b>4. </b>Do you ever <b><u>FORGET</u></b> things you did while using alcohol or drugs?
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:20px'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:20px'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class='crafftSubTitle1' style='font-size:11px;'>
                                      <b>5. </b>Do your <b><u>FAMILY</u></b> or <b><u>FRIENDS</u></b> ever tell you that you should cut down<br> on your drinking or drug use?
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:20px'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:20px'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td>
                                    <div class='crafftSubTitle1' style='height:22px; font-size:11px;'>
                                      <b>6. </b>Have you ever gotten into <b><u>TROUBLE</u></b> while you were using?
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:20px'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>

                                  <td>
                                    <div class='crafft_box_wrapper' style='width:20px'>
                                      <div class='crafft_center_box'>
                                        <input type='checkbox' name='' id='' value=''>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>   -->




