{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body onLoad="set_radio_buttons()" class="gradient-white">

    <div class='header-images'>
      <div class="container">
            <div class="row">                   
                  <div class="col-md-12">
                        <div id='header-text'>
                              Exit Options
                        </div>
                  </div>
            </div>
        </div>
    </div>

    <div>
      <div class="container">
            <div class="row">

            	<div class="col-md-2"></div>

            	<div class="col-md-8">
                    <table class='exit_table_class'>
                    	<tr>
                    		<td>
                    			<h3 id='am-h2'>
                    				{{type_header}} Assessment Exit Options
                    			</h3>
                    		</td>
                    	</tr>

                    	<tr>
                    		<td>
                    			<div id='sub_exit_text'>
                    				Please choose from the following options:
                    			</div>
                    		</td>
                    	</tr>
                    </table>                   
                </div>   <!--  END OF CENTER DIV -->

                <div class="col-md-2"></div>

            </div>
        </div>
    </div>

      <div class="container">
      	<div class="row"> 
      		<div>
      		 	<!-- LEFT MARGIN  -->          
		        <div class="col-md-2">
		        </div>


		       <!--  __________________________REAL BUTTONS GO HERE__________________________ -->

		        <div class="col-md-8">
		           	<div class='exitBtn_class'>
		           		<table class='round_exit_center'>
		           			<!-- _________BUTTONS GO ON THIS ROW___________ -->
		           			<tr>
		           				<td>
		           					<a href="">
		           						<div>
		           							<div class='center-rounded'>
		           								<div class='round-button'>
		           								    <div class='round-button-circle'>
		           								    	<div class='roundIconClass'>
		           								    		<img src="{% static 'images/exit_form.png' %}" alt="" class='image_icon'>
		           								    	</div>
		           								    </div>
		           							    </div>
		           							</div>
		           						</div>

		           						<div class='exitBtn_headerText'>
		           							Continue {{type_header}}
		           						</div>
		           					</a>
		           				</td>

		           				<td>
		           					<a href="">
		           						<div>
		           							<div class='center-rounded'>
		           								<div class='round-button'>
		           								    <div class='round-button-circle'>
		           								    	<div class='roundIconClass1'>
		           								    		<img src="{% static 'images/exit_trash.png' %}" alt="" class='image_icon3'>
		           								    	</div>
		           								    </div>
		           							    </div>
		           							</div>
		           						</div>

		           						<div class='exitBtn_headerText'>
		           							Delete {{type_header}}
		           						</div>
		           					</a>
		           				</td>

		           				<td>
		           					<a href="">
		           						<div>
		           							<div class='center-rounded'>
		           								<div class='round-button'>
		           								    <div class='round-button-circle'>
		           								    	<div class='roundIconClass3'>
		           								    		<img src="{% static 'images/exit_door.png' %}" alt="" class='image_icon2'>
		           								    	</div>
		           								    </div>
		           							    </div>
		           							</div>
		           						</div>

		           						<div class='exitBtn_headerText'>
		           							End Session
		           						</div>
		           					</a>
		           				</td>

		           				<td>
		           					<a href="">
		           						<div>
		           							<div class='center-rounded'>
		           								<div class='round-button'>
		           								    <div class='round-button-circle'>
		           								    	<div class='roundIconClass2'>
		           								    		<img src="{% static 'images/exit_menu.png' %}" alt="" class='image_icon'>
		           								    	</div>
		           								    </div>
		           							    </div>
		           							</div>
		           						</div>

		           						<div class='exitBtn_headerText'>
		           							Session Options
		           						</div>
		           					</a>
		           				</td>
		           			</tr>
		           		</table>               
		            </div>
		        </div>



		        <!-- LEFT MARGIN  --> 
		        <div class="col-md-2">
		        </div>
		    </div>
        </div>
    </div>

</body>
{% endblock %}

