{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body onLoad="set_radio_buttons()" class="gradient-white">

    <div class='header-images'>
      <div class="container">
            <div class="row">                   
                  <div class="col-md-12">
                        <div id='header-text'>
                              Exit Options
                        </div>
                  </div>
            </div>
        </div>
    </div>

    <form action='' method='post' name='exit_form' id='exit_form'> {% csrf_token %}
    	<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
    	<input type='hidden' name='form_id' id='form_id' value='{{form.id}}'>
    	<input type='hidden' name='form_type' id='form_type' value='{{form_type}}'>
    	<input type='hidden' name='last_section' id='last_section' value='{{last_section}}'>
    	<input type='hidden' name='cli-id' id='cli-id' value='{{session.client.id}}'>
    	<input type='hidden' name='client_id' id='client_id' value='{{session.client.id}}'>
    	<input type='hidden' name='goToNext' id='goToNext' value=''>
    	<input type='hidden' name='new_session' id='new_session' value='false'>
    	<input type='hidden' name='form_name' id='form_name' value='exit_form'>
    	<input type='hidden' name='back' id='back' value=''>

    	<!-- goToNext but be 'true' if going back to form -->

    	<input type='hidden' name='am_id' id='am_id' value='{{form.id}}'>
    	<input type='hidden' name='sap_id' id='sap_id' value='{{form.id}}'>
    	<input type='hidden' name='mh_id' id='mh_id' value='{{form.id}}'>
    	<input type='hidden' name='ut_id' id='ut_id' value='{{form.id}}'>
    	<input type='hidden' name='asi_id' id='asi_id' value='{{form.id}}'>
    	<input type='hidden' name='d_id' id='d_id' value='{{form.id}}'>
    	<input type='hidden' name='c2Type' id='c2Type' value='new'>
    </form>

    <div>
      <div class="container">
            <div class="row">

            	<div class="col-md-2"></div>

            	<div class="col-md-8">
                    <table class='exit_table_class'>
                    	<tr>
                    		<td>
                    			<h3 id='am-h2'>
                    				{{type_header}} Assessment Exit Options
                    			</h3>
                    		</td>
                    	</tr>

                    	<tr>
                    		<td>
                    			<div id='sub_exit_text'>
                    				Please choose from the following options:
                    			</div>
                    		</td>
                    	</tr>
                    </table>                   
                </div>   <!--  END OF CENTER DIV -->

                <div class="col-md-2"></div>

            </div>
        </div>
    </div>

      <div class="container">
      	<div class="row"> 
      		<div>
      		 	<!-- LEFT MARGIN  -->          
		        <div class="col-md-2">
		        </div>


		       <!--  __________________________REAL BUTTONS GO HERE__________________________ -->

		        <div class="col-md-8">
		           	<div class='exitBtn_class'>
		           		<table class='round_exit_center'>
		           			<!-- _________BUTTONS GO ON THIS ROW___________ -->
		           			<tr>
		           				<td>
		           					<a href="javascript: genericReturnToForm();">
		           						<div>
		           							<div class='center-rounded'>
		           								<div class='round-button'>
		           								    <div class='round-button-circle'>
		           								    	<div class='roundIconClass'>
		           								    		<img src="{% static 'images/exit_form.png' %}" alt="" class='image_icon'>
		           								    	</div>
		           								    </div>
		           							    </div>
		           							</div>
		           						</div>

		           						<div class='exitBtn_headerText'>
		           							Continue Form
		           						</div>
		           					</a>
		           				</td>

		           				<td>
		           					<a href="#" onClick='javascript: generic_delete_form();'>
		           						<div>
		           							<div class='center-rounded'>
		           								<div class='round-button'>
		           								    <div class='round-button-circle'>
		           								    	<div class='roundIconClass1'>
		           								    		<img src="{% static 'images/exit_trash.png' %}" alt="" class='image_icon3'>
		           								    	</div>
		           								    </div>
		           							    </div>
		           							</div>
		           						</div>

		           						<div class='exitBtn_headerText'>
		           							Delete Form
		           						</div>
		           					</a>
		           				</td>

		           				<td>
		           					<a href="javascript: generic_exit_home()">
		           						<div>
		           							<div class='center-rounded'>
		           								<div class='round-button'>
		           								    <div class='round-button-circle'>
		           								    	<div class='roundIconClass3'>
		           								    		<img src="{% static 'images/exit_door.png' %}" alt="" class='image_icon2'>
		           								    	</div>
		           								    </div>
		           							    </div>
		           							</div>
		           						</div>

		           						<div class='exitBtn_headerText'>
		           							Close Session
		           						</div>
		           					</a>
		           				</td>

		           				<td>
		           					<a href="javascript: generic_to_session();">
		           						<div>
		           							<div class='center-rounded'>
		           								<div class='round-button'>
		           								    <div class='round-button-circle'>
		           								    	<div class='roundIconClass2'>
		           								    		<img src="{% static 'images/exit_menu.png' %}" alt="" class='image_icon'>
		           								    	</div>
		           								    </div>
		           							    </div>
		           							</div>
		           						</div>

		           						<div class='exitBtn_headerText'>
		           							Session Options
		           						</div>
		           					</a>
		           				</td>
		           			</tr>
		           		</table>               
		            </div>
		        </div>



		        <!-- LEFT MARGIN  --> 
		        <div class="col-md-2">
		        </div>
		    </div>
        </div>
    </div>

</body>
{% endblock %}

