{% load staticfiles %}

<head>
	<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
</head>

<body class='refreshBody' onLoad='initialize_refresh_popup()'>
	<div class="container">
		<div class="row"> 
			<div class="col-md-12 col-sm-12">
				<div class='refreshWrapper'>

					<form action='/genericFormRefreshed/' method='post' id='refresh_form'> {% csrf_token %}
						<input type='hidden' name='child_form_type' id='child_form_type' value=''>
						<input type='hidden' name='child_form_id' id='child_form_id' value=''>
						<input type='hidden' name='child_session_id' id='child_session_id' value=''>
						<input type='hidden' name='type_header' id='type_header' value='{{type_header}}'>
					</form>

					<div id='refreshHeader'>
						Are you sure?
					</div>

					<table>
						<tr>
							<td>
								<img src="{% static 'images/warning.png' %}" alt="warning_icon2" id='warning_icon2'>
							</td>

							<td>
								

								<div id='refreshBodyText'>
									If you start over, no other files for this client will be altered. However, proceeding will permanently erase all data associated with the current incomplete <b><em>{{form_header}}</em></b> profile. 
								</div>
								<div id='refreshQuestion'>
									Do you wish to proceed?
								</div>
							</td>
						</tr>
					</table>

					<table class='refreshTable'>
						<tr>
							<td>
								<a href="javascript: refreshForm();">
									<div>
										<button type='button' class='refreshBtn'>Proceed</button>
									</div>
								</a>
							</td>

							<td>
								<a href="javascript: window.close();">
									<div>
										<button type='button' class='refreshBtn'>Cancel</button>
									</div>
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/custom_js.js' %}" type="text/javascript"></script>

</body>