<h1>Login</h1>

<form action="/auth/" method="post" id='login' name='login'> {% csrf_token %}
	<table>
		<tr>
			<td>
				<label for="username">Username: </label>
			</td>
			<td>
				<input type="text" name="username" value="" id="username">
			</td>
		</tr>

		<tr>
			<td>
				<label for="password">Password: </label>
			</td>
			<td>
				<input type="password" name="password" value="" id="password">
			</td>
		</tr>

		<tr>
			<td>
				<input type="submit" value="Submit" /> 
			</td>
		</tr>
	</table>
</form>