<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_asi({{current_section}}, {{json_data}});">
    <form action='' method='post' id='r_form' name='r_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='asi_id' id='asi_id' value='{{session.asi.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='asi'>
      <input type='hidden' name='form_name' id='form_name' value='asi_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Home Page</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: roommate_new();">
                              <div  class='iml-button-incomplete-xl'>New Candidate</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_ref();">
                              <div  class='iml-button-incomplete-xl'>New Application</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_eval();">
                              <div  class='iml-button-incomplete-xl'>Evaluation</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_all();">
                              <div  class='iml-button-incomplete-xl'>View Candidates</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_win()">
                              <div  class='iml-button-incomplete-xl'>View Applicants</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- CENTER DIV -->
                  <div class='col-md-12' style='width:79.5%; margin:auto; margin-top:10%; margin-left:60px;'>
                      <div class='row'>
                        <div class='col-md-3'>
                            <a href="javascript: roommate_ref();" class='home_a_tag'>
                              <div class='home_rm_div'>
                                <div class='home_rm_image_wrapper'>
                                </div>

                                <div class='home_rm_text_wrapper'>
                                  <div>New Application</div>
                                </div>
                              </div>
                            </a>
                          </div>

                          <div class='col-md-3'>
                            <a href="javascript: rm_home_buttons('/rm_edit_app/');" class='home_a_tag'>
                                <div class='home_rm_div'>
                                  <div class='home_rm_image_wrapper'>
                                  </div>

                                  <div class='home_rm_text_wrapper'>
                                    <div>Edit Application</div>
                                  </div>
                              </div>
                            </a>
                          </div>

                          <div class='col-md-3'>
                            <a href="javascript: rm_home_buttons('/rm_top_apps/');" class='home_a_tag'>
                              <div class='home_rm_div'>
                                <div class='home_rm_image_wrapper'>
                                </div>

                                <div class='home_rm_text_wrapper'>
                                  <div>Top Applicants</div>
                                </div>
                              </div>
                            </a>
                          </div>

                          <div class='col-md-3'>
                            <a href="javascript: rm_home_buttons('/rm_new_lease/');" class='home_a_tag'>
                              <div class='home_rm_div'>
                                <div class='home_rm_image_wrapper'>
                                </div>

                                <div class='home_rm_text_wrapper'>
                                  <div>Create Lease</div>
                                </div>
                              </div>
                            </a>
                          </div>
                      </div>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div class='row'>
              <div class='col-md-12' style='width:100%'>
                <table class='iml-save-btn'>
                  <tr>
                    <td><button onClick="javascript: ">Home</button></td>
                    <td><button onClick="javascript: exit_roommate_page();">Back To Simeon</button></td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
