<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_rm_application({{rating}}, '{{isCandidate}}');">
    <form action='' method='post' id='r_form' name='r_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='asi_id' id='asi_id' value='{{session.asi.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='asi'>
      <input type='hidden' name='form_name' id='form_name' value='asi_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>
      <input type='hidden' name='app_id' id='app_id' value='{{applicant.id}}'>

      <input type='hidden' name='stub' id='stub' value='{{stub}}'>
      <input type='hidden' name='credit' id='credit' value='{{credit}}'>
      <input type='hidden' name='d_id' id='d_id' value='{{d_id}}'>
      <input type='hidden' name='ref1' id='ref1' value='{{ref1}}'>
      <input type='hidden' name='ref2' id='ref2' value='{{ref2}}'>
      <input type='hidden' name='ref3' id='ref3' value='{{ref3}}'>
      <input type='hidden' name='work' id='work' value='{{work}}'>
      <input type='hidden' name='pNality' id='pNality' value='{{pNality}}'>
      <input type='hidden' name='candidate' id='candidate' value='{{candidate}}'>
      <input type='hidden' name='d_notes' id='d_notes' value='{{notes}}'>
      <input type='hidden' name='rating' id='rating' value='{{rating}}'>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Evaluate Candidates</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: roommate_new();">
                              <div  class='iml-button-incomplete-xl'>New Candidate</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_ref();">
                              <div  class='iml-button-incomplete-xl'>New Application</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_eval();">
                              <div  class='iml-button-incomplete-xl'>Evaluation</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_all();">
                              <div  class='iml-button-incomplete-xl'>View Candidates</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_win()">
                              <div  class='iml-button-incomplete-xl'>View Applicants</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:40%; height:100%; margin-left:140px;'>
                    <div class='top-split5'>
                    	<table style='width:100%; margin:auto; text-align:center;'>
                    		<tr><td><div class='applicant_name2' style='color:#576461'>{{applicant.firstName}} {{applicant.lastName}}</div></td></tr>
                    		<tr>
                    			<td>
                    				<div id='a_photo_wrapper' class='' >
                    					<img src="/static/media/{{applicant.photo}}" alt="search_img" class='applicant_photo3' id='{{val.application.id}}'>
                    				</div>
                    			</td>
                    		</tr>
                    	</table>

                    	<div style='height:20px;'></div>
                    	<div class='rm_description_quote'>"{{applicant.description}}"</div>

                    </div>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:10%; margin-left:0px;'>
                    <div class='top-split5'>
                      	<h4 style='margin-top:50px;'>Contact Information</h4>

                      	<table>
                      		<tr><td><div style='color:#3796cd; font-size:15px;'><em>{{applicant.email}}</em></div></td></tr>
                      		<tr><td><div>{{applicant.phone}}</div></td></tr>
                      	</table>

                      	<h4 style='margin-top:30px;'>Applicant Details</h4>

                      	<table>
                      		<tr>
                      			<td><div class='eval_rm_label'>Gender: </div></td>
                      			<td><div class='eval_rm_ans2'>{{applicant.dob}}</div></td>
                      		</tr>
                      	</table>

                      	<table>
                      		<tr>
                      			<td><div class='eval_rm_label'>DOB: </div></td>
                      			<td><div class='eval_rm_ans2'>{{applicant.dob}}</div></td>
                      		</tr>

                      		<tr>
                      			<td><div class='eval_rm_label'>SSN: </div></td>
                      			<td><div class='eval_rm_ans2'>{{applicant.ssn}}</div></td>
                      		</tr>
                      	</table>

                      	<table>
                      		<tr>
                      			<td><div class='eval_rm_label'>Occupation: </div></td>
                      			<td><div class='eval_rm_ans2'>{{applicant.occupation}}</div></td>
                      		</tr>
                      	</table>

                      	<table>
                      		<tr>
                      			<td><div class='eval_rm_label'>Employer: </div></td>
                      			<td><div class='eval_rm_ans2'>{{applicant.employer}}</div></td>
                      		</tr>
                      	</table>

                      	<h4 style='margin-top:30px;'>Rate This Applicant</h4>

                      	<table>
                      		<tr>
                      			<td><a href="javascript: rate_rm('1');"><div class='rate_rm1' id='d1'><i id='f1' class="fa fa-star-o" aria-hidden="true"></i></div></a></td>
                      			<td><a href="javascript: rate_rm('2');"><div class='rate_rm1' id='d2'><i id='f2' class="fa fa-star-o" aria-hidden="true"></i></div></a></td>
                      			<td><a href="javascript: rate_rm('3');"><div class='rate_rm1' id='d3'><i id='f3' class="fa fa-star-o" aria-hidden="true"></i></div></a></td>
                      			<td><a href="javascript: rate_rm('4');"><div class='rate_rm1' id='d4'><i id='f4' class="fa fa-star-o" aria-hidden="true"></i></div></a></td>
                      			<td><a href="javascript: rate_rm('5');"><div class='rate_rm1' id='d5'><i id='f5' class="fa fa-star-o" aria-hidden="true"></i></div></a></td>
                      		</tr>
                      	</table>

                      	<div style='margin-top:0px;'>
                      		<table>
                      			<tr>
                      				<td><div style='margin-right:3px;'><input type='checkbox' name='isCandidate' id='isCandidate' value='False' onClick="javascript: rm_verify_check('isCandidate');"></div></td>
                      				<td><div style='margin-top:2px;'><em>I am giving this applicant serious consideration.</em></div></td>
                      			</tr>
                      		</table>
                      	</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div class='row'>
              <div class='col-md-12' style='width:100%'>
                <table class='iml-save-btn'>
                  <tr>
                    <td><button onClick="javascript: rate_applicant_return(); return false;">Rate</button></td>
                    <td><button onClick="javascript: exit_roommate_sub();">Home</button></td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
