<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_asi({{current_section}}, {{json_data}});">
    <form action='' method='post' id='r_form' name='r_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='asi_id' id='asi_id' value='{{session.asi.id}}'>
      <input type='hidden' name='save_this' id='save_this' value='false'>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='asi'>
      <input type='hidden' name='form_name' id='form_name' value='asi_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>New Roommate Candidate</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: roommate_new();">
                              <div  class='iml-button-current-xl'>New Candidate</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_ref();">
                              <div  class='iml-button-incomplete-xl'>New Application</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_eval();">
                              <div  class='iml-button-incomplete-xl'>Evaluation</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_all();">
                              <div  class='iml-button-incomplete-xl'>View Candidates</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: roommate_win()">
                              <div  class='iml-button-incomplete-xl'>View Applications</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:43%; height:100%; margin-left:40px;'>
                    <div class='top-split'>
                    	<h4>Enter Roommate Candidate Information:</h4>
                    	<ol>
	                      <table>
	                      	<tr style='height:30px;'>
	                      		<td><div><li>Name: </li></div></td>
	                      		<td><input type='text' name='name' id='name' style='margin-left:5px;'></td>
	                      	</tr>

	                      	<tr style='height:30px;'>
	                      		<td><div><li>Phone: </li></div></td>
	                      		<td><input type='text' name='phone' id='phone' style='margin-left:5px;'></td>
	                      	</tr>

                          <tr style='height:30px;'>
                            <td><div><li>Email: </li></div></td>
                            <td><input type='text' name='email' id='email' style='margin-left:5px;'></td>
                          </tr>

	                      	<tr style='height:30px;'>
	                      		<td><div><li>View Date: </li></div></td>
	                      		<td><input type='text' name='viewDate' id='popupDatepicker' style='margin-left:5px;'></td>
	                      	</tr>
	                      </table>

	                      <table>
	                      	<tr>
	                      		<td><div><li>Gender:</li></div></td>
	                      		<td><div style='margin-left:5px;'><input type='radio' name='isMale' id='male' value='True'></div></td>
	                      		<td><div style='margin-left:3px; margin-right:15px; margin-top:2px;'>Male</div></td>
	                      		<td><input type='radio' name='isMale' id='female' value='False' checked></td>
	                      		<td><div style='margin-left:3px; margin-right:15px; margin-top:2px;'>Female</div></td>
	                      	</tr>
	                      </table>

	                      <table>
	                      	<tr><td><li>Notes:</li></td></tr>
	                      	<tr><td><textarea rows='5' cols='70' name='notes' id='notes'></textarea></td></tr>
	                      </table>
	                  </ol>

	                  <table>
	                  	<tr>
	                  		<td><input type='checkbox' name='isCandidate' id='isCandidate' value='False' onClick='javascript: setCandidiate();'></td>
	                  		<td><div style='margin-top:2px; margin-left:5px;'>This is a valid candidate</div></td>
	                  	</tr>
	                  </table>
                    </div>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:10%; margin-left:60px;'>
                    <div class='top-split'>
                      
                    </div>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div class='row'>
              <div class='col-md-12' style='width:100%'>
                <table class='iml-save-btn'>
                  <tr>
                    <td><button onClick="javascript: save_new_candidate();">Save</button></td>
                    <td><button onClick="javascript: exit_roommate_sub();">Cancel</button></td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
