body {
	color:#393939;
}

.gradient-white {
	background: url('../images/grey1.jpg');
}

.round-button {
	width:25%;
}
.round-button-circle {
	width: 100px;
	height:100px;
	padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #666666;
	/*border:10px solid #cfdcec;*/
    overflow:hidden;
    
    /*background: #4679BD;*/ 
    background: #adad85;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	/*background: #fee047;*/
	background: #6b6b47;
	/*background:#30588e;*/
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

#center-page {
	text-align: center;
}

#home-page-margin {
	text-align: center;
	margin-top: 36%;
}

#icon-placement {
	margin-top: 23%;
	color:white;
}

#align-rounded {
	width: 200px;
	margin: auto;
}

.button-align-center {
	width:800px;
	margin:auto;
	color:#393939;
	text-align: center;
}

#button-label-placement {
	margin-top: 10px;
	font-style: bold;
	font-size: 18px;
}

.center-rounded {
	width:100px;
	margin:auto;
}

.round-text {
	color:#393939;
}

.round-text:hover {
	color:#adad85;
	text-decoration:none;
}

#header-img {
	margin-right: 100%;
}

#header-img img {
	height: 40px;
}

.header-images {
	background: url('../images/header.png');
	background-repeat: no-repeat;
	height: 40px;
	/*font-family: arial;*/
}

.header-images2 {
	background: url('../images/header.png');
	background-repeat: no-repeat;
	height: 40px;
	margin-right: 200px;
	/*font-family: arial;*/
}

#header-text{
	color: white;
	margin-top: 7px;
	text-align: left;
	font-style: oblique;
	font-style: bold;
	font-size: 20px;
	text-shadow: .05em .05em #3e3e3e;
}

.main-windows-left {
	margin-top: 30px;
	text-align: left;
}

#radio-select {
	margin-left: 10px;
	margin-top: 7px;
}

#form-radio-margin {
	margin-right: 12px;
}

.name-table td{
	padding-right: 10px;
}

#logout_page {
	background: url('../images/grey1.jpg');
	text-align: center;
}

#logout-text {
	text-align: center;
}

#log-logo {
	height: 33px;
}

#logout_a {
	text-decoration: none;
	color:#393939;
	font-size: 15px;
}

#logout_a:hover {
	color:blue;
}

button {
	background: #e6e6e6;
}

button:hover {
	background: #aaaaa9;
}

.but_a {
	color:#393939;
}

.but_a:hover {
	color: #393939;
}

#error-div {
	height:15px;
	color: red;
	font-style: bold;
	font-size: 15px;
}

#faded-text {
	color:#999999;
	font-style: oblique;;
}

#submit-space {
	margin-left: 5px;
}

#search-name-res {
	font-style: oblique;
	color: blue;
}

#li-name {
	font-size: 18px;
	font-style: bold;
	color:#666633;
}

#li-label {
	font-style: bold;
	/*color:#3e3e3e;*/
}

#li-ans {
	font-style: oblique;
}

.li-a:hover {
	text-decoration: none;
	color:#6b6b47;
}

.li-a {
	color:#adad85;
}

#type-selector {
	margin-left: 5px;
	margin-bottom: 5px;
}

.session-name-field {
	font-weight: bold;
	font-size: 20px;
	color:#4d1a00;
}

#option-ans {
	font-size:15px;
}

#option-label {
	font-weight: bold;
	color: black;
}

#session-h3 {
	color:#6b6b47;
}

.session-side {
	margin-left: 50px;
	margin-top: 20px;
	color:white;
}

.session-side h3 {
	color:#fee047;
	text-shadow:1px 1px black;
}

.session-side h5 {
	color:#ffa64d;
}
.session-side h6 {
	color:#ffa64d;
	font-weight: bold;
}

.sidebar-label1 {
	font-weight: bold;
	color:#999999;
	text-shadow:1px 1px black;
}

.sidebar-ans {
	color:white;
	font-weight: bold;
	text-shadow:1px 1px black;
}

.sidebar-name {
	color:#adad85;
	font-weight: bold;
	font-size: 20px;
	overflow:hidden;
	text-shadow:1px 1px black;
}

.sidebar-id {
	font-style: italic;
	color:#ffa64d;
}

.sidebar-duration {
	font-weight: bold;
	color:red;
	text-shadow:1px 1px black;
}

.sidebar-session-info {
	color:#adad85;
	font-weight: bold;
	text-shadow:1px 1px black;
}

.sidebar-session-info2 {
	color:#ffa64d;
	font-weight: bold;
	text-shadow:1px 1px black;
}

#sidebar-space-lower {
	margin-bottom: 15px;
}

#sidebar-space-lower2 {
	margin-bottom: 20px;
}

#sidebar-fill {
	font-weight: bold;
	color:white;
	text-shadow:1px 1px black;
	font-style: italic;
}

.toggle-div-page {
	/*margin-top: 20px;*/
}

#error-div-main {
	margin-left:15px;
	margin-bottom: 19px;
	height:15px;
	color: red;
	font-weight: bold;
}

.toggle-div-page a {
	color:#3e3e3e;
}

#no_pad1 {
	width:50%;
}

#select-align {
	margin-bottom: 7px;
	margin-left: 7px;
}

.px20-below {
	margin-bottom: 20px;
}

#radio-align {
	margin-bottom: 8px;
	margin-right: 4px;
}

#num-align-text {
	margin-top: 5px;
	margin-left: 4px;
}

.form-line {
	border-bottom: 4px solid #adad85;
	margin-top: 20px;
	width:250px;
}

#textbox-align1 {
	margin-bottom: 4px;
	margin-left: 5px;
}

.form-blocking {
	background-color: #cccccc;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 20px;
	border: 4px solid black;
}

#am-h2 {
	color: #adad85;
}

.small-number {
	width:40px;
}

.left-space-5 {
	margin-left: 5px;
	margin-bottom: 5px;
}

.single-line-radio {
	margin-bottom: 8px;
	margin-right: 4px; 
	margin-left: 12px;
}
.single-line-radio1 {
	margin-bottom: 8px;
	margin-right: 4px; 
}

.sub-table-indent-40px {
	margin-left: 40px;
}
.hori-block {
	float: left;
}

.form_exist_page {
	margin-top: 30px;
}

#imcomplete_header {
	color: red;
	font-size: 24px;
	text-shadow: 0.05em 0.05em black;
}

#incomplete_form_div {
	margin-right: 10px;
	margin-bottom: 7px;
	/*color: #adad85;*/
}

#incomplete_form_options {
	color: #676765;
}



















