<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_asi({{current_section}}, {{json_data}});">
    <form action='' method='post' id='asi_form' name='asi_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='asi_id' id='asi_id' value='{{session.asi.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='asi'>
      <input type='hidden' name='form_name' id='form_name' value='asi_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Addiction Severity Index: Administrative Details</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_admin/');">
                              <div  class='{{class.asiAdmin}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_admin_image}}"></div>Administrative</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_general/');">
                              <div  class='{{class.asiGeneral}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_general_image}}"></div>General Info</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_medical/');">
                              <div  class='{{class.asiMedical}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_medical_image}}"></div>Medical Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_employment/');">
                              <div  class='{{class.asiEmployment}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_employment_image}}"></div>Employment</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_drug1/');">
                              <div  class='{{class.asiDrug1}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_drug1_image}}"></div>Drug & Alcohol Use</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_legal/');">
                              <div  class='{{class.asiLegal}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_legal_image}}"></div>Legal Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_family/');">
                              <div  class='{{class.asiFamily}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_family_image}}"></div>Family History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social1/');">
                              <div  class='{{class.asiSocial1}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_social1_image}}"></div>Social Interactions</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social2/');">
                              <div  class='{{class.asiSocial2}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_social2_image}}"></div>Social Interactions II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_psych/');">
                              <div  class='{{class.asiPsych}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_psych_image}}"></div>Psychiatric Status</div>
                            </a>
                          </td>
                      </table>
                      <div class='divider_gradient'></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <!-- WARNING DIV -->
                  <div class='asi-drug1-z5-holder-out' id='z5'>
                      <div class='asi-drug1-z5-border'>
                          <div class='asi-drug1-z5-bkg'>
                              <div style='height:2%;'></div>
                              <div class='asi-d1-warningHld'>
                                <div class='asi-d1-warningHld1'><img src="{% static 'images/warnING.png' %}" alt="WARNING" class=''></div>
                                <div class='asi-d1-warningHld2'>Warning!</div>
                                <div class='overall-warning-t1'>The Highlighted Fields Contain Errors</div>
                                <div class='overall-warning-t2'>Follow the legend below to correct these errors:</div>
                                <ul class='overall-warning-t3'>
                                  <li>Fields <span style='color:red'>HIGHLIGHTED IN RED</span> cannot be blank or in the wrong format</li>
                                  <li>Fields <span style='color:blue'>HIGHLIGHTED IN BLUE</span> can only be a value betweem 0 and 99</li>
                                  <li>You must make a selection from the fields <span style='color:#bf6c01'>HIGHLIGHTED IN ORANGE</span></li>
                                </ul>
                               </div>
                              <div class='finalAndCompleteWarningButtonDiv_single2'>
                                <button onClick="javascript: generalVisibilityChange(z5, 'asi-drug1-z5-holder-out'); return false;">ok</button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class='col-md-6' style='width:43%; height:100%; margin-left:60px;'>
                    <div class='top-split2'>
                      <h4>Administrative Information</h4>

                      <table class='iml-asi-wide-table'>
                        <tr>
                          <td><div class='asi_number_iml'>G1.</div></td>
                          <td><div><div class='asi_iml_label'>I.D. Number:</div></div></td>
                          <td><div class='general_asi_input'><input type='text' name='g1' id='g1' value='{{fields.g1}}' oninput="javascript: clearG1(g1);"></div></td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml'>G2.</div></td>
                          <td><div><div class='asi_iml_label'>Last 4 Digits of SSN:</div></div></td>
                          <td><div class='general_asi_input'><input type='text' name='g2' id='g2' value='{{fields.g2}}' oninput="javascript: clearG1(g2);"></div></td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml'>G3.</div></td>
                          <td><div><div class='asi_iml_label'>Program Number:</div></div></td>
                          <td><div class='general_asi_input'><input type='number' name='g3' id='g3' value='{{fields.g3}}'></div></td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml'>G4.</div></td>
                          <td><div><div class='asi_iml_label'>Date of Admission:</div></div></td>
                          <td><div class='general_asi_input'><input type="text" id="popupDatepicker" name='g4' value='{{session.client.intake_date}}' style='padding-left:5px; width:159px;' onClick="javascript: clearG1(popupDatepicker);"></div></td>
                        </tr>
                      </table>

                      <table class='iml-asi-wide-table'>
                        <tr>
                          <td><div class='asi_number_iml'>G5.</div></td>
                          <td><div><div class='asi_iml_label'>Class:</div></div></td>
                          <td>
                            <div class='general_asi_input'>
                              <select name='g8' id='g8' onChange="javascript: clearG1(g8);">
                                <option value='0'>Select</option>
                                <option value='1'>Intake</option>
                                <option value='2'>Follow-up</option>
                              </select>
                            </div>
                          </td>
                        </tr>
                      </table>

                      <table class='iml-asi-wide-table'>
                        <tr>
                          <td><div class='asi_number_iml'>G6.</div></td>
                          <td><div><div class='asi_iml_label'>Contact Code:</div></div></td>
                          <td>
                            <div class='general_asi_input'>
                              <select name='g9' id='g9' onChange="javascript: clearG1(g9);">
                                <option value='0'>Select</option>
                                <option value='1'>In Person</option>
                                <option value='2'>Phone</option>
                              </select>
                            </div>
                          </td>
                        </tr>
                      </table>

                      <table class='iml-asi-wide-table'>
                        <tr>
                          <td><div class='asi_number_iml'>G7.</div></td>
                          <td><div><div class='asi_iml_label'>Interviewer Code Number/Initials:</div></div></td>
                          <td><div class='general_asi_input'><input type='text' name='g11' id='g11' value='{{fields.g11}}' style='width:129px;' oninput="javascript: clearG1(g11);"></div></td>
                        </tr>
                      </table>

                      <table class='iml-asi-wide-table'>
                        <tr>
                          <td><div class='asi_number_iml'>G8.</div></td>
                          <td><div><div class='asi_iml_label'>Special:</div></div></td>
                          <td>
                            <div class='general_asi_input'>
                              <select name='g12' id='g12' onChange="javascript: clearG1(g12);">
                                <option value='0'>Select</option>
                                <option value='1'>Patient Terminated</option>
                                <option value='2'>Patient Refused</option>
                                <option value='3'>Patient Unable to Respond</option>
                              </select>
                            </div>
                          </td>
                        </tr>
                      </table>

                      <table class='iml-asi-wide-table'>
                        <tr>
                          <td><div class='asi_number_iml'>G9.</div></td>
                          <td><div><div class='asi_iml_label'>Client Gender:</div></div></td>
                          <td><div class='iml_asi_rad_fix'><input type='radio' name='g10' id='isMale' value='1'></div></td>
                          <td><div class='iml-radio-label-asi'>Male</div></td>
                          <td><div  class='iml_asi_rad_fix'><input type='radio' name='g10' id='isFemale' value='2' checked></div></td>
                          <td><div class='iml-radio-label-asi'>Female</div></td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:10%; margin-left:0px;'>
                    <div class='top-split2'>
                      <h4>Severity Profile</h4>

                      <div>
                        <div class='sev_desc_text'>
                          <p>
                            The severity ratings are interviewer estimates of the patient's need for additional treatment in each area. The scales range from <span>0</span> (no treatment necessary) to <span>9</span> (treatment needed to intervene in a life-threatening situation).
                          </p>

                          <p>
                            Each rating is based upon the patient's history of problem symptoms, present condition and subjective assessment of his/her treatment needs in a given area. For a detailed description of severity ratings' derivation procedures and conventions, see manual. <b>Note:</b> These severity ratings are optional.
                          </p>
                        </div>
                      </div>

                      <div>
                        <div class='asi_index_container1'>
                          <table class='asi_index_tbl1'>
                            <tr>
                              <th><div class='asi_tbl_head_iml1'>Problems</div></th>
                              <th><div class='asi_tbl_head_iml2'>0</div></th>
                              <th><div class='asi_tbl_head_iml2'>1</div></th>
                              <th><div class='asi_tbl_head_iml2'>2</div></th>
                              <th><div class='asi_tbl_head_iml2'>3</div></th>
                              <th><div class='asi_tbl_head_iml2'>4</div></th>
                              <th><div class='asi_tbl_head_iml2'>5</div></th>
                              <th><div class='asi_tbl_head_iml2'>6</div></th>
                              <th><div class='asi_tbl_head_iml2'>7</div></th>
                              <th><div class='asi_tbl_head_iml2'>8</div></th>
                              <th><div class='asi_tbl_head_iml2'>9</div></th>
                            </tr>

                            <tr>
                              <td><div class='iml-tbl-lab1'>Medical</div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='medical' id='m0' value='0' checked></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='medical' id='m1' value='1'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='medical' id='m2' value='2'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='medical' id='m3' value='3'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='medical' id='m4' value='4'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='medical' id='m5' value='5'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='medical' id='m6' value='6'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='medical' id='m7' value='7'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='medical' id='m8' value='8'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='medical' id='m9' value='9'></div></td>
                            </tr>

                            <tr>
                              <td><div class='iml-tbl-lab1'>Employ/Support</div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='employ' id='em0' value='0' checked></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='employ' id='em1' value='1'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='employ' id='em2' value='2'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='employ' id='em3' value='3'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='employ' id='em4' value='4'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='employ' id='em5' value='5'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='employ' id='em6' value='6'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='employ' id='em7' value='7'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='employ' id='em8' value='8'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='employ' id='em9' value='9'></div></td>
                            </tr>

                            <tr>
                              <td><div class='iml-tbl-lab1'>Alcohol</div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='alcohol' id='a0' value='0' checked></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='alcohol' id='a1' value='1'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='alcohol' id='a2' value='2'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='alcohol' id='a3' value='3'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='alcohol' id='a4' value='4'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='alcohol' id='a5' value='5'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='alcohol' id='a6' value='6'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='alcohol' id='a7' value='7'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='alcohol' id='a8' value='8'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='alcohol' id='a9' value='9'></div></td>
                            </tr>

                            <tr>
                              <td><div class='iml-tbl-lab1'>Drug</div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='drug' id='d0' value='0' checked></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='drug' id='d1' value='1'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='drug' id='d2' value='2'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='drug' id='d3' value='3'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='drug' id='d4' value='4'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='drug' id='d5' value='5'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='drug' id='d6' value='6'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='drug' id='d7' value='7'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='drug' id='d8' value='8'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='drug' id='d9' value='9'></div></td>
                            </tr>

                            <tr>
                              <td><div class='iml-tbl-lab1'>Legal</div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='legal' id='l0' value='0' checked></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='legal' id='l1' value='1'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='legal' id='l2' value='2'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='legal' id='l3' value='3'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='legal' id='l4' value='4'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='legal' id='l5' value='5'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='legal' id='l6' value='6'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='legal' id='l7' value='7'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='legal' id='l8' value='8'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='legal' id='l9' value='9'></div></td>
                            </tr>

                            <tr>
                              <td><div class='iml-tbl-lab1'>Family/Social</div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='family' id='f0' value='0' checked></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='family' id='f1' value='1'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='family' id='f2' value='2'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='family' id='f3' value='3'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='family' id='f4' value='4'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='family' id='f5' value='5'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='family' id='f6' value='6'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='family' id='f7' value='7'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='family' id='f8' value='8'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='family' id='f9' value='9'></div></td>
                            </tr>

                            <tr>
                              <td><div class='iml-tbl-lab1'>Psychiatric</div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='psych' id='p0' value='0' checked></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='psych' id='p1' value='1'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='psych' id='p2' value='2'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='psych' id='p3' value='3'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='psych' id='p4' value='4'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='psych' id='p5' value='5'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='psych' id='p6' value='6'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='psych' id='p7' value='7'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='psych' id='p8' value='8'></div></td>
                              <td><div class='iml-tbl-radio'><input type='radio' name='psych' id='p9' value='9'></div></td>
                            </tr>
                          </table>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div class='row'>
              <div class='col-md-12' style='width:100%'>
                <table class='iml-save-btn'>
                  <tr>
                    <td><button onClick="javascript: universal_generic_exit('asi', '{{current_section}}');">Exit Form</button></td>
                    <td><button onClick="javascript: continue_asi1('{{current_section}}'); return false;">Save & Continue</button></td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
