{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_asi('{{current_section}}', {{json_data}});">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <table class='session-side'>
            <tr>
              <td>
                <div id='sideBarMainHeader'>
                  Session Details:
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div style='color:#fee047'>
                  <h4>Addiction Severity Index</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                          <span class='sidebar-name'>{{asi.client.fname}} {{asi.client.lname}}</span>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div id='sidebar-space-lower2'>
                          <span class="sidebar-id">{{asi.client.clientID}}</span>
                      </div>
              </td>
            </tr>



            <!-- <div style='margin-bottom: 80px;'></div> -->
            <tr>
              <td>
                <div id='sidebar-space-lower'>
                          <h4>Progress:</h4>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.asiAdmin}}'>
                  <img src="{{image.asi_admin_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_admin/');" name='asiAdminBtn' id='asiAdminBtn'>
                    Administrative
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiGeneral}}'>
                  <img src="{{image.asi_general_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_general/');" name='asiGeneralBtn' id='asiGeneralBtn'>
                     General Info
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiMedical}}'>
                  <img src="{{image.asi_medical_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_medical/');" name='asiMedicalBtn' id='asiMedicalBtn'>
                    Medical Status
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiEmployment}}'>
                  <img src="{{image.asi_employment_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_employment/');" name='asiEmploymentBtn' id='asiEmploymentBtn'>
                    Employment
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiDrug1}}'>
                  <img src="{{image.asi_drug1_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_drug1/');" name='asiDrug1Btn' id='asiDrug1Btn'>
                    Drugs & Alcohol Use
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiLegal}}'>
                  <img src="{{image.asi_legal_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_legal/');" name='asiLegalBtn' id='asiLegalBtn'>
                    Legal Status
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiFamily}}'>
                  <img src="{{image.asi_family_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_family/');" name='asiFamilyBtn' id='asiFamilyBtn'>
                    Family History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiSocial1}}'>
                  <img src="{{image.asi_social1_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_social1/');" name='asiSocial1Btn' id='asiSocial1Btn'>
                    Social
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiSocial2}}'>
                  <img src="{{image.asi_social2_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_social2/');" name='asiSocial2Btn' id='asiSocial2Btn'>
                    Social II
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiPsych}}'>
                  <img src="{{image.asi_psych_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_psych/');" name='asiPsychBtn' id='asiPsychBtn'>
                    Psychiatric Status
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='exit_btn_text'>
                  <img src="{% static 'images/exitBtn.png' %}" alt="exit_icon" class='exit_icon'>
                  <a href="javascript: universal_generic_exit('asi', '/asi_admin/');" name='sourceBtn' class='exit_a_tag'>
                    Exit
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <div style='margin-bottom:10px;'>
                	<h3 id='am-h2'>Addiction Severity Index: Administrative</h3>
                </div>

                <div class="container">
            		<div class="row">                   
                  		<div class="col-md-6 col-sm-6">
                  			<div>
                  				<form action='' method='post' id='asi_form' name='asi_form'> {% csrf_token %}
                            <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                            <input type='hidden' name='asi_id' id='asi_id' value='{{asi.id}}'>
                            <input type='hidden' name='save_this' id='save_this' value=''>
                            <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
                            <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'>   
                            <input type='hidden' name='new_form' id='new_form' value='false'>
                            <input type='hidden' name='exit_type' id='exit_type' value='asi'>

                            <table>
                              <tr>
                                <td>
                                  <div id='asiNumber'>
                                    G1.
                                  </div>
                                </td>

                                <td>
                                  <label>I.D. Number:</label>
                                </td>

                                <td>
                                  <div id='fix_my_text'>
                                    <input type='text' name='g1' id='g1' value='{{fields.g1}}'>
                                  </div>
                                </td>
                              </tr>

                              <tr>
                                <td><div id='asiNumber'>G2.</div></td>

                                <td>
                                  <label>Last 4 Digits of SSN:</label>
                                </td>

                                <td>
                                  <div id='fix_my_text'>
                                    <input type='text' name='g2' id='g2' value='{{fields.g2}}'>
                                  </div>
                                </td>
                              </tr>

                              <tr>
                                <td><div id='asiNumber'>G3.</div></td>

                                <td>
                                  <label>Program Number:</label>
                                </td>

                                <td>
                                  <div id='fix_my_text'>
                                    <input type='text' name='g3' id='g3' value='{{fields.g3}}'>
                                  </div>
                                </td>
                              </tr>

                              <tr>
                                <td><div id='asiNumber'>G4.</div></td>

                                <td>
                                  <label>Date of Admission:</label>
                                </td>

                                <td>
                                  <div class='popUpDate'>
                                    <input type="text" id="popupDatepicker" name='g4' value='{{ad_date}}'>
                                  </div>
                                </td>
                              </tr>
                            </table>

                            <table>
                              <tr>
                                <td><div id='asiNumber'>G5.</div></td>

                                <td>
                                  <label>Class:</label>
                                </td>

                                <td>
                                  <div id='fix_my_text'>
                                    <select name='g8' id='g8'>
                                      <option value='0'>Select</option>
                                      <option value='1'>Intake</option>
                                      <option value='2'>Follow-up</option>
                                    </select>
                                  </div>
                                </td>
                              </tr>
                            </table>
				           				            
				        </div><!--  END OF LEFT SIDE -->				    			
				    </div>
                <div class="col-md-6 col-sm-6">
                  <table>
                    <tr>
                      <td><div id='asiNumber'>G6.</div></td>

                      <td>
                        <label>
                          Contact Code:
                        </label>
                      </td>

                      <td>
                        <div id='fix_my_select'>
                          <select name='g9' id='g9'>
                            <option value='0'>Select</option>
                            <option value='1'>In Person</option>
                            <option value='2'>Phone</option>
                          </select>
                        </div>
                      </td>
                    </tr>
                  </table>

                  <table>
                    <tr>
                      <td><div id='asiNumber'>G7.</div></td>

                      <td>
                        <label>
                          Interviewer Code Number:
                        </label>
                      </td>

                      <td>
                        <div id='fix_my_text'>
                          <input type='text' name='g11' id='g11' value='{{fields.g11}}'>
                        </div>
                      </td>
                    </tr>
                  </table>

                  <table>
                    <tr>
                      <td><div id='asiNumber'>G8.</div></td>

                      <td>
                        <label>
                          Special:
                        </label>
                      </td>

                      <td>
                        <div id='fix_my_select'>
                          <select name='g12' id='g12'>
                            <option value='0'>Select</option>
                            <option value='1'>Patient Terminated</option>
                            <option value='2'>Patient Refused</option>
                            <option value='3'>Patient Unable to Respond</option>
                          </select>
                        </div>
                      </td>
                    </tr>
                  </table>

                  <table>
                    <tr>
                      <td><div id='asiNumber'>G9.</div></td>

                      <td>
                        <label>
                          Client Gender:
                        </label>
                      </td>

                      <td>
                        <div id='fix_my_radio'>
                          <input type='radio' name='g10' id='isMale' value='1'>
                        </div>
                      </td>

                      <td><label>Male</label></td>

                      <td>
                        <div id='fix_my_radio'>
                          <input type='radio' name='g10' id='isFemale' value='2' checked>
                        </div>
                      </td>

                      <td><label>Female</label></td>
                    </tr>
                  </table>
                </div>
            </form>
				</div> <!-- END PAGE CONTAINER -->

				<div>
					<!-- ____________________________BUTTONS________________________________ -->
					<table class='toggle-div-page'>
						<tr><td><div style='margin-top:30px;'></div></td></tr>
                        <tr>
                        	<td>
                        		<div style='margin-left:12px;'>
				                    <a href="#menu-toggle" id="menu-toggle">
				                        <button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                    </a>
				                </div>
			                </td>

			                <td><div style='margin-right:5px;'></div></td>

			                <td>
			                	<div>
			                		<a href="javascript: continue_asi_form('/asi_admin/');">
			                			<button type='button'>Continue</button>
			                		</a>
			                	</div>
			                </td>
			            </tr>
			        </table>
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}









