<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_asi({{current_section}}, {{json_data}});">
  <!-- <input type='text' id='test1'> -->
    <form action='' method='post' id='asi_form' name='asi_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='asi_id' id='asi_id' value='{{session.asi.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='asi'>
      <input type='hidden' name='form_name' id='form_name' value='asi_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

      <input type='hidden' name='m_d1Day' id='m_d1Day' value=''>
      <input type='hidden' name='m_d2Day' id='m_d2Day' value=''>
      <input type='hidden' name='m_d3Day' id='m_d3Day' value=''>
      <input type='hidden' name='m_d4Day' id='m_d4Day' value=''>
      <input type='hidden' name='m_d5Day' id='m_d5Day' value=''>
      <input type='hidden' name='m_d6Day' id='m_d6Day' value=''>
      <input type='hidden' name='m_d7Day' id='m_d7Day' value=''>
      <input type='hidden' name='m_d8Day' id='m_d8Day' value=''>
      <input type='hidden' name='m_d9Day' id='m_d9Day' value=''>
      <input type='hidden' name='m_d10Day' id='m_d10Day' value=''>
      <input type='hidden' name='m_d11Day' id='m_d11Day' value=''>
      <input type='hidden' name='m_d12Day' id='m_d12Day' value=''>
      <input type='hidden' name='m_d13Day' id='m_d13Day' value=''>

      <input type='hidden' name='m_d1Year' id='m_d1Year' value=''>
      <input type='hidden' name='m_d2Year' id='m_d2Year' value=''>
      <input type='hidden' name='m_d3Year' id='m_d3Year' value=''>
      <input type='hidden' name='m_d4Year' id='m_d4Year' value=''>
      <input type='hidden' name='m_d5Year' id='m_d5Year' value=''>
      <input type='hidden' name='m_d6Year' id='m_d6Year' value=''>
      <input type='hidden' name='m_d7Year' id='m_d7Year' value=''>
      <input type='hidden' name='m_d8Year' id='m_d8Year' value=''>
      <input type='hidden' name='m_d9Year' id='m_d9Year' value=''>
      <input type='hidden' name='m_d10Year' id='m_d10Year' value=''>
      <input type='hidden' name='m_d11Year' id='m_d11Year' value=''>
      <input type='hidden' name='m_d12Year' id='m_d12Year' value=''>
      <input type='hidden' name='m_d13Year' id='m_d13Year' value=''>

      <input type='hidden' name='m_d1Route' id='m_d1Route' value=''>
      <input type='hidden' name='m_d2Route' id='m_d2Route' value=''>
      <input type='hidden' name='m_d3Route' id='m_d3Route' value=''>
      <input type='hidden' name='m_d4Route' id='m_d4Route' value=''>
      <input type='hidden' name='m_d5Route' id='m_d5Route' value=''>
      <input type='hidden' name='m_d6Route' id='m_d6Route' value=''>
      <input type='hidden' name='m_d7Route' id='m_d7Route' value=''>
      <input type='hidden' name='m_d8Route' id='m_d8Route' value=''>
      <input type='hidden' name='m_d9Route' id='m_d9Route' value=''>
      <input type='hidden' name='m_d10Route' id='m_d10Route' value=''>
      <input type='hidden' name='m_d11Route' id='m_d11Route' value=''>
      <input type='hidden' name='m_d12Route' id='m_d12Route' value=''>

      <input type='hidden' name='m_d32' id='m_d32' value=''>
      <input type='hidden' name='m_d33' id='m_d33' value=''>
      <input type='hidden' name='m_d34' id='m_d34' value=''>
      <input type='hidden' name='m_d35' id='m_d35' value=''>
      <input type='hidden' name='comments' id='comments' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Addiction Severity Index: Drug & Alcohol Use</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_admin/');">
                              <div  class='{{class.asiAdmin}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_admin_image}}"></div>Administrative</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_general/');">
                              <div  class='{{class.asiGeneral}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_general_image}}"></div>General Info</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_medical/');">
                              <div  class='{{class.asiMedical}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_medical_image}}"></div>Medical Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_employment/');">
                              <div  class='{{class.asiEmployment}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_employment_image}}"></div>Employment</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_drug1/');">
                              <div  class='{{class.asiDrug1}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_drug1_image}}"></div>Drug & Alcohol Use</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_legal/');">
                              <div  class='{{class.asiLegal}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_legal_image}}"></div>Legal Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_family/');">
                              <div  class='{{class.asiFamily}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_family_image}}"></div>Family History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social1/');">
                              <div  class='{{class.asiSocial1}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_social1_image}}"></div>Social Interactions</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social2/');">
                              <div  class='{{class.asiSocial2}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_social2_image}}"></div>Social Interactions II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_psych/');">
                              <div  class='{{class.asiPsych}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_psych_image}}"></div>Psychiatric Status</div>
                            </a>
                          </td>
                      </table>
                      <div class='divider_gradient'></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <!-- THIS IS THE WARNING 2 SECTION-->
                    <div class='asi-drug1-z5-holder-out' id='z5'>
                        <div class='asi-drug1-z5-border'>
                            <div class='asi-drug1-z5-bkg'>
                                <div style='height:2%;'></div>
                                <div class='asi-d1-warningHld'>
                                  <div class='asi-d1-warningHld1'><img src="{% static 'images/warnING.png' %}" alt="WARNING" class=''></div>
                                  <div class='asi-d1-warningHld2'>Warning!</div>
                                  <div class='overall-warning-t1'>The Highlighted Fields Contain Errors</div>
                                  <div class='overall-warning-t2'>Follow the legend below to correct these errors:</div>
                                  <ul class='overall-warning-t3'>
                                    <li>Fields <span style='color:red'>HIGHLIGHTED IN RED</span> can only be a value betweem 0 and 30</li>
                                    <li>Fields <span style='color:blue'>HIGHLIGHTED IN BLUE</span> can only be a value betweem 0 and 99</li>
                                    <li>You must make a selection from the fields <span style='color:#bf6c01'>HIGHLIGHTED IN ORANGE</span></li>
                                  </ul>
                                </div>
                                <div class='finalAndCompleteWarningButtonDiv_single2'>
                                  <button onClick="javascript: generalVisibilityChange(z5, 'asi-drug1-z5-holder-out'); return false;">ok</button>
                                </div>
                            </div>
                        </div>
                    </div>

                  <!-- CONFIDENCE RATING SECTION -->
                  <div class='col-md-6' style='width:89.3%; height:58.6vh; position:relative;'>
                    <div class='asi-drug1-z4-holder-out' id='z4'>
                        <div class='asi-drug1-z4-border'>
                            <div class='asi-drug1-z4-bkg'>
                                <div class='ft-closeWindow-icon'>
                                    <a onClick="javascript: generalVisibilityChange(z4, 'asi-drug1-z4-holder-out'); return false;">
                                        <i class="fa fa-window-close" aria-hidden="true"></i>
                                    </a>
                                </div>

                                <input type='hidden' name='c_comments' id='c_comments' value=''>

                                <div class='asi-d1-ir1' style='padding-top:2%;'>Interviewer Rating</div>
                                <div class='asi-d1-ir2'>How would you rate the patient's need for treatment for:</div>

                                <div class='asi-d1-ir3'>
                                    <table>
                                      <tr>
                                        <td><div class='asi-d1-pas-select'>Alcohol Problems?</div></td>
                                        <td>
                                          <select name='d32' id='d32' class='dumbSel-iml50' onChange="javascript: clearG1(d32);">
                                            <option value='0'>Select</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                            <option value='6'>6</option>
                                            <option value='7'>7</option>
                                            <option value='8'>8</option>
                                            <option value='9'>9</option>
                                          </select>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td><div class='asi-d1-pas-select'>Drug Problems?</div></td>
                                        <td>
                                          <select name='d33' id='d33' class='dumbSel-iml50' onChange="javascript: clearG1(d33);">
                                            <option value='0'>Select</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                            <option value='6'>6</option>
                                            <option value='7'>7</option>
                                            <option value='8'>8</option>
                                            <option value='9'>9</option>
                                          </select>
                                        </td>
                                      </tr>
                                    </table>
                                </div>

                                <div style='height:30px'></div>

                                <div class='asi-d1-ir1'>Confidence Ratings</div>
                                <div class='asi-d1-ir2'>Is the above information significantly distorted by:</div>

                                <div class='asi-d1-ir3'>
                                    <table>
                                      <tr>
                                        <td><div class='asi-tri-number-sf' style='padding-right:5px;'>D34.</div></td>
                                        <td><div class='asi-d1-pas-select'>Patient's Misrepresentation?</div></td>
                                        <td><div class='asi-d1-level-checks'><input type='radio' name='d34' id='nod34' value='0' checked></div></td>
                                        <td><div class='asi-d1-radio-label'>No</div></td>
                                        <td><div style='width:15px;'></div></td>
                                        <td><div class='asi-d1-level-checks'><input type='radio' name='d34' id='yesd34' value='1'></div></td>
                                        <td><div class='asi-d1-radio-label'>Yes</div></td>
                                      </tr>

                                      <tr>
                                        <td><div class='asi-tri-number-sf' style='padding-right:5px;'>D35.</div></td>
                                        <td><div class='asi-d1-pas-select'>Patient's Inability To Understand?</div></td>
                                        <td><div class='asi-d1-level-checks'><input type='radio' name='d35' id='nod35' value='0' checked></div></td>
                                        <td><div class='asi-d1-radio-label'>No</div></td>
                                        <td><div style='width:15px;'></div></td>
                                        <td><div class='asi-d1-level-checks'><input type='radio' name='d35' id='yesd35' value='1'></div></td>
                                        <td><div class='asi-d1-radio-label'>Yes</div></td>
                                      </tr>
                                    </table>
                                </div>

                                <div class='asi-d1-ir-tri-btn'>
                                  <button onClick="javascript: finish_all_asi_d1(asi_form, z2, 'asi-drug1-z2-holder-in'); return false;">Submit</button>
                                  <button onClick="javascript: generalVisibilityChange(z3, 'asi-drug1-z3-holder-in'); return false;">Add Comments</button>
                                  <button onClick="javascript: ">Exit ASI</button>
                                </div>
                                <div class='divider_gradient'></div>
                            </div>
                        </div>
                    </div>

                    <!-- NEW COMMENT SECTION -->
                    <div class='asi-drug1-z3-holder-out' id='z3'>
                        <div class='asi-drug1-z3-border'>
                            <div class='asi-drug1-z3-bkg'>
                                  <div class='asi_comment_header_d1'>
                                      <div class='align-asi-d1-close-left'>
                                          <div class='ft-closeWindow-icon-ltgray'>
                                              <a onClick="javascript: generalVisibilityChange(z3, 'asi-drug1-z3-holder-out'); return false;">
                                                  <i class="fa fa-window-close" aria-hidden="true"></i>
                                              </a>
                                          </div>
                                      </div>
                                      <div class='align-asi-d1-close-left2'>New Comment: ASI Drug/Alcohol Use</div>
                                  </div>
                                  <div class='divider_gradient' style='margin-bottom:20px;'></div>

                                  <div class='comment_page_body_d1'><textarea name='asi_comment' id='asi_comment' value=''></textarea></div>

                                  <div class='asi-d1-newComment-btns-wrap'>
                                      <button onClick="javascript: save_asi_comment_iframe(z3, 'asi-drug1-z3-holder-out'); return false;">Save</button>
                                      <button onClick="javascript: generalVisibilityChange(z3, 'asi-drug1-z3-holder-out'); return false;">Cancel</button>
                                  </div>
                            </div>
                        </div>
                    </div>

                    <!-- THIS IS THE WARNING SECTION-->
                    <div class='asi-drug1-z2-holder-out' id='z2'>
                        <div class='asi-drug1-z2-border'>
                            <div class='asi-drug1-z2-bkg'>
                                <div style='height:2%;'></div>
                                <div class='asi-d1-warningHld'>
                                  <div class='asi-d1-warningHld1'><img src="{% static 'images/warnING.png' %}" alt="WARNING" class=''></div>
                                  <div class='asi-d1-warningHld2'>Warning!</div>
                                  <div class='overall-warning-t1'>The Highlighted Fields Contain Errors</div>
                                  <div class='overall-warning-t2'>Please be certain that:</div>
                                  <ul class='overall-warning-t3'>
                                    <li>These fields are not blank</li>
                                    <li>An option has been selected from the dropdown menu</li>
                                    <li>The entry is in the proper format, has the correct number of characters, and not greater than it's highest possible value</li>
                                  </ul>
                                </div>
                                <div class='finalAndCompleteWarningButtonDiv_single'>
                                  <button onClick="javascript: generalVisibilityChange(z2, 'asi-drug1-z2-holder-out'); return false;">ok</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- THIS IS THE INITIAL DRUG ALCOHOL FORM -->
                    <div class='asi-drug1-z1-holder-in' id='z1'>
                      <div class='asi-drug1-z1-border'>
                        <div class='asi-drug1-z1-bkg'>
                            <!-- <div class='ft-closeWindow-icon'>
                                <a onClick="javascript: generalVisibilityChange(z1, 'asi-drug1-z1-holder-out'); return false;">
                                    <i class="fa fa-window-close" aria-hidden="true"></i>
                                </a>
                            </div> -->
                            <div style='height:20px;'></div>

                            <div class='asi-zi-form-head'><b>Alcohol/Drug Use</b></div>

                            <div class='divider_gradient' style='margin-bottom:20px;'></div>

                            <div class='asi-zi-form-head2'>
                                Note the usual or most recent route. For more than one route, choose the most severe.The routes are ordered from least severe to most severe.
                            </div>

                            <div style='height:20px;'></div>

                            <div class='asi-emp1-tbl-div'>
                                <div class='asi-d1-top'>
                                    <div class='asi-d1-inner1' style='padding-top:2.2%;'>Type</div>
                                    <div class='asi-d1-inner2' style='padding-top:2.2%;'>Past 30 Days</div>
                                    <div class='asi-d1-inner2'>Lifetime (Years)</div>
                                    <div class='asi-d1-inner2'>Route of Admin</div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Alcohol (Any use at all)</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d1Day' id='d1Day' value='' oninput="javascript: clearG1(d1Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d1Year' id='d1Year' value='' oninput="javascript: clearG1(d1Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d1Route' id='d1Route' onChange="javascript: clearG1(d1Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Alcohol (Intoxication)</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d2Day' id='d2Day' value='' oninput="javascript: clearG1(d2Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d2Year' id='d2Year' value='' oninput="javascript: clearG1(d2Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d2Route' id='d2Route' onChange="javascript: clearG1(d2Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Herion</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d3Day' id='d3Day' value='' oninput="javascript: clearG1(d3Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d3Year' id='d3Year' value='' oninput="javascript: clearG1(d3Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d3Route' id='d3Route' onChange="javascript: clearG1(d3Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Methadone</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d4Day' id='d4Day' value='' oninput="javascript: clearG1(d4Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d4Year' id='d4Year' value='' oninput="javascript: clearG1(d4Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d4Route' id='d4Route' onChange="javascript: clearG1(d4Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Other Opiates/Analgesics</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d5Day' id='d5Day' value='' oninput="javascript: clearG1(d5Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d5Year' id='d5Year' value='' oninput="javascript: clearG1(d5Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d5Route' id='d5Route' onChange="javascript: clearG1(d5Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Barbiturates</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d6Day' id='d6Day' value='' oninput="javascript: clearG1(d6Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d6Year' id='d6Year' value='' oninput="javascript: clearG1(d6Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d6Route' id='d6Route' onChange="javascript: clearG1(d6Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Sedatives/Hypnotics/Tranquilizers</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d7Day' id='d7Day' value='' oninput="javascript: clearG1(d7Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d7Year' id='d7Year' value='' oninput="javascript: clearG1(d7Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d7Route' id='d7Route' onChange="javascript: clearG1(d7Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Cocaine</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d8Day' id='d8Day' value='' oninput="javascript: clearG1(d8Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d8Year' id='d8Year' value='' oninput="javascript: clearG1(d8Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d8Route' id='d8Route' onChange="javascript: clearG1(d8Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Amphetamines</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d9Day' id='d9Day' value='' oninput="javascript: clearG1(d9Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d9Year' id='d9Year' value='' oninput="javascript: clearG1(d9Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d9Route' id='d9Route' onChange="javascript: clearG1(d9Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Cannabis</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d10Day' id='d10Day' value='' oninput="javascript: clearG1(d10Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d10Year' id='d10Year' value='' oninput="javascript: clearG1(d10Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d10Route' id='d10Route' onChange="javascript: clearG1(d10Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Hallucinogens</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d11Day' id='d11Day' value='' oninput="javascript: clearG1(d11Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d11Year' id='d11Year' value='' oninput="javascript: clearG1(d11Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d11Route' id='d11Route' onChange="javascript: clearG1(d11Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Inhalants</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d12Day' id='d12Day' value='' oninput="javascript: clearG1(d12Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d12Year' id='d12Year' value='' oninput="javascript: clearG1(d12Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d12Route' id='d12Route' onChange="javascript: clearG1(d12Route);">
                                            <option value='0'>Select</option>
                                            <option value='1'>Oral</option>
                                            <option value='2'>Nasal</option>
                                            <option value='3'>Smoking</option>
                                            <option value='4'>Non-IV Inject</option>
                                            <option value='5'>IV Inject</option>
                                            <option value='X'>No Answer</option>
                                            <option value='N'>N/A</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-btm'>
                                    <div class='asi-d1-inner3'>More than 1 substance per day</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d13Day' id='d13Day' value='' oninput="javascript: clearG1(d13Day);"></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d13Year' id='d13Year' value='' oninput="javascript: clearG1(d13Year);"></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='' id='' disabled style='opacity:0.3'>
                                            <option value='None Selected'></option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-di-btn-cont'>
                                    <div class='asi-d1-vert-btn'>
                                        <button onClick="javascript: asi_d1_z1_submit(z5, 'asi-drug1-z5-holder-in', z1, 'asi-drug1-z1-holder-out'); return false;">Submit</button>
                                        <button>Exit ASI</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                      </div>
                    </div>

                    <div class='asi-d1-instruction-div'>
                        <a onClick="javascript: viewASIinstruction('drug', 'right'); return false;">Click here for instructions/help <span><i class="fa fa-question-circle-o" aria-hidden="true"></i></span></a>
                    </div>
                    <div class='asi-true-left'>
                      <div class='asi-emp-cont'>
                        <div class='asi-tri-holder'>
                          <div class='asi-tri-number'>D14.</div>
                          <div class='asi-tri-ques'>Which substance is the major problem?</div>
                          <div class='asi-tri-resp'>
                            <select name='d14' id='d14' onChange="javascript: clearG1(d14);">
                              <option value='None Selected'>Select</option>
                              <option value='0'>None at all</option>
                              <option value='1'>Alcohol (Any Use)</option>
                              <option value='2'>Alcohol (Intoxication)</option>
                              <option value='3'>Heroin</option>
                              <option value='4'>Methadone</option>
                              <option value='5'>Other Opiates</option>
                              <option value='6'>Barbiturates</option>
                              <option value='7'>Other sed/hyp/tranq</option>
                              <option value='8'>Cocaine</option>
                              <option value='9'>Amphetamines</option>
                              <option value='10'>Cannabis</option>
                              <option value='11'>Hallucinogens</option>
                              <option value='12'>Inhalants</option>
                              <option value='15'>Dual addiction</option>
                              <option value='16'>Polydrug</option>
                            </select>
                          </div>

                          <div style='height:35px;'></div>

                          <div class='asi-tri-number-dbl'>D15.</div>
                          <div class='asi-tri-ques-dbl'>How long ago was your last period of voluntary abstinence?</div>
                          <div class='asi-tri-resp-dbl'><input type='text' name='d15' id='d15' oninput="javascript: clearG1(d15);" placeholder='D15 (months)'><br><br></div>

                          <div class='asi-tri-number-s'>D16.</div>
                          <div class='asi-tri-ques-s'>How many months ago did this abstinence end?</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d16' id='d16' oninput="javascript: clearG1(d16);" placeholder='D16'></div>

                          <div style='height:45px;'></div>

                          <div class='asi-howMany-head-wow'>How many times have you:</div>
                          <div class='asi-tri-number-s'>D17.</div>
                          <div class='asi-tri-ques-s'>Had alcohol D.T's?</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d17' id='d17' oninput="javascript: clearG1(d17);" placeholder='D17'></div>

                          <div style='height:30px;'></div>

                          <div class='asi-tri-number-s'>D18.</div>
                          <div class='asi-tri-ques-s'>Overdosed on drugs?</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d18' id='d18' oninput="javascript: clearG1(d18);" placeholder='D18'></div>

                          <div class='asi-howMany-head-wow'>How many times in your life have you been treated for:</div>
                          <div class='asi-tri-number-s'>D19.</div>
                          <div class='asi-tri-ques-s'>Alcohol abuse?</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d19' id='d19' oninput="javascript: clearG1(d19);" placeholder='D19'></div>

                          <div style='height:30px;'></div>

                          <div class='asi-tri-number-s'>D20.</div>
                          <div class='asi-tri-ques-s'>Drug abuse?</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d20' id='d20' oninput="javascript: clearG1(d20);" placeholder='D20'></div>

                          <div class='asi-howMany-head-wow'>How many of these were detox only?</div>
                          <div class='asi-tri-number-s'>D21.</div>
                          <div class='asi-tri-ques-s'>Alcohol:</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d21' id='d21' oninput="javascript: clearG1(d21);" placeholder='D21'></div>

                          <div style='height:30px;'></div>

                          <div class='asi-tri-number-s'>D22.</div>
                          <div class='asi-tri-ques-s'>Drugs:</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d22' id='d22' oninput="javascript: clearG1(d22);" placeholder='D22'></div>
                        </div>
                      </div>
                    </div>

                    <div class='asi-true-right'>
                      <div class='asi-emp-cont'>
                          <div class='asi-tri-holder'>
                            <div class='asi-howMany-head-wowNone'>How much have you spent during the last 30 days on:</div>
                            <div class='asi-tri-number-s'>D23.</div>
                            <div class='asi-tri-ques-s'>Alcohol?</div>
                            <div class='asi-tri-resp-s'><input type='text' name='d23' id='d23' oninput="javascript: clearG1(d23);" placeholder='D23'></div>

                            <div style='height:30px;'></div>

                            <div class='asi-tri-number-s'>D24.</div>
                            <div class='asi-tri-ques-s'>Drugs?</div>
                            <div class='asi-tri-resp-s'><input type='text' name='d24' id='d24' oninput="javascript: clearG1(d24);" placeholder='D24'></div>

                            <div style='height:30px;'></div>

                            <div class='asi-tri-number-dbl'>D25.</div>
                            <div class='asi-tri-ques-dbl'>How many days have you been treated in an outpatient setting in the past 30 days?</div>
                            <div class='asi-tri-resp-dbl'><input type='text' name='d25' id='d25' oninput="javascript: clearG1(d25);" placeholder='D25'><br><br></div>

                            <div class='asi-howMany-head-wowNone'>In the past 30 days, have you experienced:</div>
                            <div class='asi-tri-number-s'>D26.</div>
                            <div class='asi-tri-ques-s'>
                              <table>
                                <tr>
                                  <td>Alcohol Problems?</td>
                                  <td><div class='lo-d1-rad'><input type='radio' name='d26' id='yes26' value='1'></div></td>
                                  <td><div class='lo-d1-rad-lab'>Yes</div></td>
                                  <td><div class='lo-d1-rad'><input type='radio' name='d26' id='no26' value='0' checked></div></td>
                                  <td><div class='lo-d1-rad-lab'>No</div></td>
                                </tr>
                              </table>
                            </div>
                            <div class='asi-tri-resp-s'></div>

                            <div style='height:30px;'></div>

                            <div class='asi-tri-number-s'>D27.</div>
                            <div class='asi-tri-ques-s'>
                              <table>
                                <tr>
                                  <td>Drug Problems?</td>
                                  <td><div class='lo-d1-rad'><input type='radio' name='d27' id='yes27' value='1'></div></td>
                                  <td><div class='lo-d1-rad-lab'>Yes</div></td>
                                  <td><div class='lo-d1-rad'><input type='radio' name='d27' id='no27' value='0' checked></div></td>
                                  <td><div class='lo-d1-rad-lab'>No</div></td>
                                </tr>
                              </table>
                            </div>
                            <div class='asi-tri-resp-s'></div>

                            <div style='height:30px;'></div>

                            <div class='asi-howMany-head-wowNone'>In the past 30 days, how troubled have you been by the following:</div>
                            <div class='asi-tri-number'>D28.</div>
                            <div class='asi-tri-ques'>Alcohol problems?</div>
                            <div class='asi-tri-resp'>
                              <select name='d28' id='d28' onChange="javascript: clearG1(d28);">
                                <option value='Select'>Select</option>
                                <option value='0'>Not at All</option>
                                <option value='1'>Slightly</option>
                                <option value='2'>Moderately</option>
                                <option value='3'>Considerably</option>
                                <option value='4'>Extremely</option>
                                <option value='X'>No Answer</option>
                                <option value='N'>N/A</option>
                              </select>
                            </div>

                            <div style='height:40px;'></div>

                            <div class='asi-tri-number'>D29.</div>
                            <div class='asi-tri-ques'>Drug problems?</div>
                            <div class='asi-tri-resp'>
                              <select name='d29' id='d29' onChange="javascript: clearG1(d29);">
                                <option value='Select'>Select</option>
                                <option value='0'>Not at All</option>
                                <option value='1'>Slightly</option>
                                <option value='2'>Moderately</option>
                                <option value='3'>Considerably</option>
                                <option value='4'>Extremely</option>
                                <option value='X'>No Answer</option>
                                <option value='N'>N/A</option>
                              </select>
                            </div>

                            <div style='height:40px;'></div>

                            <div class='asi-howMany-head-wowNone'>How important to you now is treatment for these:</div>
                            <div class='asi-tri-number'>D30.</div>
                            <div class='asi-tri-ques'>Alcohol problems?</div>
                            <div class='asi-tri-resp'>
                              <select name='d30' id='d30' onChange="javascript: clearG1(d30);">
                                <option value='Select'>Select</option>
                                <option value='0'>Not at All</option>
                                <option value='1'>Slightly</option>
                                <option value='2'>Moderately</option>
                                <option value='3'>Considerably</option>
                                <option value='4'>Extremely</option>
                                <option value='X'>No Answer</option>
                                <option value='N'>N/A</option>
                              </select>
                            </div>

                            <div style='height:30px;'></div>

                            <div class='asi-tri-number'>D31.</div>
                            <div class='asi-tri-ques'>Drug problems?</div>
                            <div class='asi-tri-resp'>
                              <select name='d31' id='d31' onChange="javascript: clearG1(d31);">
                                <option value='Select'>Select</option>
                                <option value='0'>Not at All</option>
                                <option value='1'>Slightly</option>
                                <option value='2'>Moderately</option>
                                <option value='3'>Considerably</option>
                                <option value='4'>Extremely</option>
                                <option value='X'>No Answer</option>
                                <option value='N'>N/A</option>
                              </select>
                            </div>
                          </div>
                      </div>
                    </div>  
                  </div>
    </form>        

            <div class='row'>
              <div class='col-md-12' style='width:100%'>
                <table class='iml-save-btn'>
                  <tr>
                    <!-- <td><button onClick="javascript: continue_asi_d1_main(z2, 'asi-drug1-z2-holder-in', z4, 'asi-drug1-z4-holder-in'); init_d1_ir(); return false;">Save & Continue</button></td> -->
                    <td><button onClick="javascript: continue_asi_d1_main(z2, 'asi-drug1-z2-holder-in', z4, 'asi-drug1-z4-holder-in'); return false;">Save & Continue</button></td>
                    <td><button onClick="javascript: universal_generic_exit('asi', '{{current_section}}');">Exit Form</button></td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
