<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_asi({{current_section}}, {{json_data}});">
    <form action='' method='post' id='asi_form' name='asi_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='asi_id' id='asi_id' value='{{session.asi.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='asi'>
      <input type='hidden' name='form_name' id='form_name' value='asi_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>
      <input type='hidden' name='comments' id='comments' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Addiction Severity Index: Drug & Alcohol Use</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_admin/');">
                              <div  class='{{class.asiAdmin}}'>Administrative</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_general/');">
                              <div  class='{{class.asiGeneral}}'>General Info</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_medical/');">
                              <div  class='{{class.asiMedical}}'>Medical Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_employment/');">
                              <div  class='{{class.asiEmployment}}'>Employment</div>
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              <div  class='{{class.asiDrug1}}'>Drug & Alcohol Use</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_legal/');">
                              <div  class='{{class.asiLegal}}'>Legal Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_family/');">
                              <div  class='{{class.asiFamily}}'>Family History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social1/');">
                              <div  class='{{class.asiSocial1}}'>Social Interactions</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social2/');">
                              <div  class='{{class.asiSocial2}}'>Social Interactions II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_psych/');">
                              <div  class='{{class.asiPsych}}'>Psychiatric Status</div>
                            </a>
                          </td>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:89.3%; height:58.6vh; position:relative;'>
                    <!-- <div class='asi-drug1-z4-holder-in' id='z4'>
                    </div> -->

                    <div class='asi-drug1-z3-holder-in' id='z3'>
                        <div class='asi-drug1-z3-border'>
                            <div class='asi-drug1-z3-bkg'>
                                  <div class='asi_comment_header_d1'>
                                      <div class='align-asi-d1-close-left'>
                                          <div class='ft-closeWindow-icon-ltgray'>
                                              <a onClick="javascript: generalVisibilityChange(z3, 'asi-drug1-z3-holder-out'); return false;">
                                                  <i class="fa fa-window-close-o" aria-hidden="true"></i>
                                              </a>
                                          </div>
                                      </div>
                                      <div class='align-asi-d1-close-left2'>New Comment: ASI Drug/Alcohol Use</div>
                                  </div>
                                  <div class='divider_gradient' style='margin-bottom:20px;'></div>

                                  <div class='comment_page_body_d1'><textarea name='asi_comment' id='asi_comment' value=''></textarea></div>

                                  <div class='asi-d1-newComment-btns-wrap'>
                                      <button onClick='javascript: save_asi_comment();'>Save</button>
                                      <button onClick="javascript: generalVisibilityChange(z3, 'asi-drug1-z3-holder-out'); return false;">Cancel</button>
                                  </div>
                            </div>
                        </div>
                    </div>

                    <!-- THIS IS THE WARNING -->
                    <div class='asi-drug1-z2-holder-in' id='z2'>
                        <div class='asi-drug1-z2-border'>
                            <div class='asi-drug1-z2-bkg'>
                                <div style='height:2%;'></div>
                                <div class='asi-d1-warningHld'>
                                  <div class='asi-d1-warningHld1'><img src="{% static 'images/warnING.png' %}" alt="WARNING" class=''></div>
                                  <div class='asi-d1-warningHld2'>Warning!</div>
                                  <div class='overall-warning-t1'>The Highlighted Fields Contain Errors</div>
                                  <div class='overall-warning-t2'>Please be certain that:</div>
                                  <ul class='overall-warning-t3'>
                                    <li>These fields are not blank</li>
                                    <li>An option has been selected from the dropdown menu</li>
                                    <li>The entry is in the proper format and have the correct number of characters</li>
                                  </ul>
                                </div>
                                <div class='finalAndCompleteWarningButtonDiv_single'>
                                  <button onClick="javascript: generalVisibilityChange(z2, 'asi-drug1-z2-holder-out'); return false;">ok</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- THIS IS THE INITIAL DRUG ALCOHOL FORM -->
                    <div class='asi-drug1-z1-holder-in' id='z1'>
                      <div class='asi-drug1-z1-border'>
                        <div class='asi-drug1-z1-bkg'>
                            <div class='ft-closeWindow-icon'>
                                <a onClick="javascript: generalVisibilityChange(z1, 'asi-drug1-z1-holder-out'); return false;">
                                    <i class="fa fa-window-close-o" aria-hidden="true"></i>
                                </a>
                            </div>

                            <div class='asi-zi-form-head'><b>Alcohol/Drug Use</b></div>

                            <div class='divider_gradient' style='margin-bottom:20px;'></div>

                            <div class='asi-zi-form-head2'>
                                Note the usual or most recent route. For more than one route, choose the most severe.The routes are ordered from least severe to most severe.
                            </div>

                            <div style='height:20px;'></div>

                            <div class='asi-emp1-tbl-div'>
                                <div class='asi-d1-top'>
                                    <div class='asi-d1-inner1' style='padding-top:2.2%;'>Type</div>
                                    <div class='asi-d1-inner2' style='padding-top:2.2%;'>Past 30 Days</div>
                                    <div class='asi-d1-inner2'>Lifetime (Years)</div>
                                    <div class='asi-d1-inner2'>Route of Admin</div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Alcohol (Any use at all)</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d1Day' id='d1Day' value='{{fields.d1Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d1Year' id='d1Year' value='{{fields.d1Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d1Route' id='d1Route'>
                                            <option value='None Selected'>Select</option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Alcohol (Intoxication)</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d2Day' id='d2Day' value='{{fields.d2Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d2Year' id='d2Year' value='{{fields.d2Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d2Route' id='d2Route'>
                                            <option value='None Selected'>Select</option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Herion</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d3Day' id='d3Day' value='{{fields.d3Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d3Year' id='d3Year' value='{{fields.d3Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d3Route' id='d3Route'>
                                            <option value='None Selected'>Select</option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Other Opiates/Analgesics</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d4Day' id='d4Day' value='{{fields.d4Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d4Year' id='d4Year' value='{{fields.d4Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d4Route' id='d4Route'>
                                            <option value='None Selected'>Select</option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Barbiturates</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d5Day' id='d5Day' value='{{fields.d5Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d5Year' id='d5Year' value='{{fields.d5Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d5Route' id='d5Route'>
                                            <option value='None Selected'>Select</option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Sedatives/Hypnotics/Tranqs</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d6Day' id='d6Day' value='{{fields.d6Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d6Year' id='d6Year' value='{{fields.d6Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d6Route' id='d6Route'>
                                            <option value='None Selected'>Select</option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Cocaine</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d7Day' id='d7Day' value='{{fields.d7Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d7Year' id='d7Year' value='{{fields.d7Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d7Route' id='d7Route'>
                                            <option value='None Selected'>Select</option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Amphetamines</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d8Day' id='d8Day' value='{{fields.d8Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d8Year' id='d8Year' value='{{fields.d8Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d8Route' id='d8Route'>
                                            <option value='None Selected'>Select</option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Cannabis</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d9Day' id='d9Day' value='{{fields.d9Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d9Year' id='d9Year' value='{{fields.d9Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d9Route' id='d9Route'>
                                            <option value='None Selected'>Select</option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Hallucinogens</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d10Day' id='d10Day' value='{{fields.d10Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d10Year' id='d10Year' value='{{fields.d10Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d10Route' id='d10Route'>
                                            <option value='None Selected'>Select</option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-mid'>
                                    <div class='asi-d1-inner3'>Inhalants</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d11Day' id='d11Day' value='{{fields.d11Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d11Year' id='d11Year' value='{{fields.d11Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d11Route' id='d11Route'>
                                            <option value='None Selected'>Select</option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-d1-btm'>
                                    <div class='asi-d1-inner3'>More than 1 substance per day</div>
                                    <div class='asi-d1-inner4'><input type='number' name='d12Day' id='d12Day' value='{{fields.d12Day}}}'></div>
                                    <div class='asi-d1-inner4'><input type='number' name='d12Year' id='d12Year' value='{{fields.d12Year}}'></div>
                                    <div class='asi-d1-inner4'>
                                        <select name='d12Route' id='d12Route' disabled style='opacity:0.3'>
                                            <option value='None Selected'></option>
                                            <option value='01'>Oral</option>
                                            <option value='02'>Nasal</option>
                                            <option value='03'>Smoking</option>
                                            <option value='04'>Non-IV Inject</option>
                                            <option value='05'>IV Inject</option>
                                        </select>
                                    </div>
                                </div>

                                <div class='asi-di-btn-cont'>
                                    <div class='asi-d1-vert-btn'>
                                        <button>Submit</button>
                                        <button>Exit ASI</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                      </div>
                    </div>

                    <div style='height:25px;'></div>
                    <div class='asi-true-left'>
                      <div class='asi-emp-cont'>
                        <div class='asi-tri-holder'>
                          <div class='asi-tri-number'>D14.</div>
                          <div class='asi-tri-ques'>Which substance is the major problem?</div>
                          <div class='asi-tri-resp'>
                            <select name='d14' id='d14'>
                              <option value='None Selected'>Select</option>
                              <option value='00'>None at all</option>
                              <option value='01'>Alcohol (Any Use)</option>
                              <option value='02'>Alcohol (Intoxication)</option>
                              <option value='03'>Heroin</option>
                              <option value='04'>Methadone</option>
                              <option value='05'>Other Opiates</option>
                              <option value='06'>Barbiturates</option>
                              <option value='07'>Other sed/hyp/tranq</option>
                              <option value='08'>Cocaine</option>
                              <option value='09'>Amphetamines</option>
                              <option value='10'>Cannabis</option>
                              <option value='11'>Hallucinogens</option>
                              <option value='12'>Inhalants</option>
                              <option value='15'>Dual addiction</option>
                              <option value='16'>Polydrug</option>
                            </select>
                          </div>

                          <div style='height:25px;'></div>

                          <div class='asi-tri-number-dbl'>D15.</div>
                          <div class='asi-tri-ques-dbl'>How long ago was your last period of voluntary abstinence?</div>
                          <div class='asi-tri-resp-dbl'><input type='text' name='d15' id='d15'><br><br></div>

                          <div class='asi-tri-number-s'>D16.</div>
                          <div class='asi-tri-ques-s'>How many months ago did this abstinence end?</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d16' id='d16'></div>

                          <div style='height:45px;'></div>

                          <div class='asi-howMany-head-wow'>How many times have you:</div>
                          <div class='asi-tri-number-s'>D17.</div>
                          <div class='asi-tri-ques-s'>Had alcohol D.T's?</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d17' id='d17'></div>

                          <div style='height:30px;'></div>

                          <div class='asi-tri-number-s'>D18.</div>
                          <div class='asi-tri-ques-s'>Overdosed on drugs?</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d18' id='d18'></div>

                          <div class='asi-howMany-head-wow'>How many times in your life have you been treated for:</div>
                          <div class='asi-tri-number-s'>D19.</div>
                          <div class='asi-tri-ques-s'>Alcohol abuse?</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d19' id='d19'></div>

                          <div style='height:30px;'></div>

                          <div class='asi-tri-number-s'>D20.</div>
                          <div class='asi-tri-ques-s'>Drug abuse?</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d20' id='d20'></div>

                          <div class='asi-howMany-head-wow'>How many of these were detox only?</div>
                          <div class='asi-tri-number-s'>D21.</div>
                          <div class='asi-tri-ques-s'>Alcohol:</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d21' id='d21'></div>

                          <div style='height:30px;'></div>

                          <div class='asi-tri-number-s'>D22.</div>
                          <div class='asi-tri-ques-s'>Drugs:</div>
                          <div class='asi-tri-resp-s'><input type='text' name='d22' id='d22'></div>
                        </div>
                      </div>
                    </div>

                    <div class='asi-true-right'>
                      <div class='asi-emp-cont'>
                          <div class='asi-tri-holder'>
                            <div class='asi-howMany-head-wowNone'>How much have you spent during the last 30 days on:</div>
                            <div class='asi-tri-number-s'>D23.</div>
                            <div class='asi-tri-ques-s'>Alcohol?</div>
                            <div class='asi-tri-resp-s'><input type='text' name='d23' id='d23'></div>

                            <div style='height:30px;'></div>

                            <div class='asi-tri-number-s'>D24.</div>
                            <div class='asi-tri-ques-s'>Drugs?</div>
                            <div class='asi-tri-resp-s'><input type='text' name='d24' id='d24'></div>

                            <div style='height:30px;'></div>

                            <div class='asi-tri-number-dbl'>D25.</div>
                            <div class='asi-tri-ques-dbl'>How many days have you been treated in an outputpatient setting in the past 30 days?</div>
                            <div class='asi-tri-resp-dbl'><input type='text' name='d25' id='d25'><br><br></div>

                            <div class='asi-howMany-head-wowNone'>In the past 30 days, have you experienced:</div>
                            <div class='asi-tri-number-s'>D26.</div>
                            <div class='asi-tri-ques-s'>Alcohol problems?</div>
                            <div class='asi-tri-resp-s'><input type='text' name='d26' id='d26'></div>

                            <div style='height:30px;'></div>

                            <div class='asi-tri-number-s'>D27.</div>
                            <div class='asi-tri-ques-s'>Drug problems?</div>
                            <div class='asi-tri-resp-s'><input type='text' name='d27' id='d27'></div>

                            <div style='height:30px;'></div>

                            <div class='asi-howMany-head-wowNone'>In the past 30 days, how troubled have you been by the following:</div>
                            <div class='asi-tri-number-s'>D28.</div>
                            <div class='asi-tri-ques-s'>Alcohol problems?</div>
                            <div class='asi-tri-resp-s'><input type='text' name='d28' id='d28'></div>

                            <div style='height:40px;'></div>

                            <div class='asi-tri-number-s'>D29.</div>
                            <div class='asi-tri-ques-s'>Drug problems?</div>
                            <div class='asi-tri-resp-s'><input type='text' name='d29' id='d29'></div>

                            <div style='height:40px;'></div>

                            <div class='asi-howMany-head-wowNone'>How important to you now is treatment for these:</div>
                            <div class='asi-tri-number-s'>D30.</div>
                            <div class='asi-tri-ques-s'>Alcohol problems?</div>
                            <div class='asi-tri-resp-s'><input type='text' name='d30' id='d30'></div>

                            <div style='height:30px;'></div>

                            <div class='asi-tri-number-s'>D31.</div>
                            <div class='asi-tri-ques-s'>Drug problems?</div>
                            <div class='asi-tri-resp-s'><input type='text' name='d31' id='d31'></div>
                          </div>
                      </div>
                    </div>  
                  </div>
    </form>        

            <div class='row'>
              <div class='col-md-12' style='width:100%'>
                <table class='iml-save-btn'>
                  <tr>
                    <td><button onClick="javascript: universal_generic_exit('asi', '{{current_section}}');">Exit Form</button></td>
                    <td><button onClick="javascript: continue_asi_form('{{current_section}}'); return false;">Save & Continue</button></td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
