<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_asi({{current_section}}, {{json_data}});">
    <form action='' method='post' id='asi_form' name='asi_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='asi_id' id='asi_id' value='{{session.asi.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='asi'>
      <input type='hidden' name='form_name' id='form_name' value='asi_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Addiction Severity Index: General Information</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_admin/');">
                              <div  class='{{class.asiAdmin}}'>Administrative</div>
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              <div  class='{{class.asiGeneral}}'>General Info</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_medical/');">
                              <div  class='{{class.asiMedical}}'>Medical Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_employment/');">
                              <div  class='{{class.asiEmployment}}'>Employment</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_drug1/');">
                              <div  class='{{class.asiDrug1}}'>Drug & Alcohol Use</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_legal/');">
                              <div  class='{{class.asiLegal}}'>Legal Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_family/');">
                              <div  class='{{class.asiFamily}}'>Family History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social1/');">
                              <div  class='{{class.asiSocial1}}'>Social Interactions</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social2/');">
                              <div  class='{{class.asiSocial2}}'>Social Interactions II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_psych/');">
                              <div  class='{{class.asiPsych}}'>Psychiatric Status</div>
                            </a>
                          </td>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:43%; height:100%; margin-left:60px;'>
                    <div class='top-split'>
                      <h4>Demographic Information</h4>

                      <table class='asi-admin-table'>
                        <tr>
                          <td><div class='asi_number_iml2'>G13.</div></td>
                          <td><div><div class='asi_iml_label'>Geographic Code:</div></div></td>
                          <td><div><input type='text' name='g13' id='g13' value='{{fields.g13}}'></div></td>
                        </tr>
                      </table>

                      <table class='asi-admin-table'>
                        <tr>
                          <td><div class='asi_number_iml2'>G14.</div></td>
                          <td><div><div class='asi_iml_label'>Time at Residence:</div></div></td>
                          <td><div><input type='number' name='g14yrs' id='g14yrs' value='{{fields.g14yrs}}' style='width:40px; text-align:center;'></div></td>
                          <td><div><div class='years_months_iml'>years</div></div></td>
                          <td><div><input type='number' name='g14mos' id='g14mos' value='{{fields.g14mos}}' style='width:40px; text-align:center;'></div></td>
                          <td><div><div class='years_months_iml'>months</div></div></td>
                        </tr>
                      </table>

                      <table class='asi-admin-table'>
                        <tr>
                          <td><div class='asi_number_iml2'>G15.</div></td>
                          <td><div><div class='asi_iml_label'>Is This Residence Owned By Your Family?</div></div></td>
                          <td><div class='iml_asi_rad_fix'><input type='radio' name='g15' id='yesRent' value='1' onClick="javascript: asi_g_r1();"></div></td>
                          <td><div class='iml-radio-label-asi2'>Yes</div></td>
                          <td><div class='iml_asi_rad_fix'><input type='radio' name='g15' id='noRent' value='0' onClick="javascript: asi_g_r1();" checked></div></td>
                          <td><div class='iml-radio-label-asi2'>No</div></td>
                        </tr>
                      </table>

                      <table class='asi-admin-table'>
                        <tr>
                          <td><div class='asi_number_iml2'>G17.</div></td>
                          <td><div><div class='asi_iml_label'>Race:</div></div></td>
                          <td>
                            <div>
                              <select name='g17' id='g17'>
                                <option value='0'>Select</option>
                                <option value='1'>White (Not of Hispanic Origin)</option>
                                <option value='2'>Black (Not of Hispanic Origin)</option>
                                <option value='3'>American Indian</option>
                                <option value='4'>Alaskan Native</option>
                                <option value='5'>Asian or Pacific Islander</option>
                                <option value='6'>Hispanic - Mexican</option>
                                <option value='7'>Hispanic - Puerto Rican</option>
                                <option value='8'>Hispanic - Cuban</option>
                                <option value='9'>Other Hispanic</option>
                              </select>
                            </div>
                          </td>
                        </tr>
                      </table>

                      <table class='asi-admin-table'>
                        <tr>
                          <td><div class='asi_number_iml2'>G18.</div></td>
                          <td><div><div class='asi_iml_label'>Religious Prefrence:</div></div></td>
                          <td>
                            <div>
                              <select name='g18' id='g18'>
                                <option value='0'>Select</option>
                                <option value='1'>Protestant</option>
                                <option value='2'>Catholic</option>
                                <option value='3'>Jewish</option>
                                <option value='4'>Islamic</option>
                                <option value='5'>Other</option>
                                <option value='6'>None</option>
                              </select>
                            </div>
                          </td>
                        </tr>
                      </table>

                      <table class='asi-admin-table'>
                        <tr>
                          <td><div class='asi_number_iml2'>G19.</div></td>
                          <td><div><div class='asi_iml_label'>Have you been in a controlled environment in the</div></div></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td>
                            <table>
                              <tr>
                                <td><div class='asi_iml_label'>past 30 days?</div></td>
                          <td><div class='iml_asi_rad_fix'><input type='radio' name='g15' id='yesRent' value='1' onClick="javascript: asi_g_r1();"></div></td>
                          <td><div class='iml-radio-label-asi2'>Yes</div></td>
                          <td><div class='iml_asi_rad_fix'><input type='radio' name='g15' id='noRent' value='0' onClick="javascript: asi_g_r1();" checked></div></td>
                          <td><div class='iml-radio-label-asi2'>No</div></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>

                      <table class='asi-admin-table'>
                        <tr>
                          <td><div class='asi_number_iml2'>G20.</div></td>
                          <td><div><div class='asi_iml_label'>How Many Days?</div></div></td>
                          <td><div><input type='number' name='g20' id='g20' value='{{fields.g20}}' style='width:40px; text-align:center;'></div></td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:10%; margin-left:30px;'>
                    <div class='top-split'>
                      <h4>Additional Test Results</h4>
                      <table class='asi-admin-table2'>
                        <tr>
                          <td><div class='asi_number_iml2'>G21.</div></td>
                          <td><div><div class='asi_iml_label' style='margin-right:30px;'>Shipley C.Q.:</div></div></td>
                          <td><input type="text" name='g21' id='g21' value='{{fields.g21}}' style='width:50px; text-align:center;'></td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml2'>G22.</div></td>
                          <td><div><div class='asi_iml_label'>Shipley I.Q.:</div></div></td>
                          <td><input type="text" name='g22' id='g22' value='{{fields.g22}}' style='width:50px; text-align:center;'></td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml2'>G23.</div></td>
                          <td><div><div class='asi_iml_label'>Beck Total Score:</div></div></td>
                          <td><input type="text" name='g23' id='g23' value='{{fields.g23}}' style='width:50px; text-align:center;'></td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml2'>G24.</div></td>
                          <td><div><div class='asi_iml_label'>SCL-90 Total:</div></div></td>
                          <td><input type="text" name='g24' id='g24' value='{{fields.g24}}' style='width:50px; text-align:center;'></td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml2'>G25.</div></td>
                          <td><div><div class='asi_iml_label'>MAST:</div></div></td>
                          <td><input type="text" name='g25' id='g25' value='{{fields.g25}}' style='width:50px; text-align:center;'></td>
                        </tr>
                      </table>

                      <table class='asi-admin-table2'>
                        <tr>
                          <td><div class='asi_number_iml2'>G26.</div></td>
                          <td><div><div class='asi_iml_label' style='margin-right:5px;'>Test Name:</div></div></td>
                          <td><input type='text' name='test1' id='test1' value='{{fields.test1}}'></td>
                          <td><div><div class='asi_iml_label' style='margin-right:5px; margin-left:20px;'>Score:</div></div></td>
                          <td><input type="text" name='g26' id='g26' value='{{fields.g26}}' style='width:50px; text-align:center;'></td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml2'>G27.</div></td>
                          <td><div><div class='asi_iml_label'>Test Name:</div></div></td>
                          <td><input type='text' name='test2' id='test2' value='{{fields.test2}}'></td>
                          <td><div><div class='asi_iml_label' style='margin-left:20px;'>Score:</div></div></td>
                          <td><input type="text" name='g27' id='g27' value='{{fields.g27}}' style='width:50px; text-align:center;'></td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml2'>G28.</div></td>
                          <td><div><div class='asi_iml_label'>Test Name:</div></div></td>
                          <td><input type='text' name='test3' id='test3' value='{{fields.test3}}'></td>
                          <td><div><div class='asi_iml_label' style='margin-left:20px;'>Score:</div></div></td>
                          <td><input type="text" name='g28' id='g28' value='{{fields.g28}}' style='width:50px; text-align:center;'></td>
                        </tr>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div class='row'>
              <div class='col-md-12' style='width:100%'>
                <table class='iml-save-btn'>
                  <tr>
                    <td><button onClick="javascript: universal_generic_exit('asi', '{{current_section}}');">Exit Form</button></td>
                    <td><button onClick="javascript: continue_asi_form('{{current_section}}'); return false;">Save & Continue</button></td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
