<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_asi({{current_section}}, {{json_data}});">
    <form action='' method='post' id='asi_form' name='asi_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='asi_id' id='asi_id' value='{{session.asi.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='asi'>
      <input type='hidden' name='form_name' id='form_name' value='asi_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>
      <input type='hidden' name='comments' id='comments' value=''>
      <input type='hidden' name='m_m5Exp' id='m_m5Exp' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Addiction Severity Index: Medical Status</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_admin/');">
                              <div  class='{{class.asiAdmin}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_admin_image}}"></div>Administrative</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_general/');">
                              <div  class='{{class.asiGeneral}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_general_image}}"></div>General Info</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_medical/');">
                              <div  class='{{class.asiMedical}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_medical_image}}"></div>Medical Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_employment/');">
                              <div  class='{{class.asiEmployment}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_employment_image}}"></div>Employment</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_drug1/');">
                              <div  class='{{class.asiDrug1}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_drug1_image}}"></div>Drug & Alcohol Use</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_legal/');">
                              <div  class='{{class.asiLegal}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_legal_image}}"></div>Legal Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_family/');">
                              <div  class='{{class.asiFamily}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_family_image}}"></div>Family History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social1/');">
                              <div  class='{{class.asiSocial1}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_social1_image}}"></div>Social Interactions</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social2/');">
                              <div  class='{{class.asiSocial2}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_social2_image}}"></div>Social Interactions II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_psych/');">
                              <div  class='{{class.asiPsych}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_psych_image}}"></div>Psychiatric Status</div>
                            </a>
                          </td>
                      </table>
                      <div class='divider_gradient'></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <!-- WARNING DIV -->
                  <div class='asi-drug1-z5-holder-out' id='z5'>
                      <div class='asi-drug1-z5-border'>
                          <div class='asi-drug1-z5-bkg'>
                              <div style='height:2%;'></div>
                              <div class='asi-d1-warningHld'>
                                <div class='asi-d1-warningHld1'><img src="{% static 'images/warnING.png' %}" alt="WARNING" class=''></div>
                                <div class='asi-d1-warningHld2'>Warning!</div>
                                <div class='overall-warning-t1'>The Highlighted Fields Contain Errors</div>
                                <div class='overall-warning-t2'>Follow the legend below to correct these errors:</div>
                                <ul class='overall-warning-t3'>
                                  <li>Fields <span style='color:red'>HIGHLIGHTED IN RED</span> cannot be blank or in the wrong format</li>
                                  <li>Fields <span style='color:blue'>HIGHLIGHTED IN BLUE</span> can only be a value betweem 0 and 99</li>
                                  <li>You must make a selection from the fields <span style='color:#bf6c01'>HIGHLIGHTED IN ORANGE</span></li>
                                </ul>
                               </div>
                              <div class='finalAndCompleteWarningButtonDiv_single2'>
                                <button onClick="javascript: generalVisibilityChange(z5, 'asi-drug1-z5-holder-out'); return false;">ok</button>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- NEW COMMENT SECTION -->
                    <div class='asi-drug1-z3-holder-out' id='z3'>
                        <div class='asi-drug1-z3-border'>
                            <div class='asi-drug1-z3-bkg'>
                                  <div class='asi_comment_header_d1'>
                                      <div class='align-asi-d1-close-left'>
                                          <div class='ft-closeWindow-icon-ltgray'>
                                              <a onClick="javascript: generalVisibilityChange(z3, 'asi-drug1-z3-holder-out'); return false;">
                                                  <i class="fa fa-window-close" aria-hidden="true"></i>
                                              </a>
                                          </div>
                                      </div>
                                      <div class='align-asi-d1-close-left2'>New Comment: ASI Drug/Alcohol Use</div>
                                  </div>
                                  <div class='divider_gradient' style='margin-bottom:20px;'></div>

                                  <div class='comment_page_body_d1'><textarea name='asi_comment' id='asi_comment' value=''></textarea></div>

                                  <div class='asi-d1-newComment-btns-wrap'>
                                      <button onClick="javascript: save_asi_comment_iframe(z3, 'asi-drug1-z3-holder-out'); return false;">Save</button>
                                      <button onClick="javascript: generalVisibilityChange(z3, 'asi-drug1-z3-holder-out'); return false;">Cancel</button>
                                  </div>
                            </div>
                        </div>
                    </div>

                  <div class='asi-d1-instruction-div2'>
                      <a onClick="javascript: viewASIinstruction('medical'); return false;">Click here for instructions/help <span><i class="fa fa-question-circle-o" aria-hidden="true"></i></span></a>
                  </div>

                  <div class='col-md-6' style='width:40%; height:100%; margin-left:60px;'>
                    <div class='top-split-asi2'>
                      <table class='iml-asi-medical-table'>
                        <tr>
                          <td><div class='asi_number_iml'>M1.</div></td>
                          <td><div><div class='asi_iml_label'>How many times in your life have you been hospitalized for</div></div></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td><div><div class='general_asi_input' style='margin-bottom:15px;'>medical problems? <input type='number' name='m1' id='m1' value='{{fields.m1}}' style='width:50px; text-align:center;' oninput="javascript: clearG1(m1);"></div></div></td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml'>M2.</div></td>
                          <td><div><div class='asi_iml_label'>How long ago was your last hospitalization for a physical</div></div></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>
                            <div style='margin-bottom:15px;' class='general_asi_input'>
                              problem?
                              <input type='number' name='m2yrs' id='m2yrs' value='{{fields.m2yrs}}' style='width:50px; text-align:center;' oninput="javascript: clearG1(m2yrs);">
                              <span>years</span>
                              <input type='number' name='m2mth' id='m2mth' value='{{fields.m2mth}}' style='width:50px; text-align:center;' oninput="javascript: clearG1(m2mth);">
                              <span>months</span>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml'>M3.</div></td>
                          <td><div><div class='asi_iml_label'>Do you have any chronic medical problems which continue to</div></div></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>
                            <div style='margin-bottom:15px;' class='general_asi_input'>
                              interfere with your life?
                              <select name='m3' id='m3' oninput="javascript: clearG1(m3);">
                                <option value='None Selected'>Select</option>
                                <option value='1'>Yes</option>
                                <option value='0'>No</option>
                                <option value='X'>Not Answered</option>
                              </select>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml'>M4.</div></td>
                          <td><div><div class='asi_iml_label'>Are you taking any prescribed medication on a regular basis</div></div></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>
                            <div style='margin-bottom:15px;' class='general_asi_input'>
                              for a physical problem?
                              <select name='m4' id='m4' oninput="javascript: clearG1(m4);">
                                <option value='None Selected'>Select</option>
                                <option value='1'>Yes</option>
                                <option value='0'>No</option>
                                <option value='X'>Not Answered</option>
                              </select>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml'>M5.</div></td>
                          <td><div><div class='asi_iml_label'>Do you receive a pension for a physical disability?</div></div></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>
                            <em>(Exclude psychiatric disability)</em>
                            <div class='general_asi_input'>
                              <select name='m5' id='m5' onChange="javascript: asi_sel1_iml(); clearG1(m5);">
                                <option value='None Selected'>Select</option>
                                <option value='1'>Yes</option>
                                <option value='0'>No</option>
                                <option value='X'>Not Answered</option>
                              </select>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>
                            <div style='margin-bottom:15px; margin-top:10px;'>
                              <li>
                                <em id='m5Lab'>Specify:</em>
                                <div class='general_asi_input'><input type='text' name='m5Exp' id='m5Exp' value='{{fields.m5Exp}}' oninput="javascript: u_load_m_target_data(m5Exp, m_m5Exp); clearG1(m5Exp);"></div>
                              </li>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:10%; margin-left:30px;'>
                    <div class='top-split-asi2'>
                      <table>
                         <tr>
                          <td><div class='asi_number_iml'>M6.</div></td>
                          <td><div><div class='asi_iml_label'>How many days have you experienced medical problems in</div></div></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>
                            <div style='margin-bottom:15px;' class='general_asi_input'>
                              the last 30 days?
                              <select name='m6' id='m6' oninput="javascript: clearG1(m6);">
                                <option value='None Selected'>Select</option>
                                <option value='0'>0</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                                <option value='10'>10</option>
                                <option value='11'>11</option>
                                <option value='12'>12</option>
                                <option value='13'>13</option>
                                <option value='14'>14</option>
                                <option value='15'>15</option>
                                <option value='16'>16</option>
                                <option value='17'>17</option>
                                <option value='18'>18</option>
                                <option value='19'>19</option>
                                <option value='20'>20</option>
                                <option value='21'>21</option>
                                <option value='22'>22</option>
                                <option value='23'>23</option>
                                <option value='24'>24</option>
                                <option value='25'>25</option>
                                <option value='26'>26</option>
                                <option value='27'>27</option>
                                <option value='28'>28</option>
                                <option value='29'>29</option>
                                <option value='30'>30</option>
                              </select>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml'>M7.</div></td>
                          <td>How troubled or bothered have you been by these medical</td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>
                            <div style='margin-bottom:15px;' class='general_asi_input'>
                              problems in the past 30 days?
                              <select name='m7' id='m7' oninput="javascript: clearG1(m7);">
                                <option value='None Selected'>Select</option>
                                <option value='0'>Not At All</option>
                                <option value='1'>Slightly</option>
                                <option value='2'>Moderately</option>
                                <option value='3'>Considerably</option>
                                <option value='4'>Extremely</option>
                              </select>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml2'>M8.</div></td>
                          <td><div><div>How important to you now is treatment for these medical</div></div></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>
                            <div style='margin-bottom:15px;' class='general_asi_input'>
                              problems?
                              <select name='m8' id='m8' oninput="javascript: clearG1(m8);">
                                <option value='None Selected'>Select</option>
                                <option value='0'>Not At All</option>
                                <option value='1'>Slightly</option>
                                <option value='2'>Moderately</option>
                                <option value='3'>Considerably</option>
                                <option value='4'>Extremely</option>
                              </select>
                            </div>
                          </td>
                        </tr>

                        <table>
                        <tr>
                          <td><div class='asi_number_iml2'>M9.</div></td>
                          <td><div><div>How would you rate the patient's need for medical</div></div></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>
                            <div style='margin-bottom:15px;' class='general_asi_input'>
                              treatment?
                              <select name='m9' id='m9' oninput="javascript: clearG1(m9);">
                                <option value='None Selected'>Select</option>
                                <option value='0'>0</option>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                                <option value='6'>6</option>
                                <option value='7'>7</option>
                                <option value='8'>8</option>
                                <option value='9'>9</option>
                              </select>
                            </div>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td>
                            <div class='distorted_label'>Is the information entered significantly distorted by:</div>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div class='asi_number_iml2'>M10.</div></td>
                          <td><div><div>Patient's misrepresentation?</div></div></td>
                          <td><div class='iml_asi_rad_fix' style='margin-left:5px;'><input type='radio' name='m10' id='yesMis' value='1'></div></td>
                          <td><div class='iml-radio-label-asi2'>Yes</div></td>
                          <td><div class='iml_asi_rad_fix'><input type='radio' name='m10' id='noMis' value='0' checked></div></td>
                          <td><div class='iml-radio-label-asi2'>No</div></td>
                        </tr>

                        <tr>
                          <td><div class='asi_number_iml2'>M11.</div></td>
                          <td><div><div>Patient's inability to understand?</div></div></td>
                          <td><div class='iml_asi_rad_fix' style='margin-left:5px;'><input type='radio' name='m11' id='yesUnd' value='1'></div></td>
                          <td><div class='iml-radio-label-asi2'>Yes</div></td>
                          <td><div class='iml_asi_rad_fix'><input type='radio' name='m11' id='noUnd' value='0' checked></div></td>
                          <td><div class='iml-radio-label-asi2'>No</div></td>
                        </tr>
                      </table>

                      <div class='medical_comment_wrapper'>
                        <button onClick="javascript: generalVisibilityChange(z3, 'asi-drug1-z3-holder-in'); return false;">Add Additional Comments</button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div class='row'>
              <div class='col-md-12' style='width:100%'>
                <table class='iml-save-btn'>
                  <tr>
                    <td><button onClick="javascript: universal_generic_exit('asi', '{{current_section}}');">Exit Form</button></td>
                    <td><button onClick="javascript: general_asi_save('{{current_section}}'); return false;">Save & Continue</button></td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
