<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_asi({{current_section}}, {{json_data}});">
    <form action='' method='post' id='asi_form' name='asi_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='asi_id' id='asi_id' value='{{session.asi.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='asi'>
      <input type='hidden' name='form_name' id='form_name' value='asi_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>
      <input type='hidden' name='comments' id='comments' value=''>
      <input type='hidden' name='help_section' id='help_section' value=''>
      <input type='hidden' name='m_e3Exp' id='m_e3Exp' value=''>
      <input type='hidden' name='m_e7Exp' id='m_e7Exp' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Addiction Severity Index: Employment/Support Status</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_admin/');">
                              <div  class='{{class.asiAdmin}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_admin_image}}"></div>Administrative</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_general/');">
                              <div  class='{{class.asiGeneral}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_general_image}}"></div>General Info</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_medical/');">
                              <div  class='{{class.asiMedical}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_medical_image}}"></div>Medical Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_employment/');">
                              <div  class='{{class.asiEmployment}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_employment_image}}"></div>Employment</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_drug1/');">
                              <div  class='{{class.asiDrug1}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_drug1_image}}"></div>Drug & Alcohol Use</div>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarASI('/asi_legal/');">
                              <div  class='{{class.asiLegal}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_legal_image}}"></div>Legal Status</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_family/');">
                              <div  class='{{class.asiFamily}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_family_image}}"></div>Family History</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social1/');">
                              <div  class='{{class.asiSocial1}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_social1_image}}"></div>Social Interactions</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_social2/');">
                              <div  class='{{class.asiSocial2}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_social2_image}}"></div>Social Interactions II</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarASI('/asi_psych/');">
                              <div  class='{{class.asiPsych}}'><div class='asi-full-btn-img-cont'><img src="{{image.asi_psych_image}}"></div>Psychiatric Status</div>
                            </a>
                          </td>
                      </table>
                      <div class='divider_gradient'></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <!-- CONFIDENCE RATING SECTION -->
                  <div class='col-md-6' style='width:89.3%; height:58.6vh; position:relative;'>


                <!-- THE LEFT SIDE STARTS HERE -->
                  <div class='col-md-6 asi-true-left general_asi_input' style='margin-left:35px;'>
                    <div class='asi-d1-instruction-div4'>
                        <a onClick="javascript: viewASIinstruction('#psych'); return false;">Click here for instructions/help <span><i class="fa fa-question-circle-o" aria-hidden="true"></i></span></a>
                    </div>

                    
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6 asi-true-right general_asi_input' style='margin-top:30px;'>
                    
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div class='row'>
              <div class='col-md-12' style='width:100%'>
                <table class='iml-save-btn'>
                  <tr>
                    <td><button onClick="javascript: universal_generic_exit('asi', '{{current_section}}');">Exit Form</button></td>
                    <td><button onClick="javascript: continue_asi_dX_main(z5, 'asi-drug1-z5-holder-in', z4, 'asi-drug1-z4-holder-in', 'employment'); return false;">Save & Continue</button></td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
