{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_asi('{{current_section}}', {{json_data}});">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <table class='session-side'>
            <tr>
              <td>
                <div id='sideBarMainHeader'>
                  Session Details:
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div style='color:#fee047'>
                  <h4>Addiction Severity Index</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                          <span class='sidebar-name'>{{asi.client.fname}} {{asi.client.lname}}</span>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div id='sidebar-space-lower2'>
                          <span class="sidebar-id">{{asi.client.clientID}}</span>
                      </div>
              </td>
            </tr>



            <!-- <div style='margin-bottom: 80px;'></div> -->
            <tr>
              <td>
                <div id='sidebar-space-lower'>
                          <h4>Progress:</h4>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.asiAdmin}}'>
                  <img src="{{image.asi_admin_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_admin/');" name='asiAdminBtn' id='asiAdminBtn'>
                    Administrative
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiGeneral}}'>
                  <img src="{{image.asi_general_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_general/');" name='asiGeneralBtn' id='asiGeneralBtn'>
                     General Info
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiMedical}}'>
                  <img src="{{image.asi_medical_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_medical/');" name='asiMedicalBtn' id='asiMedicalBtn'>
                    Medical Status
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiEmployment}}'>
                  <img src="{{image.asi_employment_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_employment/');" name='asiEmploymentBtn' id='asiEmploymentBtn'>
                    Employment
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiDrug1}}'>
                  <img src="{{image.asi_drug1_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_drug1/');" name='asiDrug1Btn' id='asiDrug1Btn'>
                    Drugs & Alcohol Use
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiLegal}}'>
                  <img src="{{image.asi_legal_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_legal/');" name='asiLegalBtn' id='asiLegalBtn'>
                    Legal Status
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiFamily}}'>
                  <img src="{{image.asi_family_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_family/');" name='asiFamilyBtn' id='asiFamilyBtn'>
                    Family History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiSocial1}}'>
                  <img src="{{image.asi_social1_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_social1/');" name='asiSocial1Btn' id='asiSocial1Btn'>
                    Social
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiSocial2}}'>
                  <img src="{{image.asi_social2_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarASI('/asi_social2/');" name='asiSocial2Btn' id='asiSocial2Btn'>
                    Social II
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.asiPsych}}'>
                  <img src="{{image.asi_psych_image}}" id='bullet-img'> &nbsp
                  <a href="#" name='asiPsychBtn' id='asiPsychBtn'>
                    Psychiatric Status
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='exit_btn_text'>
                  <img src="{% static 'images/exitBtn.png' %}" alt="exit_icon" class='exit_icon'>
                  <a href="javascript: universal_generic_exit('asi', '/asi_psych/');" name='sourceBtn' class='exit_a_tag'>
                    Exit
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <div style='margin-bottom:10px;'>
                	<h3 id='am-h2'>Addiction Severity Index: Psychiatric Status</h3>
                </div>

                <div class="container">
            		<div class="row">                   
                  <div class="col-md-6 col-sm-6">
                  	<div>
                  		<form action='' method='post' id='asi_form' name='asi_form'> {% csrf_token %}
                  			<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                        <input type='hidden' name='asi_id' id='asi_id' value='{{asi.id}}'>
                        <input type='hidden' name='save_this' id='save_this' value=''>
                        <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
                        <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'>  
                        <input type='hidden' name='new_form' id='new_form' value='false'>
                        <input type='hidden' name='exit_type' id='exit_type' value='asi'>

                        <table>
                          <tr>
                            <td><label><em>How many times have you been treated for any psychological or emotional problems:</em></label></td>
                          </tr>
                        </table>

                        <ul>
                          <table>
                            <tr>
                              <td><li><div id='asiNumber'>P1.</div></li></td>
                              <td><label>In a hospital?</label></td>
                              <td><div id='fix_my_text'><input type='number' name='p1' id='p1' value='fields.p1'></div></td>
                            </tr>
                          </table>
                          <table>
                            <tr>
                              <td><li><div id='asiNumber'>P2.</div></li></td>
                              <td><label>As an outpatient or private patient?</label></td>
                              <td><div id='fix_my_text'><input type='number' name='p2' id='p2' value='fields.p2'></div></td>
                            </tr>
                          </table>
                        </ul>

                        <table>
                          <tr>
                            <td><div id='asiNumber'>P3.</div></td>
                            <td><label>Do you receive a pension for a psychiatric disability?</label></td>
                            <td><div id='fix_my_radio'><input type='radio' name='p3' id='p3yes' value='1'></div></td>
                            <td><label>Yes</label></td>
                            <td><div id='fix_my_radio'><input type='radio' name='p3' id='p3no' value='0' checked></div></td>
                            <td><label>No</label></td>
                          </tr>
                        </table>

                        <table>
                          <tr>
                            <td>
                              <div id='ital_sub_head'>
                                Psychological History
                              </div>
                            </td>
                          </tr>
                      </table>

                        <table>
                          <tr>
                            <td><div><label><em>Have you ever had a significant period, (that was not a direct result of drug/alcohol use), in which you have experienced:</em></label></div></td>
                          </tr>
                        </table>

                        <div class='container_asiH4'>
                          <table class='asi_family_table'>
                            <tr>
                              <th><div id='main_asi_soc4_vert'></div></th>
                              <th>Past 30 Days</th>
                              <th>In Your Life</th>
                            </tr>

                            <tr>
                              <td><div id='asi_vert_head4'>Serious Depression</div></td>
                              <td>
                                <div id='td_select'>
                                  <select name='p4d' id='p4d'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>

                              <td>
                                <div id='td_select'>
                                  <select name='p4y' id='p4y'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td><div id='asi_vert_head4'>Serious Anxiety or Tension</div></td>
                              <td>
                                <div id='td_select'>
                                  <select name='p5d' id='p5d'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>

                              <td>
                                <div id='td_select'>
                                  <select name='p5y' id='p5y'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td><div id='asi_vert_head4'>Hallucinations</div></td>
                              <td>
                                <div id='td_select'>
                                  <select name='p6d' id='p6d'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>

                              <td>
                                <div id='td_select'>
                                  <select name='p6y' id='p6y'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td><div id='asi_vert_head4'>Trouble Concentrating/Remembering</div></td>
                              <td>
                                <div id='td_select'>
                                  <select name='p7d' id='p7d'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>

                              <td>
                                <div id='td_select'>
                                  <select name='p7y' id='p7y'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td><div id='asi_vert_head4'>Trouble Controlling Violent Behavior</div></td>
                              <td>
                                <div id='td_select'>
                                  <select name='p8d' id='p8d'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>

                              <td>
                                <div id='td_select'>
                                  <select name='p8y' id='p8y'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td><div id='asi_vert_head4'>Serious Thoughts of Suicide</div></td>
                              <td>
                                <div id='td_select'>
                                  <select name='p9d' id='p9d'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>

                              <td>
                                <div id='td_select'>
                                  <select name='p9y' id='p9y'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td><div id='asi_vert_head4'>Suicide Attempt</div></td>
                              <td>
                                <div id='td_select'>
                                  <select name='p10d' id='p10d'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>

                              <td>
                                <div id='td_select'>
                                  <select name='p10y' id='p10y'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td><div id='asi_vert_head4'>Prescribed Medicine for Psych/Emotional Problems</div></td>
                              <td>
                                <div id='td_select'>
                                  <select name='p11d' id='p11d'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>

                              <td>
                                <div id='td_select'>
                                  <select name='p11y' id='p11y'>
                                    <option value='Select'>Select</option>
                                    <option value='1'>Yes</option>
                                    <option value='0'>No</option>
                                    <option value='X'>Uncertain</option>
                                    <option value='N'>N/A</option>
                                  </select>
                                </div>
                              </td>
                            </tr>
                          </table>

                          <div id='table_btn_asi'>
                            <button type='button' onClick="javascript: reset_asi_subf('psych');">Reset</button>
                          </div>
                        </div>
				           				            
				              </div>
                    </div><!--  END OF LEFT SIDE -->

				          <div class="col-md-6 col-sm-6">
                    Right Side
				          </div>
				    			</form>
				    
				</div> <!-- END PAGE CONTAINER -->

				<div>
					<!-- ____________________________BUTTONS________________________________ -->
					<table class='toggle-div-page'>
						<tr><td><div style='margin-top:30px;'></div></td></tr>
                        <tr>
                        	<td>
                        		<div style='margin-left:12px;'>
				                    <a href="#menu-toggle" id="menu-toggle">
				                        <button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                    </a>
				                </div>
			                </td>

			                <td><div style='margin-right:5px;'></div></td>

			                <td>
			                	<div>
			                		<a href="javascript: continue_asi_form('/asi_psych/');">
			                			<button type='button'>Continue</button>
			                		</a>
			                	</div>
			                </td>
			            </tr>
			        </table>
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}









