{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad='javascript: init_calendar(); loadWorkFields({{json_data}});'>

	<form action='/calendarSaved/' method='post' id='c_form'> {% csrf_token %}
		<input type='hidden' name='month' id='month' value=''>
		<input type='hidden' name='year' id='year' value=''>
		<input type='hidden' name='selected_date' id='selected_date' value=''>
		<input type='hidden' name='selected_start' id='selected_start' value=''>
		<input type='hidden' name='selected_end' id='selected_end' value=''>
		<input type='hidden' name='numSaved' id='numSaved' value=''>
		<!-- <input type='text' id='test1'>
		<input type='text' id='test2'> -->

		<div id='saveThis'></div>
	</form>

	<div class='cal_container'>
		<div id='cal_heading_wrapper'>
			<table class='cal_header_table'>
				<tr>
					<td><div style='width:325px;'></div></td>
					<td><div id='cal_tot_head'></div></td>
					<td><div style='width:140px;'></div></td>

					<td>
						<div class='save_btn_cal'>
							<a href="javascript: save_curr_calendar();">Save & Exit</a>
						</div>
					</td>

					<td>
						<a href="javascript: prevMonthPayload(); loadWorkFields({{json_data}});">
							<img src="{% static 'images/left_s.png' %}" alt="cal-nav" class='cal-nav-left' onmouseover='javascript: cal_prevOn();' onmouseout='javascript: cal_prevOff();' onClick='javascript: ' id='cal_prevBtn'>
						</a>
					</td>

					<td>
						<a href="javascript: nextMonthPayload(); loadWorkFields({{json_data}});">
							<img src="{% static 'images/right_s.png' %}" alt="cal-nav" class='cal-nav-right' onmouseover='javascript: cal_nextOn();' onmouseout='javascript: cal_nextOff();' id='cal_nextBtn'>
						</a>
					</td>
				</tr>
			</table>
		</div>
		<!-- <div id='cal_tot_head'></div> -->

		<div id='cal_head_divide'></div>

		<table class='cal_table'>
			<tr>
				<th><div id='cal-dow'>Sunday</div></th>
				<th><div id='cal-dow'>Monday</div></th>
				<th><div id='cal-dow'>Tuesday</div></th>
				<th><div id='cal-dow'>Wednesday</div></th>
				<th><div id='cal-dow'>Thursday</div></th>
				<th><div id='cal-dow'>Friday</div></th>
				<th><div id='cal-dow'>Saturday</div></th>
			</tr>

			<tr id='week1'></tr>
			<tr id='week2'></tr>
			<tr id='week3'></tr>
			<tr id='week4'></tr>
			<tr id='week5'></tr>
			<tr id='week6'></tr>
			<tr id='week7'></tr>
			<tr id='week8'></tr>
		</table>
	</div>

</body>
{% endblock %}