{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<h1>Client Discharge</h1>

<table>
	<tr>
		<td><b>ID: </b></td>
		<td><span style='color:blue;'>{{client.clientID}}</span></td>
	</tr>
	<tr>
		<td><b>DOB: </b></td>
		<td><span style='color:blue;'>{{client.dob}}</span></td>
	</tr>
</table>
<table>
	<tr><td><div style='margin-bottom:10px;'></div></td></tr>
	<tr><td><b>Address:</b></td></tr>
	<tr><td>{{client.street_no}} {{client.street_name}} {{client.apartment_no}}</td></tr>
	<tr><td>{{client.city}}, {{client.state}} {{client.zip_code}}</td></tr>
	<tr><td><div style='margin-bottom:10px;'></div></td></tr>
</table>

<form action='/discharge_viewForm/' method='post' id=''> {% csrf_token %}
	<table>
		<tr>
			<td><label for'datepicker'><b>Discharge Date: </b></label></td>
			<td><input type='text' name='datepicker' id='datepicker' value=''></td>
		</tr>
		<tr>
			<td><label for'datepicker'><b>Termination Reason: </b></label></td>
			<td>
				<select name='term-reason' id='term-reason' value=''>
					<option value=''>Select</option>
					{% for t in term %}
						<option value='{{t.reason}}'>{{t.reason}}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
	</table>
	<table>
		<tr><td><label for='diagnosis'><b>Diagnosis:</b></label></td></tr>
		<tr><td><textarea name='diagnosis' id='diagnosis' cols='55' rows='5'></textarea></td></tr>
		<tr><td><div style='margin-bottom:10px;'></div></td></tr>

		<tr><td><label for='recomend'><b>Recommendations:</b></label></td></tr>
		<tr><td><textarea name='recomend' id='recomend' cols='55' rows='5'></textarea></td></tr>
		<tr><td><div style='margin-bottom:10px;'></div></td></tr>

		<tr><td><label for='notes'><b>Additional Notes:</b></label></td></tr>
		<tr><td><textarea name='notes' id='notes' cols='55' rows='5'></textarea></td></tr>
		<tr><td><div style='margin-bottom:10px;'></div></td></tr>
	</table>
	<input type='hidden' name='client_id' id='client_id' value='{{client.id}}'>
	<input type='submit' value='Continue'>
</form>

<form action='/clientOptions/' method='post' id='back-options'> {% csrf_token %}
	<input type="hidden" name='cli-id' id='cli-id' value='{{client.id}}'>
	<input type='submit' value='Back to Client Options'>
</form>
<a href='/adminHome'><button type='button'>Home Page</button></a>

{% endblock %}