<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white">
    <!-- <input type='text' id='superTest' style='width:600px;'> -->
    <form action='' method='post' id='c_form' name='c_form' enctype="multipart/form-data"> {% csrf_token %}
      <input type='hidden' id='client_id' name='client_id'value='{{c1.id}}' >
      <input type='hidden' id='newNoteSubject' name='newNoteSubject'value='' >
      <input type='hidden' id='newNoteBody' name='newNoteBody'value=''>
      <input type='hidden' id='newNoteFlag' name='newNoteFlag'value=''>
      <input type='hidden' id='totalNotes' name='totalNotes'value='0'>
      <input type='hidden' id='numberAdded' name='numberAdded'value='0'>
      <input type='hidden' id='numberLoadedNotes' name='numberLoadedNotes'value='{{loadedNotes}}'>
      <input type='hidden' id='selectedSubject' name='selectedSubject'value='0'>
      <input type='hidden' id='selectedBody' name='selectedBody'value='0'>
      <input type='hidden' id='selectedFlag' name='selectedFlag'value='0'>
      <input type='hidden' id='delete_ids' name='delete_ids' value=''>

      <input type='hidden' id='c1_tag' name='c1_tag'value='{{c1.clientID}}'>
      <input type='hidden' id='c2_tag' name='c2_tag'value='{{c2.clientID}}'>

      <input type='hidden' id='save_section' name='save_section' value='/coupleSession/'>
      <input type='hidden' id='exit_type' name='exit_type' value='couple'>
      <input type='hidden' id='session_id' name='session_id' value='{{session_id}}'>
      <input type='hidden' id='couple_id' name='couple_id' value='{{couple_id}}'>

      <div id="newNoteBuilder"></div>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Client Discharge</div>
            </div>

            <div class='wow-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                 <!-- WRAPPER FIXER -->
                  <div class='col-md-6' style='width:89.3%; height:66.7vh;'>                      
                        <div class='wowTrueLeft'>
                          <div class='discharge_content_wrapper_true'>
                            <div style='height:10px;'></div>
                            <div class='top-ent-wrap'>
                                <!-- <div class='divider_gradient_up' style='margin-top:10px;'></div> -->
                                <div id='iml-session-name-lg'>
                                  <em>
                                    {{session.client.fname}} {{session.client.middleInit}}. {{session.client.lname}}
                                  </em>
                                </div>

                                <div id='iml-session-id' style='text-align:center; margin-top:10px;'>{{session.client.clientID}}</div>
                                <div class='divider_gradient' style='margin-top:8px; margin-bottom:10px;'></div>


                                <div class='discharge-pic-container'>
                                  <img src="/static/media/{{session.client.photo}}" alt="client_img" class='iml-avatar-img'>
                                  <!-- <div class='divider_gradient' style='margin-top:10px;'></div> -->
                                </div>

                                <div class='discharge-contact-container'>
                                    <div id='iml-head-md'>Contact Information:</div>
                                    <div id='iml-session-email'>{{session.client.email}}</div>
                                    <div id='iml-session-phone'><b style='color:#5b6765;'><em>Primary Phone: </em></b>{{m_phone}}</div>
                                    <div id='iml-session-phone'><b style='color:#5b6765;'><em>Work Phone: </em></b>{{m_work_phone}}</div>
                                    <div id='iml-head-sm'>Address:</div>

                                    <div id='iml-session-address'>
                                        {{session.client.street_no}} {{session.client.street_name}} {{session.client.apartment_no}}
                                    </div>

                                    <div id='iml-session-address'>
                                        {{session.client.city}}, {{session.client.state}} {{session.client.zip_code}}
                                    </div>
                                </div>
                            </div>

                            <div class='addit_details_head'>Additional Details:</div>
                            <div style='text-align:center'><em><b style='color:#5b6765;'>Gender: </b></em>{{gender}}</div>

                            <div style='text-align:center'><em><b style='color:#5b6765;'>Intake Date: </b></em>{{session.client.intake_date}}</div>

                            <div style='text-align:center'><em><b style='color:#5b6765;'>Reason for referral: </b></em>{{session.client.reason_ref.reason}}</div>

                            <div style='text-align:center'><em><b style='color:#5b6765;'>Date of Birth: </b></em>{{session.client.dob}}</div>

                            <div style='text-align:center'><em><b style='color:#5b6765;'>SSN: </b></em>{{m_ssn}}</div> 

                            <div style='text-align:center'><em><b style='color:#5b6765;'>Probation Officer: </b></em>{{session.client.probationOfficer}} / <span style='color:#b46e22'>{{m_probation_phone}}</span></div>

                            <div style='text-align:center'><em><b style='color:#5b6765;'>Emergency Contact: </b></em>{{session.client.emer_contact_name}} / <span style='color:#b46e22'>{{m_emer_phone}}</span></div>

                            <div class='divider_gradient' style='margin-top:10px;'></div>

                          </div>
                        </div>

                        <div class='wowTrueRight'>
                          <div class='discharge_content_wrapper_true'>
                            <div class='discharge_form_wrap'>
                              <div>

                                <div>Discharge Summary</div>

                                <div id='disLab'>Describe patient's demeanor during treatment:</div>
                                <div><textarea></textarea></div>
                                
                                <div>
                                    <span id='disLab'>Diagnosis:</span>
                                    <select name='diagnosis' id='diagnosis'>
                                        <option value='Select'>Select</option>
                                        <option value='Diagnosis 1'>Diagnosis 1</option>
                                        <option value='Diagnosis 2'>Diagnosis 2</option>
                                        <option value='Diagnosis 3'>Diagnosis 3</option>
                                        <option value='Diagnosis 4'>Diagnosis 4</option>
                                        <option value='Diagnosis 5'>Diagnosis 5</option>
                                        <option value='Diagnosis 6'>Diagnosis 6</option>
                                    </select>
                                </div>

                                <div><span id='disLab'>Describe: </span><input type='text' name='' id=''></div>

                                <div>
                                    <span id='disLab'>Reason for Discharge:</span>
                                    <select name='reasonTerminated' id='reasonTerminated'>
                                        <option value='Select'>Select</option>
                                        <option value='Client withdrew from program'>Client Withdrew From Program</option>
                                        <option value='Client arrested/New charge'>Client Arrested/New Charge</option>
                                        <option value='Administrative discharge'>Administrative Discharge</option>
                                        <option value='Other'>Other</option>
                                    </select>
                                </div>

                                <div><span id='disLab'>Describe: </span><input type='text' name='' id=''></div>

                                <div id='disLab'>What are the reccommendations for the client?</div>
                                <div><textarea></textarea></div>

                                <div id='disLab'>Please include additional details regarding reason for referral:</div>
                                <div><textarea></textarea></div>

                              </div>
                            </div>
                          </div>
                        </div>
                  </div>

                </div>
              </div>
            </div>
    </form>  

            <div class='iml-sing-btnWrap'>
                <button onClick="javascript: couple_to_optionsSTUFF(); return false;">Exit</button>
            </div>  

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}


