{% load staticfiles %}

<head>
	<title>{{title}}</title>
	<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
</head>

<body class='body500'>
    <input type='hidden' name='client_id' id='client_id' value="{{client.id}}">
    <div class='head300'>New Client</div>

    <div class='general300Profile'>
        <table>
            <tr>
                <td>
                    <div class='iml-pic-container'> <!-- CLIENT IMAGE -->
                        <img src="/static/media/{{client.photo}}" alt="client_img" class='iml-avatar-img'>
                    </div>
                </td>

                <td>
                    <table>
                        <tr><td><div id='iml-session-name'><em>{{client.fname}} {{client.middleInit}}. {{client.lname}}</em></div></td></tr>
                        <tr><td><div id='iml-session-id'>{{client.clientID}}</div></td></tr>
                        <tr><td><div id='iml-head-md'>Contact Information:</div></td></tr>
                        <tr><td><div id='iml-session-email'>{{client.email}}</div></td></tr>
                        <tr><td><div id='iml-session-phone'>{{client.phone}}</div></td></tr>
                        <tr><td><div id='iml-head-sm'>Address:</div></td></tr>
                        <tr>
                            <td>
                                <div id='iml-session-address'>
                                    {{client.street_no}} {{client.street_name}} {{client.apartment_no}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id='iml-session-address'>
                                    {{client.city}}, {{client.state}} {{client.zip_code}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class='divider_gradient'></div>

        <div>
            <div id='iml-head-lg' style='padding-top:10px;'>Additional Details:</div>
            <table>
                <tr>
                    <td><div id='superCliLab'>Gender: </div></td>
                    <td><div id='superCliAns'>{{gender}}</div></td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><div id='superCliLab'>DOB: </div></td>
                    <td><div id='superCliAns'>{{client.dob}}</div></td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><div id='superCliLab'>SSN: </div></td>
                    <td><div id='superCliAns'>{{client.ss_num}}</div></td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><div id='superCliLab'>Reason for Referral:</div></td>
                    <td><div id='superCliAns'>{{client.reason_ref.reason}}</div></td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><div id='superCliLab'>Work Phone:</div></td>
                    <td><div id='superCliAns'>{{work}}</div></td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><div id='superCliLab'>Emergency Contact:</div></td>
                    <td><div id='superCliAns'>{{client.emer_contact_name}}</div></td>
                    <td><div id='superCliAns'>{{client.emer_phone}}</div></td>
                </tr>
            </table>
            
            <table>
                <tr>
                    <td><div id='superCliLab'>Probation Officer:</div></td>
                    <td><div id='superCliAns'>{{probation}}</div></td>
                </tr>                
            </table>
        </div>

        <div class='divider_gradient' id='dummy'></div>

        <div class='newSelectionText'>Options</div>

        <div class='button3Long_newClient'>
            <button onClick="Javascript: goToCoupleNewClient();">Save</button>
            <button onClick="Javascript: editNewClientData();">Edit</button>
            <button onClick="Javascript: newClientAborted();">Cancel</button>
        </div>
    </div>        

    <script src="{% static 'js/custom_js.js' %}" type="text/javascript"></script>
</body>












