{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-Header">
                    <div style='margin-bottom:40px; padding-top:8%;'>
                        <h3>Options</h3>
                    </div>
                </li>
                <li>
                    <form action='/am_demographic/' method='post' name='am' id='am'> {% csrf_token %}
                        <input type="hidden" id='client_id' name='client_id' value='{{client.id}}'>
                        <input type="hidden" id='session_id' name='session_id' value='{{session_id}}'>
                        <input type='hidden' id='back' name='back' value='false'>
                        <a href="javascript: new_am();">Anger Management</a>
                    </form>
                </li>
                <li>
                    <form action='/asi_demographic/' method='post' name='asi' id='asi'> {% csrf_token %} 
                        <input type="hidden" id='client_ID' name='client_ID' value='{{client.id}}'> 
                        <input type="hidden" id='session_id' name='session_id' value='{{session_id}}'> 
                        <input type='hidden' id='back' name='back' value='false'>              
                        <a href="javascript: new_asi();">Addiction Severity Index</a>
                    </form>
                </li>
                <li>
                    <form action='/mh_demographic/' method='post' name='mh' id='mh'> {% csrf_token %} 
                        <input type="hidden" id='client_ID' name='client_ID' value='{{client.id}}'> 
                        <input type="hidden" id='session_id' name='session_id' value='{{session_id}}'>
                        <input type='hidden' id='back' name='back' value='false'>
                        <a href="javascript: new_mh();">Mental Health Assessment</a>
                    </form>
                </li>
                <li>
                    <form action='/sap_demographic/' method='post' name='sap' id='sap'> {% csrf_token %}
                        <input type="hidden" id='client_ID' name='client_ID' value='{{client.id}}'>
                        <input type="hidden" id='session_id' name='session_id' value='{{session_id}}'>
                        <input type='hidden' id='back' name='back' value='false'>
                        <a href="javascript: new_sap();">S.A.P Form</a>
                    </form>
                </li>
                <li>
                    <form action='/ut_testResults/' method='post' name='ut' id='ut'> {% csrf_token %}
                        <input type="hidden" id='client_ID' name='client_ID' value='{{client.id}}'>
                        <input type="hidden" id='session_id' name='session_id' value='{{session_id}}'>
                        <input type='hidden' id='back' name='back' value='false'>
                        <a href="javascript: new_ut();">Urine Test Results</a>
                    </form>
                </li>
                <li>
                    <form action='/discharge_client/' method='post' name='discharge' id='discharge'> {% csrf_token %}
                        <input type="hidden" id='client_ID' name='client_ID' value='{{client.id}}'>
                        <input type="hidden" id='session_id' name='session_id' value='{{session_id}}'>
                        <input type='hidden' id='back' name='back' value='false'>
                        <a href="javascript: discharge();">Client Discharge</a>
                    </form>
                </li>
                <li>
                    <a href="#">Client Files</a>
                </li>
                <li>
                    <a href="#">Appointment Manager</a>
                </li>
                <li>
                    <a href="#">Delete Current Session</a>
                </li>
                <li>
                    <a href="#">Close Session</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style='text-align:'>
                        <div>
                          
                            <table>
                                <tr>
                                    <td>
                                        <h2>Client Session</h2>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h3 id='session-h3'>Session Type: {{session.s_type.session_type}}</h3>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h5><span id='option-label'>Start Time: </span>{{session.start}}</h5>
                                        <span id='option-label'>Duration: </span><b><span style='color:red;'>{{session.s_type.duration}} minutes</span></b>
                                    </td>
                                </tr>

                                <tr><td><div style='margin-bottom:20px;'></div></td></tr>

                                <tr>
                                    <td>
                                        <h4 id='session-h3'>Client Info:</h4>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class='session-name-field'>{{client.fname}} {{client.middleInit}} {{client.lname}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <em><span style='color:blue;'>{{client.clientID}}</span></em>
                                    </td>
                                </tr>

                                <tr><td><div style='margin-bottom:5px;'></div></td></tr>

                                <tr>
                                    <td>
                                        <span id='option-label'>DOB: </span><span id='option-ans'>{{client.dob}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id='option-label'>SS: </span><span id='option-ans'>{{client.ss_num}}</span>
                                    </td>
                                </tr>

                                <tr><td><div style='margin-bottom:20px;'></div></td></tr>

                                <tr>
                                    <td>
                                        <h4 id='session-h3'>Contact Info</h4>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span id='option-ans'>{{client.street_no}} {{client.street_name}} {{client.apartment_no}}</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span id='option-ans'>{{client.city}}, {{client.state}} {{client.zip_code}}</span>
                                    </td>
                                </tr>

                                <tr><td><div style='margin-bottom:10px;'></div></td></tr>

                                <tr>
                                    <td>
                                        <span id='option-ans'>{{phone}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id='option-ans'>{{client.email}}</span>
                                    </td>
                                </tr>
                            </table>
<!-- _____________________________________________TOGGLE BUTTON_______________________________________________ -->
                       <!--  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
</body>

{% endblock %}