<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: ">
	<input type='text' id='superTest'>
    <form action='' method='post' id='c_form' name='c_form'> {% csrf_token %}
      <input type='hidden' id='client_id' name='client_id'value='{{c1.id}}' >
      <input type='hidden' id='newNoteSubject' name='newNoteSubject'value='' >
      <input type='hidden' id='newNoteBody' name='newNoteBody'value=''>
      <input type='hidden' id='newNoteFlag' name='newNoteFlag'value=''>
      <input type='hidden' id='numNewNotes' name='numNewNotes'value='0'> <!-- REMEMBER TO CHANGE THIS TO VARIABLE -->
      <input type='hidden' id='numberAdded' name='numberAdded'value='0'>
      <input type='hidden' id='numberLoadedNotes' name='numberLoadedNotes'value='{{numLoadedNotes}}'>
      <input type='hidden' id='selectedSubject' name='selectedSubject'value='0'>
      <input type='hidden' id='selectedBody' name='selectedBody'value='0'>
      <input type='hidden' id='selectedFlag' name='selectedFlag'value='0'>


  		<div id="newNoteBuilder"></div>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Couple's Therapy Session</div>
            </div>

            <div class='wow-data-entry-wrapper'>
              <div class='container'>
                <div class='row'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:90%; height:100%; margin-left:10px;'>                 		
                      	<div class='c_client_info_wow' id='bkgP'>
                      		<a href="Javascript: viewClient1Profile_couple();" onmouseover="javascript: cp_hoverA('p');" onmouseout="javascript: cp_hoverB('p');">
	                      		<div class='wow-couple-client-superhead'>Client 1</div>
	                      		<div class='wow-pic-container-couple'> <!-- CLIENT IMAGE -->
	                        		<img src="/static/media/{{c1.photo}}" alt="client_img" class='iml-avatar-img' id='imgP'>
	                    		</div>

	                    		<div style='height:10px;'></div>

	                    		<div id='wow-session-name'><em>{{c1.fname}} {{c1.middleInit}}. {{c1.lname}}</em></div>
	                    		<div id='wow-session-id'></div>
	                    		<div style='height:10px;'></div>
	                    		<div id='wow-session-numInfo'><span>DOB:</span> <em>{{c1.dob}}</em></div>
	                    		<div id='wow-session-numInfo'><span>SSN:</span> <em>{{c1ss}}</em></div>
	                    		<div id='wow-session-numInfo'><span>Phone:</span> <em>{{c1phone}}</em></div>
	                    		<div id='wow-session-email'><em>{{c1.email}}</em></div>
	                    	</a>
                      	</div>

                      	<div class='c_client_info_wow' style='margin-left:20px;' onmouseover="javascript: cp_hoverA('s');" onmouseout="javascript: cp_hoverB('s');"  id='bkgS'>
                      		<a href="Javascript: viewClient2Profile_couple();">
	                      		<div class='wow-couple-client-superhead'>Client 2</div>
	                      		<div class='wow-pic-container-couple'> <!-- CLIENT IMAGE -->
	                        		<img src="/static/media/{{c2.photo}}" alt="client_img" class='iml-avatar-img' id='imgS'>
	                    		</div>

	                    		<div style='height:10px;'></div>

	                    		<div id='wow-session-name'><em>{{c2.fname}} {{c2.middleInit}}. {{c2.lname}}</em></div>
	                    		<div id='wow-session-id'></div>
	                    		<div style='height:10px;'></div>
	                    		<div id='wow-session-numInfo'><span>DOB:</span> <em>{{c2.dob}}</em></div>
	                    		<div id='wow-session-numInfo'><span>SSN:</span> <em>{{c2ss}}</em></div>
	                    		<div id='wow-session-numInfo'><span>Phone:</span> <em>{{c2phone}}</em></div>
	                    		<div id='wow-session-email'><em>{{c2.email}}</em></div>
	                    	</a>
                      	</div>

                      	<div class='muyDataWow'>
	                      	<div class='right-wow-couple-wrapper'>
	                      		<table style="width:100%;">
	                      			<tr>
	                      				<td style="width:49%">
				                    		<div class='wow-couple-all-out-head'>Notes</div>
				                    		<div class='wow-couple-info-btn-wrap' id='noteLister'>
				                    			<div class='noteListHolder_couple' id='selectListBuilder_c'>
				                    			</div>
				                    		</div>

				                    		<div style='margin-bottom:40px;'>
					                    		<div class='wow-couple-info-bottom-wrap'>
					                    			<div class='hold-my-button'>
					                    				<button onClick="Javascript: addCoupleNote(); return false;">New Note</button>
					                    			</div>
					                    		</div>
					                    	</div>
					                    </td>

					                    <td><div style='width:10px;'></div></td>

					                    <td>
				                    		<div class='wow-couple-all-out-head2'>Documents</div>
				                    		<div class='wow-couple-info-btn-wrap2'>
				                    		</div>

				                    		<div style='margin-bottom:40px;'>
					                    		<div class='wow-couple-info-bottom-wrap2'>
					                    			<div class='hold-my-button'>
					                    				<button onClick="Javascript: addCoupleNote(); return false;">Upload</button>
					                    			</div>
					                    		</div>
					                    	</div>
					                    </td>
				                    </tr>
				                </table>
	                    	</div>
	                    </div>
                  </div>
                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                	<td><button onClick="javascript: exit_to_home_CoupleSession(); return false;">Save & Exit</button></td>
                  <td><button onClick="javascript: couple_to_optionsSTUFF(); return false;">Session Options</button></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
