{% load staticfiles %}

<head>
  <title>Simeon Academy</title>
  <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
</head>

<body class='searchResultsBody' onLoad='javascript: initialize_clientResults({{json_data}});'>

	<form action='/clientSearchResults/' method='post' id='b_form'> {% csrf_token %}
		<input type='hidden' name='pageNumber' id='pageNumber' value=''>
		<input type='hidden' name='search_type' id='search_type' value='{{sType}}'>
		<input type='hidden' name='numMatches' id='numMatches' value='{{numMatches}}'>
		<input type='hidden' name='numPages' id='numPages' value='{{numPages}}'>
		<input type='hidden' name='pageOne' id='pageOne' value='{{pageOne}}'>
		<input type='hidden' name='session_id' id='session_id' value=''>
		<input type='hidden' name='s_option' id='s_option' value=''>
		<!-- <input type='text' id='testT'> -->
	</form>

	<div class='superGreenPopHead'>
		<div class="superGreenHeadText">Edit Client Information</div>
	</div>

	<div class='clientSearchResultsInfoWrapper'>
		<div>
		</div>
	</div>

	<div class='superGreenPopBody'>
		<div>
		</div>
	</div>

	<div class='superGreenPopFoot'>
		<button onClick='javascript: processEditedClientData();'>Submit</button>
		<button onClick='javascript: window.close();'>Cancel</button>
	</div>

	<script src="{% static 'js/custom_js.js' %}" type="text/javascript"></script>
</body>