
{% load staticfiles %}

<head>
	<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="gradient-white">
	<div id='paid_page_stuff'>
		Note Sucessfully Deleted
	</div>

	<div class='end_save_sequence'>
		<a href="javascript: window.close();">
			<button>Continue</button>
		</a>
	</div>

	<script src="{% static 'js/custom_js.js' %}" type="text/javascript"></script>
</body>



















<!-- {% load staticfiles %}

<head>
	<title>New Note</title>
	<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
</head>

<body class='new_note_body_options'>
	<div class='padOptions1'>
		<h2 style='text-align:center;'><em>Note Sucessfully Deleted!</em></h2>
	</div>

	<div class='notePadCheck'>
		<img src="">
	</div>

	<div class='notePadBtn3'>
		<table>
			<tr>
				<td><div style='width:80px;'></div></td>
				<td><button onClick="javascript: window.close();">Ok</button></td>
				<td><div style='width:80px;'></div></td>
			</tr>
		</table>
	</div>

	<script src="{% static 'js/custom_js.js' %}" type="text/javascript"></script>
</body> -->