{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body onLoad="javascript: searchRadio();" class="gradient-white">

    <div class='header-images'>
      <div class="container">
            <div class="row">                   
                  <div class="col-md-12">
                        <div id='header-text'>
                              CLIENT SEARCH
                        </div>
                  </div>
            </div>
        </div>
    </div>

    <div>
      <div class="container">
            <div class="row">                   
                  <div class="col-md-12">
                        <div class='main-windows-left'>
                              <h3><em>Which client would you like to start a new session for?</em></h3>
                              <div style='margin-bottom:3%;'>Select Client Search Criteria</div>
                        </div>
                  </div>

                  <div class="col-md-12">
                        <div class='main-windows'>
                              <form action="/clientSearchResults/" method="post" id='c_search' name='c_search'> {% csrf_token %}
                                    <input type='hidden' name='m_search_type' id='m_search_type' value=''>
                                    <table>
                                          <tr>
                                                <td>
                                                      <input type='radio' id='name_radio' name='search-radio' checked='true' value='' onCLick="javascript: searchRadio();">
                                                </td>
                                                <td>
                                                      <div id='radio-select' id=''>
                                                            <label for='name'>Name <span id='faded-text'>(first last)</span></label>
                                                      </div>
                                                </td>
                                          </tr>                                     
                                    </table>

                                    <table class='name-table'>
                                          <tr>
                                                <td><div id='form-radio-margin'></div></td>
                                                <td>
                                                      <div>
                                                            <input type='text' name='fname' id='fname' value=''>
                                                      </div>
                                                </td>

                                                <td>
                                                      <div>
                                                            <input type='text' name='lname' id='lname' value=''>
                                                      </div>
                                                </td>

                                                <td>
                                                      <div id='error-div'>
                                                            <p id='error1' name='error1'></p>
                                                      </div>
                                                </td>
                                          </tr>

                                          <tr><td><div id='space2'></div></td></tr>
                                    </table>

                                    <table>
                                          <tr>
                                                <td>
                                                      <input type='radio' id='dob_radio' name='search-radio' value='' onClick="javascript: searchRadio();">
                                                </td>
                                                <td>
                                                      <div id='radio-select'>
                                                            <label for='dob' id='dobLab'>Date of Birth <span id='faded-text'>(mm/dd/yyyy)</span></label>
                                                      </div>
                                                </td>
                                          </tr>                                     
                                    </table>

                                    <table class='name-table'>
                                          <tr>
                                                <td><div id='form-radio-margin'></div></td>
                                                <td>
                                                      <div>
                                                            <input type='text' name='dob' id='dob' value=''>
                                                      </div>
                                                </td>
                                                <td>
                                                      <div id='error-div'>
                                                            <p id='error2' name='error2'></p>
                                                      </div>
                                                </td>
                                          </tr>

                                          <tr><td><div id='space2'></div></td></tr>
                                    </table>

                                    <table>
                                          <tr>
                                                <td>
                                                      <input type='radio' id='ss_radio' name='search-radio' value='' onClick="javascript: searchRadio();">
                                                </td>
                                                <td>
                                                      <div id='radio-select'>
                                                            <label for='ss_num'>Serial Number <span id='faded-text'>(xxx-xx-xxxx)</span></label>
                                                      </div>
                                                </td>
                                          </tr>                                     
                                    </table>

                                    <table class='name-table'>
                                          <tr>
                                                <td><div id='form-radio-margin'></div></td>
                                                <td>
                                                      <div>
                                                            <input type='text' name='ss_num' id='ss_num' value=''>
                                                      </div>
                                                </td>
                                                <td>
                                                      <div id='error-div'>
                                                            <p id='error3' name='error3'></p>
                                                      </div>
                                                </td>
                                          </tr>

                                          <tr><td><div id='space2'></div></td></tr>
                                    </table>

                                          <table>
                                          <tr>
                                                <td>
                                                      <input type='radio' id='id_radio' name='search-radio' value='' onClick="javascript: searchRadio();">
                                                </td>
                                                <td>
                                                      <div id='radio-select'>
                                                            <label for='client_ID'>Client ID</label>
                                                      </div>
                                                </td>
                                          </tr>                                     
                                    </table>

                                    <table class='name-table'>
                                          <tr>
                                                <td><div id='form-radio-margin'></div></td>
                                                <td>
                                                      <div>
                                                            <input type='text' name='client_ID' id='client_ID' value=''>
                                                      </div>
                                                </td>
                                                <td>
                                                      <div id='error-div'>
                                                            <p id='error4' name='error4'></p>
                                                      </div>
                                                </td>
                                          </tr>

                                          <tr><td><div id='space'></div></td></tr>
                                    </table> 

                                          <table>
                                                <tr>
                                                      <td>
                                                            <div id='error-div'>
                                                                  <p id='error5' name='error5'></p>
                                                            </div>
                                                      </td>
                                                </tr>
                                          </table> 
                                    </div> 

                                    <table>
                                          <tr>
                                                <td>
                                                      <a href="javascript: submit_session()" class='but_a'>
                                                            <button type='button'>Search</button>
                                                      </a>
                                                </td>
                                                <td>
                                                      <div id='submit-space'>
                                                            <a href="/adminHome" class='but_a'>
                                                                  <button type='button'>Cancel</button>
                                                            </a>
                                                      </div>
                                                </td>
                                          </tr>
                                    </table>                            
                              </form>
                        </div>
                  </div>
            </div>
        </div>
    </div>

      <div class="container">
        <div class="row">                   
            <div class="col-md-12">
                  
            </div>
        </div>
    </div>

</body>
{% endblock %}

