{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" style='text-align:center'>
<!-- 	<div id='header-img'>
        <img src="{% static 'images/header.png' %}">
    </div> -->

    <div class='header-images'>
    	<div class="container">
        	<div class="row">                   
            	<div class="col-md-12">
            		<div id='header-text'>
            			CLIENT SEARCH
            		</div>
            	</div>
            </div>
        </div>
    </div>

    <div>
    	<div class="container">
        	<div class="row">                   
            	<div class="col-md-12">
            		<div class='main-windows-left'>
            			<h3>Select Search Criteria</h3>
            		</div>
            	</div>

            	<div class="col-md-12">
            		<div class='main-windows'>
            			<form action="/clientSearchResults/" method="post" id='client-search' name='client-search'> {% csrf_token %}
            				<table>
            					<tr>
            						<td>
            							<input type='radio' id='search-radio' name='search-radio' checked='true'>
            						</td>
            						<td>
            							<div id='radio-select' id=''>
            								<label for=''>Name:</label>
            							</div>
            						</td>
            					</tr>            					
            				</table>

            				<table class='name-table'>
            					<tr>
            						<td><div id='form-radio-margin'></div></td>
            						<td>
            							<div>
            								<input type='text' name='' id='' value='Fname'>
            							</div>
            						</td>

            						<td>
            							<div>
            								<input type='text' name='' id='' value='Lname'>
            							</div>
            						</td>
            					</tr>

            					<tr><td><div id='space2'></div></td></tr>
            				</table>

            				<table>
            					<tr>
            						<td>
            							<input type='radio' id='search-radio' name='search-radio'>
            						</td>
            						<td>
            							<div id='radio-select'>
            								<label for=''>Date of Birth:</label>
            							</div>
            						</td>
            					</tr>            					
            				</table>

            				<table class='name-table'>
            					<tr>
            						<td><div id='form-radio-margin'></div></td>
            						<td>
            							<div>
            								<input type='text' name='' id='' value='mm/dd/yyyy' disabled='true' style='opacity: 0.5;'>
            							</div>
            						</td>
            					</tr>

            					<tr><td><div id='space2'></div></td></tr>
            				</table>

            				<table>
            					<tr>
            						<td>
            							<input type='radio' id='search-radio' name='search-radio'>
            						</td>
            						<td>
            							<div id='radio-select'>
            								<label for=''>Serial Number:</label>
            							</div>
            						</td>
            					</tr>            					
            				</table>

            				<table class='name-table'>
            					<tr>
            						<td><div id='form-radio-margin'></div></td>
            						<td>
            							<div>
            								<input type='text' name='' id='' value='xxx-xx-xxxx' disabled='true' style='opacity: 0.5;'>
            							</div>
            						</td>
            					</tr>

            					<tr><td><div id='space2'></div></td></tr>
            				</table>

							<table>
            					<tr>
            						<td>
            							<input type='radio' id='search-radio' name='search-radio'>
            						</td>
            						<td>
            							<div id='radio-select'>
            								<label for=''>Client ID:</label>
            							</div>
            						</td>
            					</tr>            					
            				</table>

            				<table class='name-table'>
            					<tr>
            						<td><div id='form-radio-margin'></div></td>
            						<td>
            							<div>
            								<input type='text' name='' id='' value='None' disabled='true' style='opacity: 0.5;'>
            							</div>
            						</td>
            					</tr>

            					<tr><td><div id='space'></div></td></tr>
            				</table>   

            				<table>
            					<tr>
            						<td>
            							<button type='button'>Search</butto>
            						</td>
            					</tr>
            				</table>       				
            			</form>
            		</div>
            	</div>
            </div>
        </div>
    </div>

	<div class="container">
        <div class="row">                   
            <div class="col-md-12">
            	
            </div>
        </div>
    </div>

</body>
{% endblock %}

<form action="/clientSearchResults/" method="post" id='client-search' name='client-search'> {% csrf_token %}
	<table>
		<tr>
			<td>
				<input type='radio' id='search-radio' name='search-radio' checked='true' value='ssNumSearch' onClick="javascript: updateSS()">
			</td>
			<td>
				<label for='ss_num'>SS Number</label>
			</td>			
		</tr>

		<tr>
			<td></td>
			<td>
				<input type='text' value='' id='ss_num' name='ss_num'>
			</td>
		</tr>

		<tr>
			<td>
				<input type='radio' id='search-radio' name='search-radio' value='nameSearch' onCLick="javaScript: updateName()">
			</td>
			<td>
				<label for='fname'>Name</label>
			</td>
		</tr>

		<tr>
			<td></td>
			<td>
				<input type='text' value='' id='fname' name='fname' value="First Name">
			</td>
			<td>
				<input type='text' value='' id='lname' name='lname' value="Last Name">
			</td>
		</tr>

		<tr>
			<td>
				<input type='radio' id='search-radio' name='search-radio' value='dobSearch' onClick="javaScript: updateDOB()">
			</td>
			<td>
				<label for='dob'>DOB</label>
			</td>			
		</tr>

		<tr>
			<td></td>
			<td>
				<input type='text' value='' id='dob' name='dob'>
			</td>
		</tr>

		<tr>
			<td>
				<input type='radio' id='search-radio' name='search-radio' value='clientIDSearch' onClick="javaScript: updateID()">
			</td>
			<td>
				<label for='client_ID'>Client ID</label>
			</td>			
		</tr>

		<tr>
			<td></td>
			<td>
				<input type='text' value='' id='client_ID' name='client_ID'>
			</td>
		</tr>
	</table>

	<table>
		<tr>
			<td>
				<div style='margin-top:30px;'>
					<input type='submit' value='submit'>
				</div>
			</td>
		</tr>
	</table>
</form>

<a href='/adminHome'><button type=/button>Home Page</button></a>