{% load staticfiles %}

<head>
  <title>Simeon Academy</title>
  <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
</head>

<body class='session_exit_body' onLoad='javascript: initialize_statusUpdate();'>
	<form action='/updateSuccess/' method='post' id='u_form'> {% csrf_token %}
		<input type='hidden' name='client_id' id='client_id' value=''>
		<input type='hidden' name='isPending' id='isPending' value=''>
		<input type='hidden' name='isDischarged' id='isDischarged' value=''>
		<input type='hidden' name='newStatus' id='newStatus' value=''>
	</form>

	<div class='BoxPopUpWrapperHead'>
		<div id='warningClassHeadText'>
			Update Client Status
		</div>
	</div>

	<div class='BoxPopUpWrapperBody'>
		<div class='BoxPopMainImageWrapper'>
			<img src="{% static 'images/warning.png' %}" alt="popBoxWarning" class='popBoxWarning'>
		</div>

		<div id='warningClassBodyText'>
			Update Client Status to <span id='status'></span>?
		</div>
	</div>

	<div class='BoxPopUpWrapperFoot'>
		<div id='BoxButtonContainer'>
			<button onClick="javascript: proceedStatusUpdate();" class='boxButton'>Update</button>
			<button onClick="javascript: window.close();" class='boxButton'>Cancel</button>
		</div>
	</div>

	<script src="{% static 'js/custom_js.js' %}" type="text/javascript"></script>
</body>