{% load staticfiles %}

<head>
	<title>{{title}}</title>
	<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
</head>

<body class='body500' onLoad='Javascript: initializeUpdateCoupleFields();'>
    <!-- <input type='text' id='test4' style='width:300px;'> -->
    <form action='' method='post' id='c_form'> {% csrf_token %}
        <input type='hidden' name='client_id' id='client_id' value="{{client.id}}">

        <input type='hidden' name='u_street_no' id='u_street_no' value="{{street_no}}">
        <input type='hidden' name='u_street_name' id='u_street_name' value="{{street_name}}">
        <input type='hidden' name='u_apartment_no' id='u_apartment_no' value="{{apartment_no}}">
        <input type='hidden' name='u_city' id='u_city' value="{{city}}">
        <input type='hidden' name='u_zip_code' id='u_zip_code' value="{{zip_code}}">
        <input type='hidden' name='u_phone' id='u_phone' value="{{phone}}">
        <input type='hidden' name='u_emer_phone' id='u_emer_phone' value="{{emer_phone}}">
        <input type='hidden' name='u_work_phone' id='u_work_phone' value="{{work_phone}}">
        <input type='hidden' name='u_probation_phone' id='u_probation_phone' value="{{probation_phone}}">
        <input type='hidden' name='u_email' id='u_email' value="{{email}}">
        <input type='hidden' name='u_probationOfficer' id='u_probationOfficer' value="{{probationOfficer}}">
        <input type='hidden' name='u_emer_contact_name' id='u_emer_contact_name' value="{{emer_contact_name}}">
        <input type='hidden' name='u_state' id='u_state' value="{{state.id}}">

        <input type='hidden' name='i_street_no' id='i_street_no' value="{{client.street_no}}">
        <input type='hidden' name='i_street_name' id='i_street_name' value="{{client.street_name}}">
        <input type='hidden' name='i_apartment_no' id='i_apartment_no' value="{{client.apartment_no}}">
        <input type='hidden' name='i_city' id='i_city' value="{{client.city}}">
        <input type='hidden' name='i_zip_code' id='i_zip_code' value="{{client.zip_code}}">
        <input type='hidden' name='i_phone' id='i_phone' value="{{client.phone}}">
        <input type='hidden' name='i_emer_phone' id='i_emer_phone' value="{{client.emer_phone}}">
        <input type='hidden' name='i_work_phone' id='i_work_phone' value="{{client.work_phone}}">
        <input type='hidden' name='i_probation_phone' id='i_probation_phone' value="{{client.probation_phone}}">
        <input type='hidden' name='i_email' id='i_email' value="{{client.email}}">
        <input type='hidden' name='i_probationOfficer' id='i_probationOfficer' value="{{client.probationOfficer}}">
        <input type='hidden' name='i_emer_contact_name' id='i_emer_contact_name' value="{{client.emer_contact_name}}">
        <input type='hidden' name='i_state' id='i_state' value="{{client.state.id}}">

        <div class='head300'>UPDATE CLIENT</div>

        <div class='general300Profile'>
           <!--  <div class='divider_gradient' style=''></div> -->
            <a href="Javascript: viewClient2Profile_couple();" onmouseover="javascript: " onmouseout="javascript:">
                <table>
                    <tr>
                        <td>
                            <div class='loKey-pic-container'> <!-- CLIENT IMAGE -->
                                <img src="/static/media/{{client.photo}}" alt="client_img" class=''>
                            </div>
                        </td>

                        <td>
                            <table>
                                <tr><td><div id='loKey-session-name'><em>{{client.fname}} {{client.middleInit}}. {{client.lname}}</em></div></td></tr>
                                <tr><td><div id='loKey-session-id'>{{client.clientID}}</div></td></tr>
                                <tr><td><div id='loKey-session-number'><b>DOB: </b>{{client.dob}}</div></td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </a>

            <div class='divider_gradient_up' style='margin-bottom:px;'></div>

            <!-- <div class='existGen300_wow_loKey'>Highlighted fields indicate changes that will be made to the client's profile</div> -->

        <div class='super-lokey-container'>
            <div class='existGen300_wow_loKey'>Highlighted fields indicate changes that will be made to the client's profile</div>
            <div class='lokey-entry-header'>Address:</div>

            <table>
                <tr>
                    <td><div><input type='text' style='width:80px' name='input_street_no' id='input_street_no' placeholder='Street no.' oninput="javascript: compare_i_u('street_no');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>
                    <td><div><input type='text' style='width:200px' name='input_street_name' id='input_street_name' placeholder='Street name' oninput="javascript: compare_i_u('street_name');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>
                    <td><div><input type='text' style='width:50px' name='input_apartment_no' id='input_apartment_no' placeholder='Apt' oninput="javascript: compare_i_u('apartment_no');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>
                </tr>
            </table>

            <table>
                <tr>
                    <td><div><input type='text' style='width:165px' name='input_city' id='input_city' placeholder='City' oninput="javascript: compare_i_u('city');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>

                    <td>
                        <div>
                            <select name='input_state' id='input_state' onChange="javascript: u_i_selectFoo();">
                                {% for s in stateList %}
                                <option value="{{s.id}}">{{s.state}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>

                    <td><div><input type='text' style='width:80px' name='input_zip_code' id='input_zip_code' placeholder='Zip Code' oninput="javascript: compare_i_u('zip_code');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>
                </tr>
            </table>

            <div class='lokey-entry-header'>Contact Information:</div>

            <table>
                <tr>
                    <td><div><input type='text' style='width:100px' name='input_phone' id='input_phone' placeholder='Phone' oninput="javascript: compare_i_u_num('phone'); phoneBuilderWow('phone');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>
                    <td><div><input type='text' style='width:100px' name='input_work_phone' id='input_work_phone' placeholder='Work Phone' oninput="javascript: compare_i_u_num('work_phone'); phoneBuilderWow('work_phone');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>
                    <td><div><input type='text' style='width:180px' name='input_email' id='input_email' placeholder='Email' oninput="javascript: compare_i_u('email');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>                   
                </tr>
            </table>

            <div class='lokey-entry-header'>Probation Officer:</div>

            <table>
                <tr>
                    <td><div><input type='text' style='width:170px' name='input_probationOfficer' id='input_probationOfficer' placeholder='Name' oninput="javascript: compare_i_u('probationOfficer');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>
                    <td><div><input type='text' style='width:100px' name='input_probation_phone' id='input_probation_phone' placeholder='Phone' oninput="javascript: compare_i_u_num('probation_phone'); phoneBuilderWow('probation_phone');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>
                </tr>
            </table>

            <div class='lokey-entry-header'>Emergency Contact Information:</div>

            <table>
                <tr>
                    <td><div><input type='text' style='width:170px' name='input_emer_contact_name' id='input_emer_contact_name' placeholder='Name' oninput="javascript: compare_i_u('emer_contact_name');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>
                    <td><div><input type='text' style='width:100px' name='input_emer_phone' id='input_emer_phone' placeholder='Phone' oninput="javascript: compare_i_u_num('emer_phone'); phoneBuilderWow('emer_phone');" onClick="javascript: finalizeAllUpdatedCoupleFields();"></div></td>
                </tr>
            </table>
        </div>

            <div class='divider_gradient' style=''></div>
            <div style='height:10px;'></div>
            <!-- <div class='newSelectionText'>Options</div>
            <div style='height:10px;'></div> -->

            <div class='button3Long_newClient'>
                <button onClick="Javascript: saveBaselessUpdates(); return false;">Save Changes</button>
                <button onClick="Javascript: chooseAsIsCouple2();">Discard Changes</button>
                <button onClick="Javascript: startCoupleSession_refresh();">New Search</button>
            </div>
        </div>
    </form>

    <script src="{% static 'js/custom_js.js' %}" type="text/javascript"></script>
</body>












