{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white">
	<div class="container">
        <div class="row">
            <div class="col-md-12">
            	<div id='center-page' style='margin-bottom:23px;'>
            		<em>
            			<h3>Welcome back, {{user.first_name}}!</h3>
            		</em>
            	</div>
            </div>

            <div class="col-md-3 col-sm-3" style='background-color:red;'></div>
            <div class="col-md-3 col-sm-3" style='background-color:green;'></div>
            <div class="col-md-3 col-sm-3" style='background-color:blue;'></div>
            <div class="col-md-3 col-sm-3" style='background-color:orange;'></div>
        </div>

        <form action='' method='post' id='m_form'> {% csrf_token %}
	        <input type='hidden' name='cSearch' id='cSearch' value=''>
	        <input type='hidden' name='pageNumber' id='pageNumber' value='1'>
	        <input type='hidden' name='initialLoad' id='initialLoad' value='True'>
	        <input type='hidden' name='numOnPage' id='numOnPage' value=''>
	        <input type='hidden' name='numResults' id='numResults' value=''>
	        <input type='hidden' name='client_id' id='client_id' value=''>
	        <input type='hidden' name='session_id' id='session_id' value='true'>
	        <input type='hidden' name='initLoad' id='initLoad' value='true'>
	        <input type='hidden' name='form_name' id='form_name' value='m_form'>
	        <input type='hidden' name='hasExisting' id='hasExisting' value=''>
	        <input type='hidden' name='search_clientSession' id='search_clientSession' value='False'>
	        <input type="hidden" name='search_type' id="search_type" value="">
	    </form>

        <!-- <div class='headImageWrapper'>
        	<img src="{% static 'images/new_images/home.png' %}" alt="" class='headImageClass'>
        </div> -->

        <div style='margin-bottom:15%;'></div>

        <div class='the-home-wrapper-options'>
	        <div class="row"> <!-- TOP ROW OF BUTTONS -->
	        	<div class="col-sm-2 col-md-2"></div> <!-- LEFT MARGIN -->

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<!-- <a href="javascript: uniClientSearchF('session');"> -->
	        			<a href="javascript: baseJumpSearch('start_session');">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle'>
			           						<div class='colorImgDiv1'>
			           							<img src="{% static 'images/new_images/session.png' %}" alt="" class='newImgColor1'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Begin Session
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="javascript: baseJumpSearch('general');">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle'>
			           						<div class='colorImgDiv2'>
			           							<img src="{% static 'images/new_images/searchClient.png' %}" alt="" class='newImgColor2'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Client Search
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="javascript: uniFormSearchF();">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle'>
			           						<div class='colorImgDiv3'>
			           							<img src="{% static 'images/new_images/searchForm.png' %}" alt="" class='newImgColor2'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Form Search
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/appointmentMain/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle'>
			           						<div class='colorImgDivCal'>
			           							<img src="{% static 'images/new_images/calendar.png' %}" alt="" class='newImgColor'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Appointments
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2"></div> <!-- RIGHT MARGIN -->
	        </div> <!-- END BOTTOM ROW OF BUTTONS -->

	        <div style='margin-bottom:3%;'></div>

	        <div class="row"> <!-- BOTTOM ROW OF BUTTONS -->
	        	<div class="col-sm-2 col-md-2"></div> <!-- LEFT MARGIN -->

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/billingMain/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle'>
			           						<div class='colorImgDiv4'>
			           							<img src="{% static 'images/new_images/money.png' %}" alt="" class='newImgColor3'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Billing
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/AdministrativeMain/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle'>
			           						<div class='colorImgDiv5'>
			           							<img src="{% static 'images/new_images/cogs.png' %}" alt="" class='newImgColor2'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Tools
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/emailMain/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle'>
			           						<div class='colorImgDiv5'>
			           							<img src="{% static 'images/new_images/email.png' %}" alt="" class='newImgColor3'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Email
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2">
	        		<div>
	        			<a href="/logout/">
			           		<div>
			           			<div class='center-rounded'>
			           				<div class='round-button'>
			           					<div class='round-button-circle'>
			           						<div class='colorImgDiv6'>
			           							<img src="{% static 'images/new_images/logout.png' %}" alt="" class='newImgColor4'>
			           						</div>
			           					</div>
			           				</div>
			           			</div>
			           		</div>

			           		<div class='home_btn_text'>
			           			Logout
			           		</div>
			           	</a>
	        		</div>
	        	</div>

	        	<div class="col-sm-2 col-md-2"></div> <!-- RIGHT MARGIN -->
	        </div> <!-- END BOTTOM ROW OF BUTTONS -->
	    </div> <!-- END HOME OPTIONS WRAPPER -->

        </div>
    </div>
</body>



{% endblock %}