<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: mh_initialize({{current_section}}, {{json_data}});">
  <input type='text' id='test1' style='width: 500px;'>
    <form action='' method='post' id='mh_form' name='mh_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='mh_id' id='mh_id' value='{{session.mh.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='form_name' id='form_name' value='mh_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>
      <input type='hidden' name='reconstruct' id='reconstruct' value='false'>

      <input type='hidden' name='d_mom_state' id='d_mom_state' value='{{mom_state}}'>
      <input type='hidden' name='d_dad_state' id='d_dad_state' value='{{dad_state}}'>

      <input type='hidden' name='m_motherAge' id='m_motherAge' value=''>
      <input type='hidden' name='m_motherAgeDeath' id='m_motherAgeDeath' value=''>
      <input type='hidden' name='m_fatherAge' id='m_fatherAge' value=''>
      <input type='hidden' name='m_fatherAgeDeath' id='m_fatherAgeDeath' value=''>
      <input type='hidden' name='m_numChildren' id='m_numChildren' value=''>
      <input type='hidden' name='m_numSisters' id='m_numSisters' value=''>
      <input type='hidden' name='m_numBrothers' id='m_numBrothers' value=''>

      <input type='hidden' name='m_numMarriages' id='m_numMarriages' value=''>
      <input type='hidden' name='m_spouseOccupation' id='m_spouseOccupation' value=''>
      <input type='hidden' name='m_spouseEmployer' id='m_spouseEmployer' value=''>
      <input type='hidden' name='m_spouseAge' id='m_spouseAge' value=''>
      <input type='hidden' name='m_spouseWorkMos' id='m_spouseWorkMos' value=''>
      <input type='hidden' name='m_spouseWorkYrs' id='m_spouseWorkYrs' value=''>

      <input type='hidden' name='childrenMale' id='childrenMale' value=''>
      <input type='hidden' name='childrenFemale' id='childrenFemale' value=''>
      <input type='hidden' name='m_brothersFinal' id='m_brothersFinal' value=''>
      <input type='hidden' name='m_sistersFinal' id='m_sistersFinal' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Mental Health: General History</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarMh('/mh_demographic/');">
                              <!-- class='{{class.clinic}}' -->
                              <div  class='{{class.mhHistory}}'>General</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_education/');">
                              <!-- class='{{class.social}}' -->
                              <div  class='{{class.mhEducation}}'>Education</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_background/');">
                              <!-- class='{{class.psycho1}}' -->
                              <div  class='{{class.mhBackground}}'>Financial</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_stress/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhStress}}'>Stressors</div>
                            </a>
                          </td>
                        <!-- </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr> -->
                          <td>
                            <a href="javascript: sideBarMh('/mh_familyHistory/');">
                              <!-- class='{{class.special}}' -->
                              <div  class='{{class.mhFamily}}'>Family</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_legal/');">
                              <!-- class='{{class.other}}' -->
                              <div  class='{{class.mhLegal}}'>Legal</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_psych/');">
                             <!--  class='{{class.source}}' -->
                              <div  class='{{class.mhPsych}}'>Psychiatric</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_useTable/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhUse}}'>Drug Use</div>
                            </a>
                          </td>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper-mh'>
              <div class='container'>
                <div class='row' style='margin-top:15px;'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:20px;'>
                    <h4>Personal Information:</h4>
                    <table>
                      <tr>
                        <td><div class='iml-num-div'>1.</div></td>
                        <td><div id='e1'><div class='iml-label'>Birthplace:</div></div></td>
                        <td><div><input type='text' name='birthplace' id='birthplace' value='{{fields.birthplace}}' oninput="javascript: noErrorText('e1', 'birthplace');"></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>2.</div></td>
                        <td><div id='e2'><div class='iml-label'>Raised By:</div></div></td>
                        <td><div><input type='text' name='raised' id='raised' value='{{fields.raised}}' oninput="javascript: noErrorText('e2', 'raised');"></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>3.</div></td>
                        <td><div class='iml-label' id='e3'>Marital Status:</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-mh-radio-margin'><input type='radio' name='maritalStatus' id='single' value='Single' onClick='javascript: mhSpouse();'></div></td>
                        <td><div class='iml-mh-radio-label'>Single</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='maritalStatus' id='married' value='Married' onClick='javascript: mhSpouse();'></div></td>
                        <td><div class='iml-mh-radio-label'>Married</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='maritalStatus' id='divorced' value='Divorced' onClick='javascript: mhSpouse();'></div></td>
                        <td><div class='iml-mh-radio-label'>Divorced</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='maritalStatus' id='widowed' value='Widowed' onClick='javascript: mhSpouse();'></div></td>
                        <td><div class='iml-mh-radio-label'>Widowed</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='maritalStatus' id='seperated' value='Seperated' onClick='javascript: mhSpouse();'></div></td>
                        <td><div class='iml-mh-radio-label'>Seperated</div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div' id='num4'>4.</div></td>
                        <td><div id='e4'><div class='iml-label' id='numMarriages_label'>Number of Marriages:</div></div></td>
                        <td><div><input type='number' name='numMarriages' id='numMarriages' value='{{fields.numMarriages}}' style='width:40px;' oninput="javascript: noErrorText('e4', 'numMarriages');";></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>5.</div></td>
                        <td><div id='e5'><div class='iml-label'>Occupation:</div></div></td>
                        <td><div><input type='text' name='occupation' id='occupation' value='{{fields.occupation}}' oninput="javascript: noErrorText('e5', 'occupation');";></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>6.</div></td>
                        <td><div id='e6'><div class='iml-label'>Current Employment:</div></div></td>
                        <td><div><input type='text' name='employer' id='employer' value='{{fields.employer}}' oninput="javascript: noErrorText('e6', 'employer');";></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>7.</div></td>
                        <td><div class='iml-label'>Length of Employment:</div></td>
                        <td><div><input type='number' name='employedYrs' id='employedYrs' value='{{fields.employedYrs}}' style='width:40px' oninput="javascript: noErrorText('e7', 'employedYrs');";></div></td>
                        <td><div id='e7'><div class='iml-mh-number-label'>Years</div></div></td>
                        <td><div><input type='number' name='employedMo' id='employedMo' value='{{fields.employedMo}}' style='width:40px' oninput="javascript: noErrorText('e8', 'employedMo');";></div></td>
                        <td><div id='e8'><div class='iml-mh-number-label'>Months</div></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>8.</div></td>
                        <td><div id='e9'><div class='iml-label'>Past Jobs or Line of Work (Last 5 Years):</div></div></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>
                          <div>
                            <textarea rows='2' cols='60' name='pastJobs' id='pastJobs' oninput="javascript: noErrorText('e9', 'pastJobs');">{{fields.pastJobs}}</textarea>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>9.</div></td>
                        <td><div class='iml-label' id='e10'>Recent Moves (Last 5 Years):</div></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>
                          <div>
                            <textarea rows='2' cols='60' name='recentMove' id='recentMove' oninput="javascript: noErrorText('e10', 'recentMove');">{{fields.recentMove}}</textarea>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>10.</div></td>
                        <td><div class='iml-label'>Do You Have Sisters?</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='haveSisters' id='yesSister' value='True' onClick='javascript: mhSister();'></div></td>
                        <td><div class='iml-mh-radio-label'>Yes</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='haveSisters' id='noSister' value='False' onClick='javascript: mhSister();'></div></td>
                        <td><div class='iml-mh-radio-label'>No</div></td>
                        <td><div id='e17'><div  class='iml-mh-number-label' id='numSisters_label'>How Many?</div></div></td>
                        <td><div><input type='number' style='width:40px;' name='numSisters' id='numSisters' value='{{fields.numSisters}}' oninput="javascript: noErrorText('e17', 'numSisters');"></div></td>
                      </tr>

                      <tr>
                        <td><div class='iml-num-div'>11.</div></td>
                        <td><div class='iml-label'>Do You Have Brothers?</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='haveBrothers' id='yesBrother' value='True' onClick='javascript: mhBrother();'></div></td>
                        <td><div class='iml-mh-radio-label'>Yes</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='haveBrothers' id='noBrother' value='False' onClick='javascript: mhBrother();'></div></td>
                        <td><div class='iml-mh-radio-label'>No</div></td>
                        <td><div id='e18'><div class='iml-mh-number-label' id='numBrothers_label'>How Many?</div></div></td>
                        <td><div><input type='number' style='width:40px;' name='numBrothers' id='numBrothers' value='{{fields.numBrothers}}' oninput="javascript: noErrorText('e18', 'numBrothers');"></div></td>
                      </tr>
                    </table>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:30px;'>
                    <h4>Spouse Information:</h4>
                    <table>
                      <tr>
                        <td><div class='iml-num-div' id='num12'>12.</div></td>
                        <td><div id='e11'><div class='iml-label' id='spouseAge_label'>Age:</div></div></td>
                        <td><div><input style='width:40px' type='number' name='spouseAge' id='spouseAge' value='{{fields.spouseAge}}' oninput="javascript: noErrorText('e11', 'spouseAge');"></div></td>
                        <td><div class='iml-num-div' style='margin-left:40px;' id='num13'>13.</div></td>
                        <td><div id='e12'><div class='iml-label' id='spouseOccupation_label'>Occupation:</div></div></td>
                        <td><div><input type='text' name='spouseOccupation' id='spouseOccupation' value='{{fields.spouseOccupation}}' oninput="javascript: noErrorText('e12', 'spouseOccupation');"></div></td>
                      </tr>
                    </table>

                    <table style='margin-top:5px;'>
                      <tr>
                        <td><div class='iml-num-div' id='num14'>14.</div></td>
                        <td><div id='e13'><div class='iml-label' id='spouseEmployer_label'>Employer:</div></div></td>
                        <td><div><input type='text' name='spouseEmployer' id='spouseEmployer' value='{{fields.spouseEmployer}}' oninput="javascript: noErrorText('e13', 'spouseEmployer');"></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div' id='num15'>15.</div></td>
                        <td><div class='iml-label' id='spouseWorkMos_label'>Length of Employment:</div></td>
                        <td><div><input type='number' name='spouseWorkYrs' id='spouseWorkYrs' value='{{fields.spouseWorkYrs}}' style='width:40px' oninput="javascript: noErrorText('e14', 'spouseWorkYrs');";></div></td>
                        <td><div id='e14'><div  class='iml-mh-number-label' id='syears'>Years</div></div></td>
                        <td><div><input type='number' name='spouseWorkMos' id='spouseWorkMos' value='{{fields.spouseWorkMos}}' style='width:40px' oninput="javascript: noErrorText('e15', 'spouseWorkMos');";></div></td>
                        <td><div id='e15'><div  class='iml-mh-number-label' id='smonths'>Months</div></div></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>16.</div></td>
                        <td><div class='iml-label'>Do You Have Children?</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='haveChildren' id='yesChild' value='True' onClick='javascript: mhChildren();'></div></td>
                        <td><div class='iml-mh-radio-label'>Yes</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='haveChildren' id='noChild' value='False' onClick='javascript: mhChildren();'></div></td>
                        <td><div class='iml-mh-radio-label'>No</div></td>
                        <td><div id='e16'><div class='iml-mh-number-label' id='numChildren_label'>How Many?</div></div></td>
                        <td><div><input type='number' style='width:40px;' name='numChildren' id='numChildren' value='{{fields.numChildren}}' oninput="javascript: noErrorText('e16', 'numChildren');"></div></td>
                      </tr>
                    </table>

                    <h4>Mother:</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>17.</div></td>
                        <td><div class='iml-label'>Is your mother living?</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='motherLiving' id='momIsLiving' value='True' checked onClick="javascript: eval_parent('momIsLiving', 'mom_age_type');"></div></td>
                        <td><div class='iml-mh-radio-label'>Yes</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='motherLiving' id='momNotLiving' value='False' onClick="javascript: eval_parent('momIsLiving', 'mom_age_type');"></div></td>
                        <td><div class='iml-mh-radio-label'>No</div></td>
                        <td><div id='e19'><div class='iml-mh-number-label' id='mom_age_type'>Age:</div></div></td>
                        <td><div><input type='number' style='width:40px;' name='motherAge' id='motherAge' value='{{fields.motherAge}}' oninput="javascript: noErrorText('e19', 'motherAge');"></div></td>
                        <td></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>18.</div></td>
                        <td><div id='e20'><div class='iml-label'>Occupation:</div><div></td>
                        <td><div><input type='text' name='motherOccupation' id='motherOccupation' value='{{fields.motherOccupation}}' oninput="javascript: noErrorText('e20', 'motherOccupation');"></div></td>
                      </tr>

                      <tr>
                        <td><div class='iml-num-div'>19.</div></td>
                        <td><div id='e21'><div class='iml-label'>City:</div></div></td>
                        <td><div><input type='text' name='motherCity' id='motherCity' value='{{fields.motherCity}}' oninput="javascript: noErrorText('e21', 'motherCity');"></div></td>
                        <td><div id='e100'><div class='iml-mh-select-label'>State:</div><div></td>

                        <td>
                          <div class='iml-mh-select'>
                            <select name='motherState' id='motherState' onChange="javascript: noErrorText('e100', 'motherState');">
                              <option value='None Selected'>Select</option>

                              {% for s in states %}
                                <option value='{{s.state}}'>{{s.state}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </td>
                      </tr>
                    </table>

                    <h4>Father:</h4>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>20.</div></td>
                        <td><div class='iml-label'>Is your father living?</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='fatherLiving' id='dadIsLiving' value='True' checked onClick="javascript: eval_parent('dadIsLiving', 'dad_age_type');"></div></td>
                        <td><div class='iml-mh-radio-label'>Yes</div></td>
                        <td><div class='iml-mh-radBooster'><input type='radio' name='fatherLiving' id='dadNotLiving' value='False' onClick="javascript: eval_parent('dadIsLiving', 'dad_age_type');"></div></td>
                        <td><div class='iml-mh-radio-label'>No</div></td>
                        <td><div id='e22'><div class='iml-mh-number-label' id='dad_age_type'>Age:</div></div></td>
                        <td><div><input type='number' style='width:40px;' name='fatherAge' id='fatherAge' value='{{fields.fatherAge}}' oninput="javascript: noErrorText('e22', 'fatherAge');"></div></td>
                        <td></td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td><div class='iml-num-div'>21.</div></td>
                        <td><div id='e23'><div class='iml-label'>Occupation:</div></div></td>
                        <td><div><input type='text' name='fatherOccupation' id='fatherOccupation' value='{{fields.fatherOccupation}}' oninput="javascript: noErrorText('e23', 'fatherOccupation');"></div></td>
                      </tr>

                      <tr>
                        <td><div class='iml-num-div'>22.</div></td>
                        <td><div id='e24'><div class='iml-label'>City:</div></div></td>
                        <td><div><input type='text' name='fatherCity' id='fatherCity' value='{{fields.fatherCity}}' oninput="javascript: noErrorText('e24', 'fatherCity');"></div></td>
                        <td><div id='e101'><div class='iml-mh-select-label'>State:</div><div></td>

                        <td>
                          <div class='iml-mh-select'>
                            <select name='fatherState' id='fatherState' onChange="javascript: noErrorText('e101', 'fatherState');">
                              <option value='None Selected'>Select</option>

                              {% for s in states %}
                                <option value='{{s.state}}'>{{s.state}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('sap', '{{current_section}}');">Exit Form</button></td>
                  <td><div id='superBtn'><button onClick="javascript: kidsRock(); return false;">Save & Continue</button></div></td>
                  <!-- <td><button onClick="javascript: post_mh_data('{{current_section}}');">Save & Continue</button></td> -->
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
