<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: mh_initialize({{current_section}}, {{json_data}});">
<!--   <input type='text' id='test1' style='width: 700px;'> -->
    <form action='' method='post' id='mh_form' name='mh_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='mh_id' id='mh_id' value='{{session.mh.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='form_name' id='form_name' value='mh_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Mental Health: Client Education</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarMh('/mh_demographic/');">
                              <!-- class='{{class.clinic}}' -->
                              <div  class='{{class.mhHistory}}'>General</div>
                            </a>
                          </td>

                          <td>
                            <a href="#">
                              <!-- class='{{class.social}}' -->
                              <div  class='{{class.mhEducation}}'>Education</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_background/');">
                              <!-- class='{{class.psycho1}}' -->
                              <div  class='{{class.mhBackground}}'>Financial</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_stress/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhStress}}'>Stressors</div>
                            </a>
                          </td>
                        <!-- </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr> -->
                          <td>
                            <a href="javascript: sideBarMh('/mh_familyHistory/');">
                              <!-- class='{{class.special}}' -->
                              <div  class='{{class.mhFamily}}'>Family</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_legal/');">
                              <!-- class='{{class.other}}' -->
                              <div  class='{{class.mhLegal}}'>Legal</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_psych/');">
                             <!--  class='{{class.source}}' -->
                              <div  class='{{class.mhPsych}}'>Psychiatric</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_useTable/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhUse}}'>Drug Use</div>
                            </a>
                          </td>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper-mh'>
              <div class='container'>
                <div class='row' style='margin-top:15px;'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:20px;'>
                    <h4>Grades K-6:</h4>
                    <ul>
                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Average Grades:</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6a' value='A'><span>A</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6b' value='B'><span>B</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6c' value='C'><span>C</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6d' value='D'><span>D</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6e' value='E'><span>E</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6f' value='F'><span>F</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Behavioral Problems:</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='BehaviorProblemsKto6' id='behaved' value='True'><span>Yes</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='BehaviorProblemsKto6' id='notBehaved' value='False'><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Academic Problems:</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='AcademicProblemsKto6' id='yesAcademic' value='True'><span>Yes</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='AcademicProblemsKto6' id='noAcademic' value='False'><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Good Friendships:</li></div></div></td>
                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend1' value='1' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>1</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend2' value='2' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>2</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend3' value='3' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>3</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend4' value='4' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>4</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friendMore' value='' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>More</span>
                            </div>
                          </td>

                          <td><div id='e1'><div id='numMore_label' class='iml-mh-number-label2'>How Many?</div></div></td>
                          <td><div><input style='width:40px' name='numMore' id='numMore' value='{{fields.FriendshipsKto6}}'></div></td>
                        </tr>
                      </table>
                    </ul>

                    <h4>Grades 7-9:</h4>
                    <ul>
                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Average Grades:</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6a' value='A'><span>A</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6b' value='B'><span>B</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6c' value='C'><span>C</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6d' value='D'><span>D</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6e' value='E'><span>E</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6f' value='F'><span>F</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Behavioral Problems:</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='BehaviorProblemsKto6' id='behaved' value='True'><span>Yes</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='BehaviorProblemsKto6' id='notBehaved' value='False'><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Academic Problems:</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='AcademicProblemsKto6' id='yesAcademic' value='True'><span>Yes</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='AcademicProblemsKto6' id='noAcademic' value='False'><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Good Friendships:</li></div></div></td>
                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend1' value='1' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>1</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend2' value='2' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>2</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend3' value='3' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>3</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend4' value='4' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>4</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friendMore' value='' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>More</span>
                            </div>
                          </td>

                          <td><div id='e1'><div id='numMore_label' class='iml-mh-number-label2'>How Many?</div></div></td>
                          <td><div><input style='width:40px' name='numMore' id='numMore' value='{{fields.FriendshipsKto6}}'></div></td>
                        </tr>
                      </table>
                    </ul>

                    <h4>Grades 10-12:</h4>
                    <ul>
                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Average Grades:</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6a' value='A'><span>A</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6b' value='B'><span>B</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6c' value='C'><span>C</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6d' value='D'><span>D</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6e' value='E'><span>E</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='GradesKto6' id='k6f' value='F'><span>F</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Behavioral Problems:</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='BehaviorProblemsKto6' id='behaved' value='True'><span>Yes</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='BehaviorProblemsKto6' id='notBehaved' value='False'><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Academic Problems:</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='AcademicProblemsKto6' id='yesAcademic' value='True'><span>Yes</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='AcademicProblemsKto6' id='noAcademic' value='False'><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div><div class='iml-label'><li>Good Friendships:</li></div></div></td>
                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend1' value='1' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>1</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend2' value='2' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>2</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend3' value='3' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>3</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friend4' value='4' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>4</span>
                            </div>
                          </td>

                          <td>
                            <div class='iml-mh-radio-label2'>
                              <input type='radio' name='FriendshipsKto6' id='friendMore' value='' onClick="javascript: moreFriends('friendMore', 'numMore_label', 'numMore');"><span>More</span>
                            </div>
                          </td>

                          <td><div id='e1'><div id='numMore_label' class='iml-mh-number-label2'>How Many?</div></div></td>
                          <td><div><input style='width:40px' name='numMore' id='numMore' value='{{fields.FriendshipsKto6}}'></div></td>
                        </tr>
                      </table>
                    </ul>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:30px;'>
                    
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('mh', '{{current_section}}');">Exit Form</button></td>
                  <td><div id='superBtn'><button onClick="post_mh_data({{current_section}}); return false;">Save & Continue</button></div></td>
                  <!-- <td><button onClick="javascript: post_mh_data('{{current_section}}');">Save & Continue</button></td> -->
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
