<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: mh_initialize({{current_section}}, {{json_data}});">
  <!-- <input type='text' id='test1' style='width: 700px;'> -->
  <!-- <button onClick="javascript: post_mh_data('{{current_section}}');">Test Functions</button> -->
    <form action='' method='post' id='mh_form' name='mh_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='mh_id' id='mh_id' value='{{session.mh.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='form_name' id='form_name' value='mh_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

      <input type='hidden' name='m_probationOfficer' id='m_probationOfficer' value=''>
      <input type='hidden' name='m_probationOffense' id='m_probationOffense' value=''>
      <input type='hidden' name='m_num_suspended' id='m_num_suspended' value=''>
      <input type='hidden' name='m_dateBenkrupcy' id='m_dateBenkrupcy' value=''>
      <input type='hidden' name='m_positive' id='m_positive' value=''>
      <input type='hidden' name='m_nowProb' id='m_nowProb' value=''>
      <input type='hidden' name='m_currSus' id='m_currSus' value=''>
      <input type='hidden' name='m_lawsuitStress' id='m_lawsuitStress' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Mental Health: Legal History</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarMh('/mh_demographic/');">
                              <!-- class='{{class.clinic}}' -->
                              <div  class='{{class.mhHistory}}'>General</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_education/');">
                              <!-- class='{{class.social}}' -->
                              <div  class='{{class.mhEducation}}'>Education</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_background/');">
                              <!-- class='{{class.psycho1}}' -->
                              <div  class='{{class.mhBackground}}'>Financial</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_stress/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhStress}}'>Stressors</div>
                            </a>
                          </td>
                        <!-- </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr> -->
                          <td>
                            <a href="javascript: sideBarMh('/mh_familyHistory/');">
                              <!-- class='{{class.special}}' -->
                              <div  class='{{class.mhFamily}}'>Family</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_legal/');">
                              <!-- class='{{class.other}}' -->
                              <div  class='{{class.mhLegal}}'>Legal</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_psych/');">
                             <!--  class='{{class.source}}' -->
                              <div  class='{{class.mhPsych}}'>Psychiatric</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_useTable/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhUse}}'>Drug Use</div>
                            </a>
                          </td>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper-mh'>
              <div class='container'>
                <div class='row' style='margin-top:15px;'>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:20px;'>
                    <h4>Arrest/Convictions</h4>
                    <ol>
                      <table>
                        <tr>
                          <td><div id='e1'><div class='iml-label'><li>Number of arrest:</li></div></div></td>
                          <td><input style='width:40px; text-align:center;' type='number' name='num_arrest' id='num_arrest' value='{{fields.num_arrest}}' oninput="javascript: noErrorText('e1', 'num_arrest');"></td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td><div id='e2'><div class='iml-label' style='margin-top:3px;'><li>Arrest charges:</li></div></div></td>
                          <td>
                            <textarea style='margin-top:3px;' rows='2' cols='50' name='arrestCharges' id='arrestCharges' oninput="javascript: noErrorText('e2', 'arrestCharges');">{{fields.arrestCharges}}</textarea>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div id='e3'><div class='iml-label'><li>Number of convictions:</li></div></div></td>
                          <td><input style='width:40px; text-align:center;' type='number' name='num_convictions' id='num_convictions' value='{{fields.num_convictions}}' oninput="javascript: noErrorText('e3', 'num_convictions');"></td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td><div id='e4'><div class='iml-label' style='margin-top:3px;'><li>Conviction charges:</li></div></div></td>
                          <td>
                            <textarea style='margin-top:3px;' rows='2' cols='50' name='convictionCharges' id='convictionCharges' oninput="javascript: noErrorText('e4', 'convictionCharges');">{{fields.convictionCharges}}</textarea>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div id='e5'><div class='iml-label'><li>How many times have you been charged with a DUI?</li></div></div></td>
                          <td><input style='width:40px; text-align:center;' type='number' name='num_DUI_charges' id='num_DUI_charges' value='{{fields.num_DUI_charges}}' oninput="javascript: noErrorText('e5', 'num_DUI_charges');"></td>
                        </tr>

                        <tr>
                          <td><div id='e6'><div class='iml-label'><li>How many times have you been convicted of a DUI?</li></div></div></td>
                          <td><input style='width:40px; text-align:center;' type='number' name='num_DUI_convictions' id='num_DUI_convictions' value='{{fields.num_DUI_convictions}}' oninput="javascript: noErrorText('e6', 'num_DUI_convictions');"></td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div class='iml-label'><li>Have you ever been on probation?</li></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='probationPast' id='haveBeen' value='True' onClick='javascript: mhProbation();'><span>Yes</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='probationPast' id='haveNotBeen' value='False' onClick='javascript: mhProbation();'><span>No</span></div></td>
                        </tr>
                      </table>

                      <ul>
                        <table>
                          <tr>
                            <td><div class='iml-label' id='p1'><li>Are you currently on probation?</li></div></td>
                            <td><div class='iml-mh-radio-label2'><input type='radio' name='probationPresent' id='yesCurrentProb' value='True' onClick='javascript: mhProbation2();'><span id='p2'>Yes</span></div></td>
                            <td><div class='iml-mh-radio-label2'><input type='radio' name='probationPresent' id='noCurrentProb' value='False' onClick='javascript: mhProbation2();'><span id='p3'>No</span></div></td>
                          </tr>
                        </table>

                        <table>
                          <tr>
                            <td><div id='e30'><div class='iml-label' id='p4'><li>Probation officer:</li></div></div></td>
                            <td><input name='probationOfficer' id='probationOfficer' value='{{fields.probationOfficer}}' oninput="javascript: noErrorText('e30', 'probationOfficer');"></td>
                          </tr>

                          <tr>
                            <td><div id='e31'><div class='iml-label' id='p5'><li>What offenses?</li></div></div></td>
                            <td><input name='probationOffense' id='probationOffense' value='{{fields.probationOffense}}' oninput="javascript: noErrorText('e31', 'probationOffense');"></td>
                          </tr>
                        </table>
                      </ul>

                      <table>
                        <tr>
                          <td><div class='iml-label'><li>Has you driver's license ever been suspended?</li></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='everSuspended' id='yesSuspended' value='True' onClick='javascript: mhSuspension1();'><span>Yes</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='everSuspended' id='noSuspended' value='False' onClick='javascript: mhSuspension1();'><span>No</span></div></td>
                        </tr>
                      </table>

                      <ul>
                        <table>
                          <tr>
                            <td><div id='e32'><div class='iml-label' id='s1'><li>Number of suspensions:</li></div></div></td>
                            <td><input style='width:40px; text-align:center;' type='number' name='num_suspended' id='num_suspended' value='{{fields.num_suspended}}' oninput="javascript: noErrorText('e32', 'num_suspended');"></td>
                          </tr>
                        </table>

                        <table>
                          <tr>
                            <td><div id='e8'><div class='iml-label' id='s2'><li>Is your licence currently suspended?</li></div></div></td>
                            <td><div class='iml-mh-radio-label2'><input type='radio' name='suspendedDrivePresent' id='yesCurrentSus' value='True' ><span id='s3'>Yes</span></div></td>
                            <td><div class='iml-mh-radio-label2'><input type='radio' name='suspendedDrivePresent' id='noCurrentSus' value='False'><span id='s4'>No</span></div></td>
                          </tr>
                        </table>
                      </ul>
                    </ol>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:30px;'>
                    <h4>Current Legal Proceedings</h4>
                    <ol start='9'>
                      <table>
                        <tr>
                          <td><div class='iml-label'><li>Are you a party to any lawsuits?</li></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='hasLawsuit' id='yesSuit' value='True' onClick='javascript: mhLawsuits(); p_answer1_mh();'><span>Yes</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='hasLawsuit' id='noSuit' value='False' onClick='javascript: mhLawsuits(); p_answer1_mh();'><span>No</span></div></td>
                        </tr>
                      </table>

                      <ul>
                        <table>
                          <tr>
                            <td><div id='e8'><div class='iml-label'><li id='ls3'>Is this causing stress for you?</li></div></div></td>
                            <td><div class='iml-mh-radio-label2'><input type='radio' name='lawsuitStress' id='yesStress' value='True'><span id='ls1'>Yes</span></div></td>
                            <td><div class='iml-mh-radio-label2'><input type='radio' name='lawsuitStress' id='noStress' value='False'><span id='ls2'>No</span></div></td>
                          </tr>
                        </table>
                      </ul>

                      <table>
                        <tr>
                          <td><div class='iml-label'><li>Are you presently involved in any of the following:</li></div></td>
                        </tr>
                      </table>

                      <ul>
                        <table>
                          <tr>
                            <td><div class='iml-label'><li>Divorce proceedings:</li></div></td>
                            <td><div class='iml-mh-radio-label2'><input type='radio' name='inDivorce' id='yesDivPro' value='True' onClick='Javascript:  p_answer1_mh();'><span>Yes</span></div></td>
                            <td><div class='iml-mh-radio-label2'><input type='radio' name='inDivorce' id='noDivPro' value='False' onClick='javascript:  p_answer1_mh();'><span>No</span></div></td>
                          </tr>

                          <tr>
                            <td><div class='iml-label'><li>Child custody dispute:</li></div></td>
                            <td><div class='iml-mh-radio-label2'><input type='radio' name='childCustody' id='yesChildDis' value='True' onClick='javascript:  p_answer1_mh();'><span>Yes</span></div></td>
                            <td><div class='iml-mh-radio-label2'><input type='radio' name='childCustody' id='noChildDis' value='False' onClick='javascript:  p_answer1_mh();'><span>No</span></div></td>
                          </tr>
                        </table>
                      </ul>

                      <table>
                        <tr>
                          <td><div class='iml-label'><li>Have you ever been involved in a bankruptcy proceeding?</li></div></td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='hasBankrupcy' id='yesBank' value='True' onClick='javascript: mhBank(); p_answer1_mh();'><span>Yes</span></div></td>
                          <td><div class='iml-mh-radio-label2'><input type='radio' name='hasBankrupcy' id='noBank' value='False' onClick='javascript: mhBank(); p_answer1_mh();'><span>No</span></div></td>
                          <td><div id='e33'><div class='iml-label-drop' id='blab1'>When?</div></div></td>
                          <td><input type='text' name='dateBenkrupcy' id='dateBenkrupcy' value='{{fields.dateBenkrupcy}}' oninput="javascript: noErrorText('e33', 'dateBenkrupcy');"></td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div id='e34'><div class='iml-label'><li id='epa1'>For questions 9-11, please explain any positive answers below:</li></div></div></td>
                        </tr>

                        <tr>
                          <td>
                            <div class='mh-these-positve-ans'>
                              <textarea name='explainPositiveAnswers' id='explainPositiveAnswers' oninput="javascript: noErrorText('e34', 'explainPositiveAnswers');">{{fields.explainPositiveAnswers}}</textarea>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </ol>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('mh', '{{current_section}}');">Exit Form</button></td>
                  <td><div id='superBtn'><button onClick="javascript: post_mh_data({{current_section}}); return false;">Save & Continue</button></div></td>
                  <!-- <td><button onClick="javascript: post_mh_data('{{current_section}}');">Save & Continue</button></td> -->
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
