{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_mh_stress();">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <table class='session-side'>
            <tr>
              <td>
                <div id='sideBarMainHeader'>
                  Session Details:
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div style='color:#fee047'>
                  <h4>Mental Health Profile</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                          <span class='sidebar-name'>{{mh.client.fname}} {{mh.client.lname}}</span>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div id='sidebar-space-lower2'>
                          <span class="sidebar-id">{{mh.client.clientID}}</span>
                      </div>
              </td>
            </tr>



            <!-- <div style='margin-bottom: 80px;'></div> -->
            <tr>
              <td>
                <div id='sidebar-space-lower'>
                          <h4>Progress:</h4>
                      </div>
              </td>
            </tr>

            <!-- PROGRESS -->
<!-- 
            <tr>
              <td>
                <div id='sideProgress'>
                  <span style='color:#5daf0d'>{{progress.completed}}&nbsp&nbsp</span>of&nbsp&nbsp<span style='color:#5daf0d'>{{progress.total}}</span>&nbsp&nbspComplete
                </div>
              </td>
            </tr> -->

            <tr>
              <td>
                <div class='{{class.mhHistory}}'>
                  <img src="{{image.mhHistory_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('mhHistory');" name='mhHistoryBtn' id='mhHistoryBtn'>
                    History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.mhEducation}}'>
                  <img src="{{image.mhEducation_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('mhEducation');" name='mhEducationBtn' id='mhEducationBtn'>
                     Education
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.mhBackground}}'>
                  <img src="{{image.mhBackground_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('mhBackground');" name='mhBackgroundBtn' id='mhBackgroundBtn'>
                    Finance & Background
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.mhStress}}'>
                  <img src="{{image.mhStress_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('mhStress');" name='mhStressBtn' id='mhStressBtn'>
                    Stressors
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.mhFamily}}'>
                  <img src="{{image.mhFamily_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('mhFamily');" name='mhFamilyBtn' id='mhFamilyBtn'>
                    Family History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.mhLegal}}'>
                  <img src="{{image.mhLegal_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('mhLegal');" name='mhLegalBtn' id='mhLegalBtn'>
                    Legal History
                  </a>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.mhPsych}}'>
                  <img src="{{image.mhPsych_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('mhPsych');" name='mhPsychBtn' id='mhPsychBtn'>
                    Psychiatric History
                  </a>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.mhUse}}'>
                  <img src="{{image.mhUse_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarOption('mhUse');" name='mhUseBtn' id='mhUseBtn'>
                    Use
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='exit_btn_text'>
                  <img src="{% static 'images/exitBtn.png' %}" alt="exit_icon" class='exit_icon'>
                  <a href="javascript: generic_exit('sap', 'clinic');" name='sourceBtn' class='exit_a_tag'>
                    Exit
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <div style='margin-bottom:30px;'>
                	<h3 id='am-h2'>Mental Health: Legal History</h3>
                </div>

                <div class="container">
            		<div class="row">                   
                  		<div class="col-md-6 col-sm-6">
                  			<div>
                  				<form action='/mh_psych/' method='post' id='mh_form' name='mh_form'> {% csrf_token %}
                  					<input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                  					<input type='hidden' name='mh_id' id='mh_id' value='{{mh.id}}'>
                  					<input type='hidden' name='back' id='back' value='{{back}}'>
				                    <input type='hidden' name='goToNext' id='goToNext' value='true'>
				                    <input type='hidden' name='d_mom_state' id='d_mom_state' value='{{mom_state}}'>
                  					<input type='hidden' name='d_dad_state' id='d_dad_state' value='{{dad_state}}'>
				                    <input type='hidden' name='next_location' id='next_location' value='{{next_location}}'>
				                    <input type='hidden' name='save_section' id='save_section' value='/mh_demographic/'>	
				                    <input type='hidden' name='new_form' id='new_form' value='false'>
                            <input type='hidden' name='all_purpose' id='all_purpose' value=''>
                            <input type='hidden' name='exit_type' id='exit_type' value=''>

                      <table>
                        <tr>
                          <td>
                            <div id='sub_background_header'>
                              Arrest:
                            </div>
                          </td>
                        </tr>
                      </table>

                      <ul>
                        <table>
                          <tr>
                            <td>
                              <li>
                                <label>Number of Arrest:</label>
                              </li>
                            </td>

                            <td>
                              <div id='mh_numFix'>
                                <input type='number' style='width:40px;' name='num_arrest' id='num_arrest' value='{{fields.num_arrest}}'>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table>
                          <tr>
                            <td>
                              <li>
                                <label>Charges:</label>
                              </li>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <textarea rows='3' cols='60' name='arrestCharges' id='arrestCharges'>{{fields.arrestCharges}}</textarea>
                            </td>
                          </tr>
                        </table>
                      </ul>


                      <table>
                        <tr>
                          <td>
                            <div id='sub_background_header'>
                              Convictions:
                            </div>
                          </td>
                        </tr>
                      </table>

                      <ul>
                        <table>
                          <tr>
                            <td>
                              <li>
                                <label>Number of Convictions:</label>
                              </li>
                            </td>

                            <td>
                              <div id='mh_numFix'>
                                <input type='number' style='width:40px;' name='num_convictions' id='num_convictions' value='{{fields.num_convictions}}'>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table>
                          <tr>
                            <td>
                              <li>
                                <label>Charges:</label>
                              </li>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <textarea rows='3' cols='60' name='convictionCharges' id='convictionCharges'>{{fields.convictionCharges}}</textarea>
                            </td>
                          </tr>
                        </table>
                      </ul>

                      <table>
                        <tr>
                          <td>
                            <div id='sub_background_header'>
                              Probation:
                            </div>
                          </td>
                        </tr>
                      </table>

                      <ul>
                        <table>
                          <tr>
                            <td>
                              <li>
                                <label>Present Probation:</label>
                              </li>
                            </td>

                            <td>
                              <div id='fix_my_radio'>
                                <input type='radio' name='probationPresent' id='yesPresent' value='True'>
                              </div>
                            </td>

                            <td>
                              <label>Yes</label>
                            </td>

                            <td>
                              <div id='fix_my_radio'>
                                <input type='radio' name='probationPresent' id='noPresent' value='False' checked>
                              </div>
                            </td>

                            <td>
                              <label>No</label>
                            </td>
                          </tr>
                        </table>

                        <table>
                          <tr>
                            <td>
                              <li>
                                <label>Past Probation:</label>
                              </li>
                            </td>

                            <td>
                              <div id='fix_my_radio'>
                                <input type='radio' name='probationPast' id='yesPast' value='True'>
                              </div>
                            </td>

                            <td>
                              <label>Yes</label>
                            </td>

                            <td>
                              <div id='fix_my_radio'>
                                <input type='radio' name='probationPast' id='noPast' value='False' checked>
                              </div>
                            </td>

                            <td>
                              <label>No</label>
                            </td>
                          </tr>
                        </table>

                        <table>
                          <tr>
                            <td>
                              <li>
                                <label>Probation Officer:</label>
                              </li>
                            </td>

                            <td>
                              <div id='mh_numFix'>
                                <input type='text' name='probationOfficer' id='probationOfficer' value='{{fields.probationOfficer}}'>
                              </div>
                            </td>
                          </tr>
                        </table>

                        <table>
                          <tr>
                            <td>
                              <li>
                                <label>Offenses:</label>
                              </li>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <textarea rows='3' cols='60' name='probationOffense' id='probationOffense'>{{fields.probationOffense}}</textarea>
                            </td>
                          </tr>
                        </table>
                      </ul>
				            	       
				            </div>
				        </div><!--  END OF LEFT SIDE -->

				        <div class="col-md-6 col-sm-6">
                  <table>
                    <tr>
                      <td>
                        <div id='sub_background_header'>
                          Driver's License:
                        </div>
                      </td>
                    </tr>
                  </table>

                  <ul>
                    <table>
                      <tr>
                        <td>
                          <li>
                            <label>Currently Suspended:</label>
                          </li>
                        </td>

                        <td>
                          <div id='fix_my_radio'>
                            <input type='radio' name='suspendedDrivePresent' id='isSuspended' value='True'>
                          </div>
                        </td>

                        <td>
                          <label>Yes</label>
                        </td>

                        <td>
                          <div id='fix_my_radio'>
                            <input type='radio' name='suspendedDrivePresent' id='notSuspended' value='False' checked>
                          </div>
                        </td>

                        <td>
                          <label>No</label>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td>
                          <li>
                            <label>Number of Past Suspensions:</label>
                          </li>
                        </td>

                        <td>
                          <div id='mh_numFix'>
                            <input type='number' style='width:40px;' name='num_suspended' id='num_suspended' value='{{fields.num_suspended}}'>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </ul>

                  <table>
                        <tr>
                          <td>
                            <div id='sub_background_header'>
                              Driving Under the Influence:
                            </div>
                          </td>
                        </tr>
                      </table>

                      <ul>
                        <table>
                          <tr>
                            <td>
                              <li>
                                <label>Number of Infractions:</label>
                              </li>
                            </td>

                            <td>
                              <div id='mh_numFix'>
                                <input type='number' style='width:40px;' name='num_DUI_charges' id='num_DUI_charges' value='{{fields.num_DUI_charges}}'>
                              </div>
                            </td>
                          </tr>

                          <td>
                               <li>
                                   <label>Number of Convictions:</label>
                               </li>
                          </td>

                            <td>
                              <div id='mh_numFix'>
                                <input type='number' style='width:40px;' name='num_DUI_convictions' id='num_DUI_convictions' value='{{fields.num_DUI_convictions}}'>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </ul>

                  <table>
                    <tr>
                      <td>
                        <div id='sub_background_header'>
                          Legal Proceedings:
                        </div>
                      </td>
                    </tr>
                  </table>

                  <ul>
                    <table>
                      <tr>
                        <td>
                          <li>
                            <label>Are you currently party to any lawsuits?</label>
                          </li>
                        </td>

                        <td>
                          <div id='fix_my_radio'>
                            <input type='radio' name='hasLawsuit' id='yesSuit' value='True'>
                          </div>
                        </td>

                        <td>
                          <label>Yes</label>
                        </td>

                        <td>
                          <div id='fix_my_radio'>
                            <input type='radio' name='hasLawsuit' id='noSuit' value='False' checked>
                          </div>
                        </td>

                        <td>
                          <label>No</label>
                        </td>
                      </tr>
                    </table>

                    <ul>
                      <table>
                        <tr>
                          <td>
                            <li>
                              <label>Is this causing stress for you?</label>
                            </li>
                          </td>

                          <td>
                            <div id='fix_my_radio'>
                              <input type='radio' name='lawsuitStress' id='yesStress' value='True'>
                            </div>
                          </td>

                          <td>
                            <label>Yes</label>
                          </td>

                          <td>
                            <div id='fix_my_radio'>
                              <input type='radio' name='lawsuitStress' id='noStress' value='False' checked>
                            </div>
                          </td>

                          <td>
                            <label>No</label>
                          </td>
                        </tr>
                      </table>
                    </ul>

                    <table>
                      <tr>
                        <td>
                          <li>
                            <label>Are you presently involved in divorce proceedings?</label>
                          </li>
                        </td>

                        <td>
                          <div id='fix_my_radio'>
                            <input type='radio' name='inDivorce' id='yesDivPro' value='True'>
                          </div>
                        </td>

                        <td>
                          <label>Yes</label>
                        </td>

                        <td>
                          <div id='fix_my_radio'>
                            <input type='radio' name='inDivorce' id='noDivPro' value='False' checked>
                          </div>
                        </td>

                        <td>
                          <label>No</label>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td>
                          <li>
                            <label>Are you presently involved in a child custody dispute?</label>
                          </li>
                        </td>

                        <td>
                          <div id='fix_my_radio'>
                            <input type='radio' name='childCustody' id='yesChildDis' value='True'>
                          </div>
                        </td>

                        <td>
                          <label>Yes</label>
                        </td>

                        <td>
                          <div id='fix_my_radio'>
                            <input type='radio' name='childCustody' id='noChildDis' value='False' checked>
                          </div>
                        </td>

                        <td>
                          <label>No</label>
                        </td>
                      </tr>
                    </table>

                    <table>
                      <tr>
                        <td>
                          <li>
                            <label>Have you ever filed for bankruptcy?</label>
                          </li>
                        </td>

                        <td>
                          <div id='fix_my_radio'>
                            <input type='radio' name='hasBankrupcy' id='yesBank' value='True'>
                          </div>
                        </td>

                        <td>
                          <label>Yes</label>
                        </td>

                        <td>
                          <div id='fix_my_radio'>
                            <input type='radio' name='hasBankrupcy' id='noBank' value='False' checked>
                          </div>
                        </td>

                        <td>
                          <label>No</label>
                        </td>
                      </tr>
                    </table>

                    <ul>
                      <table>
                        <tr>
                          <td>
                            <li>
                              <label>When? <span id='text_format_des'>(mm/dd/yyyy)</span></label>
                            </li>
                          </td>

                          <td>
                            <div id='mh_numFix'>
                              <input type='text' name='dateBenkrupcy' id='dateBenkrupcy' value='{{fields.dateBenkrupcy}}'>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </ul>
                  </ul>

                  <table>
                    <tr>
                      <td>
                        <div id='sub_background_header'>
                          Descriptions:
                        </div>
                      </td>
                    </tr>
                  </table>

                  <table>
                    <tr>
                      <td>
                        <label>
                          Please describe any positive answers in the space provided below:
                        </label>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <textarea rows='4' cols='70' name='explainPositiveAnswers' id='explainPositiveAnswers'>{{fields.explainPositiveAnswers}}</textarea>
                      </td>
                    </tr>
                  </table>

				        </div>
				    </form>

				        </div>
				    </div>
				</div> <!-- END PAGE CONTAINER -->

				<div>
					<!-- ____________________________BUTTONS________________________________ -->
					<table class='toggle-div-page'>
						<tr><td><div style='margin-top:30px;'></div></td></tr>
                        <tr>
                        	<td>
                        		<div style='margin-left:12px;'>
				                    <a href="#menu-toggle" id="menu-toggle">
				                        <button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                    </a>
				                </div>
			                </td>

			                <td><div style='margin-right:5px;'></div></td>

			                <td>
			                	<div>
			                		<a href="javascript: proceed_mh_familyHistory();">
			                			<button type='button'>Continue</button>
			                		</a>
			                	</div>
			                </td>
			            </tr>
			        </table>
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}









