<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: mh_initialize({{current_section}}, {{json_data}});">
 <!--  <input type='text' id='test1' style='width: 700px;'> -->
    <form action='' method='post' id='mh_form' name='mh_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='mh_id' id='mh_id' value='{{session.mh.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='form_name' id='form_name' value='mh_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>
      <input type='hidden' name='min_checker' id='min_checker' value='false'>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Mental Health: Psychiatric History</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarMh('/mh_demographic/');">
                              <!-- class='{{class.clinic}}' -->
                              <div  class='{{class.mhHistory}}'>General</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_education/');">
                              <!-- class='{{class.social}}' -->
                              <div  class='{{class.mhEducation}}'>Education</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_background/');">
                              <!-- class='{{class.psycho1}}' -->
                              <div  class='{{class.mhBackground}}'>Financial</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_stress/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhStress}}'>Stressors</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_familyHistory/');">
                              <!-- class='{{class.special}}' -->
                              <div  class='{{class.mhFamily}}'>Family</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_legal/');">
                              <!-- class='{{class.other}}' -->
                              <div  class='{{class.mhLegal}}'>Legal</div>
                            </a>
                          </td>

                          <td>
                            <a href="#;">
                             <!--  class='{{class.source}}' -->
                              <div  class='{{class.mhPsych}}'>Psychiatric</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_useTable/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhUse}}'>Drug Use</div>
                            </a>
                          </td>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper-mh'>
              <div class='place_center_vertical'>
                <div class='mh_psy_op1'>Past Psychiatric History and/or Past Mental Health Counseling</div>
                <div id='e1' style='width:80%; margin:auto;';>
                  <div class='mh_psy_op2'>Please include doctor/counselor names. diasnosis, dates of treatment/counseling, any medications with dosage.</div>
                </div>
                <div class='mh_psy_op3'>
                  <textarea name='psychiatricHistory' id='psychiatricHistory'>{{mh.stressors.psychiatricHistory}}</textarea>
                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('mh', '{{current_section}}');">Exit Form</button></td>
                  <!-- <td><div id='superBtn'><button onClick="javascript: post_mh_data({{current_section}});">Save & Continue</button></div></td> -->
                  <td><button onClick="javascript: post_mh_data('{{current_section}}'); return false;">Save & Continue</button></td>
                  <!-- <td><button onClick="javascript: fakeShitERRRRR(); return false;">Fake</button></td> -->
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
