{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: initialize_mh_stress();">
    <!-- _________________________SIDE BAR_________________________ -->

    <div id="wrapper" class='shift-rr'>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <table class='session-side'>
            <tr>
              <td>
                <div id='sideBarMainHeader'>
                  Session Details:
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div style='color:#fee047'>
                  <h4>Mental Health Profile</h4>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                          <span class='sidebar-name'>{{mh.client.fname}} {{mh.client.lname}}</span>
                      </div>
              </td>
            </tr>

            <tr>
              <td>
                <div id='sidebar-space-lower2'>
                          <span class="sidebar-id">{{mh.client.clientID}}</span>
                      </div>
              </td>
            </tr>



            <!-- <div style='margin-bottom: 80px;'></div> -->
            <tr>
              <td>
                <div id='sidebar-space-lower'>
                          <h4>Progress:</h4>
                      </div>
              </td>
            </tr>

            <!-- PROGRESS -->
<!-- 
            <tr>
              <td>
                <div id='sideProgress'>
                  <span style='color:#5daf0d'>{{progress.completed}}&nbsp&nbsp</span>of&nbsp&nbsp<span style='color:#5daf0d'>{{progress.total}}</span>&nbsp&nbspComplete
                </div>
              </td>
            </tr> -->

            <tr>
              <td>
                <div class='{{class.mhHistory}}'>
                  <img src="{{image.mhHistory_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarMh('/mh_demographic/');" name='mhHistoryBtn' id='mhHistoryBtn'>
                    History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.mhEducation}}'>
                  <img src="{{image.mhEducation_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarMh('/mh_education/');" name='mhEducationBtn' id='mhEducationBtn'>
                     Education
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.mhBackground}}'>
                  <img src="{{image.mhBackground_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarMh('/mh_background/');" name='mhBackgroundBtn' id='mhBackgroundBtn'>
                    Finance & Background
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.mhStress}}'>
                  <img src="{{image.mhStress_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarMh('/mh_stress/');" name='mhStressBtn' id='mhStressBtn'>
                    Stressors
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.mhFamily}}'>
                  <img src="{{image.mhFamily_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarMh('/mh_familyHistory/');" name='mhFamilyBtn' id='mhFamilyBtn'>
                    Family History
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='{{class.mhLegal}}'>
                  <img src="{{image.mhLegal_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarMh('/mh_legal/');" name='mhLegalBtn' id='mhLegalBtn'>
                    Legal History
                  </a>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.mhPsych}}'>
                  <img src="{{image.mhPsych_image}}" id='bullet-img'> &nbsp
                  <a href="#" name='mhPsychBtn' id='mhPsychBtn'>
                    Psychiatric History
                  </a>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class='{{class.mhUse}}'>
                  <img src="{{image.mhUse_image}}" id='bullet-img'> &nbsp
                  <a href="javascript: sideBarMh('/mh_useTable/');" name='mhUseBtn' id='mhUseBtn'>
                    Use
                  </a>
                </div>
              </td>
            </tr>

            <tr><td><div id='vertSpaceSideBar'></div></td></tr>

            <tr>
              <td>
                <div class='exit_btn_text'>
                  <img src="{% static 'images/exitBtn.png' %}" alt="exit_icon" class='exit_icon'>
                  <a href="javascript: universal_generic_exit('mh');" name='sourceBtn' class='exit_a_tag'>
                    Exit
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
        <div id="page-content-wrapper">
            <div>
                <div style='margin-bottom:30px;'>
                	<h3 id='am-h2'>Mental Health: Psychiatric History</h3>
                </div>

                <div class="container">
              		<div class="row">                   
                    		<div class="col-md-12 col-sm-12">
                    			<div>
                    				<form action='' method='post' id='mh_form' name='mh_form'> {% csrf_token %}
                    					<!-- <input type='hidden' name='back' id='back' value='{{back}}'>
                              <input type='hidden' name='goToNext' id='goToNext' value='true'>
                              <input type='hidden' name='d_mom_state' id='d_mom_state' value='{{mom_state}}'>
                              <input type='hidden' name='d_dad_state' id='d_dad_state' value='{{dad_state}}'> -->

                              <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
                              <input type='hidden' name='mh_id' id='mh_id' value='{{mh.id}}'>
                              <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
                              <input type='hidden' name='save_section' id='save_section' value='/mh_psych/'> 
                              <input type='hidden' name='new_form' id='new_form' value='false'>
                              <input type='hidden' name='exit_type' id='exit_type' value=''>
                              <input type='hidden' name='save_this' id='save_this' value=''>

                              <div id='sub_background_header'>
                                Past Psychiatric History and/or Past Mental Health Counseling

                                <div class='subSubHeadText'>
                                  Please include doctor/counselor names. diasnosis, dates of treatment/counseling, any medications with dosage.
                                </div>
                              </div>

                              <div style='margin-top:20px;'>
                                <textarea rows='15' cols='120' name='psychiatricHistory' id='psychiatricHistory'>{{mh.stressors.psychiatricHistory}}</textarea>
                              </div>

                              <table class='single_table_center'>
                              </table>
                            </form>
                          </div>
                        </div><!--  END OF LEFT SIDE -->
  				        </div> <!-- END ROW -->
				        </div>
            </div> <!-- EMPTY DIV -->
				</div> <!-- END PAGE CONTAINER -->

				<div>
					<!-- ____________________________BUTTONS________________________________ -->
					<table class='toggle-div-page'>
						<tr><td><div style='margin-top:30px;'></div></td></tr>
                        <tr>
                        	<td>
                        		<div style='margin-left:12px;'>
				                    <a href="#menu-toggle" id="menu-toggle">
				                        <button type='button' onClick='javascript: hideToggle();' id='my_toggle_btn1'>Hide Details</button>
				                    </a>
				                </div>
			                </td>

			                <td><div style='margin-right:5px;'></div></td>

			                <td>
			                	<div>
			                		<a href="javascript: proceed_mh_psychHistory();">
			                			<button type='button'>Continue</button>
			                		</a>
			                	</div>
			                </td>
			            </tr>
			        </table>
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}









