<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: mh_initialize({{current_section}}, {{json_data}});">
<!--   <input type='text' id='test1' style='width: 700px;'> -->
    <form action='' method='post' id='mh_form' name='mh_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='mh_id' id='mh_id' value='{{session.mh.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='form_name' id='form_name' value='mh_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Mental Health: Environmental Stressors</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarMh('/mh_demographic/');">
                              <!-- class='{{class.clinic}}' -->
                              <div  class='{{class.mhHistory}}'>General</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_education/');">
                              <!-- class='{{class.social}}' -->
                              <div  class='{{class.mhEducation}}'>Education</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_background/');">
                              <!-- class='{{class.psycho1}}' -->
                              <div  class='{{class.mhBackground}}'>Financial</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_stress/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhStress}}'>Stressors</div>
                            </a>
                          </td>
                        <!-- </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr> -->
                          <td>
                            <a href="javascript: sideBarMh('/mh_familyHistory/');">
                              <!-- class='{{class.special}}' -->
                              <div  class='{{class.mhFamily}}'>Family</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_legal/');">
                              <!-- class='{{class.other}}' -->
                              <div  class='{{class.mhLegal}}'>Legal</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_psych/');">
                             <!--  class='{{class.source}}' -->
                              <div  class='{{class.mhPsych}}'>Psychiatric</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_useTable/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhUse}}'>Drug Use</div>
                            </a>
                          </td>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper-mh'>
              <div class='container'>
                <div class='row' style='margin-top:15px;'>
                  <div class='col-md-12' style='width:100%;'>
                    <div id='top_of_info_iml'>Have there been any major changes in your life or your family? If so, please describe in the space provided below.</div>
                  </div>

                  <!-- LEFT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:0px;'>
                    <ol>
                      <table>
                        <tr>
                          <td><div id='e1'><div class='iml-label'><li>Death of a friend or family member?</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='deathStress' id='yesDeath' value='True' onClick="javascript: mhStressRadio('yesDeath', 'deathStressExp_lab', 'deathStressExp');"><span>Yes</span></div></td>

                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='deathStress' id='noDeath' value='False' onClick="javascript: mhStressRadio('yesDeath', 'deathStressExp_lab', 'deathStressExp');"><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <!-- <tr><td><div id='e1'><div class='iml-mh-number-label234' id='deathStressExp_lab'><span><em></em></span></div></div></td></tr> -->
                        <tr>
                          <td>
                            <div class='sm_txt_area_iml2'><textarea>{{fields.deathStressExp}}</textarea></div>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div id='e1'><div class='iml-label'><li>Divorce?</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='divorceStress' id='yesDivorce' value='True' onClick="javascript: mhStressRadio('yesDivorce', 'divorceStressExp_lab', 'divorceStressExp');"><span>Yes</span></div></td>

                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='divorceStress' id='noDivorce' value='False' onClick="javascript: mhStressRadio('yesDivorce', 'divorceStressExp_lab', 'divorceStressExp');"><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <!-- <tr><td><div id='e1'><div class='iml-mh-number-label234' id='divorceStressExp_lab'><span><em></em></span></div></div></td></tr> -->
                        <tr>
                          <td>
                            <div class='sm_txt_area_iml2'><textarea name='divorceStressExp' id='divorceStressExp'>{{fields.divorceStressExp}}</textarea></div>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div id='e1'><div class='iml-label'><li>Moves?</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='moveStress' id='yesMove' value='True' onClick="javascript: mhStressRadio('yesMove', 'moveStressExp_lab', 'moveStressExp');"><span>Yes</span></div></td>

                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='moveStress' id='noMove' value='False' onClick="javascript: mhStressRadio('yesMove', 'moveStressExp_lab', 'moveStressExp');"><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <!-- <tr><td><div id='e1'><div class='iml-mh-number-label234' id='divorceStressExp_lab'><span><em></em></span></div></div></td></tr> -->
                        <tr>
                          <td>
                            <div class='sm_txt_area_iml2'><textarea name='moveStressExp' id='moveStressExp'>{{fields.moveStressExp}}</textarea></div>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div id='e1'><div class='iml-label'><li>Significant Medical Problems?</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='medicalStress' id='yesMedical' value='True' onClick="javascript: mhStressRadio('yesMedical', 'medicalStressExp_lab', 'medicalStressExp');"><span>Yes</span></div></td>

                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='medicalStress' id='noMedical' value='False' onClick="javascript: mhStressRadio('yesMedical', 'medicalStressExp_lab', 'medicalStressExp');"><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <!-- <tr><td><div id='e1'><div class='iml-mh-number-label234' id='divorceStressExp_lab'><span><em></em></span></div></div></td></tr> -->
                        <tr>
                          <td>
                            <div class='sm_txt_area_iml2'><textarea name='medicalStressExp' id='medicalStressExp'>{{fields.medicalStressExp}}</textarea></div>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div id='e1'><div class='iml-label'><li>Ill health of a family member?</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='familyHealthStress' id='yesFamily' value='True' onClick="javascript: mhStressRadio('yesFamily', 'familyHealthStressExp_lab', 'familyHealthStressExp');"><span>Yes</span></div></td>

                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='familyHealthStress' id='noFamily' value='False' onClick="javascript: mhStressRadio('yesFamily', 'familyHealthStressExp_lab', 'familyHealthStressExp');"><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <!-- <tr><td><div id='e1'><div class='iml-mh-number-label234' id='divorceStressExp_lab'><span><em></em></span></div></div></td></tr> -->
                        <tr>
                          <td>
                            <div class='sm_txt_area_iml2'><textarea name='familyHealthStressExp' id='familyHealthStressExp'>{{fields.familyHealthStressExp}}</textarea></div>
                          </td>
                        </tr>
                      </table>

                    </ol>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class='col-md-6' style='width:44%; height:100%; margin-left:30px;'>
                    <ol start='6'>
                      <table>
                        <tr>
                          <td><div id='e1'><div class='iml-label'><li>Financial Problems?</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='financialStress' id='yesMoney' value='True' onClick="javascript: mhStressRadio('yesMoney', 'financialStressExp_lab', 'financialStressExp');"><span>Yes</span></div></td>

                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='financialStress' id='noMoney' value='False' onClick="javascript: mhStressRadio('yesMoney', 'financialStressExp_lab', 'financialStressExp');"><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <!-- <tr><td><div id='e1'><div class='iml-mh-number-label234' id='deathStressExp_lab'><span><em></em></span></div></div></td></tr> -->
                        <tr>
                          <td>
                            <div class='sm_txt_area_iml2'><textarea name='financialStressExp' id='financialStressExp'>{{fields.financialStressExp}}</textarea></div>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div id='e1'><div class='iml-label'><li>Abuse in family?</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='abuseStress' id='yesAbuse' value='True' onClick="javascript: mhStressRadio('yesAbuse', 'abuseStressExp_lab', 'abuseStressExp');"><span>Yes</span></div></td>

                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='abuseStress' id='noAbuse' value='False' onClick="javascript: mhStressRadio('yesAbuse', 'abuseStressExp_lab', 'abuseStressExp');"><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <!-- <tr><td><div id='e1'><div class='iml-mh-number-label234' id='divorceStressExp_lab'><span><em></em></span></div></div></td></tr> -->
                        <tr>
                          <td>
                            <div class='sm_txt_area_iml2'><textarea name='abuseStressExp' id='abuseStressExp'>{{fields.abuseStressExp}}</textarea></div>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div id='e1'><div class='iml-label'><li>Addiction in family?</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='addictionFamilyStress' id='yesAddiction' value='True' onClick="javascript: mhStressRadio('yesAddiction', 'addictionFamilyStressExp_lab', 'addictionFamilyStressExp');"><span>Yes</span></div></td>

                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='addictionFamilyStress' id='noAddiction' value='False' onClick="javascript: mhStressRadio('yesAddiction', 'addictionFamilyStressExp_lab', 'addictionFamilyStressExp');"><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <!-- <tr><td><div id='e1'><div class='iml-mh-number-label234' id='divorceStressExp_lab'><span><em></em></span></div></div></td></tr> -->
                        <tr>
                          <td>
                            <div class='sm_txt_area_iml2'><textarea name='addictionFamilyStressExp' id='addictionFamilyStressExp'>{{fields.addictionFamilyStressExp}}</textarea></div>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div id='e1'><div class='iml-label'><li>Violence in Family?</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='violenceFamilyStress' id='yesViolence' value='True' onClick="javascript: mhStressRadio('yesViolence', 'violenceFamilyStressExp_lab', 'violenceFamilyStressExp');"><span>Yes</span></div></td>

                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='violenceFamilyStress' id='noViolence' value='False' onClick="javascript: mhStressRadio('yesViolence', 'violenceFamilyStressExp_lab', 'violenceFamilyStressExp');"><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <!-- <tr><td><div id='e1'><div class='iml-mh-number-label234' id='divorceStressExp_lab'><span><em></em></span></div></div></td></tr> -->
                        <tr>
                          <td>
                            <div class='sm_txt_area_iml2'><textarea name='violenceFamilyStressExp' id='violenceFamilyStressExp'>{{fields.violenceFamilyStressExp}}</textarea></div>
                          </td>
                        </tr>
                      </table>

                      <table>
                        <tr>
                          <td><div id='e1'><div class='iml-label'><li>Other Stressors?</li></div></div></td>
                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='otherStress' id='yesOther' value='True' onClick="javascript: mhStressRadio('yesOther', 'otherStressExp_lab', 'otherStressExp');"><span>Yes</span></div></td>

                          <td><div class='iml-mh-radio-label2'><input  type='radio' name='otherStress' id='noOther' value='False' onClick="javascript: mhStressRadio('yesOther', 'otherStressExp_lab', 'otherStressExp');"><span>No</span></div></td>
                        </tr>
                      </table>

                      <table>
                        <!-- <tr><td><div id='e1'><div class='iml-mh-number-label234' id='divorceStressExp_lab'><span><em></em></span></div></div></td></tr> -->
                        <tr>
                          <td>
                            <div class='sm_txt_area_iml2'><textarea name='otherStressExp' id='otherStressExp'>{{fields.otherStressExp}}</textarea></div>
                          </td>
                        </tr>
                      </table>

                    </ol>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('mh', '{{current_section}}');">Exit Form</button></td>
                  <td><div id='superBtn'><button onClick="javascript: post_mh_data({{current_section}});">Save & Continue</button></div></td>
                  <!-- <td><button onClick="javascript: post_mh_data('{{current_section}}');">Save & Continue</button></td> -->
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
