<!-- AM DEMOGRAPHIC -->
{% extends "base.html" %}
{% block body %}
{% load staticfiles %}

<body class="gradient-white" onLoad="javascript: mh_initialize({{current_section}}, {{json_data}});">
<!--   <input type='text' id='test1' style='width: 700px;'> -->
    <form action='' method='post' id='mh_form' name='mh_form'> {% csrf_token %}
      <input type='hidden' name='session_id' id='session_id' value='{{session.id}}'>
      <input type='hidden' name='mh_id' id='mh_id' value='{{session.mh.id}}'>
      <input type='hidden' name='save_this' id='save_this' value=''>
      <input type='hidden' name='next_url' id='next_url' value='{{next_url}}'>
      <input type='hidden' name='save_section' id='save_section' value='{{current_section}}'> 
      <input type='hidden' name='new_form' id='new_form' value='false'>
      <input type='hidden' name='exit_type' id='exit_type' value='mh'>
      <input type='hidden' name='form_name' id='form_name' value='mh_form'>
      <input type='hidden' name='exit_to' id='exit_to' value=''>
      <input type='hidden' name='min_checker' id='min_checker' value='true'>

      <input type='hidden' name='m1' id='m1' value='false'>
      <input type='hidden' name='m2' id='m2' value='false'>
      <input type='hidden' name='m3' id='m3' value='false'>
      <input type='hidden' name='m4' id='m4' value='false'>
      <input type='hidden' name='m5' id='m5' value='false'>
      <input type='hidden' name='m6' id='m6' value='false'>
      <input type='hidden' name='m7' id='m7' value='false'>
      <input type='hidden' name='m8' id='m8' value='false'>
      <input type='hidden' name='m9' id='m9' value='false'>
      <input type='hidden' name='m10' id='m10' value='false'>
      <input type='hidden' name='m11' id='m11' value='false'>
      <input type='hidden' name='m12' id='m12' value='false'>
      <input type='hidden' name='m13' id='m13' value='false'>
      <input type='hidden' name='m14' id='m14' value='false'>
      <input type='hidden' name='m15' id='m15' value='false'>
      <input type='hidden' name='m16' id='m16' value='false'>
      <input type='hidden' name='m17' id='m17' value='false'>
      <input type='hidden' name='m18' id='m18' value='false'>
      <input type='hidden' name='m19' id='m19' value='false'>
      <input type='hidden' name='m20' id='m20' value='false'>
      <input type='hidden' name='m21' id='m21' value='false'>

    <div class='container'>
      <div class='row'>
        <div class="col-md-12" style='width:100%; height:84vh;'>
          <div class='iml-body-wrapper2'>

            <div id='iml-info-head2'>
              <div style='margin-left:3%;'>Mental Health: Substance Use</div>
            </div>

            <div class='iml-form-nav'>
              <div class='iml-form-btn-wrapper'>
                <div class='container' style='width:100%'>
                  <div class='row'>
                    <div class='col-md-12'>
                      <table class='img-single-btn-table'>
                        <tr>
                          <td>
                            <a href="javascript: sideBarMh('/mh_demographic/');">
                              <!-- class='{{class.clinic}}' -->
                              <div  class='{{class.mhHistory}}'>General</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_education/');">
                              <!-- class='{{class.social}}' -->
                              <div  class='{{class.mhEducation}}'>Education</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_background/');">
                              <!-- class='{{class.psycho1}}' -->
                              <div  class='{{class.mhBackground}}'>Financial</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_stress/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhStress}}'>Stressors</div>
                            </a>
                          </td>
                        <!-- </tr>
                      </table>

                      <div style='margin-bottom: 6px;'></div>

                      <table class='img-single-btn-table'>
                        <tr> -->
                          <td>
                            <a href="javascript: sideBarMh('/mh_familyHistory/');">
                              <!-- class='{{class.special}}' -->
                              <div  class='{{class.mhFamily}}'>Family</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_legal/');">
                              <!-- class='{{class.other}}' -->
                              <div  class='{{class.mhLegal}}'>Legal</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_psych/');">
                             <!--  class='{{class.source}}' -->
                              <div  class='{{class.mhPsych}}'>Psychiatric</div>
                            </a>
                          </td>

                          <td>
                            <a href="javascript: sideBarMh('/mh_useTable/');">
                             <!--  class='{{class.psycho2}}' -->
                              <div  class='{{class.mhUse}}'>Drug Use</div>
                            </a>
                          </td>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='iml-data-entry-wrapper-mh'>
              <div class='container'>
                <div class='row' style='margin-top:15px;'>

                  <!-- CENTERED -->
                  <div class='col-md-12' style='width:100%; height:100%;'>
                    <div class='center_this_inside'>

                      <div id='use_preTitle'>Please indicate the substances that your client currently uses. Check all that apply.</div>

                      <div class='family_biz_container'>
                        <div class='container' style='width:100%'>
                          <div class='row'>
                            <!-- LEFT SIDE -->
                            <div class='col-md-6' style='width:50%;'>
                              <div>
                                <table class='useT_table'>
                                  <tr>
                                    <td><input type='checkbox' name='u1' id='u1' onClick="javascript: ut_choice_check('1');"></td>
                                    <td><div class='useTLabel' id='l1'>Cigarettes/Chew</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u2' id='u2' onClick="javascript: ut_choice_check('2');"></td>
                                    <td><div class='useTLabel' id='l2'>Caffine</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u3' id='u3' onClick="javascript: ut_choice_check('3');"></td>
                                    <td><div class='useTLabel' id='l3'>Alcohol</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u4' id='u4' onClick="javascript: ut_choice_check('4');"></td>
                                    <td><div class='useTLabel' id='l4'>Marijuana (Pot)</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u5' id='u5' onClick="javascript: ut_choice_check('5');"></td>
                                    <td><div class='useTLabel' id='l5'>PCP (Angel Dust, Special K)</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u6' id='u6' onClick="javascript: ut_choice_check('6');"></td>
                                    <td><div class='useTLabel' id='l6'>LSD (Acid, Fry)</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u7' id='u7' onClick="javascript: ut_choice_check('7');"></td>
                                    <td><div class='useTLabel' id='l7'>Cocaine (Coke)</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u8' id='u8' onClick="javascript: ut_choice_check('8');"></td>
                                    <td><div class='useTLabel' id='l8'>Crack</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u9' id='u9' onClick="javascript: ut_choice_check('9');"></td>
                                    <td><div class='useTLabel' id='l9'>Speed (Crank)</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u10' id='u10' onClick="javascript: ut_choice_check('10');"></td>
                                    <td><div class='useTLabel' id='l10'>Crystal Meth</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u11' id='u11' onClick="javascript: ut_choice_check('11');"></td>
                                    <td><div class='useTLabel' id='l11'>Heroin</div></td>
                                  </tr>
                                </table>
                              </div>
                            </div>

                            <!-- RIGHT SIDE -->
                            <div class='col-md-6' style='width:50%;'>
                              <div>
                                <table class='useT_table'>
                                  <tr>
                                    <td><input type='checkbox' name='u12' id='u12' onClick="javascript: ut_choice_check('12');"></td>
                                    <td><div class='useTLabel' id='l12'>Gasoline</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u13' id='u13' onClick="javascript: ut_choice_check('13');"></td>
                                    <td><div class='useTLabel' id='l13'>Visine Eye Drops (To hide use of Marijuana)</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u14' id='u14' onClick="javascript: ut_choice_check('14');"></td>
                                    <td><div class='useTLabel' id='l14'>Abuse of Cough Syrup/Over-the-counter Drugs</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u15' id='u15' onClick="javascript: ut_choice_check('15');"></td>
                                    <td><div class='useTLabel' id='l15'>Mescaline (Shrooms)</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u16' id='u16' onClick="javascript: ut_choice_check('16');"></td>
                                    <td><div class='useTLabel' id='l16'>Ecstasy</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u17' id='u17' onClick="javascript: ut_choice_check('17');"></td>
                                    <td><div class='useTLabel' id='l17'>OxyCotin/Narcotic Pain Medicine/Morphine</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u18' id='u18' onClick="javascript: ut_choice_check('18');"></td>
                                    <td><div class='useTLabel' id='l18'>Glue, Paint Thinner, Spray Paint (Huffing)</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u19' id='u19' onClick="javascript: ut_choice_check('19');"></td>
                                    <td><div class='useTLabel' id='l19'>Dramamine</div></td>
                                  </tr>

                                  <tr>
                                    <td><input type='checkbox' name='u20' id='u20' onClick="javascript: ut_choice_check('20');"></td>
                                    <td><div class='useTLabel' id='l20'>Abuse of Prescribed Medicines</div></td>
                                  </tr>
                                </table>

                                <table class='useT_table'>
                                  <tr>
                                    <td><input type='checkbox' name='u21' id='u21' onClick="javascript: ut_choice_check('21'); turn_on_ut_text();"></td>
                                    <td><div id='e1'><div class='useTLabel' style='margin-right:5px;'>Other Substances</div></div></td>
                                    <td><input type='text' name='useOther' id='useOther' oninput="javascript: noErrorText('e1', 'useOther');"></td>
                                  </tr>
                                </table>

                                <table  class='useT_table'>
                                  <tr>
                                    <td><input type='checkbox' name='clear_all' id='clear_all' onClick='javascript: clear_ut_checks();'></td>
                                    <td><div class='useTLabel'>Clear All</div></td>
                                    <td><div style='margin-left:40px;'><input type='checkbox' name='select_all' id='select_all' onClick='javascript: sel_all_ut_checks();'></div></td>
                                    <td><div class='useTLabel'>Select All</div></td>
                                  </tr>
                                </table>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
    </form>        

            <div>
              <table class='iml-save-btn'>
                <tr>
                  <td><button onClick="javascript: universal_generic_exit('mh', '{{current_section}}');">Exit Form</button></td>
                  <td><div id='superBtn'><button onClick="javascript: use_table_setup(); return false;">Save & Continue</button></div></td>
                  <!-- <td><button onClick="javascript: post_mh_data('{{current_section}}');">Save & Continue</button></td> -->
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>    

</body>

{% endblock %}
